// out: false
// global fonts
@font-family:                           "Roboto", "Helvetica Neue", Arial, sans-serif;
@font-size:                             14px;
@line-height:                           1.42857143;

@font-bold:                             700;
@font-semibold:                         500;
@font-normal:                           400;
@font-light:                            300;
@font-thin:                             200;

// global options
@darkmode:                              true;
@round:                                 6px;

// global colors
@body-bg:                               #f9f9f9;
@body-bg-dark:                          #15181d;

@no-color:                              transparent;

@black:                                 #0f1115;
@black-fade15:                          fade(@black, 15%);

@white:                                 #fff;
@white-fade15:                          fade(@white, 15%);

@gray:                                  #ccc;
@green:                                 #2dbd3a;
@yellow:                                #ffa600;
@orange:                                #f47500;
@red:                                   #d10f1c;
@default:                               #4563c5;
@default2:                              #108eef;

@card-bg:                               @white;
@card-bg-dark:                          #2f343e;

// global breakpoints
@xl-start:                              ~"(min-width: 1680px)";

@lg-finish:                             ~"(max-width: 1679px)";
@lg-start:                              ~"(min-width: 1200px)";
@lg-start-finish:                       @lg-start and @lg-finish;

@default-finish:                        ~"(max-width: 1199px)";
@default-start:                         ~"(min-width: 960px)";
@default-start-finish:                  @default-start and @default-finish;

@md-finish:                             ~"(max-width: 959px)";
@md-start:                              ~"(min-width: 768px)";
@md-start-finish:                       @md-start and @md-finish;

@sm-finish:                             ~"(max-width: 767px)";
@sm-start:                              ~"(min-width: 481px)";
@sm-start-finish:                       @sm-start and @sm-finish;

@xs-finish:                             ~"(max-width: 480px)";

// global variables
:root {
   --body-bg: @body-bg;

   --black-fade15: @black-fade15;
   --white: @white;

   --card-bg: @white;
}

._darkmode-global-variables (@darkmode) when (@darkmode = true) {
   @media (prefers-color-scheme: dark) {
      :root {
          --body-bg: @body-bg-dark;

          --black-fade15: @white-fade15;
          --white: @black;

          --card-bg: @card-bg-dark;
         }
   }
}

._darkmode-global-variables(@darkmode);

// color mixins
._bg (@color: @no-color) { background-color: @color; }
._bg-var (@var) {
   background-color: @@var;
   background-color: ~'var(--@{var})';
}

// theme mixins
._theme (@name, @color) { // light mode themes

   .theme-@{name}.ui-x-light,.theme-@{name} .ui-x-light:not([class*="theme-"]) {
      ._bg(fade(lighten(@color, 45%), 65%));

      html:not(.mobile) &.hover:hover,
      html:not(.mobile) &.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
         ._bg(fade(lighten(@color, 10%), 65%));
      }

   }
   .theme-@{name}.ui-light,.theme-@{name} .ui-light:not([class*="theme-"]) {
      ._bg(fade(lighten(@color, 35%), 65%));

      html:not(.mobile) &.hover:hover,
      html:not(.mobile) &.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
         ._bg(fade(lighten(@color, 10%), 65%));
      }

   }
   .theme-@{name}.ui-dark,.theme-@{name} .ui-dark:not([class*="theme-"]) {
      ._bg(@color);

      html:not(.mobile) &.hover:hover,
      html:not(.mobile) &.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
         ._bg(lighten(@color, 10%));
      }

   }
   .theme-@{name}.ui-x-dark,.theme-@{name} .ui-x-dark:not([class*="theme-"]) {
      ._bg(darken(@color, 10%));

      html:not(.mobile) &.hover:hover,
      html:not(.mobile) &.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
         ._bg(@color);
      }

   }

    .theme-@{name}.ui-text,.theme-@{name} .ui-text:not([class*="theme-"]) { color: @color; }
    .theme-@{name}.ui-border,.theme-@{name} .ui-border:not([class*="theme-"]) { border-color: @color; }

}

._theme-dark (@name, @color) { // dark mode themes

   .theme-@{name}.ui-x-light,.theme-@{name} .ui-x-light:not([class*="theme-"]) {
      ._bg(fade(@color, 15%));

      html:not(.mobile) &.hover:hover,
      html:not(.mobile) &.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
         ._bg(fade(@color, 50%));
      }

   }
   .theme-@{name}.ui-light,.theme-@{name} .ui-light:not([class*="theme-"]) {
      ._bg(fade(@color, 15%));

      html:not(.mobile) &.hover:hover,
      html:not(.mobile) &.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
         ._bg(fade(@color, 50%));
      }

   }

}

// shorthand mixins
._no-appearance () { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
._no-user-select () { -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; }