// Variables
// ======================

// Global
@global-font-family:                    "Roboto", "Helvetica Neue", Arial, sans-serif;
@global-font-size:                      14px;
@global-line-height:                    1.42857143;

// Body
@body-bg-color:                         #f9f9f9;

// Colors
@no-color:                              transparent;
@black:                                 #000;
@white:                                 #fff;

// Theme only colors
@gray:                                  #ccc;
@green:                                 #2dbd3a;
@yellow:                                #ffa600;
@orange:                                #f47500;
@red:                                   #dc000f;
@default:                               #4563c5;
@default2:                              #108eef;

// Mixin
// ======================

.no-appearance () { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.bg (@color: transparent) { background-color: @color; }
.inline-block () { vertical-align: middle; display: inline-block; }