// out: false
// global fonts
@font-family:                           "Roboto", "Helvetica Neue", Arial, sans-serif;
@font-size:                             14px;
@line-height:                           1.42857143;

@font-bold:                             700;
@font-semibold:                         500;
@font-normal:                           400;
@font-light:                            300;
@font-thin:                             200;

// global options
@dark-mode:                             true;
@round:                                 6px;

// global breakpoints
@xl-start:                              ~"(min-width: 1680px)";

@lg-finish:                             ~"(max-width: 1679px)";
@lg-start:                              ~"(min-width: 1200px)";
@lg-start-finish:                       @lg-start and @lg-finish;

@default-finish:                        ~'(max-width: 1199px)';
@default-start:                         ~'(min-width: 960px)';
@default-start-finish:                  @default-start and @default-finish;

@md-finish:                             ~'(max-width: 959px)';
@md-start:                              ~'(min-width: 768px)';
@md-start-finish:                       @md-start and @md-finish;

@sm-finish:                             ~'(max-width: 767px)';
@sm-start:                              ~'(min-width: 481px)';
@sm-start-finish:                       @sm-start and @sm-finish;

@xs-finish:                             ~'(max-width: 480px)';

// global colors
@body-bg:                               #f9f9f9;
@body-bg-dark:                          #15181d;

@no-color:                              transparent;

@white:                                 #fff;
@black:                                 #000;
@gray:                                  #ccc;
@green:                                 #2dbd3a;
@yellow:                                #ffa600;
@orange:                                #f47500;
@red:                                   #d10f1c;
@blue:                                  #235ea0;
@default:                               #4563c5;
@default2:                              #108eef;

@border-color:                          fade(@black, 15%);
@border-color-dark:                     fade(@white, 17.5%);

@card-bg:                               @white;
@card-bg-dark:                          #2f343e;
@highlighted:                           @white;
@highlighted-dark:                      #41454d;

@btn-bg:                                fade(@black, 8%);
@btn-bg-dark:                           fade(@white, 8%);
@btn-hover-bg:                          fade(@black, 15%);
@btn-hover-bg-dark:                     fade(@white, 15%);
@btn-ghost-hover-bg:                    fade(@black, 7.5%);
@btn-ghost-hover-bg-dark:               fade(@white, 7.5%);

/* global variables */
._global-vars () {
    --body-bg: @body-bg;

    --white: @white;
    --black: @black;

    --border-color: @border-color;
    --card-bg: @card-bg;
    --highlighted: @highlighted;

    --btn-bg: @btn-bg;
    --btn-hover-bg: @btn-hover-bg;
    --btn-ghost-hover-bg: @btn-ghost-hover-bg;
}
._global-vars-dark () {
    --body-bg: @body-bg-dark;

    --white: @black;
    --black: @white;

    --border-color: @border-color-dark;
    --card-bg: @card-bg-dark;
    --highlighted: @highlighted-dark;

    --btn-bg: @btn-bg-dark;
    --btn-hover-bg: @btn-hover-bg-dark;
    --btn-ghost-hover-bg: @btn-ghost-hover-bg-dark;
}

:root when (@dark-mode = false) { ._global-vars(); }

[data-theme="light"] when (@dark-mode = true) { ._global-vars(); }
[data-theme="dark"] when (@dark-mode = true) { ._global-vars-dark(); }

// variable color mixins
._color-var (@var) {
    color: @@var;
    color: ~'var(--@{var})';
}
._bg-var (@var) {
    background-color: @@var;
    background-color: ~'var(--@{var})';
}
._border-color-var (@var: border-color) {
    border-color: @@var;
    border-color: ~'var(--@{var})';
}
._border-var (@dir: border; @style: solid; @width: 1px; @var: border-color) {
    @{dir}: @style @width @@var;
    @{dir}: @style @width ~'var(--@{var})';
}

// theme mixins
._theme (@name; @color) {

    @x-light: fade(@color, 15%);
    @x-light-hover: fade(@color, 50%);
    @light: fade(@color, 25%);
    @light-hover: fade(@color, 50%);

    @dark: @color;
    @dark-hover: lighten(@color, 10%);
    @x-dark: darken(@color, 10%);
    @x-dark-hover: @color;

    .theme-@{name}.ui-x-light,.theme-@{name} .ui-x-light:not([class*="theme-"]) {
      background-color: @x-light;

        html:not(.mobile) &.hover:hover,
        html:not(.mobile) &.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
            background-color: @x-light-hover;
        }

    }
    .theme-@{name}.ui-light,.theme-@{name} .ui-light:not([class*="theme-"]) {
        background-color: @light;

        html:not(.mobile) &.hover:hover,
        html:not(.mobile) &.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
            background-color: @light-hover;
        }

    }
    .theme-@{name}.ui-dark,.theme-@{name} .ui-dark:not([class*="theme-"]) {
        background-color: @dark;

        html:not(.mobile) &.hover:hover,
        html:not(.mobile) &.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
            background-color: @dark-hover;
        }

    }
    .theme-@{name}.ui-x-dark,.theme-@{name} .ui-x-dark:not([class*="theme-"]) {
        background-color: @x-dark;

        html:not(.mobile) &.hover:hover,
        html:not(.mobile) &.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
            background-color: @x-dark-hover;
        }

    }

    .theme-@{name}.ui-text,.theme-@{name} .ui-text:not([class*="theme-"]) { color: @color; }
    .theme-@{name}.ui-border,.theme-@{name} .ui-border:not([class*="theme-"]) { border-color: @color; }

}

// shorthand mixins
._no-appearance () { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
._no-user-select () { -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; }