// out: false
/* alerts */ @import '_settings.less';

@alerts-z-index:                       97;
@alerts-bg:                            fade(@black, 65%);

@alerts-dialog-text-align:             center;
@alerts-dialog-min-width:              (@layout-min - 40px);
@alerts-dialog-max-width:              680px;
@alerts-dialog-min-height:             60px;
@alerts-dialog-padding:                10px;
@alerts-dialog-showing-scale:          .8;

@alerts-dialog-close-icon-size:        12px;
@alerts-dialog-close-opacity:          .45;
@alerts-dialog-close-hover-opacity:    .75;

@alerts-dialog-buttons-text-align:     right;
@alerts-dialog-buttons-focus-border:   2px;
@alerts-dialog-buttons-line-height:    20px;
@alerts-dialog-buttons-min-width:      68px;
@alerts-dialog-buttons-padding:        6px;
@alerts-dialog-buttons-bg:             fade(@black, 10%);

@alerts-dialog-error-shadow:           darken(@red, 8%);
@alerts-dialog-error-shadow-dark:      lighten(@red, 16%);
@alerts-dialog-error-hover-bg:         lighten(@red, 6%);

@alerts-dialog-success-shadow:         darken(@green, 8%);
@alerts-dialog-success-shadow-dark:    lighten(@green, 16%);
@alerts-dialog-success-hover-bg:       lighten(@green, 6%);

@alerts-dialog-custom-shadow:          fade(@black, 30%);
@alerts-dialog-custom-shadow-dark:     fade(@white, 30%);

@alerts-msg-text-align:                center;
@alerts-msg-width:                     (@layout-min - 40px);
@alerts-msg-hover-opacity:             .9;
@alerts-msg-min-height:                30px;
@alerts-msg-padding:                   10px;
@alerts-msg-window-space:              20px;
@alerts-msg-slide-size:                40px;

@alerts-msg-bg:                        hsl(0, 0%, 9%);
@alerts-msg-bg-dark:                   @card-bg-dark;

._global-vars () {
    --alerts-dialog-error-shadow: @alerts-dialog-error-shadow;
    --alerts-dialog-success-shadow: @alerts-dialog-success-shadow;
    --alerts-dialog-custom-shadow: @alerts-dialog-custom-shadow;

    --alerts-msg-bg: @alerts-msg-bg;
}
._global-vars-dark () {
    --alerts-dialog-error-shadow: @alerts-dialog-error-shadow-dark;
    --alerts-dialog-success-shadow: @alerts-dialog-success-shadow-dark;
    --alerts-dialog-custom-shadow: @alerts-dialog-custom-shadow-dark;

    --alerts-msg-bg: @alerts-msg-bg-dark;
}

.alerts {
    &-opened {
        &,& > body { overflow: hidden; }
    }

    &-bg {
        width: 100%; min-width: @layout-min; height: 100%; background-color: @alerts-bg; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: @alerts-z-index;

        &:not(.open) { display: none; }
        &:not(.open-ease) { opacity: 0; }
    }

    &-dialog {
        min-width: @alerts-dialog-min-width; max-width: @alerts-dialog-max-width; ._bg-var(card-bg); min-height: @alerts-dialog-min-height; position: fixed; top: 50%; left: 50%; z-index: (@alerts-z-index + 1); transform: translate(-50%,-50%);

        &:not(.show) { display: none; }
        &:not(.show-ease) { opacity: 0; transform: translate(-50%,-50%) scale(@alerts-dialog-showing-scale); }
        &.round {
            .dialog-buttons { border-radius: 0 0 @round @round; }
            button { border-radius: @round; }
        }
    }

    &-msg {
        text-align: @alerts-msg-text-align; width: @alerts-msg-width; min-height: @alerts-msg-min-height; padding: @alerts-msg-padding; position: fixed; z-index: (@alerts-z-index + 2); cursor: pointer;

        .desktop &:hover { opacity: @alerts-msg-hover-opacity; }
        &:not(.show) { display: none; }
        &:not(.show-ease) { opacity: 0; }
        &:not([class*="ui-fill-"]) { color: @white; ._bg-var(alerts-msg-bg); }

        &.msg- {
            &success { background-color: @green !important; }
            &warning { background-color: @yellow !important; }
            &danger { background-color: @red !important; }
        }

        &.tr { top: @alerts-msg-window-space; right: @alerts-msg-window-space; }
        &.tl { top: @alerts-msg-window-space; left: @alerts-msg-window-space; }
        &.br { bottom: @alerts-msg-window-space; right: @alerts-msg-window-space; }
        &.bl { bottom: @alerts-msg-window-space; left: @alerts-msg-window-space; }

        &.tr,&.tl {
            &:not(.show-ease) { transform: translateY(-@alerts-msg-slide-size); }
        }
        &.br,&.bl {
            &:not(.show-ease) { transform: translateY(@alerts-msg-slide-size); }
        }
    }
}

.dialog {
    &-msg { text-align: @alerts-dialog-text-align; font-size: @large; }
    &-buttons {
        text-align: @alerts-dialog-buttons-text-align; background-color: @alerts-dialog-buttons-bg; padding: @alerts-dialog-padding @alerts-dialog-padding (@alerts-dialog-padding / 2) @alerts-dialog-padding;

        button {
            font-weight: @font-bold; text-align: center; vertical-align: middle; line-height: @alerts-dialog-buttons-line-height; min-width: @alerts-dialog-buttons-min-width; height: @btn-default; padding: @alerts-dialog-buttons-padding (@alerts-dialog-buttons-padding * 2); margin-bottom: (@alerts-dialog-padding / 2); display: inline-block; border: 0;

            &:not(:last-child) { margin-right: (@alerts-dialog-padding / 2); }
        }
    }

    &-success {
        button& {
            color: @white !important; background-color: @green;

            &:focus { ._shadow-var(@spread: @alerts-dialog-buttons-focus-border; @var: alerts-dialog-success-shadow); }
            .desktop &:hover { background-color: @alerts-dialog-success-hover-bg; }
        }
    }
    &-error {
        button& {
            color: @white !important; background-color: @red;

            &:focus { ._shadow-var(@spread: @alerts-dialog-buttons-focus-border; @var: alerts-dialog-error-shadow); }
            .desktop &:hover { background-color: @alerts-dialog-error-hover-bg; }
        }
    }
    &-custom {
        button& {
            ._color-var(black); ._bg-var(btn-bg);

            &:focus { ._shadow-var(@spread: @alerts-dialog-buttons-focus-border; @var: alerts-dialog-custom-shadow); }
            .desktop &:hover { ._bg-var(btn-hover-bg); }
        }
    }
}

.close-alert {
    color: currentColor; line-height: 0; background: @no-color; padding: (@alerts-dialog-padding / 2); border: 0; position: absolute; top: (@alerts-dialog-padding / 2); right: (@alerts-dialog-padding / 2); z-index: 1; opacity: @alerts-dialog-close-opacity; cursor: pointer;

    .icon { ._icon(@alerts-dialog-close-icon-size); }
    .desktop &:hover { opacity: @alerts-dialog-close-hover-opacity; }
}

@media (@md-start) {
    .dialog-msg { padding: (@alerts-dialog-padding * 3); }
}
@media (@sm-finish) {
    .dialog-msg { padding: (@alerts-dialog-padding * 3) @alerts-dialog-padding; }
}