/* android multi select */
.android .select-multi { padding: 5px 10px; }
.android .select-multi select { line-height: 20px; height: 20px; background-color: rgba(255,255,255,0); }
.android .select-multi option { height: 20px; padding: 5px 0; }
.android .select-multi option:before { content: ""; } /* reset <optgroup> left space */
