/* animations */
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
.animate-spin { animation: spin 3s linear infinite; }

@keyframes progress { from { background-position: 40px 0; } to { background-position: 0 0; } }
.animate-progress { animation: progress 3s linear infinite; }

.animate-stop, .animate-stop-all * { animation: none !important; }
