/* autocomplete */
.ui-ease-autocomplete {
  transition-property: margin-top, opacity;
}
.ui-ease-autocomplete ul {
  transition-property: opacity;
  transition-duration: 0.15s;
}
.ui-ease-autocomplete li {
  transition-property: background-color;
  transition-duration: 0.15s;
}
.ui-autocomplete {
  overflow: visible !important;
}
.ui-autocomplete.ui-open {
  z-index: 19;
}
.ui-autocomplete ul {
  color: hsl(0, 0%, 0%);
  color: var(--ui-black);
  list-style: none;
  min-width: 200px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  background-color: var(--ui-highlighted);
  padding: 0;
  margin: 0;
  position: absolute;
}
.ui-autocomplete:not(.ui-open) ul {
  display: none;
}
.ui-autocomplete:not(.ui-open-ease) ul {
  opacity: 0;
}
.ui-autocomplete:not(.ui-menu-t):not(.border-dual):not(.no-border) ul {
  margin-top: 2px;
}
.ui-autocomplete.border-dual:not(.ui-menu-t) ul,
.ui-autocomplete.no-border:not(.ui-menu-t) ul {
  margin-top: 3px;
}
.ui-autocomplete.ui-menu-t ul {
  bottom: 100%;
}
.ui-autocomplete.ui-menu-t:not(.border-dual):not(.no-border) ul {
  margin-bottom: 2px;
}
.ui-autocomplete.ui-menu-t.border-dual ul {
  margin-bottom: 3px;
}
.ui-autocomplete.ui-menu-t.no-border ul {
  margin-bottom: 1px;
}
.ui-autocomplete li {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  line-height: 20px;
  height: 30px;
  padding: 5px 10px;
  overflow: hidden;
}
.ui-desktop .ui-autocomplete li:hover,
.ui-autocomplete li.ui-selected {
  background-color: hsla(0, 0%, 0%, 0.075);
  cursor: default;
}
