/* autocomplete */
.ease-autocomplete { transition-property: margin-top, opacity; }
.ease-autocomplete ul { transition-property: opacity; transition-duration: .15s; }
.ease-autocomplete li { transition-property: background-color; transition-duration: .15s; }
.no-transitions-all .ease-autocomplete ul,.no-transitions-all .ease-autocomplete li { transition-property: none !important; }

.autocomplete { overflow: visible !important; }
.autocomplete.open { z-index: 19; }

.autocomplete ul { color: #000; list-style: none; min-width: 200px; width: 100%; background-color: #fff; padding: 0; margin-bottom: 0; position: absolute; }
.autocomplete:not(.open) ul { display: none; }
.autocomplete:not(.open-ease) ul { opacity: 0; }

.autocomplete:not(.submenu-top):not(.dual-bordered):not(.no-bordered) ul { margin-top: 2px; }
.autocomplete.dual-bordered:not(.submenu-top) ul,.autocomplete.no-bordered:not(.submenu-top) ul { margin-top: 3px; }

.autocomplete.submenu-top ul { bottom: 100%; }
.autocomplete.submenu-top:not(.dual-bordered):not(.no-bordered) ul { margin-bottom: 2px; }
.autocomplete.submenu-top.dual-bordered ul { margin-bottom: 3px; }
.autocomplete.submenu-top.no-bordered ul { margin-bottom: 1px; }

.autocomplete li { white-space: nowrap; text-overflow: ellipsis; text-align: left; line-height: 20px; height: 30px; padding: 5px 10px; overflow: hidden; }
html:not(.mobile) .autocomplete li:hover,.autocomplete li.selected { background-color: rgba(0,0,0,.075); cursor: default; }
