// out: false
/* autocomplete */ @import '_settings.less';

@autocomplete-list-bg:                  @white;
@autocomplete-list-bg-dark:             #41454d;

@autocomplete-list-hover-bg:            fade(@black, 7.5%);

:root,[data-theme="dark"] {
    --autocomplete-list-bg: @autocomplete-list-bg;
}

._darkmode-autocomplete-vars (@darkmode) when (@darkmode = true) {
    @media (prefers-color-scheme: dark) {
        :root,[data-theme="dark"] {
            --autocomplete-list-bg: @autocomplete-list-bg-dark;
        }
    }
}

._darkmode-autocomplete-vars(@darkmode);

.ease-autocomplete { transition-property: margin-top, opacity; }
.ease-autocomplete ul { transition-property: opacity; transition-duration: .15s; }
.ease-autocomplete li { transition-property: background-color; transition-duration: .15s; }

.autocomplete { overflow: visible !important; }
.autocomplete.open { z-index: 19; }

.autocomplete ul { ._color-var(black); list-style: none; min-width: 200px; width: 100%; ._bg-var(autocomplete-list-bg); padding: 0; margin-bottom: 0; position: absolute; }
.autocomplete:not(.open) ul { display: none; }
.autocomplete:not(.open-ease) ul { opacity: 0; }

.autocomplete:not(.menu-t):not(.border-dual):not(.no-border) ul { margin-top: 2px; }
.autocomplete.border-dual:not(.menu-t) ul,.autocomplete.no-border:not(.menu-t) ul { margin-top: 3px; }

.autocomplete.menu-t ul { bottom: 100%; }
.autocomplete.menu-t:not(.border-dual):not(.no-border) ul { margin-bottom: 2px; }
.autocomplete.menu-t.border-dual ul { margin-bottom: 3px; }
.autocomplete.menu-t.no-border ul { margin-bottom: 1px; }

.autocomplete li { white-space: nowrap; text-overflow: ellipsis; text-align: left; line-height: 20px; height: 30px; padding: 5px 10px; overflow: hidden; }
html:not(.mobile) .autocomplete li:hover,.autocomplete li.selected { background-color: @autocomplete-list-hover-bg; cursor: default; }
