/* borders */
.bordered,.top-bordered,.right-bordered,.bottom-bordered,.left-bordered,.hor-bordered,.ver-bordered,.dual-bordered,.large-bordered { border: solid 1px rgba(0,0,0,.075); }

.dual-bordered { border-width: 2px !important; }
.large-bordered { border-width: 5px !important; }
.no-bordered { border-width: 0 !important; }

.light-bordered { border-color: rgba(255,255,255,.3) !important; }
.dark-bordered { border-color: rgba(0,0,0,.35) !important; }

.top-bordered { border-right: 0 !important; border-bottom: 0 !important; border-left: 0 !important; }
.right-bordered { border-top: 0 !important; border-bottom: 0 !important; border-left: 0 !important; }
.bottom-bordered { border-top: 0 !important; border-right: 0 !important; border-left: 0 !important; }
.left-bordered { border-top: 0 !important; border-right: 0 !important; border-bottom: 0 !important; }
.hor-bordered { border-top: 0 !important; border-bottom: 0 !important; }
.ver-bordered { border-right: 0 !important; border-left: 0 !important; }
