// out: false
/* borders */ @import '_settings.less';

@border-lg:                            5px;

@border-light-color:                   fade(@black, 4.5%);
@border-light-color-dark:              fade(@white, 6.5%);

@border-dark-color:                    fade(@black, 35%);
@border-dark-color-dark:               fade(@white, 25%);

._global-vars () {
    --border-light-color: @border-light-color;
    --border-dark-color: @border-dark-color;
}
._global-vars-dark () {
    --border-light-color: @border-light-color-dark;
    --border-dark-color: @border-dark-color-dark;
}

.border {
    &,&-t,&-r,&-b,&-l,&-h,&-v,&-dual,&-lg { ._border-var(); }

    &-dual { border-width: @border-dual !important; }
    &-lg { border-width: @border-lg !important; }

    &-dashed { border-style: dashed; }
    &-dotted { border-style: dotted; }

    &-light {
        ._border-color-var(border-light-color) !important;

        &[class*="ui-dark"],[class*="ui-dark"] & { ._border-color-var(border-light-color-dark) !important; }
    }
    &-dark { ._border-color-var(border-dark-color) !important; }

    &-t { border-right: 0 !important; border-bottom: 0 !important; border-left: 0 !important; }
    &-r { border-top: 0 !important; border-bottom: 0 !important; border-left: 0 !important; }
    &-b { border-top: 0 !important; border-right: 0 !important; border-left: 0 !important; }
    &-l { border-top: 0 !important; border-right: 0 !important; border-bottom: 0 !important; }

    &-h { border-top: 0 !important; border-bottom: 0 !important; }
    &-v { border-right: 0 !important; border-left: 0 !important; }
}
.no-border { border-width: 0 !important; }