// out: false
/* breadcrumbs */ @import '_settings.less';

@breadcrumbs-sep-color:                 fade(@black, 25%);
@breadcrumbs-sep-color-dark:            fade(@white, 25%);

._global-vars () {
    --breadcrumbs-sep-color: @breadcrumbs-sep-color;
}
._global-vars-dark () {
    --breadcrumbs-sep-color: @breadcrumbs-sep-color-dark;
}

.breadcrumbs:not(:last-child) { margin-bottom: 10px; }
.breadcrumbs:not(.no-separated) > ul > li:not(:first-child):before { content: "\203A"; ._color-var(breadcrumbs-sep-color); font-size: 18px; line-height: normal; margin: 0 8px 0 3px; display: inline-block; }
.breadcrumbs > ul > li:not(:last-child) { margin-right: 5px; }
.breadcrumbs > ul > li > a,.breadcrumbs > ul > li > b { display: inline-block; }

@media (@xs-finish) {
    .breadcrumbs { text-align: center; margin-top: 5px; }
    .breadcrumbs > ul > li { margin-bottom: 5px; }
}
