/* buttons */
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.ease-btn,.ease-1st-btn > *,.ease-2nd-btn > * > * { transition-property: color, background-color, border-width, border-color, opacity, transform, box-shadow; }
.ease-btn .icon,.ease-1st-btn > * .icon,.ease-2nd-btn > * > * .icon { transition-property: color, transform, opacity; transition-duration: .15s; }

.btn { text-align: center; vertical-align: middle; line-height: 22px; height: 32px; background-color: rgba(0,0,0,.08); padding-top: 6px; padding-bottom: 6px; display: inline-block; position: relative; cursor: pointer; }
input.btn { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.btn.border { padding-top: 5px; padding-bottom: 5px; }
.btn.border-dual { padding-top: 4px; padding-bottom: 4px; }
.btn-square { text-align: center !important; min-width: auto !important; width: 32px; max-width: auto !important; }
.btn:not([class*="border"]) { border-width: 0; }
.btn:not(.btn-multi) { white-space: nowrap; }

.btn.btn-multi { word-wrap: break-word; height: auto !important; min-height: 32px; }
.btn-sm.btn-multi { min-height: 26px; }
.btn-xs.btn-multi { min-height: 22px; }
.btn-xxs.btn-multi { min-height: 16px; }

.btn:not(.circle) { padding-right: 10px; padding-left: 10px; }
.btn:not(.btn-xs):not(.btn-xxs).circle { padding-right: 16px; padding-left: 16px;}

.btn .icon { vertical-align: -.22em; }
.btn .icon-sm { vertical-align: -.2em; }
.btn .icon-xs { vertical-align: -.1em; }

.btn .right.icon { margin-top: 3px; margin-bottom: 3px; }
.btn .right.icon-sm { margin-top: 4px; margin-bottom: 4px; }
.btn-sm .right.icon { margin-top: 1px; margin-bottom: 1px; }
.btn-sm .right.icon-sm { margin-top: 2px; margin-bottom: 2px; }

.btn .icon:not(.no-opacity) { opacity: .45; }
.btn.ui-dark .icon,.btn.ui-x-dark .icon { opacity: 1; }
html:not(.mobile) .btn.ui-dark:hover .icon,html:not(.mobile) .btn.ui-x-dark:hover .icon { opacity: 1 !important; }

.btn-lg,.form-lg .btn { font-size: 16px; line-height: 22px; height: 42px; padding-top: 10px; padding-bottom: 10px; }
.btn-lg.btn-square,.form-lg .btn.btn-square { width: 42px; }
.btn-lg.border,.form-lg .btn.border { padding-top: 9px; padding-bottom: 9px; }
.btn-lg.border-dual,.form-lg .btn.border-dual { padding-top: 7px; padding-bottom: 7px; }
.btn-lg.round,.form-lg .btn.round { border-radius: 8px; }

.btn-sm { font-size: 12px; line-height: 16px; height: 26px; padding-top: 5px; padding-bottom: 5px; }
.btn-sm.btn-square { width: 26px; }
.btn-sm.border { padding-top: 4px; padding-bottom: 4px; }
.btn-sm.border-dual { padding-top: 3px; padding-bottom: 3px; }
.btn-sm.round { border-radius: 4px; }
.btn-sm:not(.circle) { padding-right: 8px; padding-left: 8px; }

.btn-xs { font-size: 11px; line-height: 13px; height: 22px; padding-top: 4px; padding-bottom: 4px; }
.btn-xs.btn-square { width: 22px; }
.btn-xs.border { padding-top: 3px; padding-bottom: 3px; }
.btn-xs.border-dual { padding-top: 2px; padding-bottom: 2px; }
.btn-xs.round { border-radius: 3px; }
.btn-xs:not(.circle) { padding-right: 5px; padding-left: 5px; }
.btn-xs.circle { padding-right: 10px; padding-left: 10px; }

.btn-xxs { font-size: 10px; line-height: 13px; height: 18px; padding-top: 2px; padding-bottom: 2px; }
.btn-xxs.btn-square { width: 18px; }
.btn-xxs.border { padding-top: 1px; padding-bottom: 1px; }
.btn-xxs.border-dual { padding-top: 0; padding-bottom: 0; }
.btn-xxs.round { border-radius: 2px; }
.btn-xxs:not(.circle) { padding-right: 2px; padding-left: 2px; }
.btn-xxs.circle { padding-right: 6px; padding-left: 6px; }

.btn-passive { opacity: .6; cursor: default; }
.btn-active { font-weight: bold; }

.btn-ghost.ui-dark:not(.ui-text),.btn-ghost.ui-x-dark:not(.ui-text) { color: #000; }
.btn-ghost.ui-dark:hover,.btn-ghost.ui-x-dark:hover,.btn-ghost.ui-dark:hover .icon,.btn-ghost.ui-x-dark:hover .icon { color: #fff !important; }
.btn-ghost:not(:hover) { background-color: transparent !important; }

.btn-ghost-border:not(:hover) { border-color: transparent !important; }

html:not(.mobile) .btn:not([class*="ui-x-light"]):not([class*="ui-light"]):not([class*="ui-dark"]):not([class*="ui-x-dark"]):not(.btn-passive):not(.swatch-active):hover { background-color: rgba(0,0,0,.15); }
html:not(.mobile) .btn.btn-ghost:not([class*="ui-x-light"]):not([class*="ui-light"]):not([class*="ui-dark"]):not([class*="ui-x-dark"]):not(.btn-passive):not(.swatch-active):hover { background-color: rgba(0,0,0,.075); }

.btn .loading-spinner { position: absolute; top: 50%; left: 50%; z-index: 1; transform: translate(-50%,-50%); }
.btn.loading .loading-spinner { z-index: 3; }
.btn:not(.loading) .loading-spinner { opacity: 0 !important; }
.btn .loading-spinner .icon { animation: spin 1.5s linear infinite; }

.btn .loading-label { position: relative; z-index: 2; }
.btn.loading .loading-label { opacity: .3 !important; }

.mobile-menu .btn-xs-fluid,.mobile-menu .btn-sm-fluid,.mobile-menu .btn-md-fluid { width: 100% !important; display: block; }
.mobile-menu .btn-xs-fluid:not(:last-child),.mobile-menu .btn-sm-fluid:not(:last-child),.mobile-menu .btn-md-fluid:not(:last-child) { margin-bottom: 2px; }

.pagination:not(:last-child) { margin-bottom: 20px; }

.pagination .btn { text-align: center !important; min-width: 32px; }
.pagination .btn-lg,.pagination.form-lg .btn { min-width: 42px; }
.pagination .btn-sm { min-width: 26px; }
.pagination .btn-xs { min-width: 22px; }
.pagination .btn-xxs { min-width: 14px; }
.pagination .btn .icon { opacity: 1 !important; }

@media (max-width: 959px) {
    .btn-md-fluid { width: 100% !important; display: block; }
    .btn-md-fluid:not(:last-child) { margin-bottom: 10px; }
    .mobile-menu .btn-md-fluid:not(:last-child) { margin-bottom: 2px; }

    .btn-square:not(.btn-xs-fluid):not(.btn-md-fluid) { padding-left: 0 !important; padding-right: 0 !important; }
}
@media (min-width: 768px) {
    .btn-square { padding-left: 0 !important; padding-right: 0 !important; }
}
@media (max-width: 767px) {
    .btn-sm-fluid { width: 100% !important; display: block; }
    .btn-sm-fluid:not(:last-child) { margin-bottom: 10px; }
    .mobile-menu .btn-sm-fluid:not(:last-child) { margin-bottom: 2px; }

    .btn-square:not(.btn-xs-fluid):not(.btn-sm-fluid) { padding-left: 0 !important; padding-right: 0 !important; }
    .pagination .btn:not(.prev):not(.next):not(.btn-active) { display: none; }
}
@media (max-width: 480px) {
    .btn-xs-fluid { width: 100% !important; display: block; }
    .btn-xs-fluid:not(:last-child) { margin-bottom: 10px; }
}
