// out: false
/* buttons */ @import (reference) 'ui.less';

@btn-default-padding:                   7px;
@btn-lg-padding:                        10px;
@btn-sm-padding:                        5px;
@btn-xs-padding:                        4px;
@btn-xxs-padding:                       3px;

@btn-notifier-size:                     8px;
@btn-circle-extra-padding:              6px;

@btn-list-space:                        1px;
@btn-breakpoint-space:                  2px;

@btn-default-icon:                      18px;
@btn-lg-icon:                           22px;
@btn-sm-icon:                           16px;
@btn-xs-icon:                           14px;
@btn-xxs-icon:                          12px;

.ease- {
    &btn,&1st-btn > *,&2nd-btn > * > * {
        transition-property: color, background-color, border-width, border-color, opacity, transform, box-shadow;

        .icon { transition-property: color, transform, opacity, stroke-width; transition-duration: @ease-default; }
    }
}

.btn {
    ._color-var(black); text-align: center; vertical-align: middle; line-height: (@btn-default - @btn-default-padding * 2); height: @btn-default; ._bg-var(btn-bg); padding-top: @btn-default-padding; padding-bottom: @btn-default-padding; display: inline-block; position: relative; cursor: pointer; @no-appearance();

    &:not(.border):not([class*="border-"]) { border-width: 0; }
    &:not(.btn-multi) { white-space: nowrap; }
    &:not(.circle) { padding-right: @btn-default-padding; padding-left: @btn-default-padding; }
    &.circle { padding-right: (@btn-default-padding + @btn-circle-extra-padding); padding-left: (@btn-default-padding + @btn-circle-extra-padding); }

    &[data-ui-notifier] {
        &:after { content: attr(data-ui-notifier); color: @white; font-size: @small; text-align: center !important; line-height: 1; min-width: (@btn-notifier-size * 2); min-height: (@btn-notifier-size * 2); background-color: @red; padding: (@btn-notifier-size / 4) (@btn-notifier-size / 2); border-radius: 200px; position: absolute; top: 0; left: 100%; z-index: 1; transform: translateX(-75%); }
    }
    &[data-ui-notifier=""] {
        &:after { min-width: @btn-notifier-size; min-height: @btn-notifier-size; }
    }

    &.border {
        padding-top: (@btn-default-padding - 1); padding-bottom: (@btn-default-padding - 1);

        &-dual { padding-top: (@btn-default-padding - @border-dual); padding-bottom: (@btn-default-padding - @border-dual); }
    }

    &-passive { opacity: .6; cursor: default; }
    &-active { font-weight: @font-bold; }

    &-square {
        min-width: 0 !important; width: @btn-default; max-width: none !important;

        &:not([class*="align-"]) { text-align: center !important; }
    }

    &-ghost:not(.btn-show) {
        &:not(:hover) { background-color: @no-color !important; }

        &[class*="ui-fill-dark-"] {
            &:not(.ui-color) {
                &,.icon:not(.ui-color) { ._color-var(black); }
            }

            &:hover,&:hover .icon { color: @white !important; }
        }

        &-border:not(:hover) { border-color: @no-color !important; }
    }

    &-multi {
        word-wrap: break-word; min-height: @btn-default;

        &:not(.full-h) { height: auto !important; }
        &.btn-sm { min-height: @btn-sm; }
        &.btn-xs { min-height: @btn-xs; }
        &.btn-xxs { min-height: @btn-xxs; }
    }

    .icon {
        &:not(.toggle-icon) { vertical-align: bottom; ._icon(@btn-default-icon); }
        &:not(.no-opacity) { opacity: .45; }
    }
    &[class*="ui-fill-dark-"] {
        .icon { opacity: 1; }
    }

    .desktop & {
        &[class*="ui-fill-dark-"] {
            &:hover .icon { opacity: 1 !important; }
        }

        &:not([class*="ui-fill-"]):not(.btn-passive):hover { ._bg-var(btn-hover-bg); }
        &.btn-ghost:not([class*="ui-fill-"]):not(.btn-passive):hover { ._bg-var(btn-ghost-hover-bg); }
    }
}

.btn-lg,.form-lg .btn {
    font-size: (@large - 1); line-height: (@btn-lg - @btn-lg-padding * 2); height: @btn-lg; padding-top: @btn-lg-padding; padding-bottom: @btn-lg-padding;

    &.round { border-radius: (@round * 1.3333333333); }
    &.btn-square { width: @btn-lg; }

    &.border {
        padding-top: (@btn-lg-padding - 1); padding-bottom: (@btn-lg-padding - 1);

        &-dual { padding-top: (@btn-lg-padding - @border-dual); padding-bottom: (@btn-lg-padding - @border-dual); }
    }

    .icon:not(.toggle-icon) { ._icon(@btn-lg-icon); }
}

.btn-sm {
    font-size: @small; line-height: (@btn-sm - @btn-sm-padding * 2); height: @btn-sm; padding-top: @btn-sm-padding; padding-bottom: @btn-sm-padding;

    &:not(.circle) { padding-right: @btn-sm-padding; padding-left: @btn-sm-padding; }
    &.circle { padding-right: (@btn-sm-padding + @btn-circle-extra-padding); padding-left: (@btn-sm-padding + @btn-circle-extra-padding); }

    &.round { border-radius: (@round - @round * 0.3333333333); }
    &.btn-square { width: @btn-sm; }

    &.border {
        padding-top: (@btn-sm-padding - 1); padding-bottom: (@btn-sm-padding - 1);

        &-dual { padding-top: (@btn-sm-padding - @border-dual); padding-bottom: (@btn-sm-padding - @border-dual); }
    }

    .icon:not(.toggle-icon) { ._icon(@btn-sm-icon); }
}

.btn-xs {
    font-size: @x-small; line-height: (@btn-xs - @btn-xs-padding * 2); height: @btn-xs; padding-top: @btn-xs-padding; padding-bottom: @btn-xs-padding;

    &:not(.circle) { padding-right: @btn-xs-padding; padding-left: @btn-xs-padding; }
    &.circle { padding-right: (@btn-xs-padding + @btn-circle-extra-padding); padding-left: (@btn-xs-padding + @btn-circle-extra-padding); }

    &.round { border-radius: (@round / 2); }
    &.btn-square { width: @btn-xs; }

    &.border {
        padding-top: (@btn-xs-padding - 1); padding-bottom: (@btn-xs-padding - 1);

        &-dual { padding-top: (@btn-xs-padding - @border-dual); padding-bottom: (@btn-xs-padding - @border-dual); }
    }

    .icon:not(.toggle-icon) { ._icon(@btn-xs-icon); }
}

.btn-xxs {
    font-size: @xx-small; line-height: (@btn-xxs - @btn-xxs-padding * 2); height: @btn-xxs; padding-top: @btn-xxs-padding; padding-bottom: @btn-xxs-padding;

    &:not(.circle) { padding-right: @btn-xxs-padding; padding-left: @btn-xxs-padding; }
    &.circle { padding-right: (@btn-xxs-padding + @btn-circle-extra-padding); padding-left: (@btn-xxs-padding + @btn-circle-extra-padding); }

    &.round { border-radius: (@round * 0.3333333333); }
    &.btn-square { width: @btn-xxs; }

    &.border {
        padding-top: (@btn-xxs-padding - 1); padding-bottom: (@btn-xxs-padding - 1);

        &-dual { padding-top: (@btn-xxs-padding - @border-dual); padding-bottom: (@btn-xxs-padding - @border-dual); }
    }

    .icon:not(.toggle-icon) { ._icon(@btn-xxs-icon); }
}

.mobile-menu {
    .btn-xs-fluid,.btn-sm-fluid,.btn-md-fluid {
        width: 100% !important; display: block;

        &:not(:last-child) { margin-bottom: @btn-breakpoint-space; }
    }
}

.pagination {
    &:not(:last-child) { margin-bottom: @highlight-space; }
    &.form-lg .btn { min-width: @btn-lg; }

    .btn {
        text-align: center !important; min-width: @btn-default;

        &-lg { &:extend(.pagination.form-lg .btn); }
        &-sm { min-width: @btn-sm; }
        &-xs { min-width: @btn-xs; }
        &-xxs { min-width: @btn-xxs; }
    }
}

._create-btn-list() {
    width: 100%;

    &:not(:first-child) { border-top: 0; }
    &:not(:last-child):not(.border):not(.border-dual):not(.border-b) { margin-bottom: @btn-list-space; }

    &:first-child {
        border-bottom-right-radius: 0; border-bottom-left-radius: 0;

        &:not(.border):not(.border-dual):not(.border-dual) { border-top: 0; }
    }
    &:last-child {
        border-top-right-radius: 0; border-top-left-radius: 0;

        &:not(.border):not(.border-dual):not(.border-dual) { border-bottom: 0; }
    }
}

.btn-list {
    display: block;

    & > .btn {
        ._create-btn-list(); display: block;

        &:not(:first-child):not(:last-child) { border-radius: 0; }
    }
}

._create-btn-holder() {
    &:not(:first-child) { border-left: 0; }
    &:not(:last-child):not(.border):not(.border-dual):not(.border-r) { margin-right: 1px; }

    &:first-child {
        border-top-right-radius: 0; border-bottom-right-radius: 0;

        &:not(.border):not(.border-dual):not(.border-dual) { border-left: 0; }
    }
    &:last-child {
        border-top-left-radius: 0; border-bottom-left-radius: 0;

        &:not(.border):not(.border-dual):not(.border-dual) { border-right: 0; }
    }
}

.btn-holder {
    display: flex;

    & > .btn {
        flex-grow: 1;

        &:not(:first-child):not(:last-child) { border-radius: 0; }
    }
    &:not(.btn-sm-fluid):not(.btn-xs-fluid) > .btn { ._create-btn-holder(); }
}

@media (@md-finish) {
    .btn-md-fluid {
        width: 100% !important; display: block;

        &:not(:last-child) { margin-bottom: (@highlight-space / 2); }
    }

    .mobile-menu {
        .btn-md-fluid:not(:last-child) { margin-bottom: @btn-breakpoint-space; }
    }

    .btn-square {
        &:not(.btn-xs-fluid):not(.btn-md-fluid) { padding-left: 0 !important; padding-right: 0 !important; }
    }
}
@media (@md-start) {
    .btn-square { padding-left: 0 !important; padding-right: 0 !important; }
    .btn-holder.btn-sm-fluid > .btn { ._create-btn-holder(); }
}
@media (@sm-finish) {
    .btn-sm-fluid {
        width: 100% !important; display: block;

        &:not(:last-child) { margin-bottom: (@highlight-space / 2); }
    }
    .mobile-menu {
        .btn-sm-fluid:not(:last-child) { margin-bottom: @btn-breakpoint-space; }
    }

    .btn-square {
        &:not(.btn-xs-fluid):not(.btn-sm-fluid) { padding-left: 0 !important; padding-right: 0 !important; }
    }
    .pagination {
        .btn:not(.prev):not(.next):not(.btn-active) { display: none; }
    }

    .btn-holder.btn-sm-fluid > .btn { ._create-btn-list(); }
}
@media (@sm-start) {
    .btn-holder.btn-xs-fluid > .btn { ._create-btn-holder(); }
}
@media (@xs-finish) {
    .btn-xs-fluid {
        width: 100% !important; display: block;

        &:not(:last-child) { margin-bottom: (@highlight-space / 2); }
    }

    .btn-holder.btn-xs-fluid > .btn { ._create-btn-list(); }
}
