/* buttons */
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.ease-btn,.ease-1st-btn > *,.ease-2nd-btn > * > * { transition-property: color, background-color, border-color; }

.btn { text-align: center; vertical-align: middle; line-height: 20px; height: 32px; background-color: rgba(0,0,0,.08); padding-top: 6px; padding-bottom: 6px; display: inline-block; position: relative; }
input.btn { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.btn.bordered { padding-top: 5px; padding-bottom: 5px; }
.btn.dual-bordered { padding-top: 4px; padding-bottom: 4px; }
.btn-square { width: 32px; padding-left: 0 !important; padding-right: 0 !important; }
.btn:not(.btn-passive) { cursor: pointer; }
.btn:not([class*="bordered"]) { border-width: 0; }
.btn:not(.btn-multitext) { white-space: nowrap; }

.btn.btn-multitext { word-wrap: break-word; height: auto !important; min-height: 32px; }
.btn-sm.btn-multitext { min-height: 26px; }
.btn-xs.btn-multitext { min-height: 22px; }
.btn-xxs.btn-multitext { min-height: 16px; }

.btn:not(.circle) { padding-right: 10px; padding-left: 10px; }
.btn:not(.btn-xs):not(.btn-xxs).circle { padding-right: 16px; padding-left: 16px;}

.btn:not(.btn-xs):not(.btn-xxs) .icon { line-height: .9; }
.btn .icon:not(.no-opacity),.btn.icon-inline:before { opacity: .45; }
.btn.ui-dark .icon,.btn.ui-x-dark .icon { opacity: 1; }
.btn.ui-dark.icon-inline:before,.btn.ui-x-dark.icon-inline:before { color: #fff; opacity: 1; }
html:not(.mobile) .btn.ui-dark:hover .icon,html:not(.mobile) .btn.ui-x-dark:hover .icon { opacity: 1 !important; }

.btn-lg { font-size: 16px; line-height: 22px; height: 42px; padding-top: 10px; padding-bottom: 10px; }
.btn-lg.btn-square { width: 42px; }
.btn-lg.bordered { padding-top: 9px; padding-bottom: 9px; }
.btn-lg.dual-bordered { padding-top: 8px; padding-bottom: 8px; }
.btn-lg.rounded { border-radius: 8px; }

.btn-sm { font-size: 12px; line-height: 16px; height: 26px; padding-top: 5px; padding-bottom: 5px; }
.btn-sm.btn-square { width: 26px; }
.btn-sm.bordered { padding-top: 4px; padding-bottom: 4px; }
.btn-sm.dual-bordered { padding-top: 3px; padding-bottom: 3px; }
.btn-sm.rounded { border-radius: 4px; }
.btn-sm:not(.circle) { padding-right: 8px; padding-left: 8px; }

.btn-xs { font-size: 11px; line-height: 14px; height: 22px; padding-top: 4px; padding-bottom: 4px; }
.btn-xs.btn-square { width: 22px; }
.btn-xs.bordered { padding-top: 3px; padding-bottom: 3px; }
.btn-xs.dual-bordered { padding-top: 2px; padding-bottom: 2px; }
.btn-xs.rounded { border-radius: 3px; }
.btn-xs:not(.circle) { padding-right: 5px; padding-left: 5px; }
.btn-xs.circle { padding-right: 10px; padding-left: 10px; }

.btn-xxs { font-size: 10px; line-height: 14px; height: 18px; padding-top: 2px; padding-bottom: 2px; }
.btn-xxs.btn-square { width: 18px; }
.btn-xxs.bordered { padding-top: 1px; padding-bottom: 1px; }
.btn-xxs.rounded { border-radius: 2px; }
.btn-xxs:not(.circle) { padding-right: 2px; padding-left: 2px; }
.btn-xxs.circle { padding-right: 6px; padding-left: 6px; }

.btn-passive { opacity: .6; cursor: default; }
.btn-passive:hover { cursor: not-allowed; }

.btn-active { font-weight: bold; }
.btn-block { width: 100%; display: block; }

.btn-invisible:not([class*="ui-"]):not(:hover) { color: #000; }
.btn-invisible.ui-dark:not(.ui-text),.btn-invisible.ui-x-dark:not(.ui-text) { color: #000; }
.btn-invisible.ui-dark:hover,.btn-invisible.ui-x-dark:hover { color: #fff; }
.btn-invisible:not(:hover) { background-color: rgba(0,0,0,0) !important; }

.btn-invisible-border:not(:hover) { border-color: rgba(0,0,0,0) !important; }

html:not(.mobile) .btn:not(.no-hover):not([class*="ui-"]):not(.btn-passive):not(.swatch-active):hover { background-color: rgba(0,0,0,.15); }
html:not(.mobile) .btn.btn-invisible:not(.no-hover):not([class*="ui-"]):not(.btn-passive):not(.swatch-active):hover { background-color: rgba(0,0,0,.075); }

.btn:not(.loading) .loading-spinner,.btn.loading .loading-label { opacity: 0; }
.btn .loading-spinner { position: absolute; top: 50%; left: 50%; z-index: 1; transform: translate(-50%,-50%); }
.btn.loading .loading-spinner { z-index: 3; }
.btn.loading .loading-spinner .icon { animation: spin 1.5s linear infinite; }
.btn .loading-label { position: relative; z-index: 2; }

@media (max-width: 480px) {
    .btn-responsive { width: 100% !important; display: block; }
    .btn-responsive:not(:last-child) { margin-bottom: 10px; }
}
