// out: false
/* calendar */ @import 'ui.less';

@calendar-padding:                      5px;
@calendar-max-width:                    (@sm-breakpoint - @highlight-space - (@border-dual * 2));
@calendar-min-width:                    360px;
@calendar-min-width-mobile:             (@layout-min - 55px);
@calendar-shadow-size:                  5px 15px;

@calendar-days-padding:                 10px;
@calendar-days-gap:                     2px;
@calendar-days-passive-opacity:         .45;
@calendar-icons-opacity:                .65;

@calendar-caption-padding:              5px;

@calendar-caption-buttons-padding:      10px;
@calendar-caption-buttons-max-width:    138px;
@calendar-caption-buttons-size:         @btn-lg;
@calendar-caption-buttons-icon-size:    20px;

@calendar-today-btn-bg:                 fade(@black, 15%);
@calendar-today-btn-bg-dark:            fade(@white, 15%);
@calendar-today-btn-hover-bg:           fade(@black, 20%);
@calendar-today-btn-hover-bg-dark:      fade(@white, 20%);

@calendar-notifiers-position:           bottom;
@calendar-notifiers-width:              6px;
@calendar-notifiers-bg:                 hsl(347, 100%, 54%);

@calendar-pickerday-btn-bg:             @blue;
@calendar-pickerday-btn-hover-bg:       lighten(@blue, 15%);

@calendar-picker-space:                 1px;
@calendar-picker-z-index:               10;
@calendar-picker-shadow:                fade(@black, 15%);

@calendar-highlighted-bg:               fade(@black, 5%);
@calendar-highlighted-bg-dark:          fade(@white, 5%);

@calendar-details-toggle-btn-size:      @btn-default;
@calendar-details-toggle-btn-icon-size: 20px;

@calendar-details-slide-size:           20%;
@calendar-details-list-padding:         10px;
@calendar-details-list-margin:          2px;
@calendar-details-days-font-size:       (@xx-largest + 14);
@calendar-details-days-font-spacing:    -0.025em;
@calendar-details-content-radius:       10px;

@calendar-details-time-font-size:       (@font-size - 1);
@calendar-details-time-padding:         2px;

@calendar-empty-details-bg:             fade(@black, 12%);
@calendar-empty-details-bg-dark:        fade(@white, 18%);

@calendar-panel-items-font-size:        @font-size;
@calendar-panel-items-padding:          8px;
@calendar-panel-items-gap:              2px;

._global-vars () {
    --calendar-highlighted-bg: @calendar-highlighted-bg;
    --calendar-empty-details-bg: @calendar-empty-details-bg;

    --calendar-today-btn-bg: @calendar-today-btn-bg;
    --calendar-today-btn-hover-bg: @calendar-today-btn-hover-bg;
}
._global-vars-dark () {
    --calendar-highlighted-bg: @calendar-highlighted-bg-dark;
    --calendar-empty-details-bg: @calendar-empty-details-bg-dark;

    --calendar-today-btn-bg: @calendar-today-btn-bg-dark;
    --calendar-today-btn-hover-bg: @calendar-today-btn-hover-bg-dark;
}

.ease-calendar {
    transition-property: opacity;

    .details,thead,tbody { transition-property: transform, opacity; transition-duration: .25s; transition-timing-function: ease-in-out; }
    button,a,.details li { transition-property: background-color, opacity; transition-duration: @ease-default; }
}

.calendar {
    ._bg-var(card-bg); padding: @calendar-padding; overflow: hidden; display: block; position: relative; @no-user-select();

    &:not(.active) { display: none; }
    &,* { text-align: center !important; }

    table {
        width: 100%; table-layout: fixed;

        &.fill-weekends {
            th,td {
                &:nth-child(n+6) { ._bg-var(calendar-highlighted-bg); }
            }
        }
    }
    th { font-weight: @font-bold; vertical-align: bottom !important; padding: @calendar-days-padding; }
    tbody {
        td {
            padding: @calendar-days-gap;

            &.passive {
                span { padding: (@calendar-days-padding - @calendar-days-gap); display: block; opacity: @calendar-days-passive-opacity; }
            }

            button { width: 100%; background: @no-color; padding: (@calendar-days-padding - @calendar-days-gap); display: block; border: 0; position: relative; }

            &.toggle-details {
                button {
                    &:after {
                        content: ""; width: @calendar-notifiers-width; height: @calendar-notifiers-width; background: @calendar-notifiers-bg; display: block; border-radius: 100%; position: absolute;

                        & when (@calendar-notifiers-position = top) { margin-left: -(@calendar-notifiers-width / 2); top: @calendar-days-gap; left: 50%; }
                        & when (@calendar-notifiers-position = bottom) { margin-left: -(@calendar-notifiers-width / 2); bottom: @calendar-days-gap; left: 50%; }
                        & when (@calendar-notifiers-position = right) { margin-top: -(@calendar-notifiers-width / 2); top: 50%; right: @calendar-days-gap; }
                        & when (@calendar-notifiers-position = left) { margin-top: -(@calendar-notifiers-width / 2); top: 50%; left: @calendar-days-gap; }
                    }
                }
            }

            &.today {
                button {
                    font-weight: @font-bold;

                    &:not([class*="ui-fill-"]) { ._bg-var(calendar-today-btn-bg); }
                    .desktop & {
                        &:not([class*="ui-fill-"]):hover { ._bg-var(calendar-today-btn-hover-bg); }
                    }
                }
            }

            &.pickerday {
                button {
                     font-weight: @font-bold;

                    &:not([class*="ui-fill-"]) { color: @white !important; background-color: @calendar-pickerday-btn-bg; }
                    .desktop &:not([class*="ui-fill-"]):hover { background-color: @calendar-pickerday-btn-hover-bg; }
                }
            }
        }
    }

    ul { list-style: none; height: 100%; padding: 0; margin: 0; }

    button {
        ._bg-var(btn-bg);

        &:not([class*="ui-fill-"]) { ._color-var(black); }
        .desktop &:not([class*="ui-fill-"]):hover { ._bg-var(btn-hover-bg); }
    }

    caption {
        height: (@calendar-caption-buttons-size + @calendar-caption-padding * 2); ._bg-var(calendar-highlighted-bg); padding: @calendar-caption-padding (@calendar-caption-buttons-size + @calendar-caption-padding * 2); margin-bottom: @calendar-caption-padding;

        button { white-space: nowrap; text-overflow: ellipsis; line-height: (@calendar-caption-buttons-size - @calendar-caption-buttons-padding * 2); max-width: @calendar-caption-buttons-max-width; height: @calendar-caption-buttons-size; background-color: @no-color; overflow: hidden; border: 0; }
        & > button {
            width: @calendar-caption-buttons-size; padding: @calendar-caption-buttons-padding; display: block;

            .icon { ._icon(@calendar-caption-buttons-icon-size); opacity: @calendar-icons-opacity; }
        }
    }

    &-prev { margin-left: -(@calendar-caption-buttons-size + @calendar-caption-padding); float: left; }
    &-next { margin-right: -(@calendar-caption-buttons-size + @calendar-caption-padding); float: right; }

    &-title {
        font-size: @large; width: 100%; float: left;

        button { display: inline-block; }
    }

    &-month { font-weight: @font-bold; padding: @calendar-caption-buttons-padding (@calendar-caption-buttons-padding / 2) @calendar-caption-buttons-padding @calendar-caption-buttons-padding; }
    &-year { font-weight: @font-bold; padding: @calendar-caption-buttons-padding @calendar-caption-buttons-padding @calendar-caption-buttons-padding (@calendar-caption-buttons-padding / 2); }

    &.round {
        caption {
            &,button { border-radius: @round; }
        }

        .calendar-month { border-radius: @round 0 0 @round; }
        .calendar-year { border-radius: 0 @round @round 0; }

        table {
            &.fill-weekends {
                th {
                    &:nth-child(6) { border-radius: @round 0 0 0; }
                    &:nth-child(7) { border-radius: 0 @round 0 0; }
                }
                tr {
                    &:last-child td:nth-child(6) { border-radius: 0 0 0 @round; }
                    &:last-child td:nth-child(7) { border-radius: 0 0 @round 0; }
                }
            }
        }
        td {
            button { border-radius: @round; }
        }

        .details {
            & > button { border-radius: @round; }
            li { border-radius: @round; }
        }

        .panel {
            border-radius: @round;

            .call { border-radius: @round; }
        }
    }

    &:not(.show-details) {
        .details { opacity: 0; transform: translateX(@calendar-details-slide-size); }
    }
    &.show-details {
        thead,tbody {
            position: relative; z-index: 1; opacity: 0 !important; transform: translateX(@calendar-details-slide-size);

            .ie & { visibility: hidden; }
        }
    }

    .details {
        padding-left: (@calendar-details-toggle-btn-size + @calendar-caption-padding); position: absolute; top: (@calendar-caption-buttons-size + @calendar-caption-padding * 3); right: 0; bottom: 0; left: 0; z-index: 2;

        &:not(.open) { display: none; }
        & > button {
            width: @btn-default; height: 100%; border: 0; position: absolute; top: 0; left: 0; cursor: pointer;

            .icon { ._icon(@calendar-details-toggle-btn-icon-size); opacity: @calendar-icons-opacity; }
        }

        ul {
            height: 100%; overflow-x: hidden !important; overflow-y: auto !important;

            &,* { text-align: left !important; }
            .mobile & { -webkit-overflow-scrolling: touch; }
        }

        li {
            min-height: @calendar-details-list-padding; padding: @calendar-details-list-padding @calendar-details-list-padding @calendar-details-list-padding (@calendar-details-days-font-size + @calendar-details-list-padding * 3); display: block;

            .desktop &:hover { ._bg-var(btn-ghost-hover-bg); }
            &:not(:last-child) { margin-bottom: @highlight-space; }

            & > strong { font-size: @calendar-details-days-font-size; font-weight: @font-light; letter-spacing: @calendar-details-days-font-spacing; text-align: center !important; line-height: (@calendar-details-days-font-size - 5); width: @calendar-details-days-font-size; margin-left: -(@calendar-details-days-font-size + @calendar-details-list-padding * 2); float: left; }
            & > b { font-size: @large; margin: @calendar-details-list-padding 0 @calendar-details-list-padding 0; display: inline-block; }
            & > span {
                display: block;

                &:not(:last-child) { margin-bottom: @calendar-details-list-margin; }
                & > i { font-size: @calendar-details-time-font-size; font-style: normal; line-height: normal; ._bg-var(btn-bg); padding: @calendar-details-time-padding (@calendar-details-time-padding * 2); margin-right: (@calendar-details-list-padding / 2); display: inline-block; border-radius: @calendar-details-content-radius; }
                & > a {
                    text-decoration: underline;

                    &:hover { text-decoration: none; }
                }
            }
        }
    }

    .empty-details {
        li {
            & > strong,& > b,& > span { ._bg-var(calendar-empty-details-bg); }
            & > strong { height: @calendar-details-days-font-size; border-radius: 50%; }
            & > b { width: (@layout-min / 3); height: (@calendar-details-list-padding * 2); border-radius: @calendar-details-content-radius; }

            & > span {
                width: (@layout-min - 40); height: @calendar-details-list-padding; margin-bottom: @calendar-details-list-padding !important; border-radius: @calendar-details-content-radius;

                & + span { width: (@layout-min - 80); }
                & + span + span { width: (@layout-min / 2); }
            }
        }
    }

    .panel {
        position: absolute; top: @calendar-padding; right: @calendar-padding; bottom: @calendar-padding; left: @calendar-padding; overflow-x: hidden !important; overflow-y: auto !important; transform: translateY(-110%);

        .mobile & { -webkit-overflow-scrolling: touch; }

        ul { display: flex; flex-wrap: wrap; }
        li { width: 33.333332%; height: 25%; padding: @calendar-panel-items-gap; flex-grow: 1; }

        .call {
            font-size: @calendar-panel-items-font-size; white-space: nowrap; text-overflow: ellipsis; line-height: 100%; width: 100%; height: 100%; background-color: @no-color; padding: @calendar-panel-items-padding; overflow: hidden; border: 0;

            &.selected {
                color: @white !important; font-weight: @font-bold; background-color: @calendar-pickerday-btn-bg;

                .desktop &:hover { background-color: @calendar-pickerday-btn-hover-bg; }
            }
            .desktop &:hover {._bg-var(btn-hover-bg); }
        }
    }

    .calendar-container { position: relative; }

    &.show-panel {
        .panel { transform: translateY(0); }
        .calendar-container { transform: translateY(110%); }
    }

}

.text {
    &.calendar-picker { overflow: visible !important; }

    .calendar {
        width: 100%; max-width: @calendar-max-width; position: absolute; z-index: @calendar-picker-z-index; box-shadow: 0 @calendar-shadow-size @calendar-picker-shadow;

        .calendar:not(.open-ease) { opacity: 0; }
    }

    &:not(.picker-t) {
        &.no-border {
            .calendar { margin-top: @calendar-picker-space; }
        }
        &:not(.border-dual):not(.no-border) {
            .calendar { margin-top: (@calendar-picker-space + 1); }
        }
        &.border-dual {
            .calendar { margin-top: (@calendar-picker-space + @border-dual); }
        }
    }

    &.picker-t {
        .calendar { bottom: 100%; }

        &.no-border {
            .calendar { margin-top: @calendar-picker-space; }
        }
        &:not(.border-dual):not(.no-border) {
            .calendar { margin-bottom: (@calendar-picker-space + 1); }
        }
        &.border-dual {
            .calendar { margin-bottom: (@calendar-picker-space + @border-dual); }
        }
    }

    &.picker-l {
        .calendar { right: 0; }
    }
}

@media (@sm-start) {
    .text {
        .calendar {
            min-width: @calendar-min-width;
        }
    }
}
@media (@xs-finish) {
    .text {
        .calendar {
            min-width: @calendar-min-width-mobile;
        }
    }
}