// out: false
/* calendar */ @import '_settings.less';

@calendar-details-dot-bg:               #ff1446;

@calendar-pickerday-btn-bg:             @blue;
@calendar-pickerday-btn-hover-bg:       lighten(@blue, 15%);

@calendar-picker-shadow:                fade(@black, 15%);

@calendar-area-bg:                      fade(@black, 8%);
@calendar-area-bg-dark:                 fade(@white, 8%);

@calendar-no-details-bg:                fade(@black, 12%);
@calendar-no-details-bg-dark:           fade(@white, 18%);

@calendar-today-btn-bg:                 fade(@black, 15%);
@calendar-today-btn-bg-dark:            fade(@white, 15%);

@calendar-today-btn-hover-bg:           fade(@black, 20%);
@calendar-today-btn-hover-bg-dark:      fade(@white, 20%);

._global-vars () {
    --calendar-area-bg: @calendar-area-bg;
    --calendar-no-details-bg: @calendar-no-details-bg;

    --calendar-today-btn-bg: @calendar-today-btn-bg;
    --calendar-today-btn-hover-bg: @calendar-today-btn-hover-bg;
}
._global-vars-dark () {
    --calendar-area-bg: @calendar-area-bg-dark;
    --calendar-no-details-bg: @calendar-no-details-bg-dark;

    --calendar-today-btn-bg: @calendar-today-btn-bg-dark;
    --calendar-today-btn-hover-bg: @calendar-today-btn-hover-bg-dark;
}

.ease-calendar { transition-property: opacity; }
.ease-calendar .details,.ease-calendar thead,.ease-calendar tbody { transition-property: transform, opacity; transition-duration: .25s; transition-timing-function: ease-in-out; }
.ease-calendar button,.ease-calendar a,.calendar .details li { transition-property: background-color, opacity; transition-duration: @ease-default; }

.calendar { ._bg-var(card-bg); padding: 5px; overflow: hidden; display: block; position: relative; @no-user-select(); }
.calendar:not(.active) { display: none; }

.calendar,.calendar * { text-align: center !important; }
.calendar table { width: 100%; table-layout: fixed; }
.calendar ul { list-style: none; height: 100%; padding: 0; margin-bottom: 0; }
.calendar button { ._color-var(black); ._bg-var(btn-bg); }
html:not(.mobile) .calendar button:hover { ._bg-var(btn-hover-bg); }

.calendar caption { height: 52px; ._bg-var(calendar-area-bg); padding: 5px 52px; margin-bottom: 5px; }
.calendar.round caption,.calendar.round caption button { border-radius: @round; }
.calendar caption button { white-space: nowrap; text-overflow: ellipsis; line-height: @btn-lg - 20; max-width: 138px; height: @btn-lg; background-color: @no-color; overflow: hidden; border: 0; }
.calendar caption > button { width: @btn-lg; padding: 10px; display: block; }
.calendar caption > button .icon { opacity: .65; }

.calendar-prev { margin-left: -47px; float: left; }
.calendar-next { margin-right: -47px; float: right; }

.calendar-title { font-size: @large; width: 100%; float: left; }
.calendar-title button { display: inline-block; }

.calendar-month { font-weight: @font-bold; padding: 10px 5px 10px 10px; }
.calendar.round .calendar-month { border-radius: @round 0 0 @round; }

.calendar-year { font-weight: @font-bold; padding: 10px 10px 10px 5px; }
.calendar.round .calendar-year { border-radius: 0 @round @round 0; }

.calendar th { font-weight: @font-bold; vertical-align: bottom !important; padding: 10px; }
.calendar tbody td { padding: 2px; }

.calendar.round table.fill-weekends th:nth-child(6) { border-radius: @round 0 0 0; }
.calendar.round table.fill-weekends th:nth-child(7) { border-radius: 0 @round 0 0; }
.calendar.round table.fill-weekends tr:last-child td:nth-child(6) { border-radius: 0 0 0 @round; }
.calendar.round table.fill-weekends tr:last-child td:nth-child(7) { border-radius: 0 0 @round 0; }
.calendar table.fill-weekends th:nth-child(n+6),.calendar table.fill-weekends td:nth-child(n+6) { ._bg-var(calendar-area-bg); }

.calendar tbody td.passive span { opacity: .45; }
.calendar tbody td button { width: 100%; background: @no-color; padding: 8px; display: block; border: 0; position: relative; }
.calendar.round td button { border-radius: @round; }

.calendar tbody td.toggle-details button:after { content: ""; width: 6px; height: 6px; background: @calendar-details-dot-bg; margin-left: -3px; display: block; border-radius: 100%; position: absolute; bottom: 3px; left: 50%; }

.calendar tbody td.today button { font-weight: @font-bold; }
.calendar tbody td.today button:not([class*="ui-"]) { ._bg-var(calendar-today-btn-bg); }
html:not(.mobile) .calendar tbody td.today button:not([class*="ui-"]):hover { ._bg-var(calendar-today-btn-hover-bg); }
html:not(.mobile) .calendar tbody td.today button[class*="ui-"]:hover { opacity: .75; }

.calendar tbody td.pickerday button { color: @white!important; font-weight: @font-bold; background-color: @calendar-pickerday-btn-bg; }
html:not(.mobile) .calendar tbody td.pickerday button:hover { background-color: @calendar-pickerday-btn-hover-bg; }

.calendar tbody td.passive span { line-height: 20px; padding: 8px; display: block; }

.calendar:not(.show-details) .details { opacity: 0; transform: translateX(20%); }
.calendar.show-details thead,.calendar.show-details tbody { position: relative; z-index: 1; opacity: 0 !important; transform: translateX(20%); }
.ie .calendar.show-details thead,.ie .calendar.show-details tbody { visibility: hidden; }

.calendar .details { padding-left: 37px; position: absolute; top: 57px; right: 0; bottom: 0; left: 0; z-index: 2; }
.calendar .details:not(.open) { display: none; }

.calendar .details > button { width: @btn-default; height: 100%; border: 0; position: absolute; top: 0; left: 0; cursor: pointer; }
.calendar .details > button .icon { opacity: .65; }
.calendar.round .details > button { border-radius: @round; }

.calendar .details ul,.calendar .details ul * { text-align: left !important; }
.calendar .details ul { height: 100%; overflow-x: hidden !important; overflow-y: auto !important; }
.mobile .calendar .details ul { -webkit-overflow-scrolling: touch; }
.calendar .details li { min-height: 10px; padding: 10px; display: block; }
html:not(.mobile) .calendar .details li:hover { ._bg-var(btn-ghost-hover-bg); }
.calendar .details li:not(:last-child) { margin-bottom: @highlight-space; }
.calendar.round .details li { padding-left: 65px; border-radius: @round; }
.calendar .details li > strong { font-size: 42px; font-weight: @font-light; letter-spacing: -0.025em; text-align: center !important; line-height: 40px; width: 45px; margin-left: -55px; float: left; }
.calendar .details li > b { font-size: 15px; margin: 10px 0 15px 0; display: inline-block; }
.calendar .details li > span { padding: 2px 0; display: block; }
.calendar .details li > span > i { font-size: 13px; font-style: normal; line-height: normal; ._bg-var(btn-bg); padding: 1px 4px; margin-right: 5px; display: inline-block; border-radius: 10px; }
.calendar .details li > span > a { text-decoration: underline; }
.calendar .details li > span > a:hover { text-decoration: none; }

.calendar .no-details li > strong { height: 45px; border-radius: 50%; }
.calendar .no-details li > b { width: 120px; height: 17px; border-radius: 20px; }
.calendar .no-details li > span { width: 280px; height: 12px; margin-bottom: 20px; border-radius: 20px; }
.calendar .no-details li > span + span { width: 220px; }
.calendar .no-details li > span + span + span { width: 160px; }

.calendar .no-details li > strong,.calendar .no-details li > b,.calendar .no-details li > span { ._bg-var(calendar-no-details-bg); }

.calendar .panel { position: absolute; top: 5px; right: 5px; bottom: 5px; left: 5px; overflow-x: hidden !important; overflow-y: auto !important; transform: translateY(-110%); }
.mobile .calendar .panel { -webkit-overflow-scrolling: touch; }
.calendar.round .panel { border-radius: @round; }
.calendar.show-panel .panel { transform: translateY(0); }
.calendar .calendar-container { position: relative; }
.calendar.show-panel .calendar-container { transform: translateY(110%); }

.calendar .panel ul { display: flex; flex-wrap: wrap; }
.calendar .panel li { width: 33.333332%; height: 25%; padding: 2px; flex-grow: 1; }
.calendar .panel .call { font-size: @large; white-space: nowrap; text-overflow: ellipsis; line-height: 100%; width: 100%; height: 100%; background-color: @no-color; padding: 8px; overflow: hidden; border: 0; }
.calendar.round .panel .call { border-radius: @round; }

.calendar .panel .call.selected { font-weight: @font-bold; ._bg-var(btn-bg); }
html:not(.mobile) .calendar .panel .call:hover,html:not(.mobile) .calendar .panel .call.selected:hover {._bg-var(btn-hover-bg); }

.text.calendar-picker { ._color-var(black); overflow: visible !important; }
.text.calendar-picker button:not([class*="ui-"]),.text.calendar-picker button:not([class*="ui-"]) .icon { ._color-var(black); }

.text .calendar { width: 100%; max-width: 744px; position: absolute; z-index: 10; box-shadow: 0 5px 15px @calendar-picker-shadow; }
.text .calendar:not(.open-ease) { opacity: 0; }

.text:not(.picker-t):not(.border-dual) .calendar { margin-top: 2px; }
.text:not(.picker-t).border-dual .calendar { margin-top: @border-dual + 1; }

.text.picker-t .calendar { bottom: 100%; }
.text.picker-t:not(.border-dual) .calendar { margin-bottom: 2px; }
.text.picker-t.border-dual .calendar { margin-bottom: @border-dual + 1; }

.text.picker-l .calendar { right: 0; }

@media (@sm-start) {
    .text .calendar { min-width: 376px; }
}
@media (@xs-finish) {
    .text .calendar { min-width: 296px; }
}
