/* calendar */
.calendar { background-color: #fff; padding: 5px; display: block; }

.calendar .table { width: 100%; table-layout: fixed; }
.calendar .table,.calendar .table * { text-align: center; }

.calendar caption { font-size: 16px; min-height: 52px; background-color: rgba(0,0,0,.045); padding: 15px 10px; margin-bottom: 15px; position: relative; }
.calendar.rounded caption,.calendar.rounded caption .btn { border-radius: 6px; }
.calendar caption .btn { position: absolute; top: 5px; }

.calendar-prev { left: 5px; }
.calendar-next { right: 5px; }

.calendar.rounded .table { border-radius: 6px; }
.calendar .table th { font-weight: bold; vertical-align: bottom !important; }
.calendar .table td { padding: 10px; }
