/* calendar */
.calendar { background-color: #fff; padding: 5px; display: block; }

.calendar table { width: 100%; table-layout: fixed; }
.calendar table,.calendar table * { text-align: center; }

.calendar caption { min-height: 52px; background-color: rgba(0,0,0,.045); margin-bottom: 5px; position: relative; }
.calendar.rounded caption,.calendar.rounded caption button { border-radius: 6px; }
.calendar caption button { line-height: 22px; width: 42px; height: 42px; background-color: rgba(0,0,0,0); padding: 10px display: block; border: 0; position: absolute; top: 50%; transform: translateY(-50%); }
html:not(.mobile ) .calendar caption button:hover { background-color: rgba(0,0,0,.08); }

.calendar-prev { left: 5px; }
.calendar-next { right: 5px; }

.calendar-title { font-size: 18px; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }

.calendar.rounded table { border-radius: 6px; }
.calendar table td,.calendar table th { padding: 10px; }
.calendar table th { font-weight: bold; vertical-align: bottom !important; }
