// out: false
/* cards */ @import '_settings.less';

.card,[class*="card-"]:not(.card-side) { ._bg-var(card-bg); display: block; position: relative; }
.card:not(:last-child),[class*="card-"]:not(.card-side):not(:last-child) { margin-bottom: 20px; }

.card > .row,[class*="card-"]:not(.card-side) > .row,.card-side > .row { margin-left: inherit; margin-right: inherit; }

.card:before,.card:after,.card-side:before,.card-side:after { content: ""; display: table; }
.card:after,.card-side:after { clear: both; }

.round > .card-side:first-child { border-radius: @round @round 0 0; }
.round > .card-side:last-child { border-radius: 0 0 @round @round; }

[class*="card-"]:not(.card-side) { border-left-style: solid; border-left-width: 5px }
[class*="card-"]:not(.card-side).round { border-radius: 0 @round @round 0; }

.card-info { border-color: @gray; }
.card-success { border-color: @green; }
.card-warning { border-color: @yellow; }
.card-danger { border-color: @orange; }

.close-card { ._color-var(black); line-height: 12px; position: absolute; top: 10px; right: 10px; z-index: 1; opacity: .45; cursor: pointer; }
.close-card .icon { width: 12px; height: 12px; stroke-width: 44px; }
html:not(.mobile) .close-card:hover { opacity: .75; }
.closing-card { transform: scale(.94,.98); opacity: 0; }

@media (@sm-finish) {
    [class*="card-"]:not(.card-side) > p { text-align: center; }
}