// out: false
/* cards */ @import '_settings.less';

@cards-message-left-border:             5px;
@cards-closing-effect:                  scale(.94,.98);

@cards-close-icon-position:             10px;
@cards-close-icon-size:                 12px;
@cards-close-icon-opacity:              .45;
@cards-close-icon-opacity-hover:        .75;

.card,[class*="card-"]:not(.card-side) {
    ._bg-var(card-bg); display: block; position: relative;

    &:not(:last-child) { margin-bottom: @highlight-space; }
}

.card,.card-side {
    &:before,&:after { content: ""; display: table; }
    &:after { clear: both; }
    & > .row { margin-left: inherit; margin-right: inherit; }
}

[class*="card-"]:not(.card-side) {
    border-left-style: solid; border-left-width: @cards-message-left-border;

    &.round { border-radius: 0 @round @round 0; }
    & > .row { &:extend(.card > .row); }
}

.card- {
    &side {
        .round > &:first-child { border-radius: @round @round 0 0; }
        .round > &:last-child { border-radius: 0 0 @round @round; }
    }

    &info { border-color: @gray; }
    &success { border-color: @green; }
    &warning { border-color: @yellow; }
    &danger { border-color: @orange; }
}

.close-card {
    ._color-var(black); line-height: @cards-close-icon-size; position: absolute; top: @cards-close-icon-position; right: @cards-close-icon-position; z-index: 1; opacity: @cards-close-icon-opacity; cursor: pointer;

    .icon { ._icon(@cards-close-icon-size); }
    .desktop &:hover { opacity: @cards-close-icon-opacity-hover; }
}
.closing-card { transform: @cards-closing-effect; opacity: 0; }

@media (@sm-finish) {
    [class*="card-"]:not(.card-side) {
        & > p { text-align: center; }
    }
}