/* carousel */
.carousel { overflow: hidden; position: relative; }
.carousel:not(.active) { opacity: 0; }

.carousel-slider { width: 20000px; overflow: hidden; }
.carousel-slider > .content { margin-bottom: 5px; overflow: hidden; float: left; }
.carousel:not(.active) .carousel-slider > .content { width: 1px; }
.carousel-slider > .content .img { width: 100%; height: auto; }

/* ie9 not supported row equal heights */
.carousel-slider { display: -webkit-box !important; display: -ms-flexbox !important; display: -webkit-flex !important; display: flex !important; flex-wrap: wrap; }
.carousel-slider > .content { flex-direction: column; }

.carousel .carousel-nav { text-align: center; line-height: 6px; display: block; cursor: default; }
.carousel .carousel-nav .dots i { width: 7px; height: 7px; background-color: rgba(0,0,0,.15); margin: 0 3px; display: inline-block; border-radius: 50%; }
.carousel .carousel-nav .dots i.selected { background-color: rgba(0,0,0,.45); transform: scale(1.5); }
