/* carousel */
@keyframes carousel-gallery-loader { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.carousel-touchmove body { height: 100%; overflow: hidden; }

.carousel { width: auto; overflow: hidden; position: relative; }
.carousel:not(.active) { opacity: 0; }

.carousel-slider { width: 20000px; }
.carousel-slider > .content { float: left; }
.carousel:not(.active) .carousel-slider > .content { width: 1px; }
.carousel-slider > .content img.img { width: 100%; height: auto; }

.carousel-slider { display: -webkit-box !important; display: -ms-flexbox !important; display: -webkit-flex !important; display: flex !important; flex-wrap: wrap; }
.carousel-slider > .content { flex-direction: column; }

.carousel .scroll > *,.carousel .v-scroll > *,.carousel .h-scroll > * { -webkit-transform: translateZ(0); } /* ios: disappearing elements fix */

.carousel .carousel-nav { white-space: nowrap; text-align: center; margin-top: 5px; overflow: hidden; display: block; cursor: default; }
.carousel .carousel-nav .dots { vertical-align: middle; min-width: 65px; display: inline-block; }
.carousel .carousel-nav .dots i { width: 7px; height: 7px; background-color: currentColor; margin: 0 3px; display: inline-block !important; border-radius: 50%; opacity: .45; }
.carousel .carousel-nav .dots i:not(.show):not(.faded):not(.selected) { width: 0; height: 0; margin: 0 0 4px 0; opacity: 0; }
.carousel .carousel-nav .dots i.selected { background-color: currentColor; opacity: 1; transform: scale(1.5); }
.carousel .carousel-nav .dots i.faded { opacity: .15; }

.carousel-animate:not(.show) { opacity: 0; }

.bring-back:not(.show) { transform: scale(.85); }
.bring-front:not(.show) { transform: scale(1.15); }

.bring-top:not(.show) { transform: translateY(-15px); }
.bring-right:not(.show) { transform: translateX(15px); }
.bring-bottom:not(.show) { transform: translateY(15px); }
.bring-left:not(.show) { transform: translateX(-15px); }

@media (max-width: 959px) {
  .md-bring-back:not(.show) { transform: scale(.85); }
  .md-bring-front:not(.show) { transform: scale(1.15); }
  
  .md-bring-top:not(.show) { transform: translateY(-15px); }
  .md-bring-right:not(.show) { transform: translateX(15px); }
  .md-bring-bottom:not(.show) { transform: translateY(15px); }
  .md-bring-left:not(.show) { transform: translateX(-15px); }
}
@media (max-width: 767px) {
  .sm-bring-back:not(.show) { transform: scale(.85); }
  .sm-bring-front:not(.show) { transform: scale(1.15); }
  
  .sm-bring-top:not(.show) { transform: translateY(-15px); }
  .sm-bring-right:not(.show) { transform: translateX(15px); }  
  .sm-bring-bottom:not(.show) { transform: translateY(15px); }
  .sm-bring-left:not(.show) { transform: translateX(-15px); }
}
@media (max-width: 480px) {
  .xs-bring-back:not(.show) { transform: scale(.85); }
  .xs-bring-front:not(.show) { transform: scale(1.15); }
  
  .xs-bring-top:not(.show) { transform: translateY(-15px); }
  .xs-bring-right:not(.show) { transform: translateX(15px); }  
  .xs-bring-bottom:not(.show) { transform: translateY(15px); }
  .xs-bring-left:not(.show) { transform: translateX(-15px); }
}

.carousel-gallery .detail { min-height: 210px; position: relative; }
.carousel-gallery .detail img { display: block; position: relative; z-index: 2; }
.carousel-gallery .detail img,.carousel-gallery .detail.detail-holder img { width: 100%; display: inline-block; position: relative; z-index: 1; cursor: pointer; }
html:not(.mobile) .carousel-gallery .detail:not(.detail-loader) img:hover { opacity: .8; }

.carousel-gallery .detail .icon { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.carousel-gallery .detail .icon-loader { margin: -20px 0 0 -20px; }

.carousel-gallery .detail.detail-loader { background-color: rgba(0,0,0,.075); }
.carousel-gallery .detail.detail-loader img { opacity: 0; }
.carousel-gallery .detail.detail-loader .icon-zoom { display: none; }
.carousel-gallery .detail.detail-loader .icon-loader { opacity: .45; animation: carousel-gallery-loader 3s linear infinite; }
.carousel-gallery .detail:not(.detail-loader) .icon-loader { display: none; }

.carousel-gallery .thumbs { text-align: center; margin: 15px 0; }
.carousel-gallery .thumbs .img { width: 100%; height: auto; }
.carousel-gallery .thumbs .img { border: solid 2px transparent; cursor: pointer; }
.carousel-gallery .thumbs .img.selected { border-color: #ffa600; }
html:not(.mobile) .carousel-gallery .thumbs .img:not(.selected):not(:hover) { opacity: .65; }