/* carousel */
@keyframes carousel-img-loader { 0% { opacity: .3; } 50% { opacity: 1; } 100% { opacity: .3; } }
@keyframes carousel-gallery-loader { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.carousel-touchmove body { height: 100%; overflow: hidden; }

.carousel { width: auto; overflow: hidden; position: relative; }
.carousel:not(.active) { opacity: 0; }

.carousel-slider { width: 20000px; overflow: hidden; }
.carousel-slider > .content { margin-bottom: 5px; overflow: hidden; float: left; }
.carousel:not(.active) .carousel-slider > .content { width: 1px; }
.carousel-slider > .content img.img { width: 100%; height: auto; }
.carousel-slider > .content img.img:not(.loaded) { background-color: #ddd; animation: carousel-img-loader 3s linear infinite; }

/* ie9 not supported row equal heights */
.carousel-slider { display: -webkit-box !important; display: -ms-flexbox !important; display: -webkit-flex !important; display: flex !important; flex-wrap: wrap; }
.carousel-slider > .content { flex-direction: column; }

.carousel .scroll > *,.carousel .v-scroll > *,.carousel .h-scroll > * { -webkit-transform: translateZ(0); } /* ios: disappearing elements fix */

.carousel .carousel-nav { white-space: nowrap; line-height: 6px; overflow: hidden; display: block; cursor: default; }
.carousel .carousel-nav .dots i { width: 7px; height: 7px; background-color: currentColor; margin: 0 3px; display: inline-block; border-radius: 50%; opacity: .45; }
.carousel .carousel-nav .dots i.selected { background-color: currentColor; opacity: 1; transform: scale(1.5); }

.carousel .carousel-nav .dots.filtered i:not(.show):not(.selected) { display: none; }
.carousel .carousel-nav .dots.filtered i.faded { opacity: .15; }

.carousel-animate:not(.show) { opacity: 0; }

.carousel-animate.bring-back:not(.show) { transform: scale(.85); }
.carousel-animate.bring-front:not(.show) { transform: scale(1.15); }

.carousel-animate.bring-top:not(.show) { transform: translateY(-15px); }
.carousel-animate.bring-top-right:not(.show) { transform: translate(15px,-15px); }
.carousel-animate.bring-top-left:not(.show) { transform: translate(-15px,-15px); }

.carousel-animate.bring-bottom:not(.show) { transform: translateY(15px); }
.carousel-animate.bring-bottom-right:not(.show) { transform: translate(15px,15px); }
.carousel-animate.bring-bottom-left:not(.show) { transform: translate(-15px,15px); }

.carousel-animate.bring-right:not(.show) { transform: translateX(15px); }
.carousel-animate.bring-left:not(.show) { transform: translateX(-15px); }

.carousel-gallery .detail { min-height: 210px; position: relative; }
.carousel-gallery .detail img { display: block; position: relative; z-index: 2; }
.carousel-gallery .detail img,.carousel-gallery .detail.detail-holder img { width: 100%; display: inline-block; position: relative; z-index: 1; cursor: pointer; }
html:not(.mobile) .carousel-gallery .detail:not(.detail-loader) img:hover { opacity: .8; }
.mobile .carousel-gallery .detail img { opacity: .8; }

.carousel-gallery .detail .icon { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.carousel-gallery .detail .icon-loader { margin: -20px 0 0 -20px; }

.carousel-gallery .detail.detail-loader { background-color: rgba(0,0,0,.075); }
.carousel-gallery .detail.detail-loader img { opacity: 0; }
.carousel-gallery .detail.detail-loader .icon-zoom { display: none; }
.carousel-gallery .detail.detail-loader .icon-loader { opacity: .45; animation: carousel-gallery-loader 3s linear infinite; }
.carousel-gallery .detail:not(.detail-loader) .icon-loader { display: none; }

.carousel-gallery .thumbs { margin: 15px -2px; }
.carousel-gallery .thumbs:before,.carousel-gallery .thumbs:after { content: ""; display: table; }
.carousel-gallery .thumbs:after { clear: both; }
.carousel-gallery .thumbs .img-holder { width: 20%; padding: 2px; float: left; }
.carousel-gallery .thumbs .img-holder img { width: 100%; height: auto; }
.carousel-gallery .thumbs .img { border: solid 2px transparent; cursor: pointer; }
.carousel-gallery .thumbs .img.selected { border-color: #ffa600; }
html:not(.mobile) .carousel-gallery .thumbs .img:not(.selected):not(:hover) { opacity: .65; }
