/* custom tables */
.table-fixed-header { overflow: hidden; table-layout: fixed; }
.table-fixed-header th:not([colspan]):not([class*="static-"]),.table-fixed-header td:not([colspan]):not([class*="static-"]) { width: 200px; }
.table-fixed-header thead,.table-fixed-header tbody { display: inline-block; }
.table-fixed-header tbody { width: 100%; max-height: 309px; overflow: auto !important; }
.mobile .table-fixed-header tbody { -webkit-overflow-scrolling: touch; }

.table-fixed-sidebar [class*="static-"] { overflow: hidden; }
.table-fixed-sidebar [class*="static-"] .table { table-layout: fixed; }
.table-fixed-sidebar [class*="static-"] .table thead,.table-fixed-sidebar [class*="static-"] .table tbody { width: 100%; display: block; }
.table-fixed-sidebar [class*="static-"] .table thead { position: relative; z-index: 1; }
.table-fixed-sidebar [class*="static-"] .table thead:not([class*="ui-"]) { background-color: #fff; }
.table-fixed-sidebar [class*="static-"] .table tbody { max-height: 309px; }
.table-fixed-sidebar [class*="static-"] .table th,.table-fixed-sidebar [class*="static-"] .table td { width: 2000px; }

.table-flip-scrollable table { display: block; position: relative; }
.table-flip-scrollable thead,.table-flip-scrollable th { width: auto !important; }
.table-flip-scrollable thead { float: left; }
.table-flip-scrollable th { text-align: right; border-bottom: 0; border-left: 0; border-right: 1px solid #ddd; }
.table-flip-scrollable thead tr,.table-flip-scrollable th { display: block; }
.table-flip-scrollable tbody { white-space: nowrap; width: auto; overflow-x: auto !important; overflow-y: hidden !important; display: block; position: relative; }
.mobile .table-flip-scrollable tbody { -webkit-overflow-scrolling: touch; }
.table-flip-scrollable tbody tr { margin-left: -5px; display: inline-block; border-left: 1px solid #ddd; }
.table-flip-scrollable td { font-weight: normal !important; display: block; border-left: 0; border-right: 0; border-bottom: 0; }
.table-flip-scrollable tbody tr:last-child td { border-right: 0; }

@media (max-width: 959px) {
    .table-flip-responsive table { display: block; position: relative; }
    .table-flip-responsive thead,.table-flip-responsive th { width: auto !important; }
    .table-flip-responsive thead { float: left; }
    .table-flip-responsive th { text-align: right; border-bottom: 0; border-left: 0; border-right: 1px solid #ddd; }
    .table-flip-responsive thead tr,.table-flip-responsive th { display: block; }
    .table-flip-responsive tbody { white-space: nowrap; width: auto; overflow-x: auto !important; overflow-y: hidden !important; display: block; position: relative; }
    .mobile .table-flip-responsive tbody { -webkit-overflow-scrolling: touch; }
    .table-flip-responsive tbody tr { margin-left: -5px; display: inline-block; border-left: 1px solid #ddd; }
    .table-flip-responsive td { font-weight: normal !important; display: block; border-left: 0; border-right: 0; border-bottom: 0; }
    .table-flip-responsive tbody tr:last-child td { border-right: 0; }
}