/* custom forms */
.ease-form-custom { transition-property: height, background-color, transform, opacity; }

label.custom { min-height: 22px; padding-top: 5px; padding-bottom: 3px; display: inline-block; }

.check-custom,.radio-custom,.switch-custom { vertical-align: middle; height: 22px; margin-bottom: 2px; border: solid 1px rgba(0,0,0,.15); overflow: hidden; display: inline-block; position: relative; }
.check-custom,.radio-custom { width: 22px; }
.radio-custom,.switch-custom.rounded { border-radius: 11px !important; }
.switch-custom { width: 44px; }

.check-custom i,.radio-custom i,.switch-custom i { content: ""; width: 14px; height: 14px; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.check-custom i,.radio-custom i { background-color: rgba(0,0,0,.65); opacity: 0; }
.radio-custom i,.switch-custom.rounded i { border-radius: 7px; }
.check-custom.rounded i { border-radius: 3px; }

.check-custom input,.radio-custom input,.switch-custom input { width: 140%; height: 140%; display: block; position: absolute; top: -20%; left: -20%; z-index: 1; opacity: 0; }
.check-custom input:checked + i,.check-custom input:indeterminate + i,.radio-custom input:checked + i { opacity: 1; }
.check-custom input:indeterminate + i { height: 4px; }
.switch-custom input:not(:checked) + i,.switch-custom input:not(:checked) + i[class*="ui-"] { background-color: rgba(0,0,0,.15); }
.switch-custom input:checked + i { transform: translate(25%,-50%); }
.switch-custom input:checked + i:not([class*="ui-"]) { background-color: #2dbd3a; }
.switch-custom input:not(:indeterminate):not(:checked)  + i { transform: translate(-125%,-50%); }
.switch-custom input:indeterminate + i { background-color: #ffa600; }

.error .check-custom,.error .radio-custom,.error .switch-custom { background-color: rgba(220,0,15,.1) !important; border-color: #dc000f !important; }
.warning .check-custom,.warning .radio-custom,.warning .switch-custom { background-color: rgba(255,166,0,.1) !important; border-color: #ffa600 !important; }

@media (max-width: 480px) {
    label.custom + label.custom { display: block; }
}
