// out: false
/* darkmode */ @import '_settings.less';

._darkmode-global (@darkmode) when (@darkmode = true) {
    @media (prefers-color-scheme: dark) {
        body,a { color: #fff; }
        code { color: #fff; background-color: #c7254e; }
        pre,xmp { color: #fff; ._bg(@card-bg-dark); border-color: #41454d; }

        .breadcrumbs:not(.no-separated) > ul > li:not(:first-child):before { color: rgba(255,255,255,.25); }

        .border,.border-t,.border-r,.border-b,.border-l,.border-h,.border-v,.border-dual,.border-lg { border-color: rgba(255,255,255,.175); }

        .text,.select,.select-multi,.textarea,.file,.check-custom,.radio-custom,.switch-custom { border-color: rgba(255,255,255,.175); }
        .text input:not(:focus):not([readonly]),.select select:not(:focus):not([readonly]),.select-multi select:not(:focus):not([readonly]),.textarea textarea:not(:focus):not([readonly]) { color: #fff; }
        .select select option,.select select optgroup { color: #fff; background-color: #41454d; }
        .select-multi option:not(:last-child) { border-color: rgba(255,255,255,.045); }
        html:not(.mobile) .file:hover .btn { background-color: rgba(255,255,255,.15); }
        [class*="text-icon"] > button { color: #fff; }

        .range::-webkit-slider-runnable-track { background-color: rgba(255,255,255,.08); }
        .range:hover::-webkit-slider-runnable-track { background-color: rgba(255,255,255,.15); }
        .range::-moz-range-track { background-color: rgba(255,255,255,.08); }
        .range:hover::-moz-range-track { background-color: rgba(255,255,255,.15); }

        .range:disabled::-webkit-slider-thumb { background-color: #60656e; }
        .range:disabled::-moz-range-thumb { background-color: #60656e; }

        .form-focus { border-color: rgba(255,255,255,.65); }
        .form-focus:not(.form-readonly) { background-color: rgba(255,255,255,.075) !important; }
        .form-focus > input,.form-focus > select,.form-focus.form-light > select option,.form-focus > textarea,.form-focus .icon:not([class*="ui-"]) { color: #fff !important; }

        ::placeholder { color: rgba(255,255,255,.4); }
        ::-ms-input-placeholder { color: rgba(255,255,255,.4); }

        .form-focus > ::placeholder { color: rgba(255,255,255,.23); }
        .form-focus > ::-ms-input-placeholder { color: rgba(255,255,255,.23); }

        .check-custom i,.radio-custom i { background-color: rgba(255,255,255,.65); }
        .switch-custom input:not(:checked):not(:indeterminate) + i,.switch-custom input:not(:checked) + i[class*="ui-"] { background-color: rgba(255,255,255,.15); }

        .textarea:not(.form-light):not(.toggle-textarea)[data-counter]:before,.textarea.form-focus:not(.toggle-textarea)[data-counter]:before { color: #fff; background-color: rgba(255,255,255,.175); }

        .form-holder-focus [class*="col-"] > * { border-color: rgba(255,255,255,.65) !important; }
        .form-disabled { background-color: rgba(255,255,255,.075); }
        .form-readonly input,.form-readonly textarea { color: rgba(255,255,255,.65); }

        .autocomplete ul { color: #fff; background-color: #41454d; }

        html:not(.mobile) .btn:not([class*="ui-x-light"]):not([class*="ui-light"]):not([class*="ui-dark"]):not([class*="ui-x-dark"]):not(.btn-passive):not(.swatch-active):hover { background-color: rgba(255,255,255,.15); }
        html:not(.mobile) .btn.btn-ghost:not([class*="ui-x-light"]):not([class*="ui-light"]):not([class*="ui-dark"]):not([class*="ui-x-dark"]):not(.btn-passive):not(.swatch-active):hover { background-color: rgba(255,255,255,.075); }

        .btn { color: #fff; background-color: rgba(255,255,255,.08); }
        .btn-ghost.ui-dark:not(.ui-text),.btn-ghost.ui-x-dark:not(.ui-text) { color: #fff; }

        .dropdown ul.content > li:not(:last-child) { border-color: rgba(255,255,255,.065); }
        .dropdown.open > .btn-ghost:not([class*="ui-"]) { background-color: rgba(255,255,255,.075) !important; }
        .dropdown .content { background-color: #41454d; }
        html:not(.mobile) .dropdown ul.content > li:hover { background-color: rgba(255,255,255,.05); }
        .dropdown ul.content > li.selected > label { background-color: rgba(255,255,255,.075); }
        .dropdown ul.content.has-grid li,.dropdown [class*="list-column-"] > li { border-color: rgba(255,255,255,.065); }

        .close-card { color: #fff; }

        .page-social > .btn { background: #292c35; }
        .theme-facebook.ui-dark .icon { color: #3b5998; }
        .theme-twitter.ui-dark .icon { color: #1da1f2; }
        .theme-instagram.ui-dark .icon { color: #c13584; }
        .theme-linkedin.ui-dark .icon { color: #0077b5; }
        .theme-google.ui-dark .icon { color: #db4437; }
        .theme-whatsapp.ui-dark .icon { color: #25d366; }
        .theme-youtube.ui-dark .icon { color: #ff0000; }

        .photos-holder [class*="img-photo"] { border-color: #15181d; }
        .dropdown .photos-holder [class*="img-photo"] { border-color: #41454d; }
        .card .photos-holder [class*="img-photo"] { border-color: #2f343e; }
        [class*="img-photo"]:not(img) { background-color: rgba(255,255,255,.08); }

        .progress-bar { background-color: rgba(0,0,0,.25); }
        .progress-bar > span { background-color: rgba(255,255,255,.15); }

        .timeline:not(.hide-lines):after { background-color: rgba(255,255,255,.175); }
        .timeline:not(.hide-lines) > li:before { background-color: rgba(255,255,255,.175); }
        .timeline > li:after { background-color: #15181d; border-color: rgba(255,255,255,.175); }
        .dropdown .timeline > li:after { background-color: #41454d; }
        .card .timeline > li:after { ._bg(@card-bg-dark); } /* card must be latest */
        .timeline > li > .card:not([class*="ui-"]),.timeline > li > .card a,.timeline > li > .card button { color: #fff !important; }
        .timeline > li > .card { background-color: #15181d; }
        .card .timeline > li > .card { ._bg(@card-bg-dark); }

        .steps-bar li:before { background-color: #15181d; }
        .card .steps-bar li:before { ._bg(@card-bg-dark); }
        .steps-bar li.active:before { box-shadow: 0 0 0 6px rgba(255,255,255,.065); }
        .steps-bar:not(.steps-icon) li.active:before { background-color: #15181d !important; }
        .card .steps-bar li.active:before { ._bg(@card-bg-dark) !important; }
        .steps-bar.steps-icon li:before { background-color: #15181d; border-color: #15181d; }
        .card .steps-bar.steps-icon li:before { ._bg(@card-bg-dark); border-color: #2f343e; }
        .steps-bar li.active ~ li { color: rgba(255,255,255,.32); }
        .steps-bar li.active ~ li:before { background-color: #15181d; border-color: rgba(255,255,255,.12) !important; }
        .card .steps-bar li.active ~ li:before { ._bg(@card-bg-dark); border-color: #2f343e; }
        .steps-bar li.active ~ li:after { background-color: rgba(255,255,255,.12); }

        .table { ._bg(@card-bg-dark); }
        .table:not(.no-separated) th,.table:not(.no-separated) td { border-color: #41454d; }
        .table caption { background-color: rgba(255,255,255,.025); }
        .table-striped tr:nth-child(even):not([class*="ui-"]) { background-color: rgba(255,255,255,.025); }
        html:not(.mobile) .table-hover tbody tr:not([class*="ui-"]):hover { background-color: rgba(255,255,255,.06); }
        .table-sidebar td:first-of-type { border-color: #41454d; }
        .table-sidebar-center td:nth-child(2) { border-color: #41454d; border-color: #41454d; }
        .table.border,.table .border,.table[class*="border-"],.table [class*="border-"] { border-color: #41454d; }
        .table-border th:not(:last-child),.table-border td:not(:last-child) { border-color: #41454d; }

        html:not(.mobile) ::-webkit-scrollbar-thumb { background-color: rgba(255,255,255, 0.15); }
        html:not(.mobile) ::-webkit-scrollbar-thumb:hover { background-color: rgba(255,255,255,.2); }
        html:not(.mobile) ::-webkit-scrollbar-thumb:active { background-color: rgba(255,255,255,.25); }

        html:not(.mobile) select[multiple]::-webkit-scrollbar { background-color: rgba(255,255,255,.045); }

        .list-group li:nth-child(odd):not([class*="ui-"]) { background-color: rgba(255,255,255,.025); }
        .list-group li:not([class*="ui-"]):hover { background-color: rgba(255,255,255,.06); }

        .modal-content,.mobile-menu { background-color: #15181d; }

        .tooltip:not([class*="ui-"]) { background-color: #000; }
        .tooltip:not([class*="ui-"]) > span i { background: #000; }

        .photo-slider:not(.loader-pause) { background-color: #15181d; }
        .card .photo-slider:not(.loader-pause) { ._bg(@card-bg-dark); }
        .photo-slider button { color: #fff; }
        .photo-slider button:hover { background-color: rgba(255,255,255,.1); }
        .photo-slider .slider-nav i { background-color: rgba(255,255,255,.2); }
        .photo-slider .slider-nav i.selected { background-color: rgba(255,255,255,.35); }

        .data-list .data-content.even { background-color: rgba(255,255,255,.025); }
        .data-list .data-content:not([class*="col-"]) { border-color: #41454d; }
        html:not(.mobile) .data-hover .data-content:not([class*="ui-"]):hover { background-color: rgba(255,255,255,.06); }
        html:not(.mobile) .data-hover .data-content:not([class*="ui-"]):nth-child(odd):hover { background-color: rgba(255,255,255,.06); }
        .data-hover .data-content.even:not([class*="ui-"]) { background-color: rgba(255,255,255,.025); }

        .svg-map svg g path { fill: #222933; }
        .svg-map svg g path { stroke: #15181d; }
        .card .svg-map svg g path { stroke: #2f343e; }
        .svg-map svg g path:hover { fill: #39485d; }

        .image-uploader { ._bg(@card-bg-dark); }
        .image-uploader.drop-highlight { background-color: #21242b; }
        .uploader-tools { background-color: rgba(255,255,255,.035); }
        .uploader-list:not(.open),.drop-highlight .uploader-list { background-color: rgba(255,255,255,.035); border-color: rgba(255,255,255,.175); }
        .uploader-list ul > li .tag { color: #bbb; background-color: rgba(255,255,255,.08); }

        .calendar { ._bg(@card-bg-dark); }
        .calendar caption { background-color: rgba(255,255,255,.15); }
        .calendar:not(.ui-dark):not(.ui-x-dark) caption { background-color: rgba(255,255,255,.065); }
        .calendar button { color: #fff; }
        html:not(.mobile) .calendar:not(.ui-dark):not(.ui-x-dark) caption button:hover { background-color: rgba(255,255,255,.08); }
        html:not(.mobile) .calendar:not(.ui-dark):not(.ui-x-dark) caption:hover .calendar-title button { background-color: rgba(255,255,255,.035); }
        html:not(.mobile) .calendar:not(.ui-dark):not(.ui-x-dark) caption .calendar-title button:hover { background-color: rgba(255,255,255,.08); }

        .calendar table.fill-weekends th:nth-child(n+6),.calendar table.fill-weekends td:nth-child(n+6) { background-color: rgba(255,255,255,.085); }
        .calendar:not(.ui-dark):not(.ui-x-dark) table.fill-weekends th:nth-child(n+6),.calendar:not(.ui-dark):not(.ui-x-dark) table.fill-weekends td:nth-child(n+6) { background-color: rgba(255,255,255,.045); }
        html:not(.mobile) .calendar:not(.ui-dark):not(.ui-x-dark) td:not(.today):not(.pickerday) button:hover { background-color: rgba(255,255,255,.075); }
        .calendar:not(.ui-dark):not(.ui-x-dark) td.today button:not([class*="ui-"]) { background-color: rgba(255,255,255,.125); }
        html:not(.mobile) .calendar:not(.ui-dark):not(.ui-x-dark) td.today button:not([class*="ui-"]):hover { background-color: rgba(255,255,255,.2); }
        .calendar:not(.ui-dark):not(.ui-x-dark) .details li > span > i { color: #fff; background-color: rgba(255,255,255,.075); }
        .calendar:not(.ui-dark):not(.ui-x-dark) .no-details li > strong,.calendar:not(.ui-dark):not(.ui-x-dark) .no-details li > b { background-color: rgba(255,255,255,.2); }
        .calendar:not(.ui-dark):not(.ui-x-dark) .no-details li > span { background-color: rgba(255,255,255,.1); }
        html:not(.mobile) .calendar:not(.ui-dark):not(.ui-x-dark) .details li:hover { background-color: rgba(255,255,255,.065); }
        html:not(.mobile) .calendar:not(.ui-dark):not(.ui-x-dark) .panel .call:hover { background-color: rgba(255,255,255,.075); }
        .calendar:not(.ui-dark):not(.ui-x-dark) .panel .call.selected { background-color: rgba(255,255,255,.125); }
        html:not(.mobile) .calendar:not(.ui-dark):not(.ui-x-dark) .panel .call.selected:hover { background-color: rgba(255,255,255,.2); }

        .calendar .details > button { background-color: rgba(255,255,255,.125); }
        .calendar:not(.ui-dark):not(.ui-x-dark) .details > button { background-color: rgba(255,255,255,.065); }
        html:not(.mobile) .calendar .details > button:hover { background-color: rgba(255,255,255,.2); }
        html:not(.mobile) .calendar:not(.ui-dark):not(.ui-x-dark) .details > button:hover { background-color: rgba(255,255,255,.12); }

        .text.calendar-picker { color: #fff; }
        .text.calendar-picker button:not([class*="ui-"]),.text.calendar-picker button:not([class*="ui-"]) .icon { color: #fff; }

        .alerts-dialog { ._bg(@card-bg-dark); }
        button.dialog-custom { color: #fff; background-color: rgba(255,255,255,.08); }
        button.dialog-custom:focus { box-shadow: 0 0 0 2px rgba(255,255,255,.35); }
        html:not(.mobile) button.dialog-custom:hover { background-color: rgba(255,255,255,.15); }
        .alerts-msg:not([class*="ui-"]) { ._bg(@card-bg-dark); }
    }
}

._darkmode-global(@darkmode);
