// out: false
/* data list */ @import '_settings.less';

@data-list-content-padding:             10px;

@data-list-stripe-bg:                   fade(@black, 3.5%);
@data-list-stripe-bg-dark:              fade(@white, 3.5%);

@data-list-hover-bg:                    fade(@black, 6%);
@data-list-hover-bg-dark:               fade(@white, 6%);

@data-list-border:                      @x-light;
@data-list-border-dark:                 @highlighted-dark;

@data-list-checked:                     fade(@yellow, 15%);

._global-vars () {
    --data-list-stripe-bg: @data-list-stripe-bg;
    --data-list-hover-bg: @data-list-hover-bg;

    --data-list-border: @data-list-border;
}
._global-vars-dark () {
    --data-list-stripe-bg: @data-list-stripe-bg-dark;
    --data-list-hover-bg: @data-list-hover-bg-dark;

    --data-list-border: @data-list-border-dark;
}

.ease-data-list {
    .data-content { transition-property: background-color; transition-duration: @ease-default; }
}

.data-list {
    .data-content {
        &:not([class*="col-"]) { padding: @data-list-content-padding; ._border-var(@dir: border-bottom; @var: data-list-border); }
        &:before,&:after { content: ""; display: table; }
        &:after { clear: both; }
        &.even { ._bg-var(data-list-stripe-bg); }
        &.checked { background-color: @data-list-checked !important; }
    }
    &,.data-content {
        & > .row { margin-left: inherit; margin-right: inherit; }
    }

    &:not(.data-show-all) {
        .data-content {
            &:not(.show) { display: none; }
        }
    }
    &.data-show-all {
        &.data-filtered {
            .data-content {
                &:not(.filtered) { display: none; }
            }
        }
    }

    &.data-hover {
        .data-content {
            &.even {
                &:not([class*="ui-"]) { ._bg-var(data-list-stripe-bg); }
            }

            html:not(.mobile) & {
                &:not([class*="ui-"]) {
                    &:hover,&:nth-child(odd):hover { ._bg-var(data-list-hover-bg); }
                }
            }
        }
    }

    .data-paging {
        button {
            &:not(.btn) { color: inherit; background-color: @no-color; border: 0; }
        }
    }
}