// out: false
/* donut chart */ @import '_settings.less';

@donut-chart-stroke-size:               10;
@donut-chart-stroke-selected-size:      16;
@donut-chart-stroke-single-round:       true;

@donut-chart-bg-stroke-size:            6;
@donut-chart-bg-opacity:                .05;

@donut-chart-title-size:                @font-size;

@keyframes donut-draw {
    to { stroke-dasharray: 0 440; }
}

.ease-donut-chart {
    circle {
        &:not(.bg) { transition-property: opacity stroke; transition-duration: @ease-default; transition-timing-function: ease-in-out; }
    }
}

.donut-chart {
    text-align: left !important; display: block; position: relative; @no-user-select();

    strong { text-align: center; font-size: @donut-chart-title-size; line-height: @donut-chart-title-size; width: 100%; position: absolute; top: 50%; z-index: 1; transform: translateY(-50%); }
    svg {
        &:not(.icon) {
            width: 100%; height: auto; margin: 0 auto;

            html:not(.edge) & { -ms-transform: rotate(-90deg); transform: rotate(-90deg); }
            .edge & { -ms-transform: rotate(90deg); transform: rotate(90deg); }
        }
    }
    circle {
        fill: none; stroke-width: @donut-chart-stroke-size;

        &.loaded:not(.bg) { animation: donut-draw 1.6s ease-in reverse; }
        &.selected { stroke-width: @donut-chart-stroke-selected-size; transition-duration: @ease-default; }
        &.bg { stroke: currentColor; stroke-width: @donut-chart-bg-stroke-size; stroke-dashoffset: 0; opacity: @donut-chart-bg-opacity; }
    }
    &:not(.multiple) {
        circle when (@donut-chart-stroke-single-round = true) { stroke-linecap: round; }
    }
}

