// out: false
/* dropdown */ @import '_settings.less';

@dropdown-open-z-index:                 19;
@dropdown-content-open-scale:           .95;

@dropdown-toggle-icon-size:             12px;
@dropdown-toggle-right-icon-margins:    4px;

@dropdown-content-space:                1px;
@dropdown-content-min-width:            (@layout-min - 60px);
@dropdown-content-max-width:            (@sm-breakpoint - @highlight-space - (@border-dual * 2));

@dropdown-list-font-size:               (@large - 1);
@dropdown-list-line-height:             20px;
@dropdown-list-min-height:              30px;
@dropdown-list-padding:                 10px;
@dropdown-list-icon-size:               40px;

@dropdown-list-selected-bg:             fade(@black, 7.5%);
@dropdown-list-selected-bg-dark:        fade(@white, 7.5%);
@dropdown-list-hover-bg:                fade(@black, 5%);
@dropdown-list-hover-bg-dark:           fade(@black, 5%);
@dropdown-list-border:                  fade(@black, 4.5%);
@dropdown-list-border-dark:             fade(@white, 6.5%);

@dropdown-list-col-min-width:           680px;
@dropdown-list-col-2-min-width:         (@xs-breakpoint - 60);

@dropdown-grid-content-min-width:       (@layout-min - @highlight-space);
@dropdown-grid-list-col:                2;

._global-vars () {
    --dropdown-list-selected-bg: @dropdown-list-selected-bg;
    --dropdown-list-hover-bg: @dropdown-list-hover-bg;
    --dropdown-list-border: @dropdown-list-border;
}
._global-vars-dark () {
    --dropdown-list-selected-bg: @dropdown-list-selected-bg-dark;
    --dropdown-list-hover-bg: @dropdown-list-hover-bg-dark;
    --dropdown-list-border: @dropdown-list-border-dark;
}

.ease-dropdown {
    li { transition-property: background-color; transition-duration: @ease-default; }
    .content { transition-property: opacity, transform; transition-duration: @ease-default; transition-timing-function: ease-in-out; }

    & > .btn {
        transition-property: color, background-color, border-width, border-color, opacity, transform, box-shadow; transition-duration: @ease-default;

        .icon { transition-property: color, transform, opacity; transition-duration: @ease-default; }
    }
}

.dropdown {
    vertical-align: middle; display: inline-block; position: relative;

    &.open {
        z-index: @dropdown-open-z-index;

        & > .btn-ghost:not([class*="ui-"]) { ._bg-var(btn-ghost-hover-bg); }
    }
    &.open-ease {
        & > .btn {
            .toggle-icon { transform: rotate(-180deg); }
            .icon { opacity: 1; }
        }
    }

    & > .btn {
        display: block;

        &:not(.btn-square) { width: 100%; }

        .toggle-icon {
            ._icon(@dropdown-toggle-icon-size) !important; margin-top: -2px;

            &.right { margin-top: @dropdown-toggle-right-icon-margins; margin-bottom: @dropdown-toggle-right-icon-margins; }
        }
    }

    .content { ._bg-var(highlighted); overflow-x: hidden; overflow-y: auto; position: absolute; transform-origin: top left; -webkit-overflow-scrolling: touch; }


    &:not(.nav) {
        .content { max-width: @dropdown-content-max-width; }
    }
    &.nav-full-h {
        position: static;

        .content {
            right: 0; left: 0; transform-origin: top center; z-index: @dropdown-open-z-index;

            &:before,&:after { content: ""; display: table; }
            &:after { clear: both; }
            & > .row { margin-left: inherit; margin-right: inherit; }
        }
    }
    &.menu-c {
        .content { transform-origin: top center; }
    }
    &.menu-l {
        .content { transform-origin: top right; }
    }
    &:not(.open) {
        .content { display: none !important; }
    }
    &:not(.open-ease) {
        .content { opacity: 0; transform: scale(@dropdown-content-open-scale); }
    }
    &:not(.menu-t) {
        .content { margin-top: @dropdown-content-space; }
    }
    &.menu-t {
        .content { margin-bottom: @dropdown-content-space; bottom: 100%; transform-origin: bottom left; }

        &.menu-c {
            .content { transform-origin: bottom center; }
        }
        &.menu-l {
            .content { transform-origin: bottom right; }
        }
    }

    ul.content {
        list-style: none; padding: 0; margin-bottom: 0;

        & > li {
            line-height: @dropdown-list-line-height; min-height: @dropdown-list-min-height;

            &,a,& > label { font-size: @dropdown-list-font-size; }

            &:not(.holder) {
                padding: @dropdown-list-padding;

                &:not(:last-child) { ._border-var(@dir: border-bottom; @var: dropdown-list-border); }

                &,a,& > label { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block; }
                & > a { padding: @dropdown-list-padding; margin: -@dropdown-list-padding; }
                & > label {
                    padding: @dropdown-list-padding; margin: -@dropdown-list-padding; overflow: hidden; position: relative; cursor: pointer;

                    input { position: absolute; left: -20000px; }
                }
                &.selected {
                    & > label { ._bg-var(dropdown-list-selected-bg); }
                }
            }
        }
        &:not(.has-grid) > li {
            &,* { text-align: left !important; }
        }
        &.has-grid {
            display: flex; flex-wrap: wrap;

            & > li {
                text-align: center; width: percentage(((100 / @dropdown-grid-list-col) / 100%)); flex-grow: 1;

                a { text-align: center; }
                .icon,img { margin: (@dropdown-list-padding / 2) auto @dropdown-list-padding auto; display: block; }
            }
        }
        &.has-icon {
            & > li {
                padding-right: @dropdown-list-icon-size; position: relative;

                a { padding-right: @dropdown-list-icon-size; margin-right: -@dropdown-list-icon-size; }
                .list-icon { position: absolute; top: 50%; right: @dropdown-list-padding; transform: translateY(-50%); }
            }
        }
    }
    ul.content.has-grid li,[class*="list-column-"] > li {
        ._border-var(@dir: border-right; @var: dropdown-list-border);

        &[class*="ui-bg-dark-"],[class*="ui-bg-dark-"] & { border-color: @dropdown-list-border-dark !important; }
    }

    .has-grid {
        & > li {
            &:nth-last-child(2):not(:nth-child(2n)) { border-bottom: 0 !important; }
            &:nth-child(@{dropdown-grid-list-col}n),&:last-child { border-right: none !important; }
        }
    }

    .list-column- {
        &2 > li:nth-child(2n),&3 > li:nth-child(3n),&4 > li:nth-child(4n),&5 > li:nth-child(5n),&6 > li:nth-child(6n) { border-right: none; }
    }

    .desktop & {
        ul.content {
            & > li {
                &:not(.holder):hover { ._bg-var(dropdown-list-hover-bg); background-clip: padding-box; }
            }
        }
    }
}

.mobile-menu {
    .dropdown {
        display: block;

        & > .btn {
            .toggle-icon { position: absolute; top: 50%; right: @dropdown-list-padding; transform+_: translateY(-50%); }
        }
        &.open-ease {
            & > .btn {
                .toggle-icon { position: absolute; top: 50%; right: @dropdown-list-padding; transform: translateY(-50%) rotate(-180deg); }
            }
        }

        .content { background: none; max-height: inherit !important; overflow: inherit; position: static; box-shadow: none; transform-origin: top center !important; }
        ul.content {
            & > li {
                &:not(:last-child) { border-bottom: 0; }
            }
            &.round {
                & > li {
                    &,a { border-radius: @round; }
                }
            }
        }

        &:not(:last-child) {
            .content { margin-bottom: (@highlight-space / 2) !important; }
        }
    }

    [class*="list-column-"] {
        & > li { border-right: 0; }
    }
}

@media (@md-start) {
    .dropdown {
        .content {
            min-width: @dropdown-content-min-width;

            &.list-column-2 { min-width: @dropdown-list-col-2-min-width; }
            &[class*="list-column-"] { min-width: @dropdown-list-col-min-width; }
        }
        ul.content.has-grid { min-width: @dropdown-grid-content-min-width; }
    }
}
@media (@sm-finish) {
    .dropdown {
        .content { transform-origin: top center !important; }
    }
}