/* dropdown */
.ease-dropdown { transition-property: margin-top, opacity; }
.ease-dropdown li { transition-property: background-color; transition-duration: .15s; }
.no-transitions-all .ease-dropdown li { transition-property: none !important; }

.dropdown { vertical-align: top; display: inline-block; position: relative; }
.dropdown.open { z-index: 19; }
.dropdown > .btn { width: 100%; }
.dropdown.open-ease > .btn .icon-toggle { transform: scaleY(-1); }
.dropdown:not(.open) ul { display: none; }
.dropdown:not(.open-ease) ul { opacity: 0; }
.dropdown:not(.submenu-top) ul { margin-top: 10px; }
.dropdown.submenu-top ul { margin-bottom: 10px; bottom: 100%; }
.dropdown.open .btn-invisible { background-color: rgba(0,0,0,.075) !important; }

.dropdown ul { list-style: none; min-width: 200px; max-width: 744px; background-color: #fff; padding: 0; margin-bottom: 0; position: absolute; }
.dropdown ul.circle { border-radius: 16px; }
.dropdown ul:not([class*="bordered"]).v-scroll { max-height: 204px; }
.dropdown ul.bordered:not(.dual-bordered).v-scroll { max-height: 206px; }
.dropdown ul.dual-bordered.v-scroll { max-height: 208px; }

.dropdown li:not(:last-child) { border-bottom: solid 1px rgba(0,0,0,.075); }
.dropdown li:not(.sep) { line-height: 20px; min-height: 30px; padding: 10px; }
.dropdown li.sep { height: 1px; background-color: rgba(0,0,0,.1); }
html:not(.mobile) .dropdown li:hover { background-color: rgba(0,0,0,.075); }

.dropdown li,.dropdown li a,.dropdown li > label { font-size: 15px; line-height: 24px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.dropdown li,.dropdown li * { text-align: left !important; }
.dropdown li > a { line-height: normal; padding: 10px; margin: -10px; display: block; }
.dropdown li > label { padding: 10px; margin: -10px; overflow: hidden; display: block; position: relative;  cursor: pointer; }
.dropdown li.selected > label { background-color: rgba(0,0,0,.075); }
.dropdown li > label input { position: relative; left: -20000px; }
