// out: false
/* effects */ @import '_settings.less';

@ease-timings:                          in out in-out;
@ease-types:                            { fast: .1s; slow: .4s; slow-2x: .8s; slow-3x: 1.2s; slow-4x: 1.6s; slow-5x: 2s; }

[class*="ease-"],[class*="ease-1st-"] > *,[class*="ease-2nd-"] > * > * { transition-duration: @ease-default; transition-timing-function: ease-out; }

.ease- {
    each(@ease-types, {
        &@{key} {
            &,&[class*="ease-1st-"] > *,&[class*="ease-2nd-"] > * > * { transition-duration: @value; }
        }
    });

    &color,&1st-color > *,&2nd-color > * > * { transition-property: color; }
    &width,&1st-width > *,&2nd-width > * > * { transition-property: width; }
    &height,&1st-height > *,&2nd-height > * > * { transition-property: height; }
    &bg,&1st-bg > *,&2nd-bg > * > * { transition-property: background-color; }
    &margin,&1st-margin > *,&2nd-margin > * > * { transition-property: margin; }
    &border,&1st-border > *,&2nd-border > * > * { transition-property: border-color, border-width; }
    &position,&1st-position > *,&2nd-position > * > * { transition-property: top, right, bottom, left; }
    &layout,&1st-layout > *,&2nd-layout > * > * { transition-property: transform, opacity, box-shadow; }
    &svg,&1st-svg > *,&2nd-svg > * > * { transition-property: fill, stroke, opacity; }
    &all { transition-property: all; }

    &default {
        &,&[class*="ease-1st-"]> *,&[class*="ease-2nd-"] > * > * { transition-duration: ease-out !important; transition-timing-function: ease !important; }
    }

    each(@ease-timings, {
        &@{value} {
            &,&[class*="ease-1st-"]> *,&[class*="ease-2nd-"] > * > * { transition-timing-function: @value; }
        }
    });
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes progress {
    from { background-position: 40px 0; }
    to { background-position: 0 0; }
}
@keyframes bounce-x {
    from { transform: translateX(0); }
    25% { transform: translateX(-12%); }
    75% { transform: translateX(12%); }
    100% { transform: translateX(0); }
}
@keyframes bounce-y {
    from { transform: translateY(0); }
    25% { transform: translateY(-12%); }
    75% { transform: translateY(12%); }
    100% { transform: translateY(0); }
}
@keyframes bounce-z {
    from { transform: scale(1); }
    25% { transform: scale(.9); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.animate- {
    &spin { animation: spin 1.15s linear infinite; }
    &progress { animation: progress 3s linear infinite; }
    &bounce-x { animation: bounce-x 6s linear infinite; }
    &bounce-y { animation: bounce-y 6s linear infinite; }
    &bounce-z { animation: bounce-z 6s linear infinite; }
}

.no-effects {
    &,&:before,&:after,*,*:before,*:after { transition-property: none !important; animation: none !important; }
}
.pause-effects {
    &,&:before,&:after,*,*:before,*:after { transition-property: none !important;  animation-play-state: paused !important; }
}

& when (@reduced-motion = true) {
    @media (prefers-reduced-motion: reduce) {
        * {
            &,&:before,&:after { transition-property: none !important; animation: none !important; }
        }
    }
}
