/* effects */ @import '_settings.less';
[class*="ease-"],[class*="ease-1st-"] > *,[class*="ease-2nd-"] > * > * { transition-duration: .15s; transition-timing-function: ease-out; }

.no-effects,.no-effects:before,.no-effects:after,.no-effects *,.no-effects *:before,.no-effects *:after { transition-property: none !important; }
.pause-effects,.pause-effects:before,.pause-effects:after,.pause-effects *,.pause-effects *:before,.pause-effects *:after { transition-property: none !important; }

@media (prefers-reduced-motion:reduce) {
  *,*:before,*:after { transition-property: none !important; }
}

.ease-fast,.ease-fast[class*="ease-1st-"] > *,.ease-fast[class*="ease-2nd-"] > * > * { transition-duration: .1s; }
.ease-slow,.ease-slow[class*="ease-1st-"] > *,.ease-slow[class*="ease-2nd-"] > * > * { transition-duration: .4s; }
.ease-slow2x,.ease-slow2x[class*="ease-1st-"] > *,.ease-slow2x[class*="ease-2nd-"] > * > * { transition-duration: .8s; }
.ease-slow3x,.ease-slow3x[class*="ease-1st-"] > *,.ease-slow3x[class*="ease-2nd-"] > * > * { transition-duration: 1.2s; }
.ease-slow4x,.ease-slow4x[class*="ease-1st-"] > *,.ease-slow4x[class*="ease-2nd-"] > * > * { transition-duration: 1.6s; }
.ease-slow5x,.ease-slow5x[class*="ease-1st-"] > *,.ease-slow5x[class*="ease-2nd-"] > * > * { transition-duration: 2s; }

.ease-all { transition-property: all; }
.ease-color,.ease-1st-color > *,.ease-2nd-color > * > * { transition-property: color; }
.ease-width,.ease-1st-width > *,.ease-2nd-width > * > * { transition-property: width; }
.ease-height,.ease-1st-height > *,.ease-2nd-height > * > * { transition-property: height; }
.ease-bg,.ease-1st-bg > *,.ease-2nd-bg > * > * { transition-property: background-color; }
.ease-margin,.ease-1st-margin > *,.ease-2nd-margin > * > * { transition-property: margin; }
.ease-border,.ease-1st-border > *,.ease-border > * > * { transition-property: border-color, border-width; }
.ease-position,.ease-1st-position > *,.ease-2nd-position > * > * { transition-property: top, right, bottom, left; }
.ease-layout,.ease-1st-layout > *,.ease-2nd-layout > * > * { transition-property: transform, opacity, box-shadow; }
.ease-svg,.ease-1st-svg > *,.ease-2nd-svg > * > * { transition-property: fill, stroke; }

.ease-linear,.ease-linear[class*="ease-1st-"] > *,.ease-linear[class*="ease-2nd-"] > * > * { transition-timing-function: linear; }
.ease-in,.ease-in[class*="ease-1st-"] > *,.ease-in[class*="ease-2nd-"] > * > * { transition-timing-function: ease-in; }
.ease-out,.ease-out[class*="ease-1st-"] > *,.ease-out[class*="ease-2nd-"] > * > * { transition-timing-function: ease-out; }
.ease-in-out,.ease-in-out[class*="ease-1st-"] > *,.ease-in-out[class*="ease-2nd-"] > * > * { transition-timing-function: ease-in-out; }

.ease-default,.ease-default[class*="ease-1st-"] > *,.ease-default[class*="ease-2nd-"] > * > * { transition-duration: .15s !important; transition-timing-function: ease !important; }

.no-effects,.no-effects:before,.no-effects:after,.no-effects *,.no-effects *:before,.no-effects *:after { animation: none !important; }
.pause-effects,.pause-effects:before,.pause-effects:after,.pause-effects *,.no-effects *:before,.pause-effects *:after { animation-play-state: paused !important; }

@media (prefers-reduced-motion:reduce) {
  *,*:before,*:after { animation: none !important; }
}

@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
.animate-spin { animation: spin 1.15s linear infinite; }

@keyframes progress { from { background-position: 40px 0; } to { background-position: 0 0; } }
.animate-progress { animation: progress 3s linear infinite; }

@keyframes bounce-x { from { transform: translateX(0); } 25% { transform: translateX(-12%); } 75% { transform: translateX(12%); } 100% { transform: translateX(0); } }
.animate-bounce-x { animation: bounce-x 2.4s linear infinite; }

@keyframes bounce-y { from { transform: translateY(0); } 25% { transform: translateY(-12%); } 75% { transform: translateY(12%); } 100% { transform: translateY(0); } }
.animate-bounce-y { animation: bounce-y 2.4s linear infinite; }

@keyframes bounce-z { from { transform: scale(1); } 25% { transform: scale(.9); } 75% { transform: scale(1.1); } 100% { transform: scale(1); } }
.animate-bounce-z { animation: bounce-z 2.4s linear infinite; }