/* file input */
.file { vertical-align: middle; line-height: normal; min-height: 32px; border: solid 1px rgba(0,0,0,.15); overflow: hidden; display: block; position: relative; }
.file input { vertical-align: middle; width: 100%; height: 30px; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 1; opacity: 0; }
.file.dual-bordered input { height: 28px; }
.file.no-bordered input { height: 32px; }

.table .file { min-width: 120px; }

.file .btn { text-align: center !important; min-width: 128px; height: 30px; float: left; }
.file:not(.no-bordered) .btn { line-height: 18px; }
.file.dual-bordered .btn { min-width: 126px; }
.file .btn.rounded { border-radius: 3px 0 0 3px; }
.file.dual-bordered .btn { height: 28px; }
.file.no-bordered .btn { min-width: 130px; height: 32px;}
html:not(.mobile) .file:hover .btn { background-color: rgba(0,0,0,.15); }

.file > span { white-space: nowrap; text-overflow: ellipsis; line-height: 30px; width: 100%; padding-right: 10px; padding-left: 135px; overflow: hidden; display: block; position: absolute; }
