/* fixed header table */
html:not(.ie9) .table-fixed-header { overflow: hidden; table-layout: fixed; }
html:not(.ie9) .table-fixed-header th:not([colspan]):not([class*="static-"]),html:not(.ie9) .table-fixed-header td:not([colspan]):not([class*="static-"]) { min-width: 200px; width: 200px; max-width: 200px; }
html:not(.ie9) .table-fixed-header thead,html:not(.ie9) .table-fixed-header tbody { display: inline-block; }
html:not(.ie9) .table-fixed-header tbody { width: 100%; max-height: 309px; overflow: auto !important; -webkit-overflow-scrolling: touch; }