/* flip scroll table */
html:not(.ie9) .table-flip-scrollable table { display: block; position: relative; }
html:not(.ie9) .table-flip-scrollable thead,html:not(.ie9) .table-flip-scrollable th { width: auto !important; }
html:not(.ie9) .table-flip-scrollable thead { float: left; }
html:not(.ie9) .table-flip-scrollable th { text-align: right; border-bottom: 0; border-left: 0; border-right: 1px solid #ddd; }
html:not(.ie9) .table-flip-scrollable thead tr,html:not(.ie9) .table-flip-scrollable th { display: block; }
html:not(.ie9) .table-flip-scrollable tbody { white-space: nowrap; width: auto; overflow-x: auto !important; overflow-y: hidden !important; display: block; position: relative; -webkit-overflow-scrolling: touch; }
html:not(.ie9) .table-flip-scrollable tbody tr { margin-left: -5px; display: inline-block; border-left: 1px solid #ddd; }
html:not(.ie9) .table-flip-scrollable td { font-weight: normal !important; display: block; border-left: 0; border-right: 0; border-bottom: 0; }
html:not(.ie9) .table-flip-scrollable tbody tr:last-child td { border-right: 0; }