/* forms */
.ease-form,.ease-1st-form > *,.ease-2nd-form > * > * { transition-property: color, background-color, border-color; }
.ease-form .icon,.ease-1st-form > * .icon,.ease-2nd-form > * > * .icon { transition-property: color, transform, opacity; transition-duration: .15s; }
.ease-form .state,.ease-1st-form > * .state,.ease-2nd-form > * > * .state { transition-property: width, height, background-color, transform, opacity; transition-duration: .15s; }

.ease-form textarea,.ease-1st-form > * select,.ease-2nd-form > * > * select { transition-property: opacity; transition-duration: .15s; }
.ease-form textarea,.ease-1st-form > * textarea,.ease-2nd-form > * > * textarea { transition-property: height; transition-duration: .15s; }

.ease-range::-webkit-slider-thumb { transition-property: transform; transition-duration: .15s; }
.ease-range::-moz-range-thumb { transition-property: transform; transition-duration: .15s; }
.ease-range::-webkit-slider-runnable-track { transition-property: background-color; transition-duration: .15s; }
.ease-range::-moz-range-track { transition-property: background-color; transition-duration: .15s; }

.no-effects .ease-range::-webkit-slider-thumb { transition-property: none; }
.no-effects .ease-range::-moz-range-thumb { transition-property: none; }
.no-effects .ease-range::-webkit-slider-runnable-track { transition-property: none; }
.no-effects .ease-range::-moz-range-track { transition-property: none; }

@media (prefers-reduced-motion:reduce) {
    .no-effects .ease-range::-webkit-slider-thumb { transition-property: none; }
    .no-effects .ease-range::-moz-range-thumb { transition-property: none; }
    .no-effects .ease-range::-webkit-slider-runnable-track { transition-property: none; }
    .no-effects .ease-range::-moz-range-track { transition-property: none; }
}

.text,.textarea,.select,.select-multi { border: solid 1px rgba(0,0,0,.15); overflow: hidden; display: block; position: relative; }
.text,.select,.mobile .select-multi { line-height: normal; min-height: 32px; }

.text:not([class*="align-"]) input,.select:not([class*="align-"]) select,.select-multi:not([class*="align-"]) select,.textarea:not([class*="align-"]) textarea { text-align: left !important; }
.text input,.select select,.select-multi select,.textarea textarea { width: 100%; background-color: transparent; border: 0; }
.text input,.select select,.select-multi select,.range { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.text input,.select select,.textarea textarea { line-height: 18px; padding: 5px; border-radius: 0/* border radius fix for Chrome*/; }
.text input,.select select { height: 30px; overflow: hidden; }

.toggle-textarea:not(.form-focus) textarea { height: 28px; }

.text.no-border input,.select.no-border select { line-height: 22px; height: 32px; }
.no-border.textarea textarea { line-height: 18px; }

.text.border-dual input,.select.border-dual select { line-height: 18px; height: 28px; }
.border-dual.textarea textarea { line-height: 18px; }

.select:not(.form-focus) select { opacity: .45; }
.select select { padding-right: 22px; position: relative; z-index: 2; }
.ie .select select:focus::-ms-value { color: inherit; background-color: transparent; }
.ie .select select::-ms-expand { display: none; }
.select > .icon { font-size: 12px; line-height: 1.125; width: 12px; height: 12px; position: absolute; top: 50%; right: 5px; cursor: default; transform: translateY(-50%); opacity: .45; }

.mobile .select-multi { padding: 5px; }
.ie .select-multi { padding: 5px; }
.select-multi select { margin-bottom: -2px; }
.edge .select-multi select { margin-bottom: -5px; }
.select-multi option,.select-multi optgroup { padding: 3px 5px; }
.select-multi option:not(:last-child) { border-bottom: solid 1px rgba(0,0,0,.045); }

.check,.radio { vertical-align: middle; display: inline-block; }

.file { line-height: normal; height: 32px; border: solid 1px rgba(0,0,0,.15); overflow: hidden; display: block; position: relative; }
.file.border-dual { height: 36px; }

.file input { vertical-align: middle; width: 100%; overflow: hidden; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 3; opacity: 0; } /* don't change z-index! */

.file .btn { text-overflow: ellipsis; white-space: nowrap; min-width: 125px; overflow: hidden; float: left; }
.file.round .btn { border-radius: 3px 0 0 3px; }
html:not(.mobile) .file:hover .btn { background-color: rgba(0,0,0,.15); }

.file > span:not(.btn) { white-space: nowrap; text-overflow: ellipsis; line-height: 32px; width: 100%; padding-right: 10px; padding-left: 135px; overflow: hidden; display: block; position: absolute; }

label.custom { min-height: 22px; padding-top: 5px; padding-bottom: 3px; display: inline-block; }

.check-custom,.radio-custom,.switch-custom { vertical-align: middle; height: 22px; margin-bottom: 2px; border: solid 1px rgba(0,0,0,.15); overflow: hidden; display: inline-block; position: relative; }
.check-custom,.radio-custom { width: 22px; }
.radio-custom,.switch-custom.round { border-radius: 11px !important; }
.switch-custom { width: 44px; }

.check-custom i,.radio-custom i,.switch-custom i { content: ""; width: 14px; height: 14px; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.check-custom i,.radio-custom i { background-color: rgba(0,0,0,.65); opacity: 0; }
.radio-custom i,.switch-custom.round i { border-radius: 7px; }
.check-custom.round i { border-radius: 3px; }

.check-custom input,.radio-custom input,.switch-custom input { width: 140%; height: 140%; display: block; position: absolute; top: -20%; left: -20%; z-index: 1; opacity: 0; }
.check-custom input:checked + i,.check-custom input:indeterminate + i,.radio-custom input:checked + i { opacity: 1; }
.check-custom input:indeterminate + i { height: 4px; }
.switch-custom input:not(:checked) + i,.switch-custom input:not(:checked) + i[class*="ui-"] { background-color: rgba(0,0,0,.15); }
.switch-custom input:checked + i { transform: translate(25%,-50%); }
.switch-custom input:checked + i:not([class*="ui-"]) { background-color: #2dbd3a; }
.switch-custom input:not(:indeterminate):not(:checked):not(:indeterminate) + i { transform: translate(-125%,-50%); }
.switch-custom input:indeterminate + i { background-color: #ffa600; }

html:not(.mobile) .switch-custom:hover i { width: 18px; }
html:not(.mobile) .switch-custom:hover input:checked + i { transform: translate(0,-50%); }
html:not(.mobile) .switch-custom:hover input:not(:checked) + i { transform: translate(-100%,-50%); }
html:not(.mobile) .switch-custom:hover input:indeterminate + i { transform: translate(-50%,-50%); }

.range { width: 100%; height: 1.4rem; padding: 0; background-color: transparent; }

.range::-webkit-slider-thumb { width: 1rem; height: 1rem; margin-top: -.25rem; background-color: #2dbd3a; border: 0; border-radius: 50%; -webkit-appearance: none; appearance: none; }
.range.ui-text::-webkit-slider-thumb { background-color: currentColor; }
.range:not(:disabled):hover::-webkit-slider-thumb { transform: scale(1.2); }
.range:not(:disabled)::-webkit-slider-thumb:active { transform: scale(1.4); }
.range::-webkit-slider-runnable-track { width: 100%; height: .5rem; background-color: rgba(0,0,0,.08); border-color: transparent; border-radius: 20px; cursor: pointer; }
.range:hover::-webkit-slider-runnable-track { background-color: rgba(0,0,0,.15); }

.range::-moz-range-thumb { width: 1rem; height: 1rem; background-color: #2dbd3a; border: 0; border-radius: 50%; -moz-appearance: none; appearance: none }
.range.ui-text::-moz-range-thumb { background-color: currentColor; }
.range:not(:disabled):hover::-moz-range-thumb { transform: scale(1.2); }
.range:not(:disabled)::-moz-range-thumb:active { transform: scale(1.4); }
.range::-moz-range-track { width: 100%; height: .5rem; background-color: rgba(0,0,0,.08); border-color: transparent; border-radius: 20px; cursor: pointer; }
.range:hover::-moz-range-track { background-color: rgba(0,0,0,.15); }

.range::-ms-thumb { width: 1rem; height: 1rem; background-color: #2dbd3a; margin-top: 0; margin-right: .2rem; margin-left: .2rem; border: 0; border-radius: 50%; appearance: none; }
.range.ui-text::-ms-thumb { background-color: currentColor; }
.range:not(:disabled):hover::-ms-thumb { transform: scale(1.2); }
.range:not(:disabled)::-ms-thumb:active { transform: scale(1.4); }
.range::-ms-track { color: transparent; width: 100%; height: .5rem; background-color: transparent; border-color: transparent; cursor: pointer; }

.range::-ms-fill-lower { background-color: rgba(0,0,0,.08); border-radius: 20px; }
.range:hover::-ms-fill-lower { background-color: rgba(0,0,0,.15); }
.range::-ms-fill-upper { background-color: rgba(0,0,0,.08); border-radius: 20px; }
.range:hover::-ms-fill-upper { background-color: rgba(0,0,0,.15); }

.range:disabled::-webkit-slider-thumb { background-color: #8e9094; }
.range:disabled::-moz-range-thumb { background-color: #8e9094; }
.range:disabled::-ms-thumb { background-color: #8e9094; }

.range:disabled::-webkit-slider-runnable-track { cursor: default; }
.range:disabled::-moz-range-track { cursor: default; }

.error .check-custom,.error .radio-custom,.error .switch-custom { background-color: rgba(220,0,15,.1) !important; border-color: #dc000f !important; }
.warning .check-custom,.warning .radio-custom,.warning .switch-custom { background-color: rgba(255,166,0,.1) !important; border-color: #ffa600 !important; }

.form-light { border-color: rgba(255,255,255,.175) !important; }
.form-light > input,.form-light > select:not(:focus),.form-light > textarea,.form-light > .icon { color: #fff; }
.form-light > input:-webkit-autofill:not(:focus) { -webkit-text-fill-color: white !important; }

.error:not(.form-holder):not(.required-accept):not(.hint),.error label.check,.error label.radio { background-color: rgba(220,0,15,.1) !important; border-color: #dc000f !important; }
.warning:not(.form-holder):not(.required-accept):not(.hint),.warning label.check,.warning label.radio { background-color: rgba(255,166,0,.1) !important; border-color: #ffa600 !important; }

.hint,.required-msg { font-size: 13px; margin-top: 5px; margin-bottom: 0 !important; }
.hint,.required-msg.show { display: block; }
.hint.error,.required-msg { color: #f73d49; }
.hint.warning { color: #fdbc43; }
.required-msg:not(.show) { display: none; }

.form-inline,.form-xs-inline { vertical-align: middle; display: inline-block !important; }

.form-disabled { background-color: rgba(0,0,0,.075); opacity: .65; }
.form-readonly input,.form-readonly textarea { color: rgba(0,0,0,.5); }
.form-light.form-disabled { background-color: rgba(255,255,255,.075); }
.form-light.form-readonly input,.form-light.form-readonly textarea { color: rgba(255,255,255,.5); }

.form-label,.form-grid { line-height: normal; opacity: .6; }
.form-grid { font-size: 13px; }
.form-label { margin-bottom: 5px; display: inline-block; }

.form-focus { border-color: rgba(0,0,0,.35); }
.form-focus.form-light { border-color: rgba(255,255,255,.65) !important; }

.form-focus:not(.form-readonly) { background-color: rgba(0,0,0,.015) !important; box-shadow: inset 0 0 2px rgba(0,0,0,.075); }
.form-focus > input,.form-focus > select,.form-focus > textarea,.form-focus > .icon:not([class*="ui-"]) { color: #000 !important; }
.form-focus.form-light > input,.form-focus.form-light > select,.form-focus.form-light > textarea,.form-focus.form-light > .icon:not([class*="ui-"]) { color: #fff !important; }
[class*="text-icon"].form-focus > .icon { opacity: 1; }
.form-focus.select > .icon { transform: translateY(-50%) rotate(-180deg); opacity: 1; }

::placeholder { color: rgba(0,0,0,.4); }
::-moz-placeholder { opacity: 1; }
::-ms-input-placeholder { color: rgba(0,0,0,.4); }

.form-focus > ::placeholder { color: rgba(0,0,0,.23); }
.form-focus > ::-ms-input-placeholder { color: rgba(0,0,0,.23); }

.form-light > ::placeholder { color: rgba(255,255,255,.4); }
.form-light > ::-ms-input-placeholder { color: rgba(255,255,255,.4); }

.form-light.form-focus > ::placeholder { color: rgba(255,255,255,.23); }
.form-light.form-focus > ::-ms-input-placeholder { color: rgba(255,255,255,.23); }

[class*="text-icon"] > .icon { font-size: 14px; line-height: 1.125; width: 14px; height: 14px; position: absolute; top: 50%; right: 5px; opacity: .45; cursor: default; transform: translateY(-50%); }
.text-icon-l > .icon,.text-icon-both > .text-icon-l { right: inherit; left: 5px; }

[class*="text-icon"] > button.icon { background-color: rgba(255,255,255,.0); border: 0; cursor: pointer; }
[class*="text-icon"] > button.icon:hover { opacity: .75; }

[class*="text-icon"]:not(.text-icon-l) > input,.text-icon-both > input { padding-right: 24px !important; }
.text-icon-l > input,.text-icon-both > input { padding-left: 24px !important; }

.clear-form:not(.open) { display: none; }
.clear-form:not(.open-ease) { opacity: 0; }
.text .clear-form { font-size: 10px !important; width: 10px !important; height: 10px !important; }

.form-holder .text,.form-holder .select { min-width: inherit !important; }
.form-holder-focus [class*="col-"] > * { border-color: rgba(0,0,0,.35); }
.form-holder-focus [class*="col-"] > .form-light,.form-holder-focus [class*="col-"] > .border-light { border-color: rgba(255,255,255,.65) !important; }

.form-holder [class*="col-"]:not(:last-child) > *,.form-holder .row:not(:last-child) > [class*="col-"]:last-child > * { border-right: 0; }
.form-holder [class*="col-"]:not(:first-child) > *,.form-holder .row:last-child > [class*="col-"]:first-child > * { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.form-holder [class*="col-"]:not(:last-child) > *,.form-holder .row:first-child > [class*="col-"]:last-child > * { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.form-holder .row:not(:first-child):not(:last-child) > [class*="col-"] > * { border-radius: 0; }
.form-holder.error .text,.form-holder.error .select,.form-holder.error [class*="border"] { border-color: #dc000f !important; }
.form-holder.error .text,.form-holder.error .select { background-color: rgba(220,0,15,.1); }

.form-holder.warning .text,.form-holder.warning .select,.form-holder.warning [class*="border"] { border-color: #ffa600 !important; }
.form-holder.warning .text,.form-holder.warning .select { background-color: rgba(255,166,0,.1); }

.form-lg .text,.form-lg .select { min-height: 42px; }
.form-lg .text input,.form-lg .select select { font-size: 16px; line-height: 28px; height: 42px; padding-right: 10px; padding-left: 10px; }
.form-lg .text.no-border.text input,.form-lg .select.no-border.select select { line-height: 28px; height: 42px; }
.form-lg .text.border-dual.text input,.form-lg .select.border-dual.select select { line-height: 28px; height: 38px; }

.form-lg .select select { padding-right: 38px; }
.form-lg .select > .icon { font-size: 18px; width: 18px; height: 18px; right: 10px; }

.form-lg [class*="text-icon"] > .icon { font-size: 18px; width: 18px; height: 18px; right: 10px; }
.form-lg .text-icon-l > .icon,.form-lg .text-icon-both > .text-icon-l { left: 10px; }

.form-lg [class*="text-icon"]:not(.text-icon-l) > input,.form-lg .text-icon-both > input { padding-right: 38px !important; }
.form-lg .text-icon-l > input,.form-lg .text-icon-both > input { padding-left: 38px !important; }
.form-lg .clear-form { font-size: 14px !important; width: 14px !important; height: 14px !important; }

.form-lg .file { height: 42px; }
.form-lg .file.border-dual { height: 46px; }
.form-lg .file > span:not(.btn) { font-size: 16px; line-height: 42px; }

@media (min-width: 960px) {
    .form-grid { line-height: 32px; display: inline-block; }
    .form-lg .form-grid { font-size: 14px; line-height: 42px; }
}
@media (max-width: 959px) {
    .form-grid { display: block; }
    .row [class*="col-"]:not(.sm-fluid) .form-grid { margin-bottom: -15px; }

    .row-no-gap [class*="col-"]:not(.sm-fluid) .form-grid { margin-top: 10px; margin-bottom: 5px; }
    .row-xs-gap [class*="col-"]:not(.sm-fluid) .form-grid,.row-xs-gap-v [class*="col-"]:not(.sm-fluid) .form-grid { margin-bottom: 3px; }
    .row-sm-gap [class*="col-"]:not(.sm-fluid) .form-grid,.row-sm-gap-v [class*="col-"]:not(.sm-fluid) .form-grid { margin-bottom: 0; }
    .row-md-gap [class*="col-"]:not(.sm-fluid) .form-grid,.row-md-gap-v [class*="col-"]:not(.sm-fluid) .form-grid { margin-bottom: -5px; }
}
@media (min-width: 768px) and (max-width: 959px) {
    .sm-fluid .form-grid.form-grid { line-height: 32px; display: inline-block; }
}
@media (max-width: 767px) {
    .sm-fluid .form-grid { display: block; }
    .row [class*="col-"].sm-fluid .form-grid { margin-bottom: -15px; }

    .row-no-gap [class*="col-"].sm-fluid .form-grid { margin-top: 10px; margin-bottom: 5px; }
    .row-xs-gap [class*="col-"].sm-fluid .form-grid,.row-xs-gap-v [class*="col-"].sm-fluid .form-grid { margin-bottom: 3px; }
    .row-sm-gap [class*="col-"].sm-fluid .form-grid,.row-sm-gap-v [class*="col-"].sm-fluid .form-grid { margin-bottom: 0; }
    .row-md-gap [class*="col-"].sm-fluid .form-grid,.row-md-gap-v [class*="col-"].sm-fluid .form-grid { margin-bottom: -5px; }
}
@media (max-width: 480px) {
    .form-xs-inline { width: 100% !important; display: block !important; }
    .form-xs-inline:not(:last-child):not(.highlight) { margin-bottom: 5px; }

    label.custom + label.custom { display: block; }
}