/* forms */
.ease-form,.ease-1st-form > *,.ease-2nd-form > * > * { transition-property: color, background-color, border-color; }

.text,.textarea,.select,.select-multi { vertical-align: middle; border: solid 1px rgba(0,0,0,.15); overflow: hidden; display: block; position: relative; }
.text,.select,.mobile .select-multi { line-height: normal; min-height: 32px; }
.text.text-lg,.select.select-lg { min-height: 42px; }

.table .text,.table .select,.table .mobile .select-multi { min-width: 50px; }
.table textarea { min-width: 160px; }

.text input,.select select,.select-multi select,.textarea textarea { width: 100%; background-color: rgba(255,255,255,0); border: 0; }
.text:not([class*="align-"]) input:not([class*="align-"]),.select:not([class*="align-"]) select:not([class*="align-"]),.select-multi:not([class*="align-"]) select:not([class*="align-"]),.textarea:not([class*="align-"]) textarea:not([class*="align-"]) { text-align: left !important; }
.text input,.select select,.select-multi select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.text input,.select select,.textarea textarea { line-height: 20px; padding: 5px; border-radius: 0/* border radius fix for Chrome*/; }
.text input,.select select { height: 30px; overflow: hidden; }
.text.text-lg input,.select.select-lg select { font-size: 16px; line-height: 30px; height: 40px; padding-right: 10px; padding-left: 10px; }

.dual-bordered .text input,.dual-bordered .select select,.text.dual-bordered input,.select.dual-bordered select { line-height: 18px; height: 28px; }
.dual-bordered .text.text-lg input,.dual-bordered .select.select-lg select,.text.dual-bordered.text-lg input,.select.dual-bordered.select-lg select { line-height: 28px; height: 38px; }
.dual-bordered.textarea textarea { line-height: 18px; }

.select > .icon,.mobile .select-multi > .icon { position: absolute; top: 50%; right: 5px; opacity: .45; cursor: default; transform: translateY(-50%); }
.ie9 .select > .icon { display: none; }

.select select { position: relative; z-index: 2; }
html:not(.ie9) .select select { padding-right: 29px; }
.ie .select select:focus::-ms-value { color: inherit; background-color: rgba(255,255,255,0); }
.ie .select select::-ms-expand { display: none; }
.opera .select.circle { padding-right: 10px; }

.select-multi { padding: 5px; box-shadow: inset 0 1px 1px rgba(0,0,0,.04); }
.select-multi.circle { border-radius: 16px; }
.select-multi option:nth-child(even) { background-color: rgba(0,0,0,.05); }
.ie9 .select-multi option:nth-child(even) { background-color: #eee;/* ie9 not supported rgba with option*/ }
html:not(.mobile) .select-multi > .icon { display: none; }

.textarea.circle { border-radius: 16px; }
.toggle-textarea:not(.form-focus) textarea { height: 28px; }

.check,.radio { vertical-align: middle; display: inline-block; }

.form-light { border-color: rgba(255,255,255,.3) !important; }
.form-light > input,.form-light > select:not(:focus),.form-light > textarea,.mobile .select-multi.form-light:before,.form-light > .icon { color: #fff; }
.form-light > input:-webkit-autofill:not(:focus) { -webkit-text-fill-color: white !important; }

.error:not(.form-holder) { background-color: rgba(220,0,15,.1) !important; border-color: #dc000f !important; }
.warning:not(.form-holder) { background-color: rgba(255,166,0,.1) !important; border-color: #ffa600 !important; }

.clear-form:not(.open) { display: none; }
.clear-form:not(.open-ease) { opacity: 0; }

.hint,.required-msg { font-size: 12px; margin-top: 5px; margin-bottom: 0 !important; }
.hint,.required-msg.show { display: block; }
.hint.error,.required-msg { color: #dc000f; }
.required-msg { background-color: #ffeded; padding: 10px; }
.required-msg:not(.show) { display: none; }

.form-inline,.form-inline-responsive { display: inline-block !important; }
.form-disabled *,.form-readonly * { color: #555; cursor: not-allowed; }
.form-disabled { background-color: rgba(0,0,0,.05); }

.form-inner-shadow { box-shadow: inset 0 1px 1px rgba(0,0,0,.15); }
.form-table { margin-top: -5px !important; margin-bottom: -5px !important; }
.form-label,.form-grid { font-size: 13px; line-height: normal; opacity: .6; }
.form-label { margin-bottom: 5px; display: inline-block; }

/* do not group */
::-webkit-input-placeholder { color: rgba(0,0,0,.4); }
::-moz-placeholder { color: rgba(0,0,0,.4); opacity: 1; }

.form-light > ::-webkit-input-placeholder { color: #fff; }
.form-light > ::-moz-placeholder { color: #fff; opacity: 1; }

.form-light.form-focus > ::-webkit-input-placeholder { color: rgba(0,0,0,.4); }
.form-light.form-focus > ::-moz-placeholder { color: rgba(0,0,0,.4); opacity: 1; }
/* do not group */

.form-focus { border-color: rgba(0,0,0,.35); }
.form-focus:not(.form-readonly) { background-color: #fff !important; }
.form-focus > input,.form-focus > select,.form-focus > textarea,.form-focus > .icon { color: #000 !important; }
.form-focus.text-icon > .icon,.form-focus.select > .icon,.mobile .form-focus.select-multi > .icon { opacity: 1; }

.sprite.focus,.form-focus > .sprite.active { display: none; }
.form-focus > .sprite.focus { display: inline-block; }
.form-focus.form-light { border-color: rgba(255,255,255,1); }

/* do not group */
.form-focus > ::-webkit-input-placeholder { color: rgba(0,0,0,.23); }
.form-focus > ::-moz-placeholder { color: rgba(0,0,0,.23); opacity: 1; }
/* do not group */

@media (min-width: 960px) {
    .form-grid { line-height: 32px; display: inline-block; }
    .form-grid.form-lg { line-height: 42px; }
}
@media (max-width: 959px) {
    .form-grid { display: block; }
    .row [class*="col-"] > .form-grid { margin-bottom: -15px; }

    .row-no-padding [class*="col-"] > .form-grid { margin-top: 10px; margin-bottom: 5px; }
    .row-xs-padding [class*="col-"] > .form-grid,.row-xs-padding-ver [class*="col-"] > .form-grid { margin-bottom: 3px; }
    .row-sm-padding [class*="col-"] > .form-grid,.row-sm-padding-ver [class*="col-"] > .form-grid { margin-bottom: 0; }
    .row-md-padding [class*="col-"] > .form-grid,.row-md-padding-ver [class*="col-"] > .form-grid { margin-bottom: -5px; }
}
@media (min-width: 481px) {
    .form-summary:not(.no-responsive) { line-height: 32px; }
    .form-summary-sm:not(.no-responsive) { line-height: 26px; }
    .form-summary-xs:not(.no-responsive) { line-height: 22px; }
}
@media (max-width: 480px) {
    .form-inline-responsive { width: 100% !important; display: block !important; }
    .form-inline-responsive:not(:last-child) { margin-bottom: 5px; }

    .form-summary.no-responsive { line-height: 32px; }
    .form-summary-sm.no-responsive { line-height: 26px; }
    .form-summary-xs.no-responsive { line-height: 22px; }
    [class*="form-summary"]:not(.no-responsive) { padding-top: 5px; padding-bottom: 5px; }
}
