/* form icons */
.text-icon > .icon { position: absolute; top: 50%; right: 5px; opacity: .45; cursor: default; transform: translateY(-50%); }

.text-icon-left > .icon,.text-icon-both > .text-icon-left { right: inherit; left: 5px; }
.text-icon-both > .text-icon-right { right: 5px; }

.text-icon > button.icon { background-color: rgba(255,255,255,.0); border: 0; cursor: pointer; }
.text-icon > button.icon:hover { opacity: .75; }

.text-icon > input,.text-icon-right > input,.text-icon-both > input { padding-right: 24px !important; }
.text-icon-left > input,.text-icon-both > input { padding-left: 24px !important; }
.text-icon-md > input,.text-icon-md.text-icon-right > input,.text-icon-md.text-icon-both > input { padding-right: 28px !important; }
.text-icon-md.text-icon-left > input,.text-icon-md.text-icon-both > input { padding-left: 28px !important; }
.text-icon-lg > input,.text-icon-lg.text-icon-right > input,.text-icon-lg.text-icon-both > input { padding-right: 34px !important; }
.text-icon-lg.text-icon-left > input,.text-icon-lg.text-icon-both > input { padding-left: 34px !important; }

.text-icon-left > input { padding-right: 5px; }

.text.submit-enter .submit-icon { cursor: pointer; }
.text.submit-enter .submit-icon:hover { opacity: .75; }
