// out: false
/* forms */ @import (reference) 'ui.less';

@form-line-height:                     18px;
@form-icon-opacity:                    .45;
@form-label-opacity:                   .6;
@form-spacing:                         5px;

@form-focus-bg:                        fade(@black, 1.5%);
@form-focus-bg-dark:                   fade(@white, 7.5%);
@form-focus-border:                    fade(@black, 35%);
@form-focus-border-dark:               fade(@white, 65%);
@form-focus-shadow:                    inset 0 0 2px fade(@black, 7.5%);

@text-icon-size:                       18px;

@select-icon-size:                     16px;
@select-opacity:                       .45;

@clear-form-icon-size:                 16px;

@select-multi-options-border:          fade(@black, 4.5%);
@select-multi-options-border-dark:     fade(@white, 4.5%);

@file-btn-width:                       125px;
@file-btn-padding-lg:                  14px;
@file-btn-padding:                     10px;
@file-input-hover-opacity:             .35;

@range-radius:                         20px;
@range-thumb-color:                    hsl(220, 3%, 57%);
@range-thumb-color-dark:               hsl(219, 7%, 40%);
@range-track-bg:                       fade(@black, 8%);
@range-track-hover-bg:                 fade(@black, 15%);
@range-track-bg-dark:                  fade(@white, 8%);
@range-track-hover-bg-dark:            fade(@white, 15%);

@form-error-bg:                        fade(@red, 10%);
@form-warning-bg:                      fade(@yellow, 10%);

@placeholder-color:                    fade(@black, 40%);
@placeholder-focus-color:              fade(@black, 23%);
@placeholder-color-dark:               fade(@white, 40%);
@placeholder-focus-color-dark:         fade(@white, 23%);

@form-custom-state-size:               14px;
@indeterminate-state-size:             4px;
@switch-custom-size:                   44px;

@check-custom-bg:                      fade(@black, 65%);
@check-custom-bg-dark:                 fade(@white, 65%);
@switch-custom-bg:                     fade(@black, 15%);
@switch-custom-bg-dark:                fade(@white, 15%);

@form-disabled-opacity:                .65;
@form-disabled-bg:                     fade(@black, 7.5%);
@form-disabled-bg-dark:                fade(@white, 7.5%);
@form-readonly-color:                  fade(@black, 50%);
@form-readonly-color-dark:             fade(@white, 65%);

._global-vars () {
    --ui-form-focus-bg: @form-focus-bg;
    --ui-form-focus-border: @form-focus-border;

    --ui-select-multi-options-border: @select-multi-options-border;

    --ui-range-thumb-color: @range-thumb-color;
    --ui-range-track-bg: @range-track-bg;
    --ui-range-track-hover-bg: @range-track-hover-bg;

    --ui-placeholder-color: @placeholder-color;
    --ui-placeholder-focus-color: @placeholder-focus-color;

    --ui-check-custom-bg: @check-custom-bg;
    --ui-switch-custom-bg: @switch-custom-bg;

    --ui-form-disabled-bg: @form-disabled-bg;
    --ui-form-readonly-color: @form-readonly-color;
}
._global-vars-dark () {
    --ui-select-multi-options-border: @select-multi-options-border-dark;

    --ui-range-thumb-color: @range-thumb-color-dark;
    --ui-range-track-bg: @range-track-bg-dark;
    --ui-range-track-hover-bg: @range-track-hover-bg-dark;

    --ui-form-focus-bg: @form-focus-bg-dark;
    --ui-form-focus-border: @form-focus-border-dark;

    --ui-placeholder-color: @placeholder-color-dark;
    --ui-placeholder-focus-color: @placeholder-focus-color-dark;

    --ui-check-custom-bg: @check-custom-bg-dark;
    --ui-switch-custom-bg: @switch-custom-bg-dark;

    --ui-form-disabled-bg: @form-disabled-bg-dark;
    --ui-form-readonly-color: @form-readonly-color-dark;
}

.ui-ease- {
    &form,&1st-form > *,&2nd-form > * > * {
        transition-property: color, background-color, border-color;

        .ui-icon { transition-property: color, transform, opacity; transition-duration: (@ease-default * 2); }
        .state { transition-property: width, height, background-color, transform, opacity; transition-duration: @ease-default; }
        select { transition-property: opacity; transition-duration: @ease-default; }
        textarea { transition-property: height; transition-duration: @ease-default; }
        &.file {
            input { transition-property: opacity; transition-duration: @ease-default; }
        }
    }
}

html:not(.ui-no-effects) {
    .ease-range {
        &::-webkit-slider-thumb { transition-property: transform; transition-duration: @ease-default; }
        &::-moz-range-thumb { transition-property: transform; transition-duration: @ease-default; }
        &::-webkit-slider-runnable-track { transition-property: background-color; transition-duration: @ease-default; }
        &::-moz-range-track { transition-property: background-color; transition-duration: @ease-default; }
    }
}

.text,.select,.select-multi,.textarea { ._border-var(); overflow: hidden; display: block; position: relative; }
.text,.select,.ui-mobile .select-multi { line-height: normal; min-height: @btn-default; }

.text input,.select select,.select-multi select,.textarea textarea { ._color-var(black); font-family: @font-family; font-size: @font-size; width: 100%; background-color: @no-color; border: 0; }
.text input,.select select,.select-multi select,.range { @no-appearance(); }
.text input,.select select,.textarea textarea { line-height: @form-line-height; padding: @form-padding; border-radius: 0; } // border radius fix for Chrome
.text input,.select select { height: (@btn-default - 2); overflow: hidden; }

.text {
    &:not([class*="ui-align-"]) {
        input { text-align: left !important; }
    }
}

.ui-chrome {
    .text input:-webkit-autofill {
        -webkit-background-clip: text; // removes autofill bg

        &::first-line { font-family: @font-family; font-size: @font-size; }
    }
}

& when (@dark-mode = true) {
    & when (@dark-mode-auto-switcher = true) {
        @media (prefers-color-scheme: light) {
            &.ui-chrome {
                .text input:-webkit-autofill { -webkit-text-fill-color: @black !important; }
            }
        }
        @media (prefers-color-scheme: dark) {
            &.ui-chrome {
                .text input:-webkit-autofill { -webkit-text-fill-color: @white !important; }
            }
        }
    }
    & when (@dark-mode-auto-switcher = false) {
        [data-ui-mode="light"] {
            &.ui-chrome {
                .text input:-webkit-autofill { -webkit-text-fill-color: @black !important; }
            }
        }
        [data-ui-mode="dark"] {
            &.ui-chrome {
                .text input:-webkit-autofill { -webkit-text-fill-color: @white !important; }
            }
        }
    }
}

.ui-no-border {
    &.text input,&.select select { line-height: (@btn-default - @form-padding * 2); height: @btn-default; }
}
.ui-border-dual {
    &.text input,&.select select { line-height: (@btn-default - @form-padding * 2 - @border-dual * 2); height: (@btn-default - @border-dual * 2); }
}

.select,.select-multi {
    &:not([class*="ui-align-"]) {
        select { &:extend(.text:not([class*="ui-align-"]) input); }
    }
}

.select {
    &:not(.form-focus) {
        select { opacity: @select-opacity; }
    }

    select { padding-right: (@select-icon-size + @form-padding * 2); position: relative; z-index: 2; }
    option,optgroup { ._bg-var(highlighted); }
    .ui-icon { ._icon(@select-icon-size); position: absolute; top: 50%; right: @form-padding; cursor: default; transform: translateY(-50%); opacity: @form-icon-opacity; }

    .ui-ie & select:focus::-ms-value { color: inherit; background-color: @no-color; }
    .ui-ie & select::-ms-expand { display: none; }
}

.select-multi {
    .ui-mobile &,.ui-ie & { padding: @form-padding; }
    select { margin-bottom: -(@form-spacing - 3); }
    .ui-edge & select { margin-bottom: -@form-padding; }
    option,optgroup { padding: (@form-spacing - 2) @form-padding; }

    &:not(.form-light) {
        option:not(:last-child) { ._border-var(@dir: border-bottom; @var: select-multi-options-border); }
    }
    &.form-light {
        option:not(:last-child) { border-bottom: solid 1px @select-multi-options-border-dark; }
    }
}

.textarea {
    textarea {
        line-height: @line-height-readable; vertical-align: top; width: 100%; overflow: auto; resize: none;

        &:not([rows]) { height: 3em; }
    }

    &:not([class*="ui-align-"]) {
        textarea { &:extend(.text:not([class*="ui-align-"]) input); }
    }
}

.ui-toggle-textarea {
    &:not(.form-focus) {
        textarea { line-height: (@btn-default - @form-padding * 2); height: (@btn-default - 2); }
        &.ui-border-dual {
            textarea { line-height: (@btn-default - 2 * @border-dual - @form-padding * 2); height: (@btn-default - 2 * @border-dual); }
        }
        &.ui-no-border {
            textarea { height: @btn-default; }
        }
    }
}

.check,.radio { vertical-align: middle; display: inline-block; }

.file {
    height: @btn-default; ._border-var(); overflow: hidden; display: block; position: relative;

    input { vertical-align: middle; width: 100%; overflow: hidden; position: absolute; top: -30px; right: 0; bottom: 0; left: 0; z-index: 3; opacity: 0; } // don't change z-index!
    & > i { white-space: nowrap; font-style: normal; text-overflow: ellipsis; line-height: (@btn-default - 2); width: 100%; padding-right: (@form-padding * 2); padding-left: (@file-btn-width + @form-padding * 2); overflow: hidden; display: block; position: absolute; }

    .ui-btn {
        text-overflow: ellipsis; white-space: nowrap; min-width: @file-btn-width; line-height: (@btn-default - (@file-btn-padding * 2 + 2)); overflow: hidden; float: left;

        .ui-icon { ._icon((@btn-default-icon - 2)); }
    }
    &.ui-round {
        .ui-btn:not(.ui-btn-square) { border-radius: (@round / 2) 0 0 (@round / 2); }
    }
    .ui-desktop &:hover {
        input[class] { opacity: @file-input-hover-opacity; }
        .ui-btn:not([class*="ui-fill-"]):not(.ui-btn-passive) { ._bg-var(btn-hover-bg); }
    }

    &.ui-no-border {
        .ui-btn { line-height: (@btn-default - @file-btn-padding * 2); }
        & > i { line-height: @btn-default; }
    }
    &.ui-border-dual {
        .ui-btn { line-height: (@btn-default - (@file-btn-padding * 2 + @border-dual * 2)); }
        & > i { line-height: (@btn-default - 4); }
    }
}

label.custom { min-height: (@btn-default - @form-padding * 2); padding-top: @form-spacing; padding-bottom: (@form-spacing - 2); display: inline-block; }

.check-custom,.radio-custom,.switch-custom {
    vertical-align: middle; height: (@btn-default - @form-padding * 2); margin-bottom: (@form-spacing - 3); ._border-var(); overflow: hidden; display: inline-block; position: relative;

    .state { content: ""; width: @form-custom-state-size; height: @form-custom-state-size; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
    input { width: 140%; height: 140%; display: block; position: absolute; top: -20%; left: -20%; z-index: 1; opacity: 0; }

}
.check-custom,.radio-custom {
    width: (@btn-default - @form-padding * 2);

    .state { ._bg-var(check-custom-bg); opacity: 0; }

}
.radio-custom,.switch-custom.ui-round {
    border-radius: @form-custom-state-size !important;

    .state { border-radius: (@form-custom-state-size / 2); }
}

.radio-custom {
    input:checked + .state { opacity: 1; }
}

.check-custom {
    &.ui-round .state { border-radius: (@round / 2); }
    input {
        &:checked + i,&:indeterminate + .state { opacity: 1; }
        &:indeterminate + .state { height: @indeterminate-state-size; }
    }
}

.switch-custom {
    width: @switch-custom-size;

    input {
        &:checked + .state {
            transform: translate(25%,-50%);

            &:not([class*="ui-fill-"]) { background-color: @green; }
        }
        &:not(:checked) + .state {
            &,&[class*="ui-fill-"] { ._bg-var(switch-custom-bg); }
        }
        &:not(:indeterminate):not(:checked):not(:indeterminate) + .state { transform: translate(-125%,-50%); }
        &:indeterminate + .state { background-color: @yellow; }
    }

    .ui-desktop &:hover {
        .state { width: (@form-custom-state-size + 4); }
        input {
            &:checked + .state { transform: translate(0,-50%); }
            &:not(:checked) + .state { transform: translate(-100%,-50%); }
            &:indeterminate + .state { transform: translate(-50%,-50%); }
        }
    }
}

.range {
    width: 100%; height: 1.4rem; padding: 0; background-color: @no-color;

    &::-webkit-slider-thumb { width: 1rem; height: 1rem; margin-top: -.25rem; background-color: @green; border: 0; border-radius: 50%; @no-appearance(); }
    &.ui-current::-webkit-slider-thumb { background-color: currentColor; }
    &::-webkit-slider-runnable-track { width: 100%; height: .5rem; ._bg-var(range-track-bg); border-color: @no-color; border-radius: @range-radius; cursor: pointer; }
    &:hover::-webkit-slider-runnable-track { ._bg-var(range-track-hover-bg); }
    &:not(:disabled) {
        &:hover::-webkit-slider-thumb { transform: scale(1.2); }
        &::-webkit-slider-thumb:active { transform: scale(1.4); }
    }

    &::-moz-range-thumb { width: 1rem; height: 1rem; background-color: @green; border: 0; border-radius: 50%; @no-appearance(); }
    &.ui-current::-moz-range-thumb { background-color: currentColor; }
    &::-moz-range-track { width: 100%; height: .5rem; ._bg-var(range-track-bg); border-color: @no-color; border-radius: @range-radius; cursor: pointer; }
    &:hover::-moz-range-track { ._bg-var(range-track-hover-bg); }
    &:not(:disabled) {
        &:hover::-moz-range-thumb { transform: scale(1.2); }
        &::-moz-range-thumb:active { transform: scale(1.4); }
    }

    &::-ms-thumb { width: 1rem; height: 1rem; background-color: @green; margin-top: 0; margin-right: .2rem; margin-left: .2rem; border: 0; border-radius: 50%; @no-appearance(); }
    &.ui-current::-ms-thumb { background-color: currentColor; }
    &::-ms-track { color: @no-color; width: 100%; height: .5rem; background-color: @no-color; border-color: @no-color; cursor: pointer; }
    &:not(:disabled) {
        &:hover::-ms-thumb { transform: scale(1.2); }
        &::-ms-thumb:active { transform: scale(1.4); }
    }

    &::-ms-fill-lower { ._bg-var(range-track-bg); border-radius: @range-radius; }
    &:hover::-ms-fill-lower { ._bg-var(range-track-hover-bg); }

    &::-ms-fill-upper { ._bg-var(range-track-bg); border-radius: @range-radius; }
    &:hover::-ms-fill-upper { ._bg-var(range-track-hover-bg); }

    &:disabled {
        &::-webkit-slider-thumb { ._bg-var(range-thumb-color); }
        &::-moz-range-thumb { ._bg-var(range-thumb-color); }
        &::-ms-thumb { ._bg-var(range-thumb-color); }
        &::-webkit-slider-runnable-track { cursor: default; }
        &::-moz-range-track { cursor: default; }
    }
}

.error {
    .check-custom,.radio-custom,.switch-custom { background-color: @form-error-bg !important; border-color: @red !important; }
    &:not(.form-holder):not(.required-accept):not(.hint),label.check,label.radio { background-color: @form-error-bg !important; border-color: @red !important; }

}
.warning {
    .check-custom,.radio-custom,.switch-custom { background-color: @form-warning-bg !important; border-color: @yellow !important; }
    &:not(.form-holder):not(.required-accept):not(.hint),label.check,label.radio { background-color: @form-warning-bg !important; border-color: @yellow !important; }
}

.form-light {
    border-color: @border-color-dark !important;

    & > input,& > select:not(:focus),& > textarea,.ui-icon { color: @white; }
    & > input:-webkit-autofill:not(:focus) { -webkit-text-fill-color: @white !important; }
}

.hint {
    font-size: @font-13; margin-top: @form-spacing; display: block;

    &.error { color: @red; }
    &.warning { color: @yellow; }
  }

  .required-msg {
    color: @red; margin-top: @form-spacing;

    &.show { display: block; }
    &:not(.show) { display: none; }
  }

.form-inline {
    &,&-xs { vertical-align: middle; display: inline-block !important; }
}

.form-disabled {
    ._bg-var(form-disabled-bg); opacity: @form-disabled-opacity;

    &.form-light { background-color: @form-disabled-bg-dark; }
}
.form-readonly {
    input,textarea { ._color-var(form-readonly-color); }
    &.form-light {
        input,textarea { color: @form-readonly-color-dark; }
    }
}

.form-label,.form-grid { line-height: normal; opacity: @form-label-opacity; }
.form-grid { font-size: @font-13; }
.form-label { margin-bottom: @form-spacing; display: inline-block; }

.form-focus {
    ._border-color-var(form-focus-border);

    &.form-light { border-color: @form-focus-border-dark !important; }
    &:not(.form-readonly) { ._bg-var(form-focus-bg); box-shadow: @form-focus-shadow; }

    & > input,& > select,&.form-light > select option,& > textarea,.ui-icon:not([class*="ui-current"]) { ._color-var(black); }
    &.form-light {
        & > input,& > select,& > textarea,.ui-icon:not([class*="ui-current"]) { color: @white !important; }
    }

    &[class*="text-icon"],&.select {
        .ui-icon { opacity: 1; }
    }
    &.select {
        .ui-icon { transform: translateY(-50%) rotate(-180deg); }
    }
}

::placeholder {
    ._color-var(placeholder-color);

    .form-focus > & { ._color-var(placeholder-focus-color); }
    .form-light > & { color: @placeholder-color-dark; }
    .form-light.form-focus > & { color: @placeholder-focus-color-dark; }

}
::-ms-input-placeholder {
    ._color-var(placeholder-color);

    .form-focus > & { ._color-var(placeholder-focus-color); }
    .form-light > & { color: @placeholder-color-dark; }
    .form-light.form-focus > & { color: @placeholder-focus-color-dark; }
}
::-moz-placeholder { opacity: 1; }

[class*="text-icon"] {
    .ui-icon,& > button { ._color-var(black); cursor: default; }
    & > .ui-icon,& > button { position: absolute; top: 50%; right: @form-padding; transform: translateY(-50%); }
    & .ui-icon { ._icon(@text-icon-size); }
    .ui-icon { opacity: @form-icon-opacity; }
    &:not(.text-icon-l) {
        & > input { padding-right: (@text-icon-size + @form-padding * 2) !important; }
    }

    & > button {
        background-color: @no-color; border: 0;

        &,.ui-icon { cursor: pointer; } // fix: set cursor setting svg icons, too
        &:hover {
            .ui-icon { opacity: 1; }
        }
    }
}

.text-icon-l {
    & > .ui-icon { right: inherit; left: @form-padding; }
    & > input { padding-left: (@text-icon-size + @form-padding * 2) !important; }
}

.text-icon-both {
    & > .text-icon-l { &:extend(.text-icon-l > .ui-icon); }
    & > input {
        padding-right: (@text-icon-size + @form-padding * 2) !important;

        &:extend(.text-icon-l > input);
    }
}

.clear-form {
    background-color: @no-color; border: 0; cursor: pointer;

    &:not(.open) { display: none; }
    &:not(.open-ease) { opacity: 0; }

    .text & {
        .ui-icon { ._icon(@clear-form-icon-size); }
    }
}

.form-holder {
    .text,.select { min-width: inherit !important; }

    &-focus {
        [class*="ui-col-"] {
            & > * { ._border-color-var(form-focus-border); }
            & > .form-light,& > .ui-border-light { border-color: @form-focus-border-dark !important; }
        }
    }

    [class*="ui-col-"] {
        &:not(:first-child) {
            & > * { border-top-left-radius: 0; border-bottom-left-radius: 0; }
        }
        &:not(:last-child) {
            & > * { border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; }
        }
    }
    .ui-row {
        &:not(:last-child) {
            & > [class*="ui-col-"]:last-child {
                & > * { border-right: 0; }
            }
        }
        &:not(:first-child):not(:last-child) {
            & > [class*="ui-col-"] {
                & > * { border-radius: 0; }
            }        }
        &:last-child {
            & > [class*="ui-col-"]:first-child {
                & > * { border-top-left-radius: 0; border-bottom-left-radius: 0; }
            }
        }
        &:first-child {
            & > [class*="ui-col-"]:last-child {
                & > * { border-top-right-radius: 0; border-bottom-right-radius: 0; }
            }
        }
    }

    &.error {
        .text,.select,.ui-border,[class*="ui-border-"] { border-color: @red !important; }
        .text,.select { background-color: @form-error-bg; }
    }
}

.form-lg {
    .text,.select { min-height: @btn-lg; }

    .text {
        input {
            font-size: @font-16; line-height: (@btn-lg - 2 * @form-padding); height: @btn-lg; padding-right: (@form-padding * 2); padding-left: (@form-padding * 2);
        }
        &.ui-no-border {
            input { line-height: (@btn-lg - 2 * @form-padding - 2); height: @btn-lg; }
        }
        &.ui-border-dual {
            input { line-height: (@btn-lg - 2 * @form-padding - @border-dual * 2); height: (@btn-lg - @border-dual * 2); }
        }
    }

    .ui-chrome & {
        .text input:-webkit-autofill::first-line { font-size: @font-16; }
    }

    .select {
        select {
            padding-right: (@icon-default-size + @form-padding * 4);

            &:extend(.form-lg .text input);
        }
        &.ui-no-border {
            select { &:extend(.form-lg .text.ui-no-border input); }
        }
        &.ui-border-dual {
            select { &:extend(.form-lg .text.ui-border-dual input); }
        }
        .ui-icon { ._icon(@icon-default-size); right: (@form-padding * 2); }
    }

    [class*="text-icon"] {
        & > .ui-icon { &:extend(.form-lg .select .ui-icon); }
        .ui-icon { ._icon(@icon-default-size); }
        & > button { right: (@form-padding * 2); }
        &:not(.text-icon-l) > input { padding-right: (@icon-default-size + @form-padding * 4) !important; }
    }

    .text-icon-l {
        & > .ui-icon { left: (@form-padding * 2); }
        & > input { padding-left: (@icon-default-size + @form-padding * 4) !important; }
    }

    .text-icon-both {
        & > .text-icon-l { &:extend(.form-lg .text-icon-l > .ui-icon); }
        & > input {
            &:extend(.form-lg [class*="text-icon"]:not(.text-icon-l) > input);
            &:extend(.form-lg .text-icon-l > input);
        }
    }

    .clear-form {
        .ui-icon { ._icon(@icon-default-size); }
    }

    .file {
        height: @btn-lg;

        & > i { font-size: @font-16; line-height: (@btn-lg - 2); }

        .ui-btn {
            line-height: (@btn-lg - (@file-btn-padding-lg * 2 + 2));

            .ui-icon { ._icon((@btn-lg-icon - 2)); }
        }

        &.ui-no-border {
            .ui-tn { line-height: (@btn-lg - @file-btn-padding-lg * 2); }
            & > i { line-height: @btn-lg; }
        }
        &.ui-border-dual {
            .ui-btn { line-height: (@btn-lg - (@file-btn-padding-lg * 2 + @border-dual * 2)); }
            & > i { line-height: (@btn-lg - 4); }
        }
    }
}

@media (@default-start) {
    .form-grid {
        line-height: @btn-default; display: inline-block;

        .form-lg & { font-size: @font-size; line-height: @btn-lg; }
    }
}
@media (@md-finish) {
    .form-grid {
        display: block;

        .ui-row [class*="ui-col-"]:not(.ui-sm-fluid) & { margin-bottom: -(@form-spacing * 3); }
    }

    .ui-row-gap- {
        &md {
            &,&-v {
                [class*="ui-col-"]:not(.ui-sm-fluid) {
                    .form-grid { margin-bottom: -@form-spacing; }
                }
            }
        }
        &sm {
            &,&-v {
                [class*="ui-col-"]:not(.ui-sm-fluid) {
                    .form-grid { margin-bottom: 0; }
                }
            }
        }
        &xs {
            &,&-v {
                [class*="ui-col-"]:not(.ui-sm-fluid) {
                    .form-grid { margin-bottom: (@form-spacing - 2); }
                }
            }
        }
    }
    .ui-no-row-gap {
        [class*="ui-col-"]:not(.ui-sm-fluid) {
            .form-grid { margin-top: (@form-spacing * 2); margin-bottom: @form-spacing; }
        }
    }

}
@media (@md-start) and (@md-finish) {
    .ui-sm-fluid {
        .form-grid { line-height: @btn-default; display: inline-block; }
    }
}
@media (@sm-finish) {
    .ui-sm-fluid {
        .form-grid {
            display: block;

            .ui-row [class*="ui-col-"] & { margin-bottom: -(@form-spacing * 3); }
        }
    }

    .ui-row-gap- {
        &md {
            &,&-v {
                [class*="ui-col-"].ui-sm-fluid {
                    .form-grid { margin-bottom: -@form-spacing; }
                }
            }
        }
        &sm {
            &,&-v {
                [class*="ui-col-"].ui-sm-fluid {
                    .form-grid { margin-bottom: 0; }
                }
            }
        }
        &xs {
            &,&-v {
                [class*="ui-col-"].ui-sm-fluid {
                    .form-grid { margin-bottom: (@form-spacing - 2); }
                }
            }
        }
    }
    .ui-no-row-gap {
        [class*="ui-col-"].ui-sm-fluid {
            .form-grid { margin-top: (@form-spacing * 2); margin-bottom: @form-spacing; }
        }
    }
}
@media (@xs-finish) {
    .form-inline-xs {
        width: 100% !important; display: block !important;

        &:not(:last-child):not(.ui-highlight) { margin-bottom: @form-spacing; }
    }

    label.custom {
        & + & { display: block; }
    }
}