/* form holder */
.form-holder .text,.form-holder .select { min-width: inherit !important; }
.form-holder-focus [class*="col-"] > * { border-color: rgba(0,0,0,.35); }

.form-holder [class*="col-"]:not(:last-child) > *,.form-holder .row:not(:last-child) > [class*="col-"]:last-child > * { border-right: 0; }

.form-holder [class*="col-"]:not(:first-child) > *,.form-holder .row:last-child > [class*="col-"]:first-child > * { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.form-holder [class*="col-"]:not(:last-child) > *,.form-holder .row:first-child > [class*="col-"]:last-child > * { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.form-holder .row:not(:first-child):not(:last-child) > [class*="col-"] > * { border-radius: 0; }

.form-holder.error .text,.form-holder.error .select,.form-holder.error [class*="border"] { border-color: #dc000f !important; }
.form-holder.error .text,.form-holder.error .select { background-color: rgba(220,0,15,.1); }

.form-holder.warning .text,.form-holder.warning .select,.form-holder.warning [class*="border"] { border-color: #ffa600 !important; }
.form-holder.warning .text,.form-holder.warning .select { background-color: rgba(255,166,0,.1); }