// out: false
/* grid list */ @import (reference) 'ui.less';

@grid-list-content-padding:             10px;

@grid-list-stripe-bg:                   fade(@black, 3.5%);
@grid-list-stripe-bg-dark:              fade(@white, 3.5%);

@grid-list-hover-bg:                    fade(@black, 6%);
@grid-list-hover-bg-dark:               fade(@white, 6%);

@grid-list-border:                      @table-border-color;
@grid-list-border-dark:                 @highlighted-dark;

@grid-list-checked:                     fade(@yellow, 15%);

._global-vars () {
    --ui-grid-list-stripe-bg: @grid-list-stripe-bg;
    --ui-grid-list-hover-bg: @grid-list-hover-bg;

    --ui-grid-list-border: @grid-list-border;
}
._global-vars-dark () {
    --ui-grid-list-stripe-bg: @grid-list-stripe-bg-dark;
    --ui-grid-list-hover-bg: @grid-list-hover-bg-dark;

    --ui-grid-list-border: @grid-list-border-dark;
}

.ui-ease-grid-list {
    .ui-grid-list-content { transition-property: background-color; transition-duration: @ease-default; }
}

.ui-grid-list {
    &-content {
        &:not([class*="col-"]) { padding: @grid-list-content-padding; ._border-var(@dir: border-bottom; @var: grid-list-border); }
        &:before,&:after { content: ""; display: table; }
        &:after { clear: both; }
        &.ui-even { ._bg-var(grid-list-stripe-bg); }
        &.ui-checked { background-color: @grid-list-checked !important; }
    }
    &,.ui-grid-list-content {
        & > .row { margin-left: inherit; margin-right: inherit; }
    }

    &:not(.ui-grid-list-showed-all) {
        .ui-grid-list-content {
            &:not(.ui-showed) { display: none; }
        }
    }
    &.ui-grid-list-showed-all {
        &.ui-grid-list-filtered {
            .ui-grid-list-content {
                &:not(.ui-filtered) { display: none; }
            }
        }
    }

    &.ui-grid-hover {
        .ui-grid-list-content {
            &.ui-even {
                &:not([class*="ui-fill-"]) { ._bg-var(grid-list-stripe-bg); }
            }

            .ui-desktop & {
                &:not([class*="ui-fill-"]) {
                    &:hover,&:nth-child(odd):hover { ._bg-var(grid-list-hover-bg); }
                }
            }
        }
    }

    .ui-grid-list-paging {
        button {
            &:not(.ui-btn) { color: inherit; background-color: @no-color; border: 0; }
        }
    }
}