// out: false
/* grid */ @import '_settings.less';

@grid-columns:                          range(12);
@container-gutter:                      @highlight-space / 2;

@row-gap-breakpoints:                   lg md sm xs;
@row-gap-lg:                            15px;
@row-gap:                               @highlight-space / 2;
@row-gap-md:                            5px;
@row-gap-sm:                            2px;
@row-gap-xs:                            1px;

@static-grids:                          true;
@static-grid-columns:                   range(50px, 500px, 50); // start, end, step

@custom-grids:                          true;
@custom-grid-columns:                   5x 7x; // 5x 7x 8x 9x 10x 11x recommended
@custom-static-grid-columns:            @btn-default, @btn-lg;

.container,.fixed {
    width: 100%; display: block;
    padding-right: @container-gutter; padding-left: @container-gutter;

    &:before,&:after { content: ""; display: table; }
    &:after { clear: both; }
}
.fixed { margin-right: auto; margin-left: auto; display: block; }
.no-gutter { padding-right: 0 !important; padding-left: 0 !important; }

html {
    .row { display: flex; } // safari flex bug
}
.row {
    margin-right: -@row-gap; margin-left: -@row-gap; flex-wrap: wrap; clear: both;

    &:before,&:after { content: normal !important; } // safari flex bug

    & > [class*="col-"] when (@static-grids = false) { padding: @row-gap; }
    & > [class*="col-"]:not(.col-static) when (@static-grids = true) { padding: @row-gap; }

    &-gap {
        each(@row-gap-breakpoints, {
            @size: ~'row-gap-@{value}';

            &-@{value} {
                &,&-h { margin-right: -@@size; margin-left: -@@size; }

                & when (@static-grids = false) {
                    & > [class*="col-"] { padding: @@size; }
                    &-v > [class*="col-"] { padding-top: @@size; padding-bottom: @@size; }
                    &-h > [class*="col-"] { padding-right: @@size; padding-left: @@size; }
                }
                & when (@static-grids = true) {
                    & > [class*="col-"]:not(.col-static) { padding: @@size; }
                    &-v > [class*="col-"]:not(.col-static) { padding-top: @@size; padding-bottom: @@size; }
                    &-h > [class*="col-"]:not(.col-static) { padding-right: @@size; padding-left: @@size; }
                }
            }
        });
    }
}
.no-row-gap {
    &,&-h { margin-right: inherit; margin-left: inherit; }

    & when (@static-grids = false) {
        & > [class*="col-"] { padding: 0; }
        &-v > [class*="col-"] { padding-top: 0; padding-bottom: 0; }
        &-h > [class*="col-"] { padding-right: 0; padding-left: 0; }
    }
    & when (@static-grids = true) {
        & > [class*="col-"]:not(.col-static) { padding: 0; }
        &-v > [class*="col-"]:not(.col-static) { padding-top: 0; padding-bottom: 0; }
        &-h > [class*="col-"]:not(.col-static) { padding-right: 0; padding-left: 0; }
    }
}

[class*="col-"] { min-height: 1px; display: block; }
[class*="push-"],[class*="pull-"] { position: relative; }

._create-cols(@name; @i) {
    @size:  percentage(@i / max(@grid-columns));

    .col@{name}@{i} { width: @size; }
    .offset@{name}@{i} { margin-left: @size; }
  	.push@{name}@{i} { left: @size; }
  	.pull@{name}@{i} { right: @size; }
};

each(@grid-columns, {
    ._create-cols(~'-'; @value);
});

._create-custom-cols(@name; @size) when (@custom-grids = true) {
    .col@{name}@{size} { width: percentage((100 / @size) / 100); }
};

each(@custom-grid-columns, {
    ._create-custom-cols(~'-'; @value);
});

.col-static when (@static-grids = true) {
    width: 100%; display: table; table-layout: fixed;

    & > .row,& > [class*="col-"] { vertical-align: top; display: table-cell; }
    & > .row {
        width: 100%; margin-left: inherit; margin-right: inherit; table-layout: fixed;

        & > [class*="col-"]:not(.col-static):not(.col-12) { float: left; }
    }

}

._create-static-cols(@name; @value) when (@static-grids = true) {
    @number: unit(@value);
    .col@{name}@{number} { width: @value; }
};

each(@static-grid-columns, {
    ._create-static-cols(~'-'; @value);
});

._create-custom-static-cols(@name; @size) when (@custom-grids = true) {
    @number: unit(@size);
    .col@{name}@{number} { width: @size; }
};

each(@custom-static-grid-columns, {
    ._create-custom-static-cols(~'-'; @value);
});

@media (@lg-start) {
    .fixed { max-width: @lg-breakpoint; }
    .no-gutter-lg { padding-right: 0 !important; padding-left: 0 !important; }
    .offset-lg-0 { margin-left: 0; }

    each(@grid-columns, {
        ._create-cols(~'-lg-'; @value);
    });

    each(@custom-grid-columns, {
        ._create-custom-cols(~'-lg-'; @value);
    });

    each(@static-grid-columns, {
        ._create-static-cols(~'-lg-'; @value);
    });

    each(@custom-static-grid-columns, {
        ._create-custom-static-cols(~'-lg-'; @value);
    });

}
@media (@md-start) and (@md-finish) {
    .no-gutter-md { padding-right: 0 !important; padding-left: 0 !important; }
    .offset-md-0 { margin-left: 0; }

    each(@grid-columns, {
        ._create-cols(~'-md-'; @value);
    });

    each(@custom-grid-columns, {
        ._create-custom-cols(~'-md-'; @value);
    });

    each(@static-grid-columns, {
        ._create-static-cols(~'-md-'; @value);
    });

    each(@custom-static-grid-columns, {
        ._create-custom-static-cols(~'-md-'; @value);
    });

    .row {
        &:not(.no-fluid):not(.sm-fluid):not(.xs-fluid) {
            & > [class*="col-"]:not([class*="col-md-"]):not([class*="col-sm-"]):not([class*="col-xs-"]) {
                &:not(.no-fluid):not(.sm-fluid):not(.xs-fluid) { width: 100%; clear: both; }
            }
            & > [class*="offset-"]:not([class*="offset-md-"]):not([class*="offset-sm-"]):not([class*="offset-xs-"]) {
                &:not(.no-fluid):not(.sm-fluid):not(.xs-fluid) { margin-left: 0; }
            }
            & > [class*="push-"]:not([class*="push-md-"]):not([class*="push-sm-"]):not([class*="push-xs-"]) {
                &:not(.no-fluid):not(.sm-fluid):not(.xs-fluid) { left: 0; }
            }
            & > [class*="pull-"]:not([class*="pull-md-"]):not([class*="pull-sm-"]):not([class*="pull-xs-"]) {
                &:not(.no-fluid):not(.sm-fluid):not(.xs-fluid) { right: 0; }
            }
        }
    }
    .col-static when (@static-grids = true) {
        &:not(.no-fluid):not(.sm-fluid):not(.xs-fluid) {
            & > .row,& > [class*="col-"] { width: 100%; display: block; }
        }
    }

}
@media (@sm-start) and (@sm-finish) {
    .no-gutter-md,.no-gutter-sm { padding-right: 0 !important; padding-left: 0 !important; }
    .offset-sm-0 { margin-left: 0; }

    each(@grid-columns, {
        ._create-cols(~'-sm-'; @value);
    });

    each(@custom-grid-columns, {
        ._create-custom-cols(~'-sm-'; @value);
    });

    each(@static-grid-columns, {
        ._create-static-cols(~'-sm-'; @value);
    });

    each(@custom-static-grid-columns, {
        ._create-custom-static-cols(~'-sm-'; @value);
    });

    .row.sm-fluid > [class*="col-"] { width: 100%; clear: both; }
    .row {
        &:not(.no-fluid):not(.xs-fluid) {
            & > [class*="col-"]:not([class*="col-sm-"]):not([class*="col-xs-"]) {
                &:not(.no-fluid):not(.xs-fluid) { &:extend(.row.sm-fluid > [class*="col-"]); }
            }
            & > [class*="offset-"]:not([class*="offset-sm-"]):not([class*="offset-xs-"]) {
                &:not(.no-fluid):not(.xs-fluid) { margin-left: 0; }
            }
            & > [class*="push-"]:not([class*="push-sm-"]):not([class*="push-xs-"]) {
                &:not(.no-fluid):not(.xs-fluid) { left: 0; }
            }
            & > [class*="pull-"]:not([class*="pull-sm-"]):not([class*="pull-xs-"]) {
                &:not(.no-fluid):not(.xs-fluid) { right: 0; }
            }
        }
    }
    .col-static when (@static-grids = true) {
        &:not(.no-fluid):not(.xs-fluid) {
            & > .row,& > [class*="col-"] { width: 100%; display: block; }
        }
    }
}
@media (@xs-finish) {
    .no-gutter-md,.no-gutter-sm,.no-gutter-xs { padding-right: 0 !important; padding-left: 0 !important; }
    .container { min-width: @layout-min; }
    .offset-xs-0 { margin-left: 0; }

    each(@grid-columns, {
        ._create-cols(~'-xs-'; @value);
    });

    each(@custom-grid-columns, {
        ._create-custom-cols(~'-xs-'; @value);
    });

    each(@static-grid-columns, {
        ._create-static-cols(~'-xs-'; @value);
    });

    each(@custom-static-grid-columns, {
        ._create-custom-static-cols(~'-xs-'; @value);
    });

    .row.xs-fluid > [class*="col-"] { width: 100%; clear: both; }
    .row {
        &:not(.no-fluid):not(.xs-fluid) {
            & > [class*="col-"]:not([class*="col-xs-"]) {
                &:not(.no-fluid):not(.xs-fluid) { &:extend(.row.xs-fluid > [class*="col-"]); }
            }
            & > [class*="offset-"]:not([class*="offset-xs-"]) {
                &:not(.no-fluid):not(.xs-fluid) { margin-left: 0; }
            }
            & > [class*="push-"]:not([class*="push-xs-"]) {
                &:not(.no-fluid):not(.xs-fluid) { left: 0; }
            }
            & > [class*="pull-"]:not([class*="pull-xs-"]) {
                &:not(.no-fluid):not(.xs-fluid) { right: 0; }
            }
        }
    }
    .col-static when (@static-grids = true) {
        &:not(.no-fluid) {
            & > .row,& > [class*="col-"] { width: 100%; display: block; }
        }
    }
}
@media (@default-finish) {
    .lg-fluid {
        &.row > [class*="col-"],[class*="col-"]& { width: 100%; clear: both; }
        &.col-static when (@static-grids = true) {
            & > .row,& > [class*="col-"] { width: 100%; display: block; }
        }

        [class*="offset-"]& { margin-left: 0; }
        [class*="push-"]& { left: 0; }
        [class*="pull-"]& { right: 0; }
    }
}
@media (@lg-finish) {
    .xl-fluid {
        &.row > [class*="col-"],[class*="col-"]& { width: 100%; clear: both; }
        &.col-static when (@static-grids = true) {
            & > .row,& > [class*="col-"] { width: 100%; display: block; }
        }

        [class*="offset-"]& { margin-left: 0; }
        [class*="push-"]& { left: 0; }
        [class*="pull-"]& { right: 0; }
    }
}
@media (@xl-start) {
    .no-gutter-xl { padding-right: 0 !important; padding-left: 0 !important; }
    .offset-xl-0 { margin-left: 0; }

    each(@grid-columns, {
        ._create-cols(~'-xl-'; @value);
    });

    each(@custom-grid-columns, {
        ._create-custom-cols(~'-xl-'; @value);
    });

    each(@static-grid-columns, {
        ._create-static-cols(~'-xl-'; @value);
    });

    each(@custom-static-grid-columns, {
        ._create-custom-static-cols(~'-xl-'; @value);
    });
}