// out: false
/* helpers */ @import '_settings.less';

@shadow-sm:                             0 1px 3px fade(@black, 5%);
@shadow:                                0 1px 3px fade(@black, 10%);
@shadow-lg:                             0 5px 15px fade(@black, 10%);
@shadow-hover:                          0 5px 15px fade(@black, 20%);

@opacity:                               .75;
@opacity-more:                          .45;
@opacity-half:                          .5;

@scale:                                 1.06;
@scale-more:                            1.2;

@hover:                                 1%;
@hover-more:                            5%;

.visible { display: block !important; }
.hidden { display: none !important; }

.rtl { direction: rtl; }
.full-w { width: 100% !important; }
.full-h { height: 100% !important; }
.auto-h { height: auto !important; }
.left { float: left; }
.right { float: right; }
.automargin { margin-right: auto; margin-left: auto; display: block; }
.no-user-select { @no-user-select(); }
.no-float { float: none !important; }

.set {
    &-fixed { position: fixed !important; }
    &-relative { position: relative !important; }
    &-absolute { position: absolute !important; }
}

.set-t { top: 0; }
.set-r { right: 0; }
.set-b { bottom: 0; }
.set-l { left: 0; }
.set-h { .set-r(); .set-l(); }
.set-v { .set-t(); .set-b(); }
.set-all { .set-v(); .set-h(); }
.set-cx { left: 50%; transform+_: translateX(-50%); }
.set-cy { top: 50%; transform+_: translateY(-50%); }
.set-c { .set-cx(); .set-cy(); }

.cursor-default { cursor: default !important; }
.cursor-pointer { cursor: pointer !important; }

.clearfix {
    clear: both !important; display: block;
    &:extend(.full-w);
}
.img-fluid {
    .auto-h();
    &:extend(.full-w);
}
.highlight {
    display: block;
    &:not(:last-child) { margin-bottom: @highlight-space !important; }
}

.block {
    width: 100%; .visible();

    &-1st > *,&-2nd > * > * {
        &:not(.row):not([class*="hidden-"]) { &:extend(.block); }
    }

}
.inline {
    display: inline !important;

    &-1st > *,&-2nd > * > * {
        &:not(.row):not([class*="hidden-"]) { &:extend(.inline); }
    }
}
.inline-block {
    vertical-align: middle; display: inline-block !important;

    &-1st > *,&-2nd > * > * {
        &:not(.row):not([class*="hidden-"]) { &:extend(.inline-block); }
    }

}

.scroll {
    overflow: auto !important;

    &-v { overflow-y: auto !important; }
    &-h { overflow-x: auto !important; }

}
.no-scroll { overflow: hidden !important; }

[class*="round-"],[class*="circle-"] { background-clip: padding-box; }

.round {
    border-radius: @round;
    &:extend([class*="round-"]);

    > .round { border-radius: @round - 1; }

    &-t { border-radius: @round @round 0 0; }
    &-r { border-radius: 0 @round @round 0; }
    &-b { border-radius: 0 0 @round @round; }
    &-l { border-radius: @round 0 0 @round; }

    &-tl { border-radius: @round 0 0 0; }
    &-tr { border-radius: 0 @round 0 0; }
    &-bl { border-radius: 0 0 0 @round; }
    &-br { border-radius: 0 0 @round 0; }

}

.circle {
    border-radius: @circle;
    &:extend([class*="circle-"]);

    &-t { border-radius: @circle @circle 0 0; }
    &-r { border-radius: 0 @circle @circle 0; }
    &-b { border-radius: 0 0 @circle @circle; }
    &-l { border-radius: @circle 0 0 @circle; }

}

.shadow {
    box-shadow: @shadow;

    &-sm { box-shadow: @shadow-sm; }
    &-lg { box-shadow: @shadow-lg; }

    &-in {
        box-shadow: inset @shadow;

        &-sm { box-shadow: inset @shadow-sm; }
        &-lg { box-shadow: inset @shadow-lg; }

    }

}

.no-opacity { opacity: 1 !important; }
.opacity {
    opacity: @opacity !important;

    &-more { opacity: @opacity-more !important; }
    &-half { opacity: @opacity-half !important; }
    &-full { opacity: 0 !important; }

}

html:not(.mobile) {
    .opacity {
        &:hover,&-more:hover { &:extend(.no-opacity); }
    }

    .hover-shadow {
        &,&-1st > *,&-2nd > * > * {
            &:hover { box-shadow: @shadow-hover; }
        }
    }
    .hover-scale {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: scale(@scale); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: scale(@scale-more); }
            }
        }
    }

    .hover-t {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: translateY(-@hover); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: translateY(-@hover-more); }
            }
        }
    }
    .hover-r {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: translateX(@hover); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: translateX(@hover-more); }
            }
        }
    }
    .hover-b {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: translateY(@hover); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: translateY(@hover-more); }
            }
        }
    }
    .hover-l {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: translateX(-@hover); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: translateX(-@hover-more); }
            }
        }
    }

    .visible-mobile { &:extend(.hidden); }
    .hidden-dekstop { &:extend(.hidden); }
}
.mobile {
    .visible-desktop { &:extend(.hidden); }
    .hidden-mobile { &:extend(.hidden); }
    .scroll,.scroll-v,.scroll-h { -webkit-overflow-scrolling: touch; }
}

.list-custom,.list-inline {
    list-style: none; padding: 0; margin-bottom: 0;

    ul,ol { &:extend(.list-custom); }
}

.list-unstyled {
    &:extend(.list-custom);
    &:not(:last-child) { margin-bottom: @highlight-space; }
}

.list-inline {
    ul,ol,li { vertical-align: middle; display: inline-block; }
}

[class*="sp-"] { width: 100%; .visible(); clear: both !important; }

each(@increases, {
    @name: unit(@value);
    .sp-@{name} { height: @value; }
});

.align- {
    &justify { text-align: justify !important; }
    &nowrap { white-space: nowrap !important; }
}

.align-r {
    &,* { text-align: right !important; }
}
.align-l {
    &,* { text-align: left !important; }
}
.align-c {
    &,* { text-align: center !important; }
}

@media print {
    .hidden-print { .hidden(); }
}

@media (@lg-start) {
    .hidden-lg { .hidden(); }
    .no-float-lg { .no-float(); }
}
@media (@default-start) {
    .visible-md { .hidden(); }
}
@media (@md-finish) {
    .md-full-w { .full-w(); }
    .hidden-md { .hidden(); }
}
@media (@md-start) {
    .visible-sm { .hidden(); }
}
@media (@md-start) and (@md-finish) {
    .img-md-fluid { .full-w(); .auto-h(); }
    .no-float-md { .no-float(); }
    .clearfix-md { .clearfix(); }

    .md-align- {
        &c {
            &,* { .align-c(); }
        }
        &l {
            &,* { .align-l(); }
        }
        &r {
            &,* { .align-r(); }
        }
    }
}
@media (@sm-finish) {
    .sm-full-w { .full-w(); }
    .hidden-sm { .hidden(); }
}
@media (@sm-start) {
    .visible-xs { .hidden(); }
}
@media (@sm-start) and (@sm-finish) {
    .img- {
        &md-fluid,&sm-fluid { .full-w(); .auto-h(); }
    }
    .no-float {
        &-md,&-sm { .no-float(); }
    }
    .clearfix {
        &-md,&-sm { .clearfix(); }
    }

    .md-align-,.sm-align- {
        &c {
            &,* { .align-c(); }
        }
        &l {
            &,* { .align-l(); }
        }
        &r {
            &,* { .align-r(); }
        }
    }

}
@media (@xs-finish) {
    .xs-full-w { .full-w(); }
    .hidden-xs { .hidden(); }

    .img- {
        &md-fluid,&sm-fluid,&xs-fluid { .full-w(); .auto-h(); }
    }
    .no-float {
        &-md,&-sm,&-xs { .no-float(); }
    }
    .clearfix {
        &-md,&-sm,&-xs { .clearfix(); }
    }

    .md-align-,.sm-align-,.xs-align- {
        &c {
            &,* { .align-c(); }
        }
        &l {
            &,* { .align-l(); }
        }
        &r {
            &,* { .align-r(); }
        }
    }
}
@media (@default-finish) {
    .visible-lg { .hidden(); }
    .clearfix-lg { .clearfix(); }

    .lg-align- {
        &c {
            &,* { .align-c(); }
        }
        &l {
            &,* { .align-l(); }
        }
        &r {
            &,* { .align-r(); }
        }
    }
}
@media (@lg-finish) {
    .visible-xl { .hidden(); }
}
@media (@xl-start) {
    .hidden-xl { .hidden(); }
    .no-float-xl { .no-float(); }

    .xl-align- {
        &c {
            &,* { .align-c(); }
        }
        &l {
            &,* { .align-l(); }
        }
        &r {
            &,* { .align-r(); }
        }
    }
}

& when (@dark-mode = true) {
    & when (@dark-mode-auto-switcher = true) {
        @media (prefers-color-scheme: light) {
            .hidden-light,.visible-dark { .hidden(); }
        }
        @media (prefers-color-scheme: dark) {
            .visible-light,.hidden-dark { .hidden(); }
        }
    }
    & when (@dark-mode-auto-switcher = false) {
        [data-theme="light"] {
            .hidden-light,.visible-dark { .hidden(); }
        }
        [data-theme="dark"] {
            .visible-light,.hidden-dark { .hidden(); }
        }
    }
}