// out: false
/* helpers */ @import (reference) 'ui.less';

@shadow-sm:                             0 1px 3px fade(@black, 5%);
@shadow:                                0 1px 3px fade(@black, 10%);
@shadow-lg:                             0 5px 15px fade(@black, 10%);
@shadow-hover:                          0 5px 15px fade(@black, 20%);

@opacity:                               .75;
@opacity-more:                          .45;
@opacity-half:                          .5;

@scale:                                 1.06;
@scale-more:                            1.2;

@hover:                                 1%;
@hover-more:                            5%;

.ui-visible { display: block !important; }
.ui-hidden { display: none !important; }

.ui-rtl { direction: rtl; }

.ui-full-w { width: 100% !important; }
.ui-full-h { height: 100% !important; }

.ui-auto-h { height: auto !important; }
.ui-auto-margin { margin-right: auto; margin-left: auto; display: block; }

.ui-left { float: left; }
.ui-right { float: right; }

.ui-no-user-select { @no-user-select(); }
.ui-no-float { float: none !important; }

.ui-set- {
    &fixed { position: fixed !important; }
    &relative { position: relative !important; }
    &absolute { position: absolute !important; }
}

.ui-set-t { top: 0; }
.ui-set-r { right: 0; }
.ui-set-b { bottom: 0; }
.ui-set-l { left: 0; }
.ui-set-h { .ui-set-r(); .ui-set-l(); }
.ui-set-v { .ui-set-t(); .ui-set-b(); }
.ui-set-all { .ui-set-v(); .ui-set-h(); }
.ui-set-cx { left: 50%; transform+_: translateX(-50%); }
.ui-set-cy { top: 50%; transform+_: translateY(-50%); }
.ui-set-c { .ui-set-cx(); .ui-set-cy(); }

.ui-cursor- {
    &default { cursor: default !important; }
    &pointer { cursor: pointer !important; }
}

.ui-clear {
    clear: both !important; display: block;
    &:extend(.ui-full-w);
}
.img-fluid {
    .ui-auto-h();
    &:extend(.ui-full-w);
}
.highlight {
    display: block;
    &:not(:last-child) { margin-bottom: @highlight-space !important; }
}

.block {
    width: 100%; .ui-visible();

    &-1st > *,&-2nd > * > * {
        &:not(.ui-row):not([class*="ui-hidden-"]) { &:extend(.block); }
    }

}
.inline {
    display: inline !important;

    &-1st > *,&-2nd > * > * {
        &:not(.ui-row):not([class*="ui-hidden-"]) { &:extend(.inline); }
    }
}
.inline-block {
    vertical-align: middle !important; display: inline-block !important;

    &-1st > *,&-2nd > * > * {
        &:not(.ui-row):not([class*="ui-hidden-"]) { &:extend(.inline-block); }
    }

}

.scroll {
    overflow: auto !important;

    &-v { overflow-y: auto !important; }
    &-h { overflow-x: auto !important; }

}
.no-scroll { overflow: hidden !important; }

[class*="round-"],[class*="circle-"] { background-clip: padding-box; }

.round {
    border-radius: @round;
    &:extend([class*="round-"]);

    & > .round,& > * > .round,
    & > [class*="round-"],& > * > [class*="round-"] { border-radius: (@round - 1) !important; }

    &-t { border-radius: @round @round 0 0; }
    &-r { border-radius: 0 @round @round 0; }
    &-b { border-radius: 0 0 @round @round; }
    &-l { border-radius: @round 0 0 @round; }

    &-tl { border-radius: @round 0 0 0; }
    &-tr { border-radius: 0 @round 0 0; }
    &-bl { border-radius: 0 0 0 @round; }
    &-br { border-radius: 0 0 @round 0; }

}

.circle {
    border-radius: @circle;
    &:extend([class*="circle-"]);

    &-t { border-radius: @circle @circle 0 0; }
    &-r { border-radius: 0 @circle @circle 0; }
    &-b { border-radius: 0 0 @circle @circle; }
    &-l { border-radius: @circle 0 0 @circle; }

}

.shadow {
    box-shadow: @shadow;

    &-sm { box-shadow: @shadow-sm; }
    &-lg { box-shadow: @shadow-lg; }

    &-in {
        box-shadow: inset @shadow;

        &-sm { box-shadow: inset @shadow-sm; }
        &-lg { box-shadow: inset @shadow-lg; }

    }

}

.no-opacity { opacity: 1 !important; }
.opacity {
    opacity: @opacity !important;

    &-more { opacity: @opacity-more !important; }
    &-half { opacity: @opacity-half !important; }
    &-full { opacity: 0 !important; }

}

.ui-desktop {
    .opacity {
        &:hover,&-more:hover { &:extend(.no-opacity); }
    }

    .hover-opacity {
        &,&-1st > *,&-2nd > * > * {
            &:hover { opacity: @opacity; }
        }
    }
    .hover-shadow {
        &,&-1st > *,&-2nd > * > * {
            &:hover { box-shadow: @shadow-hover; }
        }
    }
    .hover-scale {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: scale(@scale); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: scale(@scale-more); }
            }
        }
    }

    .hover-t {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: translateY(-@hover); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: translateY(-@hover-more); }
            }
        }
    }
    .hover-r {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: translateX(@hover); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: translateX(@hover-more); }
            }
        }
    }
    .hover-b {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: translateY(@hover); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: translateY(@hover-more); }
            }
        }
    }
    .hover-l {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: translateX(-@hover); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: translateX(-@hover-more); }
            }
        }
    }

    .ui-visible-mobile { &:extend(.ui-hidden); }
    .ui-hidden-dekstop { &:extend(.ui-hidden); }
}
.ui-mobile {
    .ui-visible-desktop { &:extend(.ui-hidden); }
    .ui-hidden-mobile { &:extend(.ui-hidden); }
    .scroll,.scroll-v,.scroll-h { -webkit-overflow-scrolling: touch; }
}

.list-custom,.list-inline {
    list-style: none;

    ul,ol { list-style: none; padding: 0; margin: 0; }
}

.list-unstyled {
    &:extend(.list-custom);
    &:not(:last-child) { margin-bottom: @highlight-space; }
}

.list-inline {
    ul,ol,li { vertical-align: middle; display: inline-block; }
}

[class*="sp-"] { width: 100%; .ui-visible(); clear: both !important; }

each(@increases, {
    @name: unit(@value);
    .sp-@{name} { height: @value; }
});

.align- {
    &justify { text-align: justify !important; }
    &nowrap { white-space: nowrap !important; }
}

.align-r {
    &,* { text-align: right !important; }
}
.align-l {
    &,* { text-align: left !important; }
}
.align-c {
    &,* { text-align: center !important; }
}

.bg-white {
    &:not([class*="ui-fill-"]) { background-color: @white !important; }
}
.bg-black {
    &:not([class*="ui-fill-"]) { background-color: @black !important; }
}

@media print {
    .ui-hidden-print { .ui-hidden(); }
}

@media (@lg-start) {
    .ui-hidden-lg { .ui-hidden(); }
    .ui-no-float-lg { .ui-no-float(); }
}
@media (@default-start) {
    .ui-visible-md { .ui-hidden(); }
}
@media (@md-finish) {
    .ui-hidden-md { .ui-hidden(); }
}
@media (@md-start) {
    .ui-visible-sm { .ui-hidden(); }
}
@media (@md-start) and (@md-finish) {
    .img-md-fluid { .ui-full-w(); .ui-auto-h(); }
    .ui-no-float-md { .ui-no-float(); }
    .ui-clear-md { .ui-clear(); }

    .md-align- {
        &c {
            &,* { .align-c(); }
        }
        &l {
            &,* { .align-l(); }
        }
        &r {
            &,* { .align-r(); }
        }
    }
}
@media (@sm-finish) {
    .ui-hidden-sm { .ui-hidden(); }
}
@media (@sm-start) {
    .ui-visible-xs { .ui-hidden(); }
}
@media (@sm-start) and (@sm-finish) {
    .img- {
        &md-fluid,&sm-fluid { .ui-full-w(); .ui-auto-h(); }
    }
    .ui-no-float {
        &-md,&-sm { .ui-no-float(); }
    }
    .ui-clear {
        &-md,&-sm { .ui-clear(); }
    }

    .md-align-,.sm-align- {
        &c {
            &,* { .align-c(); }
        }
        &l {
            &,* { .align-l(); }
        }
        &r {
            &,* { .align-r(); }
        }
    }

}
@media (@xs-finish) {
    .ui-hidden-xs { .ui-hidden(); }

    .img- {
        &md-fluid,&sm-fluid,&xs-fluid { .ui-full-w(); .ui-auto-h(); }
    }
    .ui-no-float {
        &-md,&-sm,&-xs { .ui-no-float(); }
    }
    .ui-clear {
        &-md,&-sm,&-xs { .ui-clear(); }
    }

    .md-align-,.sm-align-,.xs-align- {
        &c {
            &,* { .align-c(); }
        }
        &l {
            &,* { .align-l(); }
        }
        &r {
            &,* { .align-r(); }
        }
    }
}
@media (@default-finish) {
    .ui-visible-lg { .ui-hidden(); }
    .ui-clear-lg { .ui-clear(); }

    .lg-align- {
        &c {
            &,* { .align-c(); }
        }
        &l {
            &,* { .align-l(); }
        }
        &r {
            &,* { .align-r(); }
        }
    }
}
@media (@lg-finish) {
    .ui-visible-xl { .ui-hidden(); }
}
@media (@xl-start) {
    .ui-hidden-xl { .ui-hidden(); }
    .ui-no-float-xl { .ui-no-float(); }

    .xl-align- {
        &c {
            &,* { .align-c(); }
        }
        &l {
            &,* { .align-l(); }
        }
        &r {
            &,* { .align-r(); }
        }
    }
}

.ui-ie {
    .ui-hidden-ie,.ui-hidden-light,.ui-visible-dark { .ui-hidden(); }
}

& when (@dark-mode = true) {
    & when (@dark-mode-auto-switcher = true) {
        @media (prefers-color-scheme: light) {
            .ui-hidden-light,.ui-visible-dark { .ui-hidden(); }
        }
        @media (prefers-color-scheme: dark) {
            .ui-visible-light,.ui-hidden-dark { .ui-hidden(); }

            .invert {
                &-img { filter: invert(1) hue-rotate(180deg) !important; }
                &-bg { ._bg-var(card-bg) !important; }
            }
        }
    }
    & when (@dark-mode-auto-switcher = false) {
        [data-ui-mode="light"] {
            .ui-hidden-light,.ui-visible-dark { .ui-hidden(); }
        }
        [data-ui-mode="dark"] {
            .ui-visible-light,.ui-hidden-dark { .ui-hidden(); }

            .invert {
                &-img { filter: invert(1) hue-rotate(180deg) !important; }
                &-bg { ._bg-var(card-bg) !important; }
            }
        }
    }
}