/* helpers */
.automargin { margin-right: auto; margin-left: auto; display: block; }
.left { float: left; }
.right { float: right; }
.clearfix { clear: both !important; display: block; }
.block { display: block !important; }
.inline-block { display: inline-block !important; }
.rtl { direction: rtl; }
.set-relative { position: relative; }
.set-absolute { position: absolute; }
.set-fixed { position: fixed; }
.full-width { width: 100%; }
.full-height { height: 100%; }
.no-user-select { -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
.highlight:not(:last-child) { margin-bottom: 20px; }
.clear-button { color: inherit; font-weight: inherit; text-align: inherit; background-color: rgba(0,0,0,0); border: 0; }
.img-responsive { width: 100% !important; height: auto !important; }

.show,.visible { display: block !important; }
.hidden { display: none !important; }

html:not(.android) .visible-android { display: none !important; }
html:not(.ios) .visible-ios { display: none !important; }
html:not(.mobile) .visible-mobile { display: none !important; }
.mobile .visible-desktop { display: none !important; }
html:not(.ie9) .visible-ie9 { display: none !important; }

.android .hidden-android { display: none !important; }
.ios .hidden-ios { display: none !important; }
.mobile .hidden-mobile { display: none !important; }
html:not(.mobile) .hidden-dekstop { display: none !important; }
.ie9 .hidden-ie9 { display: none !important; }

html:not(.landscape) .visible-landscape { display: none !important; }
html:not(.portrait) .visible-portrait { display: none !important; }

.landscape .hidden-landscape { display: none !important; }
.portrait .hidden-portrait { display: none !important; }

@media print {
    .hidden-print { display: none !important; }
}

@media (min-width: 1200px) {
    .hidden-lg { display: none !important; }
    .lg-no-float { float: none !important; }
}
@media (min-width: 960px) {
    .visible-xs,.visible-sm,.visible-md { display: none !important; }
}
@media (max-width: 959px) and (min-width: 768px) {
    /* do not group */
    .visible-sm { display: none !important; }
    .visible-xs { display: none !important; }
    .hidden-md { display: none !important; }
    /* do not group */

    .md-img-responsive { width: 100% !important; height: auto !important; }

    .md-no-float { float: none !important; }
    .md-clearfix { clear: both !important; display: block; }
}
@media (max-width: 767px) and (min-width: 481px) {
    /* do not group */
    .hidden-md { display: none !important; }
    .visible-xs { display: none !important; }
    .hidden-sm { display: none !important; }
    /* do not group */

    .md-img-responsive,.sm-img-responsive { width: 100% !important; height: auto !important; }
    .md-no-float,.sm-no-float { float: none !important; }

    .md-clearfix,.sm-clearfix { display: block; }
    /* do not group */
    .md-clearfix { clear: both !important; }
    .sm-clearfix { clear: both !important; }
    /* do not group */
}
@media (max-width: 480px) {
    /* do not group */
    .hidden-md,.hidden-sm { display: none !important; }
    .hidden-xs { display: none !important; }
    /* do not group */

    .md-img-responsive,.sm-img-responsive,.xs-img-responsive { width: 100% !important; height: auto !important; }
    .md-no-float,.sm-no-float,.xs-no-float { float: none !important; }

    .md-clearfix,.sm-clearfix,.xs-clearfix { display: block; }
    /* do not group */
    .md-clearfix { clear: both !important; }
    .sm-clearfix { clear: both !important; }
    .xs-clearfix { clear: both !important; }
    /* do not group */
}
@media (max-width: 1199px) {
    .visible-lg { display: none !important; }
    .lg-clearfix { clear: both !important; display: block; }
}
@media (max-width: 1679px) {
    .visible-xl { display: none !important; }
}
@media (min-width: 1680px) {
    .hidden-xl { display: none !important; }
    .xl-no-float { float: none !important; }
}

.scroll,.v-scroll,.h-scroll { -webkit-overflow-scrolling: touch; }
.scroll { overflow: auto !important; }
.v-scroll { overflow-x: hidden !important; overflow-y: auto !important; }
.h-scroll { overflow-x: auto !important; overflow-y: hidden !important; }
.no-scroll { overflow: hidden !important; }

.rounded { border-radius: 4px; }
.rounded-top { border-radius: 4px 4px 0 0; }
.rounded-right { border-radius: 0 4px 4px 0; }
.rounded-bottom { border-radius: 0 0 4px 4px; }
.rounded-left { border-radius: 4px 0 0 4px; }

.circle { border-radius: 1000px; }
.circle-top { border-radius: 1000px 1000px 0 0; }
.circle-right { border-radius: 0 1000px 1000px 0; }
.circle-bottom { border-radius: 0 0 1000px 1000px; }
.circle-left { border-radius: 1000px 0 0 1000px; }

.shadow-sm { box-shadow: 0 1px 3px rgba(0,0,0,.05); }
.shadow { box-shadow: 0 1px 3px rgba(0,0,0,.15); }
.shadow-lg { box-shadow: 0 5px 15px rgba(0,0,0,.3); }

.inner-shadow-sm { box-shadow: inset 0 1px 3px rgba(0,0,0,.05); }
.inner-shadow { box-shadow: inset 0 1px 3px rgba(0,0,0,.15); }
.inner-shadow-lg { box-shadow: inset 0 5px 15px rgba(0,0,0,.3); }

.cursor-default { cursor: default !important; }
.cursor-pointer { cursor: pointer !important; }

.no-opacity { opacity: 1 !important; }
.full-opacity { opacity: 0 !important; }

.opacity-more { opacity: .45 !important; }
.opacity { opacity: .75 !important; }

html:not(.mobile) .opacity:hover,html:not(.mobile) .opacity-more:hover { opacity: 1 !important; }

html:not(.mobile) .scale:hover { transform: scale(1.06); }
html:not(.mobile) .scale-more:hover { transform: scale(1.2); }

.list-unstyled,.list-custom,.list-custom ul,.list-custom ol,.list-inline,.list-inline ul,.list-inline ol { list-style: none; padding: 0; }
.list-unstyled:not(:last-child) { margin-bottom: 20px; }
.list-custom,.list-inline { margin-bottom: 0; }
.list-inline ul,.list-inline ol,.list-inline li { display: inline-block; }

.sp1,.sp2,.sp3,.sp4,.sp5,.sp10,.sp15,.sp20,.sp25,.sp30 { width: 100%; display: block; clear: both !important; }
.sp1 { height: 1px; } .sp2 { height: 2px; } .sp3 { height: 3px; } .sp4 { height: 4px; } .sp5 { height: 5px; } .sp10 { height: 10px; } .sp15 { height: 15px; } .sp20 { height: 20px; } .sp25 { height: 25px; } .sp30 { height: 30px; }
