// out: false
/* helpers */ @import '_settings.less';

.visible { display: block !important; }
.hidden { display: none !important; }

.rtl { direction: rtl; }
.full-w { width: 100% !important; }
.full-h { height: 100% !important; }
.left { float: left; }
.right { float: right; }
.automargin { margin-right: auto; margin-left: auto; display: block; }
.no-user-select { ._no-user-select(); }
.lg-float { float: none !important; }

.set-fixed { position: fixed; }
.set-relative { position: relative !important; }
.set-absolute { position: absolute !important; }
.set-t { top: 0; }
.set-r { right: 0; }
.set-b { bottom: 0; }
.set-l { left: 0; }
.set-h { .set-r(); .set-l(); }
.set-v { .set-t(); .set-b(); }
.set-all { .set-v(); .set-h(); }
.set-cx { left: 50%; transform+_: translateX(-50%); }
.set-cy { top: 50%; transform+_: translateY(-50%); }
.set-c { .set-cx(); .set-cy(); }

.cursor-default { cursor: default !important; }
.cursor-pointer { cursor: pointer !important; }

.clearfix {
    clear: both !important; display: block;
    &:extend(.full-w);
}
.img-fluid {
    height: auto !important;
    &:extend(.full-w);
}

.highlight {
    display: block;
    &:not(:last-child) { margin-bottom: 20px !important; }
}

.block {
    width: 100%; .visible();

    &-1st > *,&-2nd > * > * {
        &:not(.row):not([class*="hidden-"]) { &:extend(.block); }
    }

}

.inline {
    display: inline !important;

    &-1st > *,&-2nd > * > * {
        &:not(.row):not([class*="hidden-"]) { &:extend(.inline); }
    }
}

.inline-block {
    vertical-align: middle; display: inline-block !important;

    &-1st > *,&-2nd > * > * {
        &:not(.row):not([class*="hidden-"]) { &:extend(.inline-block); }
    }

}

.scroll {
    overflow: auto !important;

    &-v { overflow-x: hidden !important; overflow-y: auto !important; }
    &-h { overflow-x: auto !important; overflow-y: hidden !important; }

}

.no-scroll { overflow: hidden !important; }

[class*="round-"],[class*="circle-"] { background-clip: padding-box; }

.round {
    border-radius: @round;
    &:extend([class*="round-"]);

    &-t { border-radius: @round @round 0 0; }
    &-r { border-radius: 0 @round @round 0; }
    &-b { border-radius: 0 0 @round @round; }
    &-l { border-radius: @round 0 0 @round; }

    &-tl { border-radius: @round 0 0 0; }
    &-tr { border-radius: 0 @round 0 0; }
    &-bl { border-radius: 0 0 0 @round; }
    &-br { border-radius: 0 0 @round 0; }

}

.circle {
    border-radius: 1000px;
    &:extend([class*="circle-"]);

    &-t { border-radius: 1000px 1000px 0 0; }
    &-r { border-radius: 0 1000px 1000px 0; }
    &-b { border-radius: 0 0 1000px 1000px; }
    &-l { border-radius: 1000px 0 0 1000px; }

}

.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,.10);

    &-sm { box-shadow: 0 1px 3px rgba(0,0,0,.05); }
    &-lg { box-shadow: 0 5px 15px rgba(0,0,0,.10); }

    &-in {
        box-shadow: inset 0 1px 3px rgba(0,0,0,.10);

        &-sm { box-shadow: inset 0 1px 3px rgba(0,0,0,.05); }
        &-lg { box-shadow: inset 0 5px 15px rgba(0,0,0,.10); }

    }

}

.no-opacity { opacity: 1 !important; }
.opacity {
    opacity: .75 !important;

    &-more { opacity: .45 !important; }
    &-half { opacity: .5 !important; }
    &-full { opacity: 0 !important; }

}

html:not(.mobile) {

    .opacity {
        &:hover,&-more:hover { &:extend(.no-opacity); }
    }

    .hover-shadow {
        &,&-1st > *,&-2nd > * > * {
            &:hover { box-shadow: 0 5px 15px rgba(0,0,0,.2); }
        }
    }
    .hover-scale {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: scale(1.06); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: scale(1.2); }
            }
        }
    }

    .hover-t {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: translateY(-1%); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: translateY(-5%); }
            }
        }
    }
    .hover-r {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: translateX(1%); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: translateX(5%); }
            }
        }
    }
    .hover-b {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: translateY(1%); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: translateY(5%); }
            }
        }
    }
    .hover-l {
        &,&-1st > *,&-2nd > * > * {
            &:hover { transform: translateX(-1%); }
        }
        &-more {
            &,&-1st > *,&-2nd > * > * {
                &:hover { transform: translateX(-5%); }
            }
        }
    }

    .visible-mobile { &:extend(.hidden); }
    .hidden-dekstop { &:extend(.hidden); }

}
.mobile {

    .visible-desktop { &:extend(.hidden); }
    .hidden-mobile { &:extend(.hidden); }
    .scroll,.scroll-v,.scroll-h { -webkit-overflow-scrolling: touch; }

}

.list-custom,.list-inline {
    list-style: none; padding: 0; margin-bottom: 0;

    & ul,& ol { &:extend(.list-custom); }
}

.list-unstyled {
    &:extend(.list-custom);
    &:not(:last-child) { margin-bottom: 20px; }
}

.list-inline {
    & ul,& ol,& li { vertical-align: middle; display: inline-block; }
}

[class*="sp-"] { width: 100%; .visible(); clear: both !important; }

._sp-loop(@i) when (@i > 0) {
    ._sp-loop(@i - 1);

    .sp-@{i} { height: ~'@{i}px'; }
}
._sp-loop(5);

._sp-loop5x(@i) when (@i > 0) {
    ._sp-loop5x(@i - 1);

    @size: @i * 5 + 5;
    .sp-@{size} { height: ~'@{size}px'; }
}
._sp-loop5x(5);

.align-r {
    text-align: right !important;

    & * { &:extend(.align-r); }
}
.align-l {
    text-align: left !important;

    & * { &:extend(.align-l); }
}
.align-c {
    text-align: center !important;

    & * { &:extend(.align-c); }
}

.align-justify { text-align: justify !important; }
.align-nowrap { white-space: nowrap !important; }

@media print {
    .hidden-print { .hidden(); }
}

@media @lg-start {
    .hidden-lg { .hidden(); }
    .lg-no-float { .lg-float(); }
}
@media @default-start {
    .visible-xs,.visible-sm,.visible-md { .hidden(); }
}
@media @md-finish {
    .md-full-w { .full-w(); }
}
@media @md-start-finish {
    .visible-xs,.visible-sm,.visible-md { .hidden(); }

    .img-md-fluid { .full-w(); height: auto !important; }
    .md-no-float { .lg-float(); }
    .md-clearfix { .clearfix(); }

    .md-align-c,.md-align-c * { .align-c(); }
    .md-align-l,.md-align-l * { .align-l(); }
    .md-align-r,.md-align-r * { .align-r(); }
}
@media @sm-finish {
    .sm-full-w { .full-w(); }
}
@media @sm-start-finish {
    .visible-xs,.visible-sm,.visible-md { .hidden(); }

    .img-md-fluid,.img-sm-fluid { .full-w(); height: auto !important; }
    .md-no-float,.sm-no-float { .lg-float(); }
    .md-clearfix,.sm-clearfix { display: block; clear: both !important; }

    .md-align-c,.md-align-c *,.sm-align-c,.sm-align-c * { .align-c(); }
    .md-align-l,.md-align-l *,.sm-align-l,.sm-align-l * { .align-l(); }
    .md-align-r,.md-align-r *,.sm-align-r,.sm-align-r * { .align-r(); }

}
@media @xs-finish {
    .xs-full-w { .full-w(); }

    .hidden-md,.hidden-sm { .hidden(); }
    .hidden-xs { .hidden(); }

    .img-md-fluid,.img-sm-fluid,.img-xs-fluid { .full-w(); height: auto !important; }
    .md-no-float,.sm-no-float,.xs-no-float { .lg-float(); }
    .md-clearfix,.sm-clearfix,.xs-clearfix { display: block; clear: both !important; }

    .md-align-c,.md-align-c *,.sm-align-c,.sm-align-c *,.xs-align-c,.xs-align-c * { .align-c(); }
    .md-align-l,.md-align-l *,.sm-align-l,.sm-align-l *,.xs-align-c,.xs-align-c * { .align-l(); }
    .md-align-r,.md-align-r *,.sm-align-r,.sm-align-r *,.xs-align-r,.xs-align-r * { .align-r(); }

}
@media @default-finish {
    .visible-lg { .hidden(); }
    .lg-clearfix { .clearfix(); }

    .lg-align-c {
        .align-c();

        & * { &:extend(.lg-align-c); }
    }
    .lg-align-l {
        .align-l();

        & * { &:extend(.lg-align-l); }
    }
    .lg-align-r {
        .align-r();

        & * { &:extend(.lg-align-r); }
    }
}
@media @lg-finish {
    .visible-xl { .hidden(); }
}
@media @xl-start {
    .hidden-xl { .hidden(); }
    .xl-no-float { .lg-float(); }

    .xl-align-c {
        .align-c();

        & * { &:extend(.xl-align-c); }
    }
    .xl-align-l {
        .align-l();

        & * { &:extend(.xl-align-l); }
    }
    .xl-align-r {
        .align-r();

        & * { &:extend(.xl-align-r); }
    }
}

._darkmode-helpers (@darkmode) when (@darkmode = true) {
    @media (prefers-color-scheme: light) {
        .hidden-light { .hidden(); }
        .visible-dark { display: none !important; }
    }
    @media (prefers-color-scheme: dark) {
        .hidden-dark { .hidden(); }
        .visible-light { .hidden(); }
    }
}

._darkmode-helpers(@darkmode);
