/* helpers */
.automargin { margin-right: auto; margin-left: auto; display: block; }
.left { float: left; }
.right { float: right; }
.clearfix { width: 100% !important; clear: both !important; display: block; }
.block { width: 100%; display: block !important; }
.inline { display: inline !important; }
.inline-block { vertical-align: middle; display: inline-block !important; }
.rtl { direction: rtl; }
.full-width { width: 100% !important; }
.full-height { height: 100% !important; }
.no-user-select { -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
.clear-btn { color: inherit; text-align: inherit; background-color: rgba(0,0,0,0); border: 0; }
.img-fluid { width: 100% !important; height: auto !important; }

.highlight { display: block; }
.highlight:not(:last-child) { margin-bottom: 20px !important; }

.set-relative { position: relative !important; }
.set-absolute { position: absolute !important; }
.set-fixed { position: fixed; }
.set-all { top: 0; right: 0; bottom: 0; left: 0; }
.set-h { right: 0; left: 0; }
.set-v { top: 0; bottom: 0; }
.set-t { top: 0; }
.set-r { right: 0; }
.set-b { bottom: 0; }
.set-l { left: 0; }
.set-c { left: 50%; top: 50%; transform: translate(-50%,-50%); }
.set-c-x { left: 50%; transform: translateX(-50%); }
.set-c-y { top: 50%; transform: translateY(-50%); }

.visible { display: block !important; }
.hidden { display: none !important; }

html:not(.android) .visible-android { display: none !important; }
html:not(.ios) .visible-ios { display: none !important; }
html:not(.mobile) .visible-mobile { display: none !important; }
.mobile .visible-desktop { display: none !important; }

.android .hidden-android { display: none !important; }
.ios .hidden-ios { display: none !important; }
.mobile .hidden-mobile { display: none !important; }
html:not(.mobile) .hidden-dekstop { display: none !important; }

html:not(.landscape) .visible-landscape { display: none !important; }
html:not(.portrait) .visible-portrait { display: none !important; }

.landscape .hidden-landscape { display: none !important; }
.portrait .hidden-portrait { display: none !important; }

.bg-white:not([class*="ui-"]) { background-color: #fff !important; }
.bg-black:not([class*="ui-"]) { background-color: #181818 !important; }

.mobile .scroll,.mobile .scroll-v,.mobile .scroll-h { -webkit-overflow-scrolling: touch; }
.scroll { overflow: auto !important; }
.scroll-v { overflow-x: hidden !important; overflow-y: auto !important; }
.scroll-h { overflow-x: auto !important; overflow-y: hidden !important; }
.no-scroll,.no-overflow { overflow: hidden !important; }

.round { border-radius: 6px; }
.round-t { border-radius: 6px 6px 0 0; }
.round-r { border-radius: 0 6px 6px 0; }
.round-b { border-radius: 0 0 6px 6px; }
.round-l { border-radius: 6px 0 0 6px; }

.round-tl { border-radius: 6px 0 0 0; }
.round-tr { border-radius: 0 6px 0 0; }
.round-bl { border-radius: 0 0 0 6px; }
.round-br { border-radius: 0 0 6px 0; }

.circle { border-radius: 1000px; }
.circle-t { border-radius: 1000px 1000px 0 0; }
.circle-r { border-radius: 0 1000px 1000px 0; }
.circle-b { border-radius: 0 0 1000px 1000px; }
.circle-l { border-radius: 1000px 0 0 1000px; }

.shadow-sm { box-shadow: 0 1px 3px rgba(0,0,0,.05); }
.shadow { box-shadow: 0 1px 3px rgba(0,0,0,.10); }
.shadow-lg { box-shadow: 0 5px 15px rgba(0,0,0,.10); }

.shadow-in-sm { box-shadow: inset 0 1px 3px rgba(0,0,0,.05); }
.shadow-in { box-shadow: inset 0 1px 3px rgba(0,0,0,.10); }
.shadow-in-lg { box-shadow: inset 0 5px 15px rgba(0,0,0,.10); }

.cursor-default { cursor: default !important; }
.cursor-pointer { cursor: pointer !important; }

.no-opacity { opacity: 1 !important; }
.half-opacity { opacity: .5 !important; }
.full-opacity { opacity: 0 !important; }

.opacity-more { opacity: .45 !important; }
.opacity { opacity: .75 !important; }
html:not(.mobile) .opacity:hover,html:not(.mobile) .opacity-more:hover { opacity: 1 !important; }

html:not(.mobile) .hover-shadow:hover { box-shadow: 0 5px 15px rgba(0,0,0,.2); }

html:not(.mobile) .hover-scale:hover { transform: scale(1.06); }
html:not(.mobile) .hover-scale-more:hover { transform: scale(1.2); }

html:not(.mobile) .hover-t:hover { transform: translateY(-1%); }
html:not(.mobile) .hover-r:hover { transform: translateX(1%); }
html:not(.mobile) .hover-b:hover { transform: translateY(1%); }
html:not(.mobile) .hover-l:hover { transform: translateX(-1%); }

html:not(.mobile) .hover-t-more:hover { transform: translateY(-5%); }
html:not(.mobile) .hover-r-more:hover { transform: translateX(5%); }
html:not(.mobile) .hover-b-more:hover { transform: translateY(5%); }
html:not(.mobile) .hover-l-more:hover { transform: translateX(-5%); }

.list-unstyled,.list-custom,.list-custom ul,.list-custom ol,.list-inline,.list-inline ul,.list-inline ol { list-style: none; padding: 0; }
.list-unstyled:not(:last-child) { margin-bottom: 20px; }
.list-custom,.list-inline { margin-bottom: 0; }
.list-inline ul,.list-inline ol,.list-inline li { vertical-align: middle; display: inline-block; }

.sp1,.sp2,.sp3,.sp4,.sp5,.sp10,.sp15,.sp20,.sp25,.sp30 { width: 100%; display: block !important; clear: both !important; }
.sp1 { height: 1px; } .sp2 { height: 2px; } .sp3 { height: 3px; } .sp4 { height: 4px; } .sp5 { height: 5px; } .sp10 { height: 10px; } .sp15 { height: 15px; } .sp20 { height: 20px; } .sp25 { height: 25px; } .sp30 { height: 30px; }

@media print {
    .hidden-print { display: none !important; }
}

@media (min-width: 1200px) {
    .hidden-lg { display: none !important; }
    .lg-no-float { float: none !important; }
}
@media (min-width: 960px) {
    .visible-xs,.visible-sm,.visible-md { display: none !important; }
}
@media (max-width: 959px) {
    .md-full-width { width: 100% !important; }
}
@media (max-width: 959px) and (min-width: 768px) {
    /* do not group */
    .visible-sm { display: none !important; }
    .visible-xs { display: none !important; }
    .hidden-md { display: none !important; }
    /* do not group */

    .img-md-fluid { width: 100% !important; height: auto !important; }

    .md-no-float { float: none !important; }
    .md-clearfix { clear: both !important; display: block; }
}
@media (max-width: 767px) {
    .sm-full-width { width: 100% !important; }
}
@media (max-width: 767px) and (min-width: 481px) {
    /* do not group */
    .hidden-md { display: none !important; }
    .visible-xs { display: none !important; }
    .hidden-sm { display: none !important; }
    /* do not group */

    .img-md-fluid,.img-sm-fluid { width: 100% !important; height: auto !important; }
    .md-no-float,.sm-no-float { float: none !important; }

    .md-clearfix,.sm-clearfix { display: block; }
    /* do not group */
    .md-clearfix { clear: both !important; }
    .sm-clearfix { clear: both !important; }
    /* do not group */
}
@media (max-width: 480px) {
    .xs-full-width { width: 100% !important; }

    /* do not group */
    .hidden-md,.hidden-sm { display: none !important; }
    .hidden-xs { display: none !important; }
    /* do not group */

    .img-md-fluid,.img-sm-fluid,.img-xs-fluid { width: 100% !important; height: auto !important; }
    .md-no-float,.sm-no-float,.xs-no-float { float: none !important; }

    .md-clearfix,.sm-clearfix,.xs-clearfix { display: block; }
    /* do not group */
    .md-clearfix { clear: both !important; }
    .sm-clearfix { clear: both !important; }
    .xs-clearfix { clear: both !important; }
    /* do not group */
}
@media (max-width: 1199px) {
    .visible-lg { display: none !important; }
    .lg-clearfix { clear: both !important; display: block; }
}
@media (max-width: 1679px) {
    .visible-xl { display: none !important; }
}
@media (min-width: 1680px) {
    .hidden-xl { display: none !important; }
    .xl-no-float { float: none !important; }
}