// out: false
/* icons */ @import (reference) 'ui.less';

@icon-weights:                          thin light default semibold bold;
@icons-margin-sizes:                    5px 10px;

.ui-icon {
    vertical-align: middle; display: inline-block; fill: none; stroke: currentColor; stroke-linecap: round; stroke-linejoin: round;

    ._icon(@icon-default-size);

    &-mirror- {
        &v { transform: scaleY(-1); }
        &h { transform: scaleX(-1); }
    }
}

.ui-svg- {
    &f { fill: currentColor !important; } // fill
    &l { fill: none !important; } // line
    &sd { fill: currentColor !important; stroke: none !important; } // solid
    &s { opacity: @icon-sub-opacity; } // sub
    &fr { fill-rule: evenodd; } // fill-rule
}

each(@icon-sizes, { // do not merge
    .ui-icon-@{key},.ui-icons-@{key} .ui-icon { ._icon-size(@value) !important; }
    .ui-icon-@{key},.ui-icons-@{key} .ui-icon:not([class*="ui-icon-"]) { ._icon-weight(@value) !important; }
});

each(@icon-sizes, { // do not merge
    @weight: extract(@icon-weights, @index);
    .ui-icon-@{weight},.ui-icons-@{weight} .ui-icon:not([class*="ui-icon-"]) { ._icon-weight(@value) !important; }
});

each(@icons-margin-sizes, {
    @size: unit(@value);

    .ui-icons-m-@{size}-l .ui-icon { margin-left: @value !important; }
    .ui-icons-m-@{size}-r .ui-icon { margin-right: @value !important; }
    .ui-icons-m-@{size}-v .ui-icon { margin-top: @value !important; margin-bottom: @value !important; }
    .ui-icons-m-@{size}-h .ui-icon { margin-right: @value !important; margin-left: @value !important; }
});