/* icons */
.icon { vertical-align: middle; width: 20px; height: 20px; display: inline-block; fill: none; stroke: currentColor; stroke-linecap: round; stroke-linejoin: round; stroke-width: 24px; }
button.icon { background-color: transparent; }

.svg-fill { fill: currentColor !important; }
.svg-sub { opacity: .5; }
.svg-line { fill: none !important; }
.svg-solid { fill: currentColor !important; stroke: none !important; }
.svg-crisp { shape-rendering: crispEdges; stroke-linecap: square; stroke-linejoin: square; }

.icon-xxs { width: 12px; height: 12px; stroke-width: 44px; }
.icon-xs { width: 14px; height: 14px; stroke-width: 38px; }
.icon-sm { width: 18px; height: 18px; stroke-width: 32px; }
.icon-lg { width: 26px; height: 26px; stroke-width: 24px; }
.icon-xl { width: 34px; height: 34px; stroke-width: 18px; }
.icon-xxl { width: 50px; height: 50px; stroke-width: 12px; }

.icon-black { stroke-width: 44px; }
.icon-bold { stroke-width: 38px; }
.icon-semibold { stroke-width: 32px; }
.icon-default { stroke-width: 24px; }
.icon-light { stroke-width: 18px; }
.icon-thin { stroke-width: 12px; }

.icon-mirror-v { transform: scaleY(-1); }
.icon-mirror-h { transform: scaleX(-1); }

h1 > .icon:not(.right),h2 > .icon:not(.right),h3 > .icon:not(.right),
h4 > .icon:not(.right),h5 > .icon:not(.right),h6 > .icon:not(.right) { margin-right: 5px; }

h1 > .icon-lg:not(.right),h2 > .icon-lg:not(.right),h3 > .icon-lg:not(.right),
h4 > .icon-lg:not(.right),h5 > .icon-lg:not(.right),h6 > .icon-lg:not(.right) { margin-right: 10px; }

.icons-no-opacity .icon:not(.default-icon) { opacity: 1 !important; }

.icons-margin-5-l .icon { margin-left: 5px !important; }
.icons-margin-5-r .icon { margin-right: 5px !important; }
.icons-margin-5-v .icon { margin-top: 5px !important; margin-bottom: 5px !important; }
.icons-margin-5-h .icon { margin-right: 5px !important; margin-left: 5px !important; }

.icons-margin-10-l .icon { margin-left: 10px !important; }
.icons-margin-10-r .icon { margin-right: 10px !important; }
.icons-margin-10-v .icon { margin-top: 10px !important; margin-bottom: 10px !important; }
.icons-margin-10-h .icon { margin-right: 10px !important; margin-left: 10px !important; }