/* ie9 placeholders */
.ie9 [data-placeholder] { position: relative; }
.ie9 [data-placeholder]:after { content: attr(data-placeholder); padding: 5px; position: absolute; top: 0; left: 0; }
.ie9 [data-placeholder].text-lg:after { padding: 10px; }

.ie9 .text-icon[data-placeholder]:after { padding-right: 24px; }
.ie9 .text-icon-left[data-placeholder]:after { padding-right: 10px; padding-left: 24px; }
.ie9 .text[data-placeholder]:after { white-space: nowrap; text-overflow: ellipsis; line-height: 20px; width: 100%; height: 30px; overflow: hidden; }
.ie9 .text.dual-bordered[data-placeholder]:after { line-height: 18px; height: 28px; }
.ie9 .hide-placeholder:after { display: none; }

.ie9 [data-placeholder]:after { color: #999; }
.ie9 .form-light[data-placeholder]:after { color: #fff; }
.ie9 .form-focus[data-placeholder]:after { color: #c5c5c5; }
