/* image editor */
@keyframes editor-loader { from { background-position: 40px 0; } to { background-position: 0 0; } }

.ease-image-editor { transition-property: background-color; transition-duration: .15s; }
.ease-image-editor .editor-tools,.ease-image-editor .editor-list ul > li { transition-property: opacity; transition-duration: .3s; }
.ease-image-editor .editor-list > .icon { transition-property: opacity; transition-duration: .15s; }
.ease-image-editor .editor-list ul > li img { transition-property: transform; transition-duration: .15s; }

.no-transitions-all .ease-image-editor,.no-transitions-all .ease-image-editor .editor-tools,.no-transitions-all .ease-image-editor .editor-list > .icon,
.no-transitions-all .ease-image-editor .editor-list ul > li,.no-transitions-all .ease-image-editor .editor-list ul > li img { transition-property: none !important; }

.image-editor { background-color: #fff; overflow: hidden; position: relative; }
.image-editor.drop-highlight { background-color: #f5f5f5; }

.editor-panel { text-align: right; min-height: 52px; padding: 15px; }

.editor-panel > .row { margin-left: 0; margin-right: 0; }
.editor-panel h3,.editor-panel h4,.editor-panel h5,.editor-panel h6 { font-size: 18px; line-height: 32px; margin-bottom: 0; float: left; }

.image-editor.loading .file,.image-editor.uploading .editor-upload { background-image: linear-gradient(45deg, rgba(255,255,255,0) 25%, rgba(255,255,255,.25) 25%, rgba(255,255,255,.25) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 75%, rgba(255,255,255,.25) 75%); background-size: 20px 20px; animation: editor-loader 1s linear infinite; }

.image-editor .file { display: inline-block; }
.image-editor .file .btn b { font-weight: normal; }

html:not(.ie9) .image-editor .file .btn .icon { margin-left: 10px; }
html:not(.ie9) .image-editor .file span { display: none; }

.ie9 .image-editor .file { width: 232px; }
.ie9 .image-editor .file .btn { min-width: 32px; }
.ie9 .image-editor .file .btn b { display: none; }
.ie9 .image-editor .file span { text-align: left; padding-left: 42px; }

.editor-tools { min-height: 52px; background-color: rgba(0,0,0,.035); padding: 15px; }
.editor-tools:not(.open) { display: none; }
.editor-tools:not(.open-ease),.drop-highlight .editor-tools { opacity: 0; }

.editor-list { min-height: 220px; position: relative; }
.editor-list:not(.open),.drop-highlight .editor-list { background-color: rgba(255,255,255,.45); margin: 0 15px 15px 15px; border: dashed 2px rgba(0,0,0,.125); border-radius: 6px; }

.editor-list > .icon { position: absolute; top: 50%; left: 50%; z-index: 1; opacity: .15; transform: translate(-50%, -50%); }
.editor-list.open > .icon,.ie9 .editor-list { display: none; }
.drop-highlight .editor-list > .icon { display: block; opacity: .45; }

.editor-list ul { list-style: none; padding: 10px; margin-bottom: 0; display: block; }
.editor-list ul:before,.editor-list ul:after { content: ""; display: table; }
.editor-list ul:after { clear: both; }

.editor-list ul > li { padding: 5px; float: left; }
.editor-list ul > li.open-ease { opacity: 0; }
.editor-list ul > li .img { display: block; clear: both; position: relative; }
.editor-list ul > li .img img { width: auto; max-width: 100%; height: auto; max-height: 100%; position: absolute; top: 50%; left: 50%; box-shadow: 0 1px 6px rgba(0,0,0,.25); transform: translate(-50%,-50%); }
html:not(.mobile) .editor-list ul > li .img img:hover { transform: translate(-50%,-50%) scale(1.06); cursor: pointer; }
.editor-list ul > li .img:not(:first-child) { margin-top: 10px; }
.editor-list ul > li .img:not(:last-child) { margin-bottom: 10px; }

.editor-list ul > li .check-custom { margin: 0; float: left; }
.editor-list ul > li .name { white-space: nowrap; text-overflow: ellipsis; padding: 2px 0 2px 5px; overflow: hidden; display: block; }
.editor-list ul > li .size,.editor-list ul > li .tag { color: #777; font-size: 13px; }
.editor-list ul > li .size { margin-right: 10px; display: inline-block; }
.editor-list ul > li .tag { float: right; }

@media (min-width: 960px) {
    .editor-list ul > li { width: 20%; }
}
@media (max-width: 959px) {
    .editor-list ul > li { width: 25%; }
}
@media (max-width: 767px) {
    .editor-list ul > li { width: 33.333332%; }
}
@media (min-width: 481px) {
    .editor-list ul > li .img { min-height: 164px; }
}
@media (max-width: 480px) {
    .editor-list ul > li .img { min-height: 98px; }
}
@media (max-width: 380px) {
    .editor-list ul > li { width: 50%; }
}
