/* line charts */
@keyframes line-draw { to { stroke-dashoffset: 0; } }
@keyframes line-circles { to { transform: translateY(0); opacity: 1; } }

.ease-line-charts circle { transition-property: stroke-width, transform, opacity; transition-duration: .15s; }
.no-transitions-all .ease-line-charts circle { transition-property: none !important; }

.line-charts { -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
.line-charts ul { list-style: none; vertical-align: middle; padding: 0; display: inline-block; }
.line-charts ul.line { display: none; }

.line-charts svg { width: 100%; }
.line-charts svg g { display: block; }

.line-charts svg path { fill: transparent; stroke-linecap: round; }
.line-charts:not(.resized) svg path { stroke-dashoffset: 1000; stroke-dasharray: 1000; }
.line-charts.loaded:not(.resized) svg path { animation: line-draw 2s .6s ease-in forwards; }
.no-transitions-all.animate-stop-all .line-charts svg path,.ie .line-charts svg path { stroke-dashoffset: 0; }

.line-charts svg line { shape-rendering: crispEdges; }
.line-charts svg line.root { stroke: #ccc; }
.line-charts svg line:not(.root) { stroke: rgba(0,0,0,.1); stroke-width: 1; }

.line-charts svg circle:not([fill]) { fill: #fff; }
.line-charts:not(.resized) svg circle { transform: translateY(20px); opacity: 0; }
.line-charts.loaded:not(.resized) svg circle { animation: line-circles .6s forwards; }
.no-transitions-all.animate-stop-all .line-charts svg circle,.ie .line-charts svg circle { transform: translateY(0); opacity: 1; }
.line-charts svg circle[onclick] { cursor: pointer; }
html:not(.mobile) .line-charts svg circle:hover { stroke-width: 4; }

.line-charts svg text { fill: #777; font-size: 10px; }
.line-charts svg .x { text-anchor: middle; }
.line-charts svg .y { text-anchor: end; }

.line-charts .info { text-align: center; fill: black; display: block; }
.line-charts .info li { color: #777; margin: 0 5px 2px 5px; display: inline-block; }
.line-charts .info li b { color: #000; }
.line-charts .info li span { vertical-align: middle; width: 13px; height: 13px; margin: -2px 5px 0 0; display: inline-block; border-radius: 50%; }
