// out: false
/* line charts */ @import 'ui.less';

@line-chart-default-size:               3000;
@line-chart-dashed-size:                10;
@line-chart-dotted-size:                1;

@line-chart-filled-slide-size:          15px;
@line-chart-filled-opacity:             .15;

@line-chart-circle-hover-size:          4;

@line-chart-grid-text-opacity:          .65;
@line-chart-grid-text-anchor-x:          middle;
@line-chart-grid-text-anchor-y:          end;

@line-chart-bg-grid-stroke-size:        1;
@line-chart-bg-grid-opacity:            .12;
@line-chart-stroke-opacity:             .35;

@line-chart-info-gap:                   5px;
@line-chart-info-dot-size:              13px;
@line-chart-text-size:                  @small;

@keyframes line-draw { to { stroke-dashoffset: 0; } }
@keyframes line-dashed-dotted { to { opacity: 1; } }
@keyframes line-filled { to { transform: translateY(0); opacity: @line-chart-filled-opacity; } }
@keyframes line-circles { to { transform: translateY(0); opacity: 1; } }

.ease-line-charts {
    circle { transition-property: stroke-width; transition-duration: @ease-default; }
}

.line-charts {
    @no-user-select();

    .lines { display: none !important; }

    svg {
        width: 100%;

        g { display: block; }
        path {
            stroke-linecap: round;

            &:not(.dashed):not(.dotted):not(.filled) { stroke-dashoffset: @line-chart-default-size; stroke-dasharray: @line-chart-default-size; }
            &:not([fill]) { fill: @no-color; }

            &.dashed { stroke-dasharray: @line-chart-dashed-size round((@line-chart-dashed-size / 2)); }
            &.dotted { stroke-dasharray: @line-chart-dotted-size round((@line-chart-dashed-size / 2)); }

            .no-effects &,.ie & {
                &:not(.dashed):not(.dotted):not(.filled) {
                	stroke-dashoffset: 0;
                }

                &.dashed,&.dotted { opacity: 1; }
                &.filled { transform: translateY(0); opacity: @line-chart-filled-opacity; }
            }
        }
        line {
            stroke: currentColor;
            html:not(.firefox) & { shape-rendering: crispEdges; }

            &.root-grid { opacity: @line-chart-stroke-opacity; }
            &:not(.root-grid) { stroke-width: @line-chart-bg-grid-stroke-size; opacity: @line-chart-bg-grid-opacity; }
        }
        circle {
            &[onclick] { cursor: pointer; }
            .desktop &:hover { stroke-width: @line-chart-circle-hover-size; }

            .no-effects &,.ie & { transform: translateY(0); opacity: 1; }
        }

        text { fill: currentColor; font-size: @line-chart-text-size; opacity: @line-chart-grid-text-opacity; }
        .x-grid { text-anchor: @line-chart-grid-text-anchor-x; }
        .y-grid { text-anchor: @line-chart-grid-text-anchor-y; }
    }

    &.resized {
        svg {
            path {
                &.filled { opacity: 0; }
                &.dashed,&.dotted { stroke-dashoffset: 0; opacity: 0; }
            }
        }
    }
    &:not(.resized) {
        svg {
            html:not(.ie) & {
                path {
                    &.dashed,&.dotted { stroke-dashoffset: 0; opacity: 0; }
                    &.filled { transform: translateY(@line-chart-filled-slide-size); opacity: 0; }
                }
                circle { transform: translateY((@line-chart-filled-slide-size * 2)); opacity: 0; }
            }
        }
    }

    &.loaded {
        svg {
            html:not(.ie) & {
                path {
                    &:not(.dashed):not(.dotted):not(.filled) { animation: line-draw 2s .6s ease-in forwards; }
                    &.dashed,&.dotted { animation: line-dashed-dotted 1s .6s ease-in forwards; }
                    &.filled { animation: line-filled .6s forwards; }
                }
                circle { animation: line-circles .6s forwards; }
            }
        }
    }

    .chart-info {
        list-style: none; text-align: center; display: block;

        li {
            margin: 0 @line-chart-info-gap round((@line-chart-info-gap / 2)) @line-chart-info-gap; display: inline-block;

            span { vertical-align: middle; width: @line-chart-info-dot-size; height: @line-chart-info-dot-size; margin: round((-(@line-chart-info-gap / 2))) @line-chart-info-gap 0 0; display: inline-block; border-radius: 50%; }
        }
    }
}
