// out: false
/* listings */ @import (reference) 'ui.less';

@list-gap-less:                         2px;
@list-gap:                              (@highlight-space / 2);
@list-gap-more:                         (@list-gap * 3);

@horizontal-list-side:                  170px;
@horizontal-list-space:                 5x;

@list-column-size:                      range(2, 6, 1); // start, end, step

[class*="list-column-"] {
    display: flex; flex-wrap: wrap;

    & > li { break-inside: avoid; }
}

each(@increases, {
    @name: unit(@value);

    .list-spacer-@{name} {
        li { margin-bottom: @value; }
        ul,ol { margin-top: @value; }
    }
});

[class*="list-spacer-"] {
    &:not([class*="list-column-"]):not(.list-inline) {
        li:last-child { margin-bottom: 0 !important; }
    }
}

.list-gap {
    &-less.list-inline {
        li:not(:last-child) { padding-right: @list-gap-less; }
    }
    &.list-inline {
        li:not(:last-child) { padding-right: @list-gap; }
    }
    &-more.list-inline {
        li:not(:last-child) { padding-right: @list-gap-more; }
    }
}

dl {
    &:not(:last-child) { margin-bottom: @highlight-space; }
    &:before,&:after { content: ""; display: table; }
    &:after { clear: both; }
}
dt { font-weight: @font-bold; }

@media (@md-start) {
    .dl-horizontal {
        dt {
            white-space: nowrap; text-overflow: ellipsis; width: @horizontal-list-side; float: left; overflow: hidden; clear: left; position: relative;

            &:after { content: ":"; position: absolute; right: 0; }
        }
        dd { margin-left: (@horizontal-list-side + @highlight-space); }
    }
}
@media (@sm-finish) {
    .dl-horizontal {
        dd { margin-bottom: @horizontal-list-space; }
    }
}
@media (@sm-start) {
    each(@list-column-size, {
        .list-column- {
            &@{value} > li { width: percentage(((100 / @value) / 100%)); }
        }
    });

    .mobile-menu {
        [class*="list-column-"] {
            & > li { width: 100%; }
        }
    }
}
@media (@xs-finish) {
    [class*="list-column-"] {
        & > li { width: 100%; }
    }
}