// out: false
/* listings */ @import (reference) 'ui.less';

@list-gap-sm:                           2px;
@list-gap:                              (@highlight-space / 2);
@list-gap-lg:                           (@list-gap * 3);

@horizontal-list-side:                  170px;
@horizontal-list-space:                 10px;

@list-column-size:                      range(2, 6, 1); // start, end, step

.ui-list- {
    & {
        &custom,&inline,&unstyled {
            li > a:not(.ui-btn) { ._color-var(black); word-wrap: break-word; text-decoration: none; }
        }
        &custom,&inline {
            list-style: none;

            ul,ol { list-style: none; padding: 0; margin: 0; }
        }

        &unstyled {
            list-style: none;

            &:not(:last-child) { margin-bottom: @highlight-space; }
        }

        &inline {
            ul,ol,li { vertical-align: middle; display: inline-block; }
        }
    }

    &gap {
        &-sm.ui-list-inline {
            li:not(:last-child) { padding-right: @list-gap-sm; }
        }
        &.ui-list-inline {
            li:not(:last-child) { padding-right: @list-gap; }
        }
        &-lg.ui-list-inline {
            li:not(:last-child) { padding-right: @list-gap-lg; }
        }
    }

    each(@increases, {
        @name: unit(@value);

        &spacer-@{name} {
            li { margin-bottom: @value; }
            ul,ol { margin-top: @value; }
        }
    });
}

[class*="ui-list-spacer-"] {
    &:not([class*="ui-list-column-"]):not(.ui-list-inline) {
        li:last-child { margin-bottom: 0 !important; }
    }
}

[class*="ui-list-column-"] {
    display: flex; flex-wrap: wrap;

    & > li { break-inside: avoid; }
}

dl {
    &:not(:last-child) { margin-bottom: @highlight-space; }

    &:before,&:after { content: ""; display: table; }
    &:after { clear: both; }
}
dd { margin-left: 0; }
dt {
    font-weight: @font-bold;

    & + dd:not(:last-child) { margin-bottom: @horizontal-list-space; }
}

@media (@md-start) {
    .ui-dl-h {
        dt {
            white-space: nowrap; text-overflow: ellipsis; width: @horizontal-list-side; float: left; overflow: hidden; clear: left; position: relative;

            &:after { content: ":"; position: absolute; right: 0; }
        }
        dd { margin-left: (@horizontal-list-side + @highlight-space); }
    }
}
@media (@sm-finish) {
    .ui-dl-h {
        dd { margin-bottom: @horizontal-list-space; }
    }
}
@media (@sm-start) {
    each(@list-column-size, {
        .ui-list-column- {
            &@{value} > li { width: percentage(((100 / @value) / 100%)); }
        }
    });

    .ui-sidebar {
        [class*="ui-list-column-"] {
            & > li { width: 100%; }
        }
    }
}
@media (@xs-finish) {
    [class*="ui-list-column-"] {
        & > li { width: 100%; }
    }
}