/* listings */
.list-spacing:not(.list-custom) li:not(:last-child) { padding-right: 10px; }

[class*="list-column-"]:before,[class*="list-column-"]:after { content: ""; display: table; }
[class*="list-column-"]:after { clear: both; }

.list-spacer-1 li { margin-bottom: 1px; } .list-spacer-1 ul,.list-spacer-1 ol { margin-top: 1px !important; }
.list-spacer-5 li { margin-bottom: 5px; } .list-spacer-5 ul,.list-spacer-5 ol { margin-top: 5px !important; }
.list-spacer-10 li { margin-bottom: 10px; } .list-spacer-10 ul,.list-spacer-10 ol { margin-top: 10px !important; }
.list-spacer-15 li { margin-bottom: 15px; } .list-spacer-15 ul,.list-spacer-15 ol { margin-top: 15px !important; }
.list-spacer-20 li { margin-bottom: 20px; } .list-spacer-20 ul,.list-spacer-20 ol { margin-top: 20px !important; }
.list-spacer-25 li { margin-bottom: 25px; } .list-spacer-25 ul,.list-spacer-25 ol { margin-top: 25px !important; }
.list-spacer-30 li { margin-bottom: 30px; } .list-spacer-30 ul,.list-spacer-30 ol { margin-top: 30px !important; }

[class*="list-spacer-"]:not([class*="list-column-"]):not(.list-inline) li:last-child { margin-bottom: 0 !important; }

@media (min-width: 481px) {
    [class*="list-column-"] > li { float: left; }
    .list-column-2 > li { width: 50%; }
    .list-column-3 > li { width: 33.333333%; }
    .list-column-4 > li { width: 25%; }
    .list-column-5 > li { width: 20%; }
    .list-column-6 > li { width: 16.666666%; }

    .list-column-2.list-spacing > li:nth-child(2n),.list-column-3.list-spacing > li:nth-child(3n),.list-column-3.list-spacing > li:nth-child(3n),
    .list-column-4.list-spacing > li:nth-child(4n),.list-column-5.list-spacing > li:nth-child(5n),.list-column-6.list-spacing > li:nth-child(5n) { padding-right: inherit; }
}
@media (max-width: 480px) {
    [class*="list-column-"] { width: 100%; }
}
