// out: false
/* list group */ @import (reference) 'ui.less';

@list-group-default-icon-size:          14px;
@list-group-list-padding:               10px;

@list-group-list-icon-opacity:          .45;
@list-group-list-icon-opacity-hover:    .75;

@list-group-stripe-bg:                  fade(@black, 3.5%);
@list-group-stripe-bg-dark:             fade(@white, 3.5%);

@list-group-hover-bg:                   fade(@black, 6%);
@list-group-hover-bg-dark:              fade(@white, 6%);

._global-vars () {
    --ui-list-group-stripe-bg: @list-group-stripe-bg;
    --ui-list-group-hover-bg: @list-group-hover-bg;
}
._global-vars-dark () {
    --ui-list-group-stripe-bg: @list-group-stripe-bg-dark;
    --ui-list-group-hover-bg: @list-group-hover-bg-dark;
}

.ui-ease-list-group {
    li {
        &,& > a:not(.list-link) { transition-property: background-color; transition-duration: @ease-default; }
    }
    .ui-list-icon {
        &:not([class*="ui-ease-"]) { transition-property: opacity; transition-duration: @ease-default; }
    }
}

.list-group {
    &,& > ul { list-style: none; padding: 0; margin: 0; }
    & > ul {
        & > li {
            position: relative;

            &,& > a:not(.list-link) { line-height: normal; padding: @list-group-list-padding; }
            &:before,&:after,& > a:not(.list-link):before,& > a:not(.list-link):after { content: ""; display: table; }
            &:after,& > a:not(.list-link):after { clear: both; }

            & > a:not(.list-link) {
                margin: -@list-group-list-padding; display: block;

                .ui-desktop & {
                    &:hover .ui-list-icon { opacity: @list-group-list-icon-opacity-hover; }
                }
            }
        }
    }
    li {
        &:nth-child(odd):not([class*="ui-fill-"]) { ._bg-var(list-group-stripe-bg); }
        &:not([class*="ui-fill-"]):hover { ._bg-var(list-group-hover-bg); }
    }

    &.round {
        & > ul:not([class*="list-column-"]) {
            & > li {
                &:first-child {
                    &,& > a:not(.list-link) { border-top-left-radius: @round; border-top-right-radius: @round; }
                }
                &:last-child {
                    &,& > a:not(.list-link) { border-bottom-left-radius: @round; border-bottom-right-radius: @round; }
                }
            }
        }
    }

    .ui-list-icon { ._icon(@list-group-default-icon-size); position: absolute; top: 50%; right: @list-group-list-padding; transform: translateY(-50%); opacity: @list-group-list-icon-opacity; }

    .has-icon {
        each(@icon-sizes, {
            &-@{key} {
                & > li {
                    &,& > a:not(.list-link) { padding-right: (@value + @list-group-list-padding * 2); }
                    & > a:not(.list-link) { margin-right: -(@value + @list-group-list-padding * 2); }
                }
                .ui-list-icon { ._icon(@value); }
            }
        });
    }

    [class*="has-photo"] {
        [class*="img-photo"] { position: absolute; top: @list-group-list-padding; left: @list-group-list-padding; }
    }

    .has-photo {
        &-lg li {
            &,& > a:not(.list-link) { min-height: (@photo-img-lg + @list-group-list-padding * 2); padding-left: (@photo-img-lg + @list-group-list-padding * 2); }
            & > a:not(.list-link) { margin-left: -(@photo-img-lg + @list-group-list-padding * 2); }
        }
        li {
            &,& > a:not(.list-link) { min-height: (@photo-img-default + @list-group-list-padding * 2); padding-left: (@photo-img-default + @list-group-list-padding * 2); }
            & > a:not(.list-link) { margin-left: -(@photo-img-default + @list-group-list-padding * 2); }
        }
        &-sm li {
            &,& > a:not(.list-link) { min-height: (@photo-img-sm + @list-group-list-padding * 2); padding-left: (@photo-img-sm + @list-group-list-padding * 2); }
            & > a:not(.list-link) { margin-left: -(@photo-img-sm + @list-group-list-padding * 2); }
        }
        &-xs li {
            &,& > a:not(.list-link) { min-height: (@photo-img-xs + @list-group-list-padding * 2); padding-left: (@photo-img-xs + @list-group-list-padding * 2); }
            & > a:not(.list-link) { margin-left: -(@photo-img-xs + @list-group-list-padding * 2); }
        }
    }
}