// out: false
/* loading mask */ @import (reference) 'ui.less';

@loading-mask-loader-bg:                      fade(@black, 46%);
@loading-mask-loader-max-size:                76px;
@loading-mask-loader-z-index:                 90;

@loading-mask-stroke-width:                   8%;

@keyframes ui-loading-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.ui-loading {
    &-mask {
        overflow: hidden !important; position: relative !important; cursor: default !important;

        &-loader {
            height: 100%; background-color: @loading-mask-loader-bg; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: @loading-mask-loader-z-index;

            &:not(.ui-open) { display: none; }
            &:not(.ui-open-ease) { opacity: 0; }

            span {
                display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);

                svg { max-height: @loading-mask-loader-max-size !important; display: block; fill: none; stroke: @white; stroke-width: @loading-mask-stroke-width; stroke-linecap: round; stroke-linejoin: round; animation: ui-loading-spin 1.15s linear infinite; }
            }
        }

        &-sticky {
            & > .ui-loading-mask-loader { position: fixed; }
        }

    }
}