// out: false
/* margins */ @import (reference) 'ui.less';

._margins (@name; @size) {
    .@{name} { margin: @size !important; }

    .@{name}-t { margin-top: @size !important; }
    .@{name}-r { margin-right: @size !important; }
    .@{name}-b { margin-bottom: @size !important; }
    .@{name}-l { margin-left: @size !important; }

    .@{name}-h { margin-left: @size !important; margin-right: @size !important; }
    .@{name}-v { margin-top: @size !important; margin-bottom: @size !important; }
}

each(@increases, {
    @j: unit(@value);
    ._margins (@name: ~'ui-margin-@{j}'; @size: @value);
});

._margins (@name: ui-no-margin; @size: 0);

@media (@lg-start) {
    ._margins (@name: ui-lg-no-margin; @size: 0);
}
@media (@md-start) and (@md-finish) {
    ._margins (@name: ui-md-no-margin; @size: 0);
}
@media (@sm-start) and (@sm-finish) {
    ._margins (@name: ui-md-no-margin; @size: 0);
    ._margins (@name: ui-sm-no-margin; @size: 0);
}
@media (@xs-finish) {
    ._margins (@name: ui-md-no-margin; @size: 0);
    ._margins (@name: ui-sm-no-margin; @size: 0);
    ._margins (@name: ui-xs-no-margin; @size: 0);
}
@media (@xl-start) {
    ._margins (@name: ui-xl-no-margin; @size: 0);
}
