// out: false
/* mobile menu */ @import (reference) 'ui.less';

@mobile-menu-title-height:              66px;
@mobile-menu-padding:                   10px;
@mobile-menu-shadow-size:               5px 15px;

@mobile-menu-close-btn-size:            @btn-lg;

@mobile-menu-bg-bg:                     fade(@black, 65%);
@mobile-menu-bg:                        fade(@black, 15%);

.ui-mobile-menu {
    width: 100%; width: @layout-min; ._bg-var(body-bg); position: fixed; top: 0; bottom: 0; z-index: 90; box-shadow: 0 @mobile-menu-shadow-size @mobile-menu-bg;

    &-opened {
        &,& > body { overflow: hidden; }
    }

    &-bg {
        width: 100%; min-width: @layout-min; height: 100%; background-color: @mobile-menu-bg-bg; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 89;

        &:not(.ui-open) { display: none; }
        &:not(.ui-open-ease) { opacity: 0; }
    }

    &.ui-show {
        &-r { right: 0; transform: translateX(100%); }
        &-l { left: 0; transform: translateX(-100%); }
    }

    &:not(.ui-open) { display: none; }
    &.ui-open-ease { transform: translateX(0); }

    &-title {
        height: @mobile-menu-title-height; padding: @mobile-menu-padding ((@mobile-menu-padding * 2) + @mobile-menu-close-btn-size) @mobile-menu-padding @mobile-menu-padding; position: relative; z-index: 1;

        & + .ui-mobile-menu-content { top: @mobile-menu-title-height; }
    }

    &-content { padding: @mobile-menu-padding; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
}

.ui-close-mobile-menu { position: fixed; top: @mobile-menu-padding; right: @mobile-menu-padding; z-index: 10; }