/* modal */
.modal-bg-opened { overflow: hidden; }
.mobile.modal-bg-opened body { width: 100%; height: 100%; overflow: hidden; position: fixed; top: 0; left: 0; }

.modal-bg { width: 100%; min-width: 320px; height: 100%; background-color: rgba(0,0,0,.65); position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 89; }
.modal-bg:not(.open) { display: none; }
.modal-bg:not(.open-ease) { opacity: 0; }

.modal-win.show { position: fixed; z-index: 90; }
.modal-win:not(.show) { display: none; }

.modal-content { min-width: 280px; background-color: #fff; position: fixed; }
.modal-content:not(.fullscreen) { width: 90%; max-height: 92%; }
.modal-content.fullscreen { width: 100%; height: 100%; border-radius: 0 !important; }
.modal-win:not(.show-ease) .modal-content { opacity: 0; transform: translateY(10px); }

.modal-content.lg { max-width: 1200px; min-height: 300px; }
.modal-content.md { max-width: 960px; min-height: 240px; }
.modal-content.sm { max-width: 480px; min-height: 120px; }
.modal-content.inline { width: auto; }

.modal { display: none; }
.modal-win .modal { height: 100%; display: block; }
.modal-content.rounded .modal { border-radius: 5px; }
.modal-content.has-header .modal { padding-top: 52px !important; }
.modal-content.has-footer .modal { padding-bottom: 52px !important; }

.modal-header,.modal-container,.modal-footer { min-width: 280px; }
.modal-header,.modal-footer { text-overflow: ellipsis; white-space: nowrap; height: 52px; background-color: rgba(0,0,0,.04); padding: 10px; overflow: hidden; position: absolute; right: 0; left: 0; z-index: 9; }
.modal-header > .row,.modal-container > .row,.modal-footer > .row { margin-top: -10px; margin-right: inherit; margin-bottom: -10px; margin-left: inherit; }
.modal-header > .fixed,.modal-container > .fixed,.modal-footer > .fixed { padding-right: 0; padding-left: 0; margin-top: -10px; margin-bottom: -10px; }

.modal-header { top: 0; }
.modal-footer { bottom: 0; }
.modal-content:not(.fullscreen).rounded .modal-header { border-radius: 5px 5px 0 0; }
.modal-content:not(.fullscreen).rounded .modal-footer { border-radius: 0 0 5px 5px; }

.modal-buttons { float: right; }
.modal-content.fullscreen .modal-header .modal-buttons { padding-right: 42px; }

.modal-header h1,.modal-header h2,.modal-header h3,.modal-header h4,.modal-header h5,.modal-header h6 { font-size: 18px !important; text-overflow: ellipsis; line-height: 32px; max-width: 100%; overflow: hidden; float: left; }

.modal-header .btn-lg,.modal-footer .btn-lg { margin: -5px 0; }
.modal-header .btn-sm,.modal-footer .btn-sm { margin: 3px 0; }
.modal-header .btn-xs,.modal-footer .btn-xs { margin: 5px 0; }
.modal-header .btn-xxs,.modal-footer .btn-xxs { margin: 8px 0; }

.modal-container { min-height: 20px; height: 100%; max-height: 100%; padding: 10px; overflow: auto; position: relative; -webkit-overflow-scrolling: touch; }
.modal-container > iframe { width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

.modal-iframe { width: 100%; height: 100%; overflow: hidden; }
.modal-content:not(.fullscreen).rounded .modal-iframe { border-radius: 5px; }

.modal-content .close-modal { color: #fff !important; width: 32px; height: 32px; border: 0; border-radius: 100%; position: absolute; z-index: 10; cursor: pointer; }
.modal-content:not(.fullscreen) .close-modal { background-color: rgba(0,0,0,.65); top: -16px; right: -16px; }
.modal-content.fullscreen .close-modal { background-color: rgba(0,0,0,.2); top: 10px; right: 10px; }
html:not(.mobile) .modal-content:not(.fullscreen) .close-modal:hover { background-color: rgba(0,0,0,1); }
html:not(.mobile) .modal-content.fullscreen .close-modal:hover { background-color: rgba(0,0,0,.45); }

.modal-footer .btn:focus,.modal-container [type="submit"]:focus { box-shadow: 0 0 0 3px rgba(0,0,0,.15); }

@media (min-width: 960px) {
    .modal-content.inline { max-width: 960px; }
}
@media (max-width: 959px) {
    .modal-content.inline { max-width: 90%; }
}
