// out: false
/* modal */ @import '_settings.less';

@modal-bg:                              fade(@black, 86%);
@modal-footer-bg:                       fade(@black, 4%);

@modal-btn-focus-shadow:                fade(@black, 15%);

@modal-close-bg:                        fade(@black, 65%);
@modal-close-hover-bg:                  lighten(@black, 20%);
@modal-close-fullscreen-bg:             fade(@black, 20%);
@modal-close-fullscreen-hover-bg:       fade(@black, 35%);

.modal-opened,.modal-opened > body { overflow: hidden; }

.modal-bg { width: 100%; min-width: @layout-min; height: 100%; background-color: @modal-bg; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 89; }
.modal-bg:not(.open) { display: none; }
.modal-bg:not(.open-ease) { opacity: 0; }

.modal-win.show { position: fixed; z-index: 90; }
.modal-win:not(.show) { display: none; }

.modal-content { min-width: 280px; ._bg-var(body-bg); position: fixed; }
.modal-win.no-bg .modal-content { background: none !important; box-shadow: none !important; }
.modal-content:not(.fullscreen) { width: 90%; max-height: 92%; }
.modal-content.fullscreen { width: 100%; height: 100%; border-radius: 0 !important; }
.modal-win:not(.show-ease) .modal-content { opacity: 0; transform: translateY(10px); }

.modal-win.no-bg .error:not(.form-holder) { background-color: @red !important; }
.modal-win.no-bg .error .icon { color: @white !important; }

.modal-content.lg { max-width: @lg-breakpoint; min-height: 300px; }
.modal-content.md { max-width: @md-breakpoint; min-height: 240px; }
.modal-content.sm { max-width: @xs-breakpoint; min-height: 120px; }
.modal-content.inline-modal { width: auto; }

.modal { display: none; }
.modal-win .modal { height: 100%; display: block; }
.modal-content.round .modal { border-radius: @round - 1; }
.modal-content.has-header .modal { padding-top: 52px !important; }
.modal-content.has-footer .modal { padding-bottom: 52px !important; }

.modal-header,.modal-container,.modal-footer { min-width: 280px; }
.modal-header,.modal-footer { text-overflow: ellipsis; white-space: nowrap; height: 52px; background-color: @modal-footer-bg; padding: 10px; overflow: hidden; position: absolute; right: 0; left: 0; z-index: 9; }
.modal-header > .row,.modal-container > .row,.modal-footer > .row { margin-top: -10px; margin-right: inherit; margin-bottom: -10px; margin-left: inherit; }
.modal-header > .fixed,.modal-container > .fixed,.modal-footer > .fixed { padding-right: 0; padding-left: 0; margin-top: -10px; margin-bottom: -10px; }

.modal-header { top: 0; }
.modal-footer { bottom: 0; }
.modal-content:not(.fullscreen).round .modal-header { border-radius: @round - 1 @round - 1 0 0; }
.modal-content:not(.fullscreen).round .modal-footer { border-radius: 0 0 @round - 1 @round - 1; }

.modal-buttons { float: right; }
.modal-content.fullscreen .modal-header .modal-buttons { padding-right: 42px; }

.modal-header h1,.modal-header h2,.modal-header h3,.modal-header h4,.modal-header h5,.modal-header h6 { font-size: 18px !important; text-overflow: ellipsis; line-height: 32px; max-width: 100%; overflow: hidden; float: left; }

.modal-header .btn-lg,.modal-footer .btn-lg,.modal-header.form-lg .btn,.modal-footer.form-lg .btn { margin: -5px 0; }
.modal-header .btn-sm,.modal-footer .btn-sm { margin: 3px 0; }
.modal-header .btn-xs,.modal-footer .btn-xs { margin: 5px 0; }
.modal-header .btn-xxs,.modal-footer .btn-xxs { margin: 8px 0; }

.modal-container { min-height: 20px; height: 100%; max-height: 100%; padding: 10px; overflow: auto; position: relative; }
.mobile .modal-container { -webkit-overflow-scrolling: touch; }
.modal-container > iframe { width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

.modal-iframe { width: 100%; height: 100%; overflow: hidden; }
.modal-content:not(.fullscreen).round .modal-iframe { border-radius: @round - 1; }

.modal-content .close-modal { color: @white !important; text-align: center; width: 32px; height: 32px; border: 0; border-radius: 100%; position: absolute; z-index: 10; cursor: pointer; }
.modal-content .close-modal .icon { width: 14px; height: 14px; stroke-width: 38px; }
.modal-content:not(.fullscreen) .close-modal { background-color: @modal-close-bg; top: -16px; right: -16px; }
.modal-content.fullscreen .close-modal { background-color: @modal-close-fullscreen-bg; top: 10px; right: 10px; }
html:not(.mobile) .modal-content:not(.fullscreen) .close-modal:hover { background-color: @modal-close-hover-bg; }
html:not(.mobile) .modal-content.fullscreen .close-modal:hover { background-color: @modal-close-fullscreen-hover-bg; }

.modal-footer .btn:focus,.modal-container [type="submit"]:focus { box-shadow: 0 0 0 3px @modal-btn-focus-shadow; }

@media (@md-start) {
    .modal-content.inline-modal { max-width: @md-breakpoint; }
}
@media (@sm-finish) {
    .modal-content.inline-modal { max-width: 90%; }
}
