/* icons notifiers */
.notifier { position: relative; }
.notifier:after { content: ""; font-size: 8px; min-width: 10px; height: 10px; background-color: red; margin-left: -33%; border-radius: 200px; position: absolute; top: -12px; left: 100%; z-index: 1; }
.notifier-xxs:after,.notifier-xs:after,.notifier-sm:after { top: -3px; }

.notifier-xxs:after { min-width: 4px; height: 4px; }
.notifier-xs:after { min-width: 5px; height: 5px; }
.notifier-sm:after { min-width: 6px; height: 6px; }
.notifier-xl:after { min-width: 12px; height: 12px; }
.notifier-xxl:after { min-width: 14px; height: 14px; }

.notifier[data-notifier]:after { content: attr(data-notifier); color: #fff; font-family: Arial, sans-serif !important; text-align: center; line-height: normal; padding: 1px 3px; }
.notifier-xl[data-notifier]:after { font-size: 9px; }
.notifier-xxl[data-notifier]:after { font-size: 11px; }

.notifier-yellow:after { background-color: #ffa600; }
.notifier-green:after { background-color: #2dbd3a; }
.notifier-orange:after { background-color: #f47500; }
.notifier-blue:after { background-color: #235ea0; }
.notifier-white:after { color: #000 !important; background-color: #fff; }
.notifier-gray:after { background-color: gray; }
.notifier-black:after { background-color: black; }
