// out: false
/* paddings */ @import '_settings.less';

._paddings (@name; @size) {
    .@{name} { padding: @size !important; }

    .@{name}-t { padding-top: @size !important; }
    .@{name}-r { padding-right: @size !important; }
    .@{name}-b { padding-bottom: @size !important; }
    .@{name}-l { padding-left: @size !important; }

    .@{name}-h { padding-left: @size !important; padding-right: @size !important; }
    .@{name}-v { padding-top: @size !important; padding-bottom: @size !important; }
}

each(@increases, {
    @j: unit(@value);
    ._paddings (@name: ~'padding-@{j}'; @size: @value);
});

._paddings (@name: no-padding; @size: 0);

@media (@lg-start) {
    ._paddings (@name: lg-no-padding; @size: 0);
}
@media (@md-start) and (@md-finish) {
    ._paddings (@name: md-no-padding; @size: 0);
}
@media (@sm-start) and (@sm-finish) {
    ._paddings (@name: md-no-padding; @size: 0);
    ._paddings (@name: sm-no-padding; @size: 0);
}
@media (@xs-finish) {
    ._paddings (@name: md-no-padding; @size: 0);
    ._paddings (@name: sm-no-padding; @size: 0);
    ._paddings (@name: xs-no-padding; @size: 0);
}
@media (@xl-start) {
    ._paddings (@name: xl-no-padding; @size: 0);
}
