// out: false
/* page social */ @import '_settings.less';

@facebook-bg:                           #3b5998;
@facebook-hover-bg:                     lighten(@facebook-bg, 10%);

@twitter-bg:                            #1da1f2;
@twitter-hover-bg:                      lighten(@twitter-bg, 10%);

@instagram-bg:                          #c13584;
@instagram-hover-bg:                    lighten(@instagram-bg, 10%);

@linkedin-bg:                           #0077b5;
@linkedin-hover-bg:                     lighten(@linkedin-bg, 10%);

@google-bg:                             #db4437;
@google-hover-bg:                       lighten(@google-bg, 10%);

@whatsapp-bg:                           #25d366;
@whatsapp-hover-bg:                     lighten(@whatsapp-bg, 10%);

@youtube-bg:                            #ff0000;
@youtube-hover-bg:                      lighten(@youtube-bg, 10%);

.page-social { width: @btn-lg; position: fixed; top: 30%; left: 0; z-index: 20; }

.btn- {
    &facebook {
        color: @white; background-color: @facebook-bg;

        html:not(.mobile) &:hover { background-color: @facebook-hover-bg !important; }
    }
    &twitter {
        color: @white; background-color: @twitter-bg;

        html:not(.mobile) &:hover { background-color: @twitter-hover-bg !important; }
    }
    &instagram {
        color: @white; background-color: @instagram-bg;

        html:not(.mobile) &:hover { background-color: @instagram-hover-bg !important; }
    }
    &linkedin {
        color: @white; background-color: @linkedin-bg;

        html:not(.mobile) &:hover { background-color: @linkedin-hover-bg !important; }
    }
    &google {
        color: @white; background-color: @google-bg;

        html:not(.mobile) &:hover { background-color: @google-hover-bg !important; }
    }
    &whatsapp {
        color: @white; background-color: @whatsapp-bg;

        html:not(.mobile) &:hover { background-color: @whatsapp-hover-bg !important; }
    }
    &youtube {
        color: @white; background-color: @youtube-bg;

        html:not(.mobile) &:hover { background-color: @youtube-hover-bg !important; }
    }
}

@media (@xs-finish) {
    .page-social { display: none; }
}
@media (max-height: @xs-breakpoint) {
    .page-social { display: none; }
}