// out: false
/* page social */ @import '_settings.less';

@page-social-hide-mobile:               true;

@page-social-pos-x:                     left;
@page-social-top-size:                  30%;

@page-social-z-index:                   20;

@facebook-bg:                           hsl(221, 44%, 41%);
@facebook-hover-bg:                     lighten(@facebook-bg, 10%);

@twitter-bg:                            hsl(203, 89%, 53%);
@twitter-hover-bg:                      lighten(@twitter-bg, 10%);

@instagram-bg:                          hsl(326, 57%, 48%);
@instagram-hover-bg:                    lighten(@instagram-bg, 10%);

@linkedin-bg:                           hsl(201, 100%, 35%);
@linkedin-hover-bg:                     lighten(@linkedin-bg, 10%);

@google-bg:                             hsl(5, 69%, 54%);
@google-hover-bg:                       lighten(@google-bg, 10%);

@whatsapp-bg:                           hsl(142, 70%, 49%);
@whatsapp-hover-bg:                     lighten(@whatsapp-bg, 10%);

@youtube-bg:                            hsl(0, 100%, 50%);
@youtube-hover-bg:                      lighten(@youtube-bg, 10%);


.page-social {
    width: @btn-lg; position: fixed; top: @page-social-top-size; z-index: @page-social-z-index;

    & when (@page-social-pos-x = left) { left: 0; }
    & when (@page-social-pos-x = right) { right: 0; }
}

.btn- {
    &facebook {
        color: @white; background-color: @facebook-bg;

        .desktop &:hover { background-color: @facebook-hover-bg !important; }
    }
    &twitter {
        color: @white; background-color: @twitter-bg;

        .desktop &:hover { background-color: @twitter-hover-bg !important; }
    }
    &instagram {
        color: @white; background-color: @instagram-bg;

        .desktop &:hover { background-color: @instagram-hover-bg !important; }
    }
    &linkedin {
        color: @white; background-color: @linkedin-bg;

        .desktop &:hover { background-color: @linkedin-hover-bg !important; }
    }
    &google {
        color: @white; background-color: @google-bg;

        .desktop &:hover { background-color: @google-hover-bg !important; }
    }
    &whatsapp {
        color: @white; background-color: @whatsapp-bg;

        .desktop &:hover { background-color: @whatsapp-hover-bg !important; }
    }
    &youtube {
        color: @white; background-color: @youtube-bg;

        .desktop &:hover { background-color: @youtube-hover-bg !important; }
    }
}

& when (@page-social-hide-mobile = true) {
    @media (@xs-finish) {
        .page-social { display: none; }
    }
    @media (max-height: @xs-breakpoint) {
        .page-social { display: none; }
    }
}