/* pagination */
.pagination:not(:last-child) { margin-bottom: 20px; }

@media (max-width: 767px) {
    .pagination .btn:not(.prev):not(.next):not(.btn-active) { display: none; }
    .pagination .btn { min-width: 32px; padding-right: 8px !important; padding-left: 8px !important; }
    .pagination .btn-lg { min-width: 42px; }
    .pagination .btn-sm { min-width: 26px; }
    .pagination .btn-xs { min-width: 22px; }
    .pagination .btn-xxs { min-width: 14px; }
}
