// out: false
/* photo slider */ @import (reference) 'ui.less';

@photo-slider-loader-icon-size:         42px;
@photo-slider-loader-opacity:           .45;

@photo-slider-btn-z-index:              10;

@photo-slider-dot-size:     		    7px;
@photo-slider-dot-margin-v:			    6px;
@photo-slider-dot-margin-h:			    3px;
@photo-slider-dot-selected-scale:       1.5;

@photo-slider-dot-bg:                   fade(@black, 20%);
@photo-slider-dot-bg-dark:              fade(@white, 20%);
@photo-slider-dot-selected-bg:          fade(@black, 35%);
@photo-slider-dot-selected-bg-dark:     fade(@white, 35%);

._global-vars () {
    --ui-photo-slider-dot-bg: @photo-slider-dot-bg;
    --ui-photo-slider-dot-selected-bg: @photo-slider-dot-selected-bg;
}
._global-vars-dark () {
    --ui-photo-slider-dot-bg: @photo-slider-dot-bg-dark;
    --ui-photo-slider-dot-selected-bg: @photo-slider-dot-selected-bg-dark;
}

@keyframes ui-photo-slider-loader {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.ui-photo-slider {
    white-space: nowrap; overflow: hidden; display: block; position: relative;

    &:not(.ui-loaded) {
        ._bg-var(body-bg);

        .ui-card & { ._bg-var(card-bg); }
        .ui-slider-loader { opacity: @photo-slider-loader-opacity; animation: ui-photo-slider-loader 1.15s linear infinite; }
        img { opacity: 0; }
    }

    .ui-slider-loader { ._icon(@photo-slider-loader-icon-size); margin: -(@photo-slider-loader-icon-size / 2) 0 0 -(@photo-slider-loader-icon-size / 2); position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); opacity: 0; z-index: 1; }
    img { width: 100%; display: inline-block; position: relative; z-index: 2; }

    .ui-btn {
        position: absolute; top: 50%; z-index: @photo-slider-btn-z-index; transform: translateY(-50%);

        &:not(.ui-show) { display: none; }
        &.ui-prev { left: 0; }
        &.ui-next { right: 0; }
    }

    .ui-photo-slider-nav {
        white-space: nowrap; text-align: center; line-height: @photo-slider-dot-size; padding: @photo-slider-dot-margin-v @photo-slider-dot-margin-v; display: block; position: absolute; bottom: 0; left: 50%; z-index: 3; cursor: default; transform: translateX(-50%);

        &:not(.ui-show) { display: none; }
        i {
            width: @photo-slider-dot-size; height: @photo-slider-dot-size; ._bg-var(photo-slider-dot-bg); margin: 0 @photo-slider-dot-margin-h; display: inline-block; border-radius: 50%;

            &.ui-selected { ._bg-var(photo-slider-dot-selected-bg); transform: scale(@photo-slider-dot-selected-scale); }
        }
    }
}