// out: false
/* photo gallery */ @import (reference) 'ui.less';

@photo-gallery-custom-breakpoint:       620px;
@photo-gallery-info-padding:            20px;
@photo-gallery-info-bg:                 fade(@black, 65%);

@photo-gallery-img-height:              208px;
@photo-gallery-img-bg:                  fade(@black, 25%);
@photo-gallery-img-hover-bg:            fade(@white, 25%);

@photo-preview-bg:                      fade(@black, 86%);
@photo-preview-loader-icon-size:        50px;
@photo-preview-z-index:                 91;

@photo-preview-close-icon-position:     20px;
@photo-preview-close-icon-z-index:      10;

@photo-preview-btn-position:            10px;
@photo-preview-btn-size:                (@btn-lg + 20);
@photo-preview-btn-padding:             10px;
@photo-preview-btn-hover-bg:            fade(@white, 8%);

@photo-preview-icon-size:               40px;
@photo-preview-icon-stroke-size:        14px;

@photo-preview-info-radius:             @round;
@photo-preview-info-min-height:         40px;
@photo-preview-info-max-height:         132px;
@photo-preview-info-padding:            10px;
@photo-preview-info-bg:                 fade(@black, 75%);
@photo-preview-img-shadow-size:         5px 30px;
@photo-preview-img-shadow:              fade(@black, 75%);

@keyframes ui-preview-loader {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.ui-ease-photo-gallery {
    .ui-img {
        &:after,&.ui-has-info > span { transition-property: opacity; transition-duration: @ease-default; }
    }
}

.ui-photo-gallery {
    list-style: none; display: block;

    &:before,&:after { content: ""; display: table; }
    &:after { clear: both; }

    & > li {
        overflow: hidden; float: left;

        .ui-img {
            img {
                width: auto; height: 100%; position: absolute; left: 50%; transform: translate(-50%,0);

                &.ui-img-v { width: 100%; height: auto; top: 50%; left: 0; transform: translate(0,-50%); }
            }
        }
    }

    .ui-img {
        display: inline-block; overflow: hidden; position: relative;

        &:after { content: ""; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; opacity: 0; }

        &:not(.ui-has-info) {
            background: @photo-gallery-img-bg;

            &:after { background-color: @photo-gallery-img-hover-bg; }
        }
        &.ui-has-info {
            &,&.ui-touch-info {
                &:after { background-color: @photo-gallery-info-bg; }
                & > span { color: @white; text-align: left; overflow: hidden; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 2; opacity: 0; }
            }
            .ui-desktop &:hover,&.ui-touch-info {
                & > span { opacity: 1; }
            }
        }

        &.ui-show-info {
             &:after,& > span { opacity: 1; }
        }

        .ui-desktop &:hover,&.ui-touch-info {
            &:after { opacity: 1; }
        }
    }
}

.ui-photo-preview {
    width: 100%; min-width: @layout-min; height: 100%; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: @photo-preview-z-index;

    &:not(.ui-open) { display: none; }
    &:not(.ui-open-ease) { opacity: 0; }

    &-opened {
        & > body { overflow: hidden; }
    }

    &-bg { background-color: @photo-preview-bg; position: absolute; top: 0; right: 0; bottom: 0; left: 0;}

    .ui-prev,.ui-next {
        color: @white; text-align: center; width: @photo-preview-btn-size; height: @photo-preview-btn-size; background-color: @no-color; padding: @photo-preview-btn-padding; display: none; border: 0; position: absolute; z-index: 2; top: 50%; transform: translateY(-50%); cursor: pointer;

        .ui-icon { width: @photo-preview-icon-size; height: @photo-preview-icon-size; stroke-width: @photo-preview-icon-stroke-size; }
        .ui-desktop &:hover { background-color: @photo-preview-btn-hover-bg; }

    }
    .ui-prev { left: @photo-preview-btn-position; }
    .ui-next { right: @photo-preview-btn-position; }

    .ui-preview {
        &-loader {
            color: @white; ._icon(@photo-preview-loader-icon-size); margin: -(@photo-preview-loader-icon-size / 2) 0 0 -(@photo-preview-loader-icon-size / 2); position: absolute; top: 50%; left: 50%; z-index: 3; transform: translate(-50%,-50%); animation: ui-preview-loader 1.15s linear infinite;

            &.ui-pause { color: @red; margin: 0; animation: none; }
        }

        &-info {
            color: @white; min-height: @photo-preview-info-min-height; max-height: @photo-preview-info-max-height; background-color: @photo-preview-info-bg; padding: @photo-preview-info-padding; display: block; border-radius: @photo-preview-info-radius @photo-preview-info-radius 0 0; position: absolute; bottom: 0; z-index: 1; left: 50%; transform: translate(-50%,0);

            &:not(.ui-open) { transform: translate(-50%,100%); }
        }
    }

    & > img {
        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); box-shadow: 0 @photo-preview-img-shadow-size @photo-preview-img-shadow;

        &:not(.ui-open) { display: none; }
        &:not(.ui-open-ease) { opacity: 0; }
    }


    & > .ui-preview-zoom { z-index: (@photo-preview-close-icon-z-index / 2); }
    & > .ui-pause-ease { transition-duration: 0s; }
}

.ui-close-photo-preview {
    position: fixed; z-index: @photo-preview-close-icon-z-index;

    .ui-icon { color: @white; opacity: 1 !important; }
}

@media (@default-start) {
    .ui-photo-gallery {
        & > li {
            width: 20%;

            .ui-img { height: @photo-gallery-img-height; }
        }

        &.ui-has-cover {
            & > li {
                &:first-child {
                    width: 40%;

                    .ui-img { height: (@photo-gallery-img-height * 2); }
                }
            }
        }
    }

    .ui-photo-preview {
        & > img {
            &:not(.ui-img-v):not(.ui-preview-zoom) { max-width: @lg-breakpoint; }
        }
    }
}
@media (@md-finish) {
    .ui-photo-gallery {
        & > li { width: 25%; }
    }
    .ui-photo-preview {
        & > img {
            &:not(.ui-img-v):not(.ui-preview-zoom) { width: 100%; height: auto; }
        }
    }
}
@media (@md-start) {
    .ui-photo-gallery {
        .ui-img {
            &.ui-has-info {
                &,&.ui-touch-info {
                    & > span { padding: @photo-gallery-info-padding; }
                }
            }
        }
    }

    .ui-preview-info { width: @photo-gallery-custom-breakpoint; }
    .ui-close-photo-preview { top: @photo-preview-close-icon-position; right: @photo-preview-close-icon-position; }
}
@media (@sm-finish) {
    .ui-photo-gallery {
        .ui-img {
            &.ui-has-info {
                &,&.ui-touch-info {
                    & > span { padding: (@photo-gallery-info-padding / 2); }
                }
            }
        }

        & > li { width: 33.333332%; }
    }

    .ui-preview-info { width: (@photo-gallery-custom-breakpoint / 2); }
    .ui-close-photo-preview { top: (@photo-preview-close-icon-position / 2); right: (@photo-preview-close-icon-position / 2); }
}
@media (min-width: (@photo-gallery-custom-breakpoint + 1)) and (@md-finish) {
    .ui-photo-gallery {
        & > li {
            .ui-img { height: @photo-gallery-img-height; }
        }
    }
}
@media (max-width: @photo-gallery-custom-breakpoint) {
    .ui-photo-gallery {
        .ui-img {
            &.ui-has-info {
                &,&.ui-touch-info {
                    & > span { font-size: @font-size !important; }
                }
            }
        }

        & > li {
            .ui-img { height: (@photo-gallery-img-height - 50); }
        }
    }
}
@media (@sm-start) {
    .ui-photo-preview {
        & > img {
            &.ui-img-v:not(.ui-preview-zoom) { width: auto; height: 96%; }
        }
    }
}
@media (@xs-finish) {
    .ui-photo-gallery {
        & > li {
            .ui-img { height: (@photo-gallery-img-height - 60); }
        }
    }
    .ui-photo-preview {
        & > img {
            &.ui-img-v:not(.ui-preview-zoom) { width: auto; max-width: 100%; }
        }
    }
}
@media (max-width: (@layout-min + 60)) {
    .ui-photo-gallery {
        & > li { width: 50%; }
    }
}