// out: false
/* photo gallery */ @import '_settings.less';

@photo-gallery-custom-breakpoint:       620px;
@photo-gallery-info-padding:            20px;
@photo-gallery-info-bg:                 fade(@black, 65%);

@photo-gallery-img-height:              180px;
@photo-gallery-img-bg:                  fade(@black, 25%);
@photo-gallery-img-hover-bg:            fade(@white, 25%);

@photo-preview-bg:                      fade(@black, 86%);
@photo-preview-loader-icon-size:        50px;
@photo-preview-z-index:                 91;

@photo-preview-close-icon-position:     20px;
@photo-preview-close-icon-z-index:      10;

@photo-preview-btn-radius:              @round;
@photo-preview-btn-size:                (@btn-lg + 10);
@photo-preview-btn-padding:             10px;
@photo-preview-btn-bg:                  fade(@white, 15%);
@photo-preview-btn-hover-bg:            fade(@white, 25%);

@photo-preview-info-radius:             @round;
@photo-preview-info-min-height:         40px;
@photo-preview-info-max-height:         132px;
@photo-preview-info-padding:            10px;
@photo-preview-info-bg:                 fade(@black, 75%);
@photo-preview-img-shadow-size:         5px 30px;
@photo-preview-img-shadow:              fade(@black, 75%);

@keyframes preview-loader {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.ease-photo-gallery {
    .img {
        &:after,&.has-info > span { transition-property: opacity; transition-duration: @ease-default; }
    }
}

.photo-gallery {
    list-style: none; padding: 0; margin-bottom: 0; display: block;

    &:before,&:after { content: ""; display: table; }
    &:after { clear: both; }

    & > li {
        overflow: hidden; float: left;

        .img {
            img {
                width: auto; height: 100%; position: absolute; left: 50%; transform: translate(-50%,0);

                &.cover-h { width: 100%; height: auto; top: 50%; left: 0; transform: translate(0,-50%); }
            }
        }
    }

    .img {
        display: inline-block; overflow: hidden; position: relative;

        &:after { content: ""; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; opacity: 0; }

        &:not(.has-info) {
            background: @photo-gallery-img-bg;

            &:after { background-color: @photo-gallery-img-hover-bg; }
        }
        &.has-info {
            &,&.touch-hover {
                &:after { background-color: @photo-gallery-info-bg; }
                & > span { color: @white; text-align: left; overflow: hidden; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 2; opacity: 0; }
            }
            .desktop &:hover,&.touch-hover {
                & > span { opacity: 1; }
            }
        }

        &.show-info {
             &:after,& > span { opacity: 1; }
        }

        .desktop &:hover,&.touch-hover {
            &:after { opacity: 1; }
        }
    }
}

.photo-preview {
    width: 100%; min-width: @layout-min; height: 100%; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: @photo-preview-z-index;

    &:not(.open) { display: none; }
    &:not(.open-ease) { opacity: 0; }

    &-opened {
        & > body { overflow: hidden; }
    }

    &-bg { background-color: @photo-preview-bg; position: absolute; top: 0; right: 0; bottom: 0; left: 0;}

    .preview- {
        &prev,&next {
            color: @white; text-align: center; width: @photo-preview-btn-size; height: @photo-preview-btn-size; background-color: @photo-preview-btn-bg; padding: @photo-preview-btn-padding; display: none; border: 0; position: absolute; z-index: 2; top: 50%; transform: translateY(-50%);

            .desktop &:hover { background-color: @photo-preview-btn-hover-bg; }

        }
        &prev { border-radius: 0 @photo-preview-btn-radius @photo-preview-btn-radius 0; left: 0; }
        &next { border-radius: @photo-preview-btn-radius 0 0 @photo-preview-btn-radius; right: 0; }

        &loader {
            color: @white; ._icon(@photo-preview-loader-icon-size); margin: -(@photo-preview-loader-icon-size / 2) 0 0 -(@photo-preview-loader-icon-size / 2); position: absolute; top: 50%; left: 50%; z-index: 3; transform: translate(-50%,-50%); animation: preview-loader 1.15s linear infinite;

            &.pause { color: @red; margin: 0; animation: none; }
        }

        &info {
            color: @white; min-height: @photo-preview-info-min-height; max-height: @photo-preview-info-max-height; background-color: @photo-preview-info-bg; padding: @photo-preview-info-padding; display: block; border-radius: @photo-preview-info-radius @photo-preview-info-radius 0 0; position: absolute; bottom: 0; z-index: 1; left: 50%; transform: translate(-50%,0);

            &:not(.open) { transform: translate(-50%,100%); }
        }
    }

    & > img {
        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); box-shadow: 0 @photo-preview-img-shadow-size @photo-preview-img-shadow;

        &:not(.open) { display: none; }
        &:not(.open-ease) { opacity: 0; }
    }


    & > .preview-zoom { z-index: (@photo-preview-close-icon-z-index / 2); }
    & > .pause-easing { transition-duration: 0s; }
}

.close-photo-preview {
    border-radius: @photo-preview-btn-radius; position: fixed; z-index: @photo-preview-close-icon-z-index;

    .icon { color: @white; opacity: 1 !important; }
}

@media (@default-start) {
    .photo-gallery {
        & > li {
            width: 20%;

            .img { height: @photo-gallery-img-height; }
        }

        &.has-cover {
            & > li {
                &:first-child {
                    width: 40%;

                    .img { height: (@photo-gallery-img-height * 2); }
                }
            }
        }
    }

    .photo-preview {
        & > img {
            &:not(.cover-h):not(.preview-zoom) { max-width: @lg-breakpoint; }
        }
    }
}
@media (@md-finish) {
    .photo-gallery {
        & > li { width: 25%; }
    }
    .photo-preview {
        & > img {
            &:not(.cover-h):not(.preview-zoom) { width: 100%; height: auto; }
        }
    }
}
@media (@md-start) {
    .photo-gallery {
        .img {
            &.has-info {
                &,&.touch-hover {
                    & > span { padding: @photo-gallery-info-padding; }
                }
            }
        }
    }

    .preview-info { width: @photo-gallery-custom-breakpoint; }
    .close-photo-preview { top: @photo-preview-close-icon-position; right: @photo-preview-close-icon-position; }
}
@media (@sm-finish) {
    .photo-gallery {
        .img {
            &.has-info {
                &,&.touch-hover {
                    & > span { padding: (@photo-gallery-info-padding / 2); }
                }
            }
        }

        & > li { width: 33.333332%; }
    }

    .preview-info { width: (@photo-gallery-custom-breakpoint / 2); }
    .close-photo-preview { top: (@photo-preview-close-icon-position / 2); right: (@photo-preview-close-icon-position / 2); }
}
@media (min-width: (@photo-gallery-custom-breakpoint + 1)) and (@md-finish) {
    .photo-gallery {
        & > li {
            .img { height: @photo-gallery-img-height; }
        }
    }
}
@media (max-width: @photo-gallery-custom-breakpoint) {
    .photo-gallery {
        .img {
            &.has-info {
                &,&.touch-hover {
                    & > span { font-size: @font-size !important; }
                }
            }
        }

        & > li {
            .img { height: (@photo-gallery-img-height - 50); }
        }
    }
}
@media (@sm-start) {
    .photo-preview {
        & > img {
            &.cover-h:not(.preview-zoom) { width: auto; height: 96%; }
        }
    }
}
@media (@xs-finish) {
    .photo-gallery {
        & > li {
            .img { height: (@photo-gallery-img-height - 60); }
        }
    }
    .photo-preview {
        & > img {
            &.cover-h:not(.preview-zoom) { width: auto; max-width: 100%; }
        }
    }
}
@media (max-width: (@layout-min + 60)) {
    .photo-gallery {
        & > li { width: 50%; }
    }
}