// out: false
/* photo images */ @import (reference) 'ui.less';

@img-photo-lg-icon-size:                34px;
@img-photo-sm-icon-size:                18px;
@img-photo-xs-icon-size:                14px;

@img-photo-over-size:                   15px;

@img-photo-bg:                          fade(@black, 8%);
@img-photo-bg-dark:                     fade(@white, 8%);

._global-vars () {
    --ui-img-photo-bg: @img-photo-bg;
}
._global-vars-dark () {
    --ui-img-photo-bg: @img-photo-bg-dark;
}

.ui-photos-holder {
    vertical-align: middle; display: inline-block;

    & > * {
        &:not(.ui-btn):not(:first-child) { margin-left: -@img-photo-over-size; }
    }
    & > a { text-decoration: none; }

    [class*="ui-img-photo"] {
        &:not([class*="ui-stroke"]) { ._border-color-var(body-bg); }

        .ui-dropdown & { ._border-color-var(highlighted); }
        .ui-card & { ._border-color-var(card-bg); }
    }
}

[class*="ui-img-photo"] {
    text-align: center; vertical-align: middle; position: relative;

    &:not(img) {
        text-decoration: none; ._bg-var(img-photo-bg); display: inline-block;

        & > span,& > svg { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
    }
}

.ui-img-photo {
    font-size: @font-16; width: @photo-img-default; height: @photo-img-default;

    &-lg {
        font-size: @font-24; width: @photo-img-lg; height: @photo-img-lg;

        .ui-icon { ._icon(@img-photo-lg-icon-size); }
    }
    &-sm {
        font-size: @font-size; width: @photo-img-sm; height: @photo-img-sm;

        .ui-icon { ._icon(@img-photo-sm-icon-size); }
    }
    &-xs {
        font-size: @font-12; width: @photo-img-xs; height: @photo-img-xs;

        .ui-icon { ._icon(@img-photo-xs-icon-size); }
    }
}
