// out: false
/* photo images */ @import '_settings.less';

@img-photo-bg:                          fade(@black, 8%);
@img-photo-bg-dark:                     fade(@white, 8%);

._global-vars () {
    --img-photo-bg: @img-photo-bg;
}
._global-vars-dark () {
    --img-photo-bg: @img-photo-bg-dark;
}

.photos-holder { vertical-align: middle; display: inline-block; }
.photos-holder > :not(.btn):not(:first-child) { margin-left: -15px; }

.photos-holder [class*="img-photo"] { ._border-color-var(body-bg); }
.dropdown .photos-holder [class*="img-photo"] { ._border-color-var(highlighted); }
.card .photos-holder [class*="img-photo"] { ._border-color-var(card-bg); }

[class*="img-photo"] { text-align: center; vertical-align: middle; position: relative; }
[class*="img-photo"]:not(img) { ._bg-var(img-photo-bg); display: inline-block; }
[class*="img-photo"]:not(img) > span,[class*="img-photo"]:not(img) > svg { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }

.img-photo-lg { font-size: @largest - 4; width: 80px; height: 80px; }
.img-photo-lg .icon { ._icon(34px); }

.img-photo { font-size: @large; width: 50px; height: 50px; }

.img-photo-sm { font-size: @font-size; width: @btn-lg; height: @btn-lg; }
.img-photo-sm .icon { ._icon(18px); }

.img-photo-xs { font-size: @small; width: @btn-default; height: @btn-default; }
.img-photo-xs .icon { ._icon(14px); }
