/* pie chart */
@keyframes pie-spin { from { -ms-transform: rotate(0deg); transform: rotate(0deg); } 50% { -ms-transform: rotate(0deg); transform: rotate(0deg); } }

.ease-pie:after { transition-property: background-color; transition-duration: .3s; }
.no-transitions-all .ease-pie:after { transition-property: none !important; }

.pie-chart { list-style: none; vertical-align: middle; padding: 0; margin-bottom: 0; display: inline-block; position: relative; }
.pie-chart:not(.loaded) { opacity: 0; }
.pie-chart li { width: 160px; height: 160px; border-radius: 50%; position: relative; }
.pie-chart[data-text]:before { content: attr(data-text); color: #000; font-weight: bold; text-align: center; width: 100%; position: absolute; top: 50%; z-index: 1; transform: translateY(-50%); }

.pie-chart li { color: #ddd; background-color: #eee; border-radius: 50% !important; }
.pie-chart li span { width: 50%; height: 100%; overflow: hidden; display: block; position: absolute; top: 0; }
.pie-chart li span:before { content: ""; background-color: currentColor; width: 100%; height: 100%; position: absolute; }
.pie-chart li .l { left: 0; }
.pie-chart li .l:before { left: 100%; border-radius: 0 1000px 1000px 0; -ms-transform-origin: left; transform-origin: left; animation: pie-spin 1s ease-out .5s 1; }
.pie-chart li .r { left: 50%; }
.pie-chart li .r:before { left: -100%; border-radius: 1000px 0 0 1000px; -ms-transform-origin: right; transform-origin: right; animation: pie-spin 1s ease-out 1; }

.pie-chart-multi li { width: 100%; height: 100%; background-color: transparent; position: absolute; }
.pie-chart-multi .pie-mirror .l { overflow: visible; }
