// out: false
/* pie chart */ @import '_settings.less';

@keyframes pie-spin-l {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { -ms-transform: rotate(0deg); transform: rotate(0deg); opacity: 1; }
}
@keyframes pie-spin-r { 0% { -ms-transform: rotate(0deg); transform: rotate(0deg); } }

.ease-pie-chart li,.ease-pie-chart > div span { transition-property: opacity; transition-duration: .3s; }

.pie-chart { position: relative; @no-user-select(); }
.pie-chart[data-text]:before { content: attr(data-text); color: @black; font-weight: @font-bold; text-align: center; line-height: 14px; min-height: 16px; background: @white; padding: 4px 8px; display: inline-block; border-radius: 1000px; position: absolute; top: 50%; left: 50%; z-index: 2; transform: translate(-50%,-50%); }

.pie-chart > div span { display: block; position: absolute; top: 50%; right: 0; left: 50%; z-index: 1; transform-origin: left top; }
.pie-chart:not(.open-ease) > div span { opacity: 0; }
.pie-chart > div span i { color: @x-dark; font-size: 11px; font-style: normal; font-weight: @font-bold; line-height: 11px; background: @white; padding: 2px 4px;  margin-right: 5px; border-radius: 1000px; float: right; }

.pie-chart ul { list-style: none; padding: 0; margin-bottom: 0; overflow: hidden; display: block; border-radius: 50%; position: relative; }
.pie-chart ul:after { content: ""; background-color: currentColor; display: block; border-radius: 50%; position: absolute; top: 5px; right: 5px; bottom: 5px; left: 5px; opacity: .05; }

.pie-chart li { width: 100%; height: 100%; border-radius: 50%; z-index: 1; }
.pie-chart:not(.open) li { opacity: 0; }
.pie-chart li:first-child { position: relative; }
.pie-chart li:not(:first-child) { position: absolute; top: 0; left: 0; }

.pie-chart li span { width: 50%; height: 100%; overflow: hidden; display: block; position: absolute; top: 0; }
.pie-chart li .l { overflow: visible; left: 0; }
.pie-chart li .r { left: 50%;  }

.pie-chart li span b { background-color: currentColor; width: 100%; height: 100%; position: absolute; }
.pie-chart li .l b { left: 100%; border-radius: 0 1000px 1000px 0; -ms-transform-origin: left; transform-origin: left; }
.pie-chart li .r b { left: -100%; border-radius: 1000px 0 0 1000px; -ms-transform: rotate(180deg); transform: rotate(180deg); -ms-transform-origin: right; transform-origin: right; }

.pie-chart.open li .l b { animation: pie-spin-l 1.6s ease-out forwards; }
.pie-chart.open li .r b { animation: pie-spin-r 1.6s ease-in forwards; }
.pie-chart.open li .l + .r b { animation: pie-spin-r .8s ease-in forwards; }
