/* popup box */
.popup-box-opened { overflow: hidden; }
.popup-box-opened body { width: 100%; height: 100%; overflow: hidden; position: fixed; top; 0; left: 0; }

.popup-box { width: 100%; min-width: 320px; height: 100%; background-color: rgba(0,0,0,.65); padding: 0 10px; position: fixed; top; 0; right: 0; bottom: 0; left: 0; z-index: 91; }
.popup-box:not(.open) { display: none; }
.popup-box:not(.open-ease) { opacity: 0; }

.popup-box > img,.popup-box > a { display: inline-block; position: relative; left: 50%; }
.popup-box > img,.popup-box > a img { max-width: 1200px; height: auto; box-shadow: 0 5px 30px rgba(0,0,0,.75); }

.popup-content { max-width: 1200px; min-height: 380px; background-color: #fff; margin: 62px 0; display: inline-block; position: relative; box-shadow: 0 5px 30px rgba(0,0,0,.75); }

.close-popup-box { position: fixed; top: 10px; z-index: 10; }
.close-popup-box .icon { color: #fff; }

@media (min-width: 1200px) {
    .popup-content { left: 50%; transform: translateX(-50%); }
}
@media (max-width: 1199px) {
    .popup-box > img,.popup-box > a > img,.popup-content  { width: 100%; }
}
@media (min-width: 768px) {
    .popup-box > img,.popup-box > a { margin: 62px 0; transform: translateX(-50%); }
    html:not(.mobile) .popup-box > img:hover,html:not(.mobile) .popup-box > a:hover { transform: translateX(-50%) scale(.98); }

    .popup-content  { min-width: 768px; padding: 20px; }
    .close-popup-box { right: 20px; }
}
@media (max-width: 767px) {
    .popup-box > img,.popup-box > a  { top: 50%; transform: translate(-50%,-50%); }
    html:not(.mobile) .popup-box > img:hover,html:not(.mobile) .popup-box > a:hover { transform: translate(-50%,-50%) scale(.96); }

    .popup-content  { padding: 10px; }
    .close-popup-box { right: 15px; }
}
