/* portlets */
.ease-portlet-close { transition-property: transform, opacity; }

.portlet,[class*="portlet-"]:not(.portlet-close) { background-color: #fff; display: block; position: relative; }
.portlet:not(:last-child),[class*="portlet-"]:not(:last-child) { margin-bottom: 20px; }
.portlet > .row,[class*="portlet-"] > .row,.content-side > .row { margin-left: inherit; margin-right: inherit; }
[class*="portlet-"].rounded { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; }

.content-side:before { content: ""; display: table; }
.content-side:after { clear: both; }
.content-side h1,.content-side h2,.content-side h3,.content-side h4,.content-side h5,.content-side h6 { line-height: normal !important; }

.portlet-info { border-left: solid 2px #ccc; }
.portlet-success { border-left: solid 2px #2dbd3a; }
.portlet-warning { border-left: solid 2px #ffa600; }
.portlet-error,.portlet-danger { border-left: solid 2px #dc000f; }

.portlet-close { border: 0; position: absolute; top: 10px; right: 10px; z-index: 1; opacity: .45; cursor: pointer; }
html:not(.mobile) .portlet-close:hover { opacity: .75; }
.portlet-closing { transform: scale(.94,.98); opacity: 0; }

@media (max-width: 767px) {
    [class*="portlet-"] > p { text-align: center; }
}
