/* product gallery */
@keyframes product-gallery-loader { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.product-gallery .detail { min-height: 210px; position: relative; }
.product-gallery .detail img { display: block; position: relative; z-index: 2; }
.product-gallery .detail img,.product-gallery .detail.detail-holder img { width: 100%; display: inline-block; position: relative; z-index: 1; cursor: pointer; }
html:not(.mobile) .product-gallery .detail:not(.detail-loader) img:hover { opacity: .8; }
.mobile .product-gallery .detail img { opacity: .8; }

.product-gallery .detail .icon { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.product-gallery .detail .icon-loader { margin: -20px 0 0 -20px; }

.product-gallery .detail.detail-loader { background-color: rgba(0,0,0,.075); }
.product-gallery .detail.detail-loader img { opacity: 0; }
.product-gallery .detail.detail-loader .icon-zoom { display: none; }
.product-gallery .detail.detail-loader .icon-loader { opacity: .45; animation: product-gallery-loader 3s linear infinite; }
.product-gallery .detail:not(.detail-loader) .icon-loader { display: none; }

.product-gallery .thumbs { margin: 15px -2px; }
.product-gallery .thumbs:before,.product-gallery .thumbs:after { content: ""; display: table; }
.product-gallery .thumbs:after { clear: both; }
.product-gallery .thumbs .img-holder { width: 20%; padding: 2px; float: left; }
.product-gallery .thumbs .img-holder img { width: 100%; height: auto; }
.product-gallery .thumbs .img { border: solid 2px #fff; cursor: pointer; }
.product-gallery .thumbs .img.selected { border-color: #ffa600; }
html:not(.mobile) .product-gallery .thumbs .img:not(.selected):not(:hover) { opacity: .65; }
