// out: false
/* progress bar */ @import '_settings.less';

@progress-bar-lg-size:                  20px;
@progress-bar-default-size:             14px;
@progress-bar-sm-size:                  10px;
@progress-bar-padding:                  2px;

@progress-bar-bg:                       fade(@black, 7.5%);
@progress-bar-bg-dark:                  fade(@black, 45%);

@progress-bar-inner-bg:                 fade(@black, 15%);
@progress-bar-inner-bg-dark:            fade(@white, 15%);

._global-vars () {
    --progress-bar-bg: @progress-bar-bg;
    --progress-bar-inner-bg: @progress-bar-inner-bg;
}
._global-vars-dark () {
    --progress-bar-bg: @progress-bar-bg-dark;
    --progress-bar-inner-bg: @progress-bar-inner-bg-dark;
}

@keyframes progress-fill { from { width: 0; } }

.progress- {
    &bar {
        height: @progress-bar-default-size; ._bg-var(progress-bar-bg); padding: @progress-bar-padding; display: block; overflow: hidden;

        &:not(:last-child) { margin-bottom: @highlight-space / 2; }
        & > span {
            width: 0; height: @progress-bar-default-size - @progress-bar-padding * 2; ._bg-var(progress-bar-inner-bg); float: left;

            &:not([class*="animate-"]) { animation: progress-fill 2s ease-in-out forwards; }
        }
        &.border-dual > span {
            height: @progress-bar-default-size - @progress-bar-padding * 2 - @border-dual * 2;
        }
        &.round > span {
            &:first-child { border-top-left-radius: @round - @round * 0.3333333333; border-bottom-left-radius: @round - @round * 0.3333333333; }
            &:last-child { border-top-right-radius: @round - @round * 0.3333333333; border-bottom-right-radius: @round - @round * 0.3333333333; }
        }
    }

    &lg {
        height: @progress-bar-lg-size;

        & > span { height: @progress-bar-lg-size - @progress-bar-padding * 2; }
        &.border-dual > span {
            height: @progress-bar-lg-size - @progress-bar-padding * 2 - @border-dual * 2;
        }
    }
    &sm {
        height: @progress-bar-sm-size;

        & > span { height: @progress-bar-sm-size - @progress-bar-padding * 2; }
        &.border-dual > span {
            height: @progress-bar-sm-size - @progress-bar-padding * 2 - @border-dual * 2;
        }
    }
}