// out: false
/* reset */ @import '_settings.less';

* {
    &,&:before,&:after { box-sizing: border-box; }
    &:not(ul):not(ol) { padding: 0; margin: 0; }
    &:focus { outline-style: none; outline: 0; }
    &:not(pre):not(code) { -webkit-font-smoothing: antialiased; }
}

html { font-family: @font-family; font-size: @font-size; font-weight: @font-normal; line-height: @line-height; letter-spacing: @letter-spacing; ._bg-var(body-bg); }

a {
    &,&:active,&:hover { word-wrap: break-word; text-decoration: none; }
}

img { vertical-align: middle; display: inline-block; border: 0; }

ul,ol {
    margin-top: 0; margin-bottom: 0;
    & & { margin-bottom: 0; }
}
li { list-style-position: inside; display: list-item; }

// user agents
.mobile {
    * { -webkit-tap-highlight-color: @no-color; }
}
.ios { -webkit-text-size-adjust: 100%; }

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .mac.chrome {
        body { backface-visibility: hidden; perspective: 1000; } // chrome high pixel ratio display fix
    }
}