/* reset */
*,:before,:after { box-sizing: border-box; }
:not(ul):not(ol) { padding: 0; margin: 0; }

body,input,button,textarea,select { font: 14px/1.42857143 "Roboto", "Helvetica Neue", Arial, sans-serif; }
.ie { word-spacing: -.03em; }
.ios { -webkit-text-size-adjust: 100%; }

article,aside,details,figcaption,figure,footer,header,nav,section,summary,audio,canvas,video,svg { display: block; }
svg { fill: rgba(0,0,0,0); stroke: rgba(0,0,0,0); }

:focus { outline-style: none; outline: 0; }
a,a:active,a:hover { word-wrap: break-word; text-decoration: none; }
.mobile * { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-tap-highlight-color: transparent; }

input::-moz-focus-inner,button::-moz-focus-inner { padding: 0; border: 0; }
input:-webkit-autofill { -webkit-transition-delay: 9999s; -webkit-transition: color 0s ease-out, background-color 9999s ease-out; }
textarea { vertical-align: top; width: 100%; overflow: auto; resize: none; }
textarea:not([rows]) { height: 3em; }
button { text-transform: none; overflow: visible; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

ul,ol { margin-top: 0; margin-bottom: 0; }
li { list-style-position: inside; display: list-item; }
ul ul,ol ul,ul ol,ol ol { margin-bottom: 0; }

table { border-collapse: collapse; border-spacing: 0; }
th,td,caption { font-weight: normal; vertical-align: top; text-align: left; }

sub,sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }
sup { top: -.5em; }
sub { bottom: -.25em; }

img { vertical-align: middle; display: inline-block; border: 0; }

hr { height: 1px; background-color: rgba(0,0,0,.15); margin-top: 20px; margin-bottom: 20px; box-sizing: content-box; border: 0; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
p:not(:last-child) { margin-bottom: 20px; }

[hidden] { display: none; }

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { /* chrome retina display fix */
    .chrome body { transform: translateZ(0); backface-visibility: hidden; perspective: 1000; }
}
