// out: false
/* reset */ @import '_settings.less';

* {
    &,&:before,&:after { box-sizing: border-box; }
    &:not(ul):not(ol) { padding: 0; margin: 0; }
    &:focus { outline-style: none; outline: 0; }
}

body,input,button,textarea,select { font: @font-size/@line-height @font-family; font-weight: @font-normal; }
body { ._bg-var(body-bg); }

article,aside,details,figcaption,figure,footer,header,main,nav,section,summary,audio,canvas,video { display: block; }

a {
    &,&:active,&:hover {
        word-wrap: break-word; text-decoration: none;
    }
}

label { cursor: default; }
textarea {
    vertical-align: top; width: 100%; overflow: auto; resize: none;
    &:not([rows]) { height: 3em; }
}
button { text-align: inherit; text-transform: none; background-color: @no-color; overflow: visible; border: 0; cursor: pointer; @no-appearance(); }

ul,ol {
    margin-top: 0; margin-bottom: 0;
    & & {  margin-bottom: 0; }
}
li { list-style-position: inside; display: list-item; }

table { border-collapse: collapse; border-spacing: 0; }
th,td,caption { font-weight: @font-normal; vertical-align: top; text-align: left; }

sub,sup { font-size: 75%; line-height: 0; vertical-align: baseline; position: relative; }
sup { top: -.5em; }
sub { bottom: -.25em; }

img { vertical-align: middle; display: inline-block; border: 0; }
hr { box-sizing: content-box; width: 100%; height: 1px; ._bg-var(border-color); margin-top: @highlight-space !important; margin-bottom: @highlight-space !important; border: 0; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }
p {
    &:not(:last-child):not(.hint) { margin-bottom: @highlight-space; }
}

[hidden] { display: none; }

// user agents
.mobile {
    * { -webkit-tap-highlight-color: @no-color; }
}
.ios { -webkit-text-size-adjust: 100%; }

.firefox {
    input::-moz-focus-inner,button::-moz-focus-inner { padding: 0; border: 0; }
}
.chrome {
    input:-webkit-autofill { transition-delay: 9999s; transition: color 0s ease-out, background-color 9999s ease-out; }
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .mac.chrome {
        body { backface-visibility: hidden; perspective: 1000; } // chrome retina display fix
    }
}