// out: false
/* reset */ @import '_settings.less';

* {
    padding: 0; margin: 0;

    &,&:before,&:after { box-sizing: border-box; }
    &:focus { outline-style: none; outline: 0; }
}

html {
    font-family: @font-family; font-size: @font-size; font-weight: @font-normal; line-height: @line-height; letter-spacing: @letter-spacing;
    ._bg-var(body-bg);
}

a {
    &,&:active,&:hover { word-wrap: break-word; text-decoration: none; }
}

img { vertical-align: middle; display: inline-block; border: 0; }

// user agents
.mobile {
    * { -webkit-tap-highlight-color: @no-color; }
}
.ios { -webkit-text-size-adjust: 100%; }

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .mac.chrome {
        body { backface-visibility: hidden; perspective: 1000; } // chrome high pixel ratio display fix
    }
}