// out: false
/* scrollbar */ @import '_settings.less';

@scrollbar-size:                        8px;
@page-scrollbar-size:                   12px;

@scrollbar-scroll-bg:                   fade(@black, 4.5%);
@scrollbar-scroll-bg-dark:              fade(@white, 4.5%);

@scrollbar-thumb-bg:                    fade(@black, 10%);
@scrollbar-thumb-bg-dark:               fade(@white, 15%);

@scrollbar-thumb-hover-bg:              fade(@black, 15%);
@scrollbar-thumb-hover-bg-dark:         fade(@white, 20%);

@scrollbar-thumb-bg-active:             fade(@black, 25%);
@scrollbar-thumb-bg-active-dark:        fade(@white, 25%);

._global-vars () {
    --scrollbar-scroll-bg: @scrollbar-scroll-bg;

    --scrollbar-thumb-bg: @scrollbar-thumb-bg;
    --scrollbar-thumb-hover-bg: @scrollbar-thumb-hover-bg;
    --scrollbar-thumb-bg-active: @scrollbar-thumb-bg-active;
}
._global-vars-dark () {
    --scrollbar-scroll-bg: @scrollbar-scroll-bg-dark;

    --scrollbar-thumb-bg: @scrollbar-thumb-bg-dark;
    --scrollbar-thumb-hover-bg: @scrollbar-thumb-hover-bg-dark;
    --scrollbar-thumb-bg-active: @scrollbar-thumb-bg-active-dark;
}

html:not(.mobile) {
    ::-webkit-scrollbar { width: @scrollbar-size; height: @scrollbar-size; ._bg-var(scrollbar-scroll-bg); }
    body::-webkit-scrollbar { width: @page-scrollbar-size; height: @page-scrollbar-size; }

    ::-webkit-scrollbar-track { background-color: @no-color; }
    ::-webkit-scrollbar-thumb {
        ._bg-var(scrollbar-thumb-bg);

        &:hover { ._bg-var(scrollbar-thumb-hover-bg); }
        &:active { ._bg-var(scrollbar-thumb-bg-active); }
    }
    .round {
        &::-webkit-scrollbar-thumb { border-radius: @round; }
    }

    [class*="ui-bg-dark-"] {
        &::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb {
            background-color: @scrollbar-thumb-bg-dark;

            &:hover { background-color: @scrollbar-thumb-hover-bg-dark; }
            &:active { background-color: @scrollbar-thumb-bg-active-dark; }
        }
    }
}