/* sprites */
.sprite { background-repeat: no-repeat; }

.sprite.icon-xxs { width: 8px; height: 8px; }
.sprite.icon-xs { width: 10px; height: 10px; }
.sprite.icon-sm { width: 14px; height: 14px; }
.sprite.icon-md { width: 18px; height: 18px; }
.sprite.icon-lg { width: 24px; height: 24px; }
.sprite.icon-xl { width: 32px; height: 32px; }
.sprite.icon-xxl { width: 48px; height: 48px; }
