/* static grid */
.col-static { width: 100%; display: table; table-layout: fixed; }
.col-static > .row,.col-static > [class*="static-"] { vertical-align: top; display: table-cell; }
.col-static > .row { width: 100%; margin-left: inherit; margin-right: inherit; table-layout: fixed; }

.static-0 { width: 0; } .static-50 { width: 50px; } .static-100 { width: 100px; } .static-150 { width: 150px; } .static-200 { width: 200px; } .static-250 { width: 250px; } .static-300 { width: 300px; } .static-350 { width: 350px; } .static-400 { width: 400px; } .static-450 { width: 450px; } .static-500 { width: 500px; } .static-550 { width: 550px; } .static-600 { width: 600px; }

.static-32 { width: 32px; } /* square buttons */
.static-42 { width: 42px; } /* form-holders */

@media (min-width: 1200px) {
    .lg-static-0 { width: 0; } .lg-static-50 { width: 50px; } .lg-static-100 { width: 100px; } .lg-static-150 { width: 150px; } .lg-static-200 { width: 200px; } .lg-static-250 { width: 250px; } .lg-static-300 { width: 300px; } .lg-static-350 { width: 350px; } .lg-static-400 { width: 400px; } .lg-static-450 { width: 450px; } .lg-static-500 { width: 500px; } .lg-static-550 { width: 550px; } .lg-static-600 { width: 600px; }

    .lg-static-32 { width: 32px; } /* square buttons */
    .lg-static-42 { width: 42px; } /* form-holders */
}
@media (max-width: 959px) and (min-width: 768px) {
    .col-static:not(.no-responsive):not(.sm-responsive):not(.xs-responsive) > .row,.col-static:not(.no-responsive):not(.sm-responsive):not(.xs-responsive) > [class*="static-"] { width: 100%; display: block; }
    .col-static:not(.no-responsive):not(.sm-responsive):not(.xs-responsive) > [class*="static-"]:not(.col-static) { width: 100%; }

    .md-static-0 { width: 0; } .md-static-50 { width: 50px; } .md-static-100 { width: 100px; } .md-static-150 { width: 150px; } .md-static-200 { width: 200px; } .md-static-250 { width: 250px; } .md-static-300 { width: 300px; } .md-static-350 { width: 350px; } .md-static-400 { width: 400px; } .md-static-450 { width: 450px; } .md-static-500 { width: 500px; } .md-static-550 { width: 550px; } .md-static-600 { width: 600px; }

    .md-static-32 { width: 32px; } /* square buttons */
    .md-static-42 { width: 42px; } /* form-holders */
}
@media (max-width: 767px) and (min-width: 481px) {
    .col-static:not(.no-responsive):not(.xs-responsive) > .row,.col-static:not(.no-responsive):not(.xs-responsive) > [class*="static-"] { width: 100%; display: block; }
    .col-static:not(.no-responsive):not(.xs-responsive) > [class*="static-"]:not(.col-static) { width: 100%; }

    .sm-static-0 { width: 0; } .sm-static-50 { width: 50px; } .sm-static-100 { width: 100px; } .sm-static-150 { width: 150px; } .sm-static-200 { width: 200px; } .sm-static-250 { width: 250px; } .sm-static-300 { width: 300px; } .sm-static-350 { width: 350px; } .sm-static-400 { width: 400px; } .sm-static-450 { width: 450px; } .sm-static-500 { width: 500px; } .sm-static-550 { width: 550px; } .sm-static-600 { width: 600px; }

    .sm-static-32 { width: 32px; } /* square buttons */
    .sm-static-42 { width: 42px; } /* form-holders */
}
@media (max-width: 480px) {
    .col-static:not(.no-responsive) > .row,.col-static:not(.no-responsive) > [class*="static-"] { width: 100%; display: block; }
    .col-static:not(.no-responsive) > [class*="static-"]:not(.col-static) { width: 100%; }

    .xs-static-0 { width: 0; } .xs-static-50 { width: 50px; } .xs-static-100 { width: 100px; } .xs-static-150 { width: 150px; } .xs-static-200 { width: 200px; } .xs-static-250 { width: 250px; } .xs-static-300 { width: 300px; } .xs-static-350 { width: 350px; } .xs-static-400 { width: 400px; } .xs-static-450 { width: 450px; } .xs-static-500 { width: 500px; } .xs-static-550 { width: 550px; } .xs-static-600 { width: 600px; }

    .xs-static-32 { width: 32px; } /* square buttons */
    .xs-static-42 { width: 42px; } /* form-holders */
}
@media (max-width: 1199px) {
    .col-static.lg-responsive > .row,.col-static.lg-responsive > [class*="static-"] { width: 100%; display: block; }
    .col-static.lg-responsive > [class*="static-"]:not(.col-static) { width: 100%; }
}
@media (min-width: 1680px) {
    .xl-static-0 { width: 0; } .xl-static-50 { width: 50px; } .xl-static-100 { width: 100px; } .xl-static-150 { width: 150px; } .xl-static-200 { width: 200px; } .xl-static-250 { width: 250px; } .xl-static-300 { width: 300px; } .xl-static-350 { width: 350px; } .xl-static-400 { width: 400px; } .xl-static-450 { width: 450px; } .xl-static-500 { width: 500px; } .xl-static-550 { width: 550px; } .xl-static-600 { width: 600px; }

    .xl-static-32 { width: 32px; } /* square buttons */
    .xl-static-42 { width: 42px; } /* form-holders */
}
