// out: false
/* steps */ @import '_settings.less';

@steps-inactive-color:                  fade(@black, 32%);
@steps-inactive-color-dark:             fade(@white, 32%);

@steps-border:                          fade(@black, 12%);
@steps-border-dark:                     fade(@white, 12%);

._global-vars () {
    --steps-inactive-color: @steps-inactive-color;
    --steps-border: @steps-border;
}
._global-vars-dark () {
    --steps-inactive-color: @steps-inactive-color-dark;
    --steps-border: @steps-border-dark;
}

.steps-bar { list-style: none; padding: 0; display: flex; flex-wrap: flex; }
.steps-bar:not([class*="ui-"]) { color: @green; }

.steps-bar li { font-size: 11px; line-height: normal; text-align: center; position: relative; flex-grow: 1; }
.steps-bar:not(.steps-icon) li:before { background-color: @green; }
.steps-bar li:before { content: ""; font-weight: @font-bold; font-size: 11px; text-align: center; ._bg-var(body-bg); width: 16px; height: 16px; margin: 5px auto; display: block; border: 2px solid @no-color; border-radius: 50%; position: relative; z-index: 1; }
.card .steps-bar li:before { ._bg-var(card-bg); }

.steps-bar li:after { content: ""; width: 100%; height: 2px; background-color: @green; position: absolute; top: 12px; left: -50%; }
.steps-bar li:first-child:after { content: none; }

.steps-bar li.active:before { border-color: currentColor; }
.card .steps-bar li.active:before { ._bg-var(card-bg); }
.steps-bar:not(.steps-icon) li.active:before { ._bg-var(body-bg); }
.steps-bar li.active ~ li { ._color-var(steps-inactive-color); }
.steps-bar li.active ~ li:before { width: 10px; height: 10px; ._bg-var(body-bg); margin-top: 8px; margin-bottom: 8px; ._border-color-var(steps-border); }
.card .steps-bar li.active ~ li:before { ._bg-var(card-bg); ._border-color-var(steps-border); }
.steps-bar li.active ~ li:after { ._bg-var(steps-border); }

.steps-bar li > span,.steps-bar.steps-icon li > .icon { width: 17px; height: 17px; display: block; position: absolute; top: 4.5px; left: 50%; z-index: 2; transform: translateX(-50%); }
.steps-bar.steps-icon li > .icon { color: currentColor; stroke-width: 34px; }
.steps-bar.steps-icon li.active ~ li > .icon { opacity: 0; }

.steps-bar[class*="ui-"] li:before { background-color: currentColor; border-color: currentColor; }
.steps-bar[class*="ui-"] li:after { background-color: currentColor; }
.steps-bar.steps-icon li:before { ._bg-var(body-bg); ._border-color-var(body-bg); }
.card .steps-bar.steps-icon li:before { ._bg-var(card-bg); ._border-color-var(steps-border); }
