// out: false
/* steps */ @import '_settings.less';

@steps-active-size:                     18px;
@steps-passive-size:                    10px;
@steps-margin-v:                        5px;
@steps-line-size:                       2px;

@steps-inactive-color:                  fade(@black, 32%);
@steps-inactive-color-dark:             fade(@white, 32%);

@steps-border:                          fade(@black, 12%);
@steps-border-dark:                     fade(@white, 12%);

._global-vars () {
    --steps-inactive-color: @steps-inactive-color;
    --steps-border: @steps-border;
}
._global-vars-dark () {
    --steps-inactive-color: @steps-inactive-color-dark;
    --steps-border: @steps-border-dark;
}

.steps-bar {
    list-style: none; padding: 0; display: flex; flex-wrap: flex;

    &:not([class*="ui-"]) { color: @green; }
    li {
        font-size: @x-small; line-height: normal; text-align: center; position: relative; flex-grow: 1;

        &:before {
            content: ""; font-weight: @font-bold; font-size: @x-small; text-align: center; ._bg-var(body-bg); width: @steps-active-size; height: @steps-active-size; margin: @steps-margin-v auto; display: block; border: @steps-line-size solid @no-color; border-radius: 50%; position: relative; z-index: 1;

            .card & { ._bg-var(card-bg); }
        }
        &:after { content: ""; width: 100%; height: @steps-line-size; background-color: @green; position: absolute; top: @steps-margin-v + (@steps-active-size - @steps-line-size) / 2; left: -50%; opacity: @icon-sub-opacity; }
        &:first-child {
            &:after { content: none; }
        }

        &.active {
            &:before {
                border-color: currentColor;

                .card & { ._bg-var(card-bg); }
            }
            & ~ li {
                ._color-var(steps-inactive-color);

                &:before {
                    width: @steps-passive-size; height: @steps-passive-size; ._bg-var(body-bg); margin: @steps-margin-v + (@steps-active-size - @steps-passive-size) / 2 auto; ._border-color-var(steps-border);

                    .card & { ._bg-var(card-bg); ._border-color-var(steps-border); }
                }
                &:after { ._bg-var(steps-border); }
            }
        }

        & > span { width: @steps-active-size; height: @steps-active-size; display: block; position: absolute; top: @steps-margin-v; left: 50%; z-index: 2; transform: translateX(-50%); }
    }
    &:not(.steps-icon) {
        li {
            &:before { background-color: @green; }
            &.active {
                &:before { ._bg-var(body-bg); }
            }
        }
    }
    &[class*="ui-"] {
        li {
            &:before { background-color: currentColor; border-color: currentColor; }
            &:after { background-color: currentColor; }
        }
    }

    &.steps-icon {
        li {
            &:before {
                ._bg-var(body-bg); ._border-color-var(body-bg);

                .card & { ._bg-var(card-bg); ._border-color-var(steps-border); }
            }

            & > .icon {
                color: currentColor;

                &:extend(.steps-bar li > span);
            }
            &.active ~ li {
                & > .icon { opacity: 0; }
            }
        }
    }
}
