// out: false
/* steps */ @import '_settings.less';
.steps-bar { list-style: none; padding: 0; display: flex; flex-wrap: flex; }
.steps-bar:not([class*="ui-"]) { color: #55b776; }

.steps-bar li { font-size: 11px; line-height: normal; text-align: center; position: relative; flex-grow: 1; }
.steps-bar:not(.steps-icon) li:before { background-color: #55b776; }
.steps-bar li:before { content: ""; font-weight: @font-bold; font-size: 11px; text-align: center; background-color: #fff; width: 16px; height: 16px; margin: 5px auto; display: block; border: 2px solid transparent; border-radius: 50%; position: relative; z-index: 1; }

.steps-bar li:after { content: ""; width: 100%; height: 2px; background-color: #55b776; position: absolute; top: 12px; left: -50%; }
.steps-bar li:first-child:after { content: none; }

.steps-bar li.active:before { border-color: currentColor; box-shadow: 0 0 0 6px rgba(0,0,0,.065); }
.steps-bar:not(.steps-icon) li.active:before { background-color: #fff !important; }
.steps-bar li.active ~ li { color: rgba(0,0,0,.32); }
.steps-bar li.active ~ li:before { width: 10px; height: 10px; background-color: #fff; margin-top: 8px; margin-bottom: 8px; border-color: rgba(0,0,0,.12); }
.steps-bar li.active ~ li:after { background-color: rgba(0,0,0,.12); }

.steps-bar li > span,.steps-bar.steps-icon li > .icon { width: 17px; height: 17px; display: block; position: absolute; top: 4.5px; left: 50%; z-index: 2; transform: translateX(-50%); }
.steps-bar.steps-icon li > .icon { color: currentColor; stroke-width: 34px; }
.steps-bar.steps-icon li.active ~ li > .icon { opacity: 0; }

.steps-bar[class*="ui-"] li:before { background-color: currentColor; border-color: currentColor; }
.steps-bar[class*="ui-"] li:after { background-color: currentColor; }
.steps-bar.steps-icon li:before { background-color: #fff; border-color: #fff; }