// out: false
/* sticky header */ @import (reference) 'ui.less';

@sticky-header-z-index:                 89;

.ui-sticky-header {
    .ui-hidden-sticky { display: none; }
}
html {
    &:not(.ui-sticky-header) {
        .ui-visible-sticky { &:extend(.ui-sticky-header .ui-hidden-sticky); }
    }
}

header.ui-sticky {
    position: fixed;

    &,&-static { top: 0; right: 0; left: 0; z-index: @sticky-header-z-index; }
    &-static { position: absolute; }

}