// out: false
/* sticky header */ @import 'ui.less';

@sticky-header-z-index:                 89;

.sticky-header {
    .hidden-sticky { display: none; }
}
html {
    &:not(.sticky-header) {
        .visible-sticky { &:extend(.sticky-header .hidden-sticky); }
    }
}

header.sticky {
    position: fixed;

    &,&-static { top: 0; right: 0; left: 0; z-index: @sticky-header-z-index; }
    &-static { position: absolute; }

}