/* svg map */
.svg-map { position: relative; }
.svg-map svg { margin-right: auto; margin-left: auto; width: auto; height: 360px; }
.svg-map svg g path { fill: #eee; stroke: #fff; stroke-width: 1.5; cursor: pointer; }
.svg-map svg g path:hover { fill: #ddd; }
.svg-map svg g.active path { fill: currentColor; }
.svg-map svg g.active path:hover { opacity: 1 !important; }
