// out: false
/* svg map */ @import (reference) 'ui.less';

@svg-map-height-for-ie:                 360px;
@svg-map-inner-stroke-width:            1.5;

@svg-map-path-fill:                     fade(@black, 8%);
@svg-map-path-fill-hover:               fade(@black, 15%);

@svg-map-path-fill-dark:                fade(@white, 8%);
@svg-map-path-fill-hover-dark:          fade(@white, 15%);

._global-vars () {
    --ui-svg-map-path-fill: @svg-map-path-fill;
    --ui-svg-map-path-fill-hover: @svg-map-path-fill-hover;
}
._global-vars-dark () {
    --ui-svg-map-path-fill: @svg-map-path-fill-dark;
    --ui-svg-map-path-fill-hover: @svg-map-path-fill-hover-dark;
}

.ui-svg-map {
    position: relative;

    svg {
        width: 100%; height: auto; margin-right: auto; margin-left: auto; display: block;

        html:not(.ui-ie) & { height: auto; }
        .ui-ie & { height: @svg-map-height-for-ie; }

        path {
            stroke-width: @svg-map-inner-stroke-width;

            &:not([fill]) {
                ._fill-var(svg-map-path-fill);

                &:hover { ._fill-var(svg-map-path-fill-hover); }
            }
            &:not([stroke]) {
                ._stroke-var(body-bg);

                .ui-card & { ._stroke-var(card-bg); }
            }

            &.ui-active {
                &:not([fill]) { fill: currentColor; }
                &:hover { opacity: 1 !important; }
            }

            &[data-ui-href] { cursor: pointer; }
        }

    }
}