// out: false
/* svg map */ @import '_settings.less';

@svg-map-height-for-ie:                 360px;
@svg-map-inner-stroke-width:            1.5;

@svg-map-path-fill:                     fade(@black, 8%);
@svg-map-path-fill-hover:               fade(@black, 15%);

@svg-map-path-fill-dark:                fade(@white, 8%);
@svg-map-path-fill-hover-dark:          fade(@white, 15%);

._global-vars () {
    --svg-map-path-fill: @svg-map-path-fill;
    --svg-map-path-fill-hover: @svg-map-path-fill-hover;
}
._global-vars-dark () {
    --svg-map-path-fill: @svg-map-path-fill-dark;
    --svg-map-path-fill-hover: @svg-map-path-fill-hover-dark;
}

.svg-map {
    position: relative;

    svg {
        width: 100%; height: auto; margin-right: auto; margin-left: auto; display: block;

        html:not(.ie) & { height: auto; }
        .ie & { height: @svg-map-height-for-ie; }

        g {
            path {
                stroke-width: @svg-map-inner-stroke-width; cursor: pointer;

                &:not([fill]) {
                    ._fill-var(svg-map-path-fill);

                    &:hover { ._fill-var(svg-map-path-fill-hover); }
                }
                &:not([stroke]) {
                    ._stroke-var(body-bg);

                    .card & { ._stroke-var(card-bg); }
                }
            }

            &.active {
                path {
                    fill: currentColor;

                    &:hover { opacity: 1 !important; }
                }
            }
        }
    }
}