// out: false
/* tables */ @import '_settings.less';

@table-padding:                         10px;
@table-fluid-min-width:                 858px;

@table-caption-bg:                      fade(@black, 2.5%);
@table-caption-bg-dark:                 fade(@white, 2.5%);

@table-stripe-bg:                       fade(@black, 4.5%);
@table-stripe-bg-dark:                  fade(@white, 3.5%);

@table-hover-bg:                        fade(@black, 10%);
@table-hover-bg-dark:                   fade(@white, 8%);

._global-vars () {
    --table-caption-bg: @table-caption-bg;
    --table-stripe-bg: @table-stripe-bg;
    --table-hover-bg: @table-hover-bg;
}
._global-vars-dark () {
    --table-caption-bg: @table-caption-bg-dark;
    --table-stripe-bg: @table-stripe-bg-dark;
    --table-hover-bg: @table-hover-bg-dark;
}

.ease-table {
    tr { transition-property: background-color; transition-duration: @ease-default; }
}

.table {
    width: 100%; ._bg-var(card-bg);

    &:not(:last-child) { margin-bottom: @highlight-space; }
    caption { font-size: @large; text-align: center; ._bg-var(table-caption-bg); padding: @table-padding; }

    &:not(.table-ultra-condensed) {
        th,td { padding-right: (@table-padding / 2); padding-left: (@table-padding / 2); }
    }
    &:not(.no-separated) {
        th,td { ._border-var(@dir: border-bottom; @var: table-border-color); }
    }
    &:not(.table-condensed):not(.table-ultra-condensed) {
        th,td { padding-top: @table-padding; padding-bottom: @table-padding; }
    }
    &.table-condensed:not(.table-ultra-condensed) {
        th,td { padding-top: (@table-padding / 2); padding-bottom: (@table-padding / 2); }
    }
    .table-nowrap {
        th,td { white-space: nowrap; text-overflow: ''; overflow: hidden; }
    }

    thead {
        th { font-weight: @font-bold; vertical-align: bottom !important; }
    }
    tbody {
        tr:last-child {
            th { border-bottom-width: 0; }
        }
    }

    &-sidebar {
        td {
            &:first-of-type {
                font-weight: @font-bold; ._border-var(@dir: border-right; @var: table-border-color);
            }
        }
        &.align-c {
            td:not(:first-child) { &:extend(.table:not(.table-sidebar).align-c td); }
        }
    }

    tbody:last-child,tfoot {
        tr {
            &:last-child {
                td { border-bottom: 0; }
            }
        }
    }
    tr {
        &:last-child:not(:first-child) {
            td { &:extend(.table tbody:last-child tr:last-child td); }
        }
    }

    &:not(.table-sidebar).align-c {
        td,th { text-align: center; }
    }

    &[class*="border-"] { ._border-color-var(table-border-color); }

    &-valign {
        td,th { vertical-align: middle !important; }
    }

    &-scroll {
        width: 100%; overflow-x: auto;

        .mobile & { -webkit-overflow-scrolling: touch; }
        .table { margin-bottom: 0 !important; }
        & > .table {
            tr > * { white-space: nowrap; }
        }
    }

    &-striped {
        tr:nth-child(even):not([class*="ui-bg-"]) { ._bg-var(table-stripe-bg); }
    }

    &-hover {
        .desktop & {
            tbody {
                tr:not([class*="ui-bg-"]):hover { ._bg-var(table-hover-bg); }
            }
        }
    }

    &-border {
        ._border-var(@var: table-border-color);
        &:extend(.table[class*="border-"]);

        th,td {
            &:not(:last-child) { ._border-var(@dir: border-right; @var: table-border-color); }
        }
    }
}

@media (@md-finish) {
    .table {
        &-fluid {
            width: 100%; overflow-x: auto;

            .mobile & { -webkit-overflow-scrolling: touch; }
            .table { margin-bottom: 0 !important; }
            & > .table {
                tr > * { white-space: nowrap; }
            }
            & > .grid-list { min-width: @table-fluid-min-width; }
        }
    }
}