/* tabs */
.ease-tabs .toggle-icon { transition-property: opacity, transform; transition-duration: .3s; }
.ease-tabs .tab-content { transition-property: opacity, transform; transition-duration: .15s; }
.no-transitions-all .ease-tabs .toggle-icon,.no-transitions-all .ease-tabs .tab-content { transition-property: none !important; }

.tabs .active > .toggle-icon { transform: rotate(-180deg); opacity: 1; }
.tabs .tab-content { transform-origin: top center; }
.tabs .tab-content:not(.open) { display: none !important; }
.tabs .tab-content:not(.open-ease) { opacity: 0; transform: translateY(-1%); }
