// out: false
/* tabs */ @import '_settings.less';


@tabs-toggle-icon-size:                 14px;
@tabs-toggle-right-icon-margins:        4px;

@tabs-content-open-y-slide:             -1%;

.ease-tabs {
    .toggle-icon { transition-property: opacity, transform; transition-duration: (@ease-default * 2); }
    .tab-content { transition-property: opacity, transform; transition-duration: @ease-default; }
}

.tabs {
    .tab {
        .toggle-icon {
            ._icon(@tabs-toggle-icon-size) !important; margin-top: -1px;

            &.right { margin-top: @tabs-toggle-right-icon-margins; margin-bottom: @tabs-toggle-right-icon-margins; }
        }

        &.active {
            & > .toggle-icon { transform: rotate(-180deg); opacity: 1; }
        }

        &-content {
            transform-origin: top center;

            &:not(.open) { display: none !important; }
            &:not(.open-ease) { opacity: 0; transform: translateY(@tabs-content-open-y-slide); }
        }
    }
}

