// out: false
/* tabs */ @import (reference) 'ui.less';

@tabs-toggle-icon-size:                 12px;
@tabs-toggle-icon-xs-size:              10px;
@tabs-toggle-icon-xxs-size:             9px;

@tabs-toggle-right-icon-margins:        3px;
@tabs-toggle-right-icon-xs-margins:     2px;
@tabs-toggle-right-icon-xxs-margins:    1px;

@tabs-in-dropdown-min-width:            (@layout-min - 20px);

.ui-ease-tabs {
    .tab {
        .ui-toggle-icon { transition-property: opacity, transform; transition-duration: (@ease-default * 2); }
        &-content { transition-property: height, opacity; transition-duration: (@ease-default * 2); }
    }
}

.tabs {
    .tab {
        &:not(.ui-btn-xs):not(.ui-btn-xxs) {
            .ui-toggle-icon {
                ._icon(@tabs-toggle-icon-size) !important; margin-top: -2px;

                &.right { margin-top: @tabs-toggle-right-icon-margins; margin-bottom: @tabs-toggle-right-icon-margins; }
            }
        }
        &.ui-btn-xs {
            .ui-toggle-icon {
                ._icon(@tabs-toggle-icon-xs-size) !important; margin-top: -2px;

                &.right { margin-top: @tabs-toggle-right-icon-xs-margins; margin-bottom: @tabs-toggle-right-icon-xs-margins; }
            }
        }
        &.ui-btn-xxs {
            .ui-toggle-icon {
                ._icon(@tabs-toggle-icon-xxs-size) !important;

                &.right { margin-top: @tabs-toggle-right-icon-xxs-margins; margin-bottom: @tabs-toggle-right-icon-xxs-margins; }
            }
        }

        &.active {
            & > .ui-toggle-icon { transform: rotate(-180deg); opacity: 1; }
        }

        &-content {
            &:not(.open) { display: none !important; }
            &:not(.open-ease) { opacity: 0; }
        }
    }

    .ui-dropdown & { min-width: @tabs-in-dropdown-min-width; }
}

