/* tabs */
.ease-tabs .tab-content { transition-property: opacity; transition-duration: .6s; }
.no-transitions-all .ease-tabs .tab-content { transition-property: none !important; }

.btn-tabs .btn.active > .icon-toggle { transform: rotate(-180deg); opacity: 1; }
.btn-tabs .tab-content { transform-origin: top center; }
.btn-tabs .tab-content:not(.open) { display: none !important; }
.btn-tabs .tab-content:not(.open-ease) { opacity: 0; }
