// out: false
/* tabs */ @import (reference) 'ui.less';


@tabs-toggle-icon-size:                 12px;
@tabs-toggle-right-icon-margins:        3px;

.ui-ease-tabs {
    .tab {
        .toggle-icon { transition-property: opacity, transform; transition-duration: (@ease-default * 2); }
        &-content { transition-property: height, opacity; transition-duration: (@ease-default * 2); }
    }
}

.tabs {
    .tab {
        .toggle-icon {
            ._icon(@tabs-toggle-icon-size) !important; margin-top: -2px;

            &.right { margin-top: @tabs-toggle-right-icon-margins; margin-bottom: @tabs-toggle-right-icon-margins; }
        }

        &.active {
            & > .toggle-icon { transform: rotate(-180deg); opacity: 1; }
        }

        &-content {
            &:not(.open) { display: none !important; }
            &:not(.open-ease) { opacity: 0; }
        }
    }
}

