/* textarea counter */ @import '_settings.less';
.textarea:not(.toggle-textarea)[data-counter]:before { content: attr(data-counter); font-size: 9px; text-align: right; line-height: 12px; width: 100%; height: 13px; padding: 1px 5px; display: block; position: absolute; bottom: 0; left: 0; z-index: 1; }
.textarea:not(.toggle-textarea)[data-counter] textarea { margin-bottom: 13px; }
.textarea:not(.toggle-textarea)[data-counter].change:before { content: attr(data-change); }

.textarea:not(.form-light):not(.toggle-textarea)[data-counter]:before,.textarea.form-focus:not(.toggle-textarea)[data-counter]:before { color: #777; background-color: rgba(0,0,0,.035); }
.textarea.form-light:not(.toggle-textarea):not(.form-focus)[data-counter]:before { color: #fff; background-color: rgba(255,255,255,.3); }

.error[data-counter]:before { color: #dc000f !important; background-color: #ffd9dc !important; }
.warning[data-counter]:before { color: #ffa600 !important; background-color: #fff2d9 !important; }
