// out: false
/* textarea counter */ @import '_settings.less';

@textarea-counter-color:               fade(@black, 45%);
@textarea-counter-color-dark:          @white;
@textarea-counter-bg:                  fade(@black, 3.5%);
@textarea-counter-bg-dark:             fade(@white, 17.5%);

:root,[data-theme="dark"] {
    --textarea-counter-color: @textarea-counter-color;
    --textarea-counter-bg: @textarea-counter-bg;
}

._darkmode-textarea-counter-vars (@darkmode) when (@darkmode = true) {
    @media (prefers-color-scheme: dark) {
        :root,[data-theme="dark"] {
            --textarea-counter-color: @textarea-counter-color-dark;
            --textarea-counter-bg: @textarea-counter-bg-dark;
        }
    }
}

._darkmode-textarea-counter-vars(@darkmode);

.textarea:not(.toggle-textarea)[data-counter]:before { content: attr(data-counter); font-size: 9px; text-align: right; line-height: 12px; width: 100%; height: 13px; padding: 1px 5px; display: block; position: absolute; bottom: 0; left: 0; z-index: 1; }
.textarea:not(.toggle-textarea)[data-counter] textarea { margin-bottom: 13px; }
.textarea:not(.toggle-textarea)[data-counter].change:before { content: attr(data-change); }

.textarea:not(.form-light):not(.toggle-textarea)[data-counter]:before,.textarea.form-focus:not(.toggle-textarea)[data-counter]:before { ._color-var(textarea-counter-color); ._bg-var(textarea-counter-bg); }
.textarea.form-light:not(.toggle-textarea):not(.form-focus)[data-counter]:before { color: @white; background-color: rgba(255,255,255,.3); }

.error[data-counter]:before { color: @red !important; background-color: lighten(@red, 49%) !important; }
.warning[data-counter]:before { color: @yellow !important; background-color: lighten(@yellow, 44%) !important; }
