// out: false
/* themes */ @import '_settings.less';

@theme-colors:                          gray green yellow orange red default default2;

[class*="ui-fill-light-"] {
    ._color-var(black);

    .icon,a,button {
        &:not([class*="ui-fill-"]):not([class*="font-color-"]) { &:extend([class*="ui-fill-light-"] ); }
    }
}

[class*="ui-fill-dark-"] {
    color: @white;

    .icon,a,button {
        &:not([class*="ui-fill-"]):not([class*="font-color-"]) { &:extend([class*="ui-fill-dark-"]); }
    }
}

.bg-white {
   &:not([class*="ui-fill-"]) { ._bg-var(white) !important; }
}
.card {
   .bg-white {
       &:not([class*="ui-fill-"]) { ._bg-var(card-bg) !important; }
   }
}

.bg-black {
   &:not([class*="ui-fill-"]) { background-color: @black !important; }
}

each(@theme-colors, {
    @color: @@value;
    ._theme(@value,  @color);
});