// out: false
/* themes */ @import '_settings.less';

@set-dark:                            #0b0d10;
@set-x-dark:                          #07080a;

@theme-color-names:                   gray, green, yellow, orange, red, blue, default, default2;
@theme-colors:                        '@{gray}', '@{green}', '@{yellow}', '@{orange}', '@{red}', '@{blue}', '@{default}', '@{default2}';

.ui-x-light {
   color: ._color-var(black);

   .icon,a,button {
      &:not([class*="ui-"]) { &:extend(.ui-x-light); }
   }
}
.ui-light {
   &:extend(.ui-x-light);

   .icon,a,button {
      &:not([class*="ui-"]) { &:extend(.ui-light); }
   }
}
.ui-dark {
   color: @white;

   .icon,a,button {
      &:not([class*="ui-"]) { &:extend(.ui-dark); }
   }
}
.ui-x-dark {
   &:extend(.ui-dark);

   .icon,a,button {
      &:not([class*="ui-"]) { &:extend(.ui-x-dark); }
   }
}

.bg-white {
   &:not([class*="ui-"]) { ._bg-var(white) !important; }
}
.card {
   .bg-white {
       &:not([class*="ui-"]) { ._bg-var(card-bg) !important; }
   }
}

.bg-black {
   &:not([class*="ui-"]) { background-color: @black !important; }
}

._theme-loop(@i) when (@i > 0) {
   ._theme-loop(@i - 1);

   @name: extract(@theme-color-names, @i);
   @color: color(extract(@theme-colors, @i));
   ._theme(@name,  @color);

}
._theme-loop(length(@theme-colors));

._darkmode-themes (@dark-mode) when (@dark-mode = true) {
   [data-theme="dark"] {
      .set-dark {
         &:not(.theme-gray)[class*="theme-"][class*="ui-"],
         &:not(.theme-light)[class*="theme-"] [class*="ui-"]:not([class*="theme-"]):not(.ui-text):not(.ui-border) {
             background-color: @set-dark;
         }

         &:not(.theme-gray)[class*="theme-"][class*="ui-x-"],
         &:not(.theme-light)[class*="theme-"] [class*="ui-x-"]:not([class*="theme-"]):not(.ui-text):not(.ui-border) {
             background-color: @set-x-dark;
         }
      }

     ._theme(gray,  @card-bg-dark);

     ._theme-dark-loop(@i) when (@i > 0) {
        ._theme-dark-loop(@i - 1);

        @name: extract(@theme-color-names, @i);
        @color: color(extract(@theme-colors, @i));
        ._theme-dark(@name,  @color);

     }
     ._theme-dark-loop(length(@theme-colors));
   }
}

._darkmode-themes(@dark-mode);
