// out: false
/* timeline */ @import '_settings.less';

@timeline-line-bg:                      fade(@black, 15%);
@timeline-line-bg-dark:                 fade(@white, 17.5%);

._global-vars () {
    --timeline-line-bg: @timeline-line-bg;
}
._global-vars-dark () {
    --timeline-line-bg: @timeline-line-bg-dark;
}

.timeline {
    list-style: none; padding: 0; position: relative;

    &.ui-text {
        &:after { background-color: currentColor; }
        & > li {
            &:after { border-color: currentColor; }
        }
    }
    &:not(.hide-lines) {
        &:after { content: ""; width: 2px; ._bg-var(timeline-line-bg); border-radius: 1px; position: absolute; top: 0; bottom: 0; }
        & > li {
            &:before { width: 30px; height: 2px; ._bg-var(timeline-line-bg); }
            &:after {
                ._bg-var(body-bg);

                .dropdown & { ._bg-var(highlighted); }
                .card & { ._bg-var(card-bg); }
            }
        }
        &.ui-text {
            & > li:before { background-color: currentColor; }
        }
    }
    &:not(:last-child) { margin-bottom: @highlight-space; }

    & > li {
        display: block; position: relative;

        &:not(:last-child) { margin-bottom: @highlight-space; }
        &:after {
            width: 14px; height: 14px; ._border-var(@width: 2px; @var: timeline-line-bg); border-radius: 50%;

            &:extend(.timeline:not(.hide-h-lines) > li:before);
        }
        &.ui-text {
            &:after { &:extend(.timeline.ui-text > li:after); }
        }

        & > [class*="img-photo"] { margin-left: 15px; position: relative; z-index: 1; transform: translateY(50%); }
        & > .card {
            ._bg-var(body-bg); padding: 15px; display: block; position: relative;

            &:not([class*="ui-"]),a,button { ._color-var(black); }
        }
        & > .img-photo {
            & + .card { padding-top: 35px; }
            &-lg + .card { padding-top: 50px; }
            &-md + .card { padding-top: 30px; }
            &-sm + .card { padding-top: 25px; }
        }
    }

    &:not(.hide-h-lines) {
        & > li {
            &:before { content: ""; display: block; position: absolute; top: 50%; transform: translateY(-50%); z-index: 1; }
        }
    }

    &.side-l {
        &:after { left: 6px; }
        & > li {
            padding-left: 30px;

            &:before,&:after { left: 0; }
        }
    }
}

@media (@md-start) {
    .timeline {
        &:not(.side-l) {
            &:after { margin-left: -1px; left: 50%; }
            & > li {
                width: 50%;

                &:nth-child(2n+1) {
                    padding-right: 30px;

                    &:before { right: 0; }
                    &:after { right: -7px; }
                }
                &:nth-child(2n+2) {
                    padding-left: 30px; left: 50%;

                    &:before { left: 0; }
                    &:after { left: -7px; }
                }
            }
        }
    }
}
@media (@sm-finish) {
    .timeline {
        &:after { left: 6px; }

        & > li {
            padding-left: 30px;

            &:before,&:after { left: 0; }
        }
    }
}