/* top button */
.top-button { text-align: center; width: 40px; height: 40px; background-color: #000; display: none; border: 0; position: fixed; right: 20px; bottom: 20px; z-index: 7; opacity: 0; }
.top-button.open { display: block; }
.top-button.open-ease { opacity: .2; }
.mobile-keyboard .top-button { display: none !important; }

.top-button > .icon { color: #fff; line-height: 40px; }
html:not(.mobile) .top-button:hover { opacity: .5; }
html:not(.mobile) .top-button:hover > .icon{ transform: translateY(-6px); }

@media (max-height: 400px) {
    .top-button { display: none !important; }
}
@media (max-width: 320px) {
    .top-button { display: none !important; }
}
