// out: false
/* top button */ @import (reference) 'ui.less';

@top-button-size:                       40px;
@top-button-z-index:                    7;

@top-button-opacity:                    .45;
@top-button-hover-opacity:              .75;
@top-button-hover-icon-slide:           -3px;

@top-button-slide-size:                 30px;

@top-button-position-r:                 10px;
@top-button-position-b:                 15px;

.ui-top-button {
    text-align: center; width: @top-button-size; height: @top-button-size; background-color: @black; display: none; border: 0; position: fixed; right: @top-button-position-r; bottom: (@top-button-position-b + @top-button-slide-size); z-index: @top-button-z-index; opacity: 0; cursor: pointer;

    &.ui-open {
        display: block;

        &-ease { opacity: @top-button-opacity; transform: translateY(@top-button-slide-size); }
    }
    .icon { color: @white; opacity: 1 !important; }

    .ui-desktop & {
        &:hover {
            opacity: @top-button-hover-opacity;

            .icon { transform: translateY(@top-button-hover-icon-slide); }
        }
    }
}

@media (max-width: @layout-min) {
    .ui-top-button { display: none !important; }
}