/* typography */
h1,h2,h3,h4,h5,h6 { font-weight: normal; line-height: 1.24em; margin-bottom: 0; }
h1:not(:last-child),h2:not(:last-child),h3:not(:last-child),h4:not(:last-child),h5:not(:last-child),h6:not(:last-child) { margin-bottom: 20px; }
h1 > small,h2 > small,h3 > small,h4 > small,h5 > small,h6 > small { font-size: 14px !important; line-height: normal !important; }

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

@media (max-width: 480px) {
    h1,h2,h3,h4,h5,h6 { text-align: center; }
    h1 > small,h2 > small,h3 > small,h4 > small,h5 > small,h6 > small { text-align: center; display: block; }
}

body,a { color: #000; }

.xx-smallest { font-size: 7px !important; }
.x-smallest { font-size: 8px !important; }
.smallest { font-size: 9px !important; }
.xx-small { font-size: 10px !important; }
.x-small { font-size: 11px !important; }
.small { font-size: 12px !important; }
.default { font-size: 14px !important; }
.large { font-size: 16px !important; }
.x-large { font-size: 18px !important; }
.xx-large { font-size: 22px !important; }
.largest { font-size: 28px !important; }
.x-largest { font-size: 38px !important; }
.xx-largest { font-size: 48px !important; }

.xx-light,.xx-light .icon:not([class*="ui-"]),.xx-light a,.xx-light button:not([class*="ui-"]) { color: #fff !important; }
.x-light,.x-light .icon:not([class*="ui-"]),.x-light a,.x-light button:not([class*="ui-"]) { color: #f6f6f6 !important; }
.light,.light .icon:not([class*="ui-"]),.light a,.light button:not([class*="ui-"]) { color: #c5c5c5 !important; }
.dark,.dark .icon:not([class*="ui-"]),.dark a,.dark button:not([class*="ui-"]) { color: #999 !important; }
.x-dark,.x-dark .icon:not([class*="ui-"]),.x-dark a,.x-dark button:not([class*="ui-"]) { color: #777 !important; }
.xx-dark,.xx-dark .icon:not([class*="ui-"]),.xx-dark a,.xx-dark button:not([class*="ui-"]) { color: #000 !important; }

.font-green,.font-green .icon:not([class*="ui-"]),.font-green a,.font-green button:not([class*="ui-"]) { color: #2dbd3a !important; }
.font-yellow,.font-yellow .icon:not([class*="ui-"]),.font-yellow a,.font-yellow button:not([class*="ui-"]) { color: #ffa600 !important; }
.font-red,.font-red .icon:not([class*="ui-"]),.font-red a,.font-red button:not([class*="ui-"]) { color: #dc000f !important; }
.font-blue,.font-blue .icon:not([class*="ui-"]),.font-blue a,.font-blue button:not([class*="ui-"]) { color: #235ea0 !important; }
.font-orange,.font-orange .icon:not([class*="ui-"]),.font-orange a,.font-orange button:not([class*="ui-"]) { color: #f47500 !important; }
.font-default,.font-default .icon:not([class*="ui-"]),.font-default a,.font-default button:not([class*="ui-"]) { color: #000 !important; }

.underline { text-decoration: underline; }
a.underline:hover,button.underline:hover { text-decoration: none; }
.hoverline:hover { text-decoration: underline; }

.lead { font-size: 21px; line-height: 1.4; margin-bottom: 20px; }
.bold { font-weight: bold !important; }
.semibold { font-weight: 500 !important; }
.regular { font-weight: normal !important; }
.thin { font-weight: 300 !important; }
.italic { font-style: italic !important; }
.overline { text-decoration: line-through; }
.ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.initialism { font-size: 90%; text-transform: uppercase; }

.no-line-height { line-height: normal !important; }
.word-break-all { word-break: break-all; }

abbr[title] { cursor: help; }

address:not(:last-child) { margin-bottom: 20px; }
address { font-style: normal; }
