// out: false
/* typography */ @import (reference) 'ui.less';

@headings-font-family:                  "Archivo", @font-family;
@headings-letter-spacing:               -0.025em;

@code-font-family:                      SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
@font-colors:                           green yellow orange red blue;

@lead-size:                             @x-large;

@heading-icon-right:                    5px;
@heading-auto-center:                   true;

@h1-size:                               (@x-largest - 2);
@h2-size:                               (@largest + 2);
@h3-size:                               (@largest - 4);

@pre-bg:                                hsl(220, 8%, 22%);
@pre-min-height:                        40px;
@pre-max-height:                        350px;

@code-color:                            hsl(345, 69%, 46%);
@code-bg:                               hsl(343, 37%, 96%);

@blockquote-border:                     hsl(0, 0%, 93%);
@blockquote-footer-color:               hsl(0, 0%, 47%);

._global-vars () {
    --ui-black-muted: @black-muted;
    --ui-black-50: @black-50;

    --ui-code-color: @code-color;
    --ui-code-bg: @code-bg;
}
._global-vars-dark () {
    --ui-black-muted: @white-muted;
    --ui-black-50: @white-50;

    --ui-code-color: @white;
    --ui-code-bg: @code-color;
}

body,a { ._color-var(black); }

.font-color {
    &-white {
        &,
        .ui-icon:not([class*="ui-color-"]):not([class*="ui-fill-"]),
        a:not([class*="ui-color-"]):not([class*="ui-fill-"]),
        button:not([class*="ui-color-"]):not([class*="ui-fill-"]) { color: @white !important; }

        &-50 {
            &,
            .ui-icon:not([class*="ui-color-"]):not([class*="ui-fill-"]),
            a:not([class*="ui-color-"]):not([class*="ui-fill-"]),
            button:not([class*="ui-color-"]):not([class*="ui-fill-"]) { color: @white-50 !important; }
        }
        &-muted {
            &,
            .ui-icon:not([class*="ui-color-"]):not([class*="ui-fill-"]),
            a:not([class*="ui-color-"]):not([class*="ui-fill-"]),
            button:not([class*="ui-color-"]):not([class*="ui-fill-"]) { color: @white-muted !important; }
        }
    }

    &-black {
        &,
        .ui-icon:not([class*="ui-color"]):not([class*="ui-fill-"]),
        a:not([class*="ui-color"]):not([class*="ui-fill-"]),
        button:not([class*="ui-color"]):not([class*="ui-fill-"]) { ._color-var(black) !important; }

        &-50 {
            &,
            .ui-icon:not([class*="ui-color"]):not([class*="ui-fill-"]),
            a:not([class*="ui-color"]):not([class*="ui-fill-"]),
            button:not([class*="ui-color"]):not([class*="ui-fill-"]) { ._color-var(black-50) !important; }
        }
        &-muted {
            &,
            .ui-icon:not([class*="ui-color"]):not([class*="ui-fill-"]),
            a:not([class*="ui-color"]):not([class*="ui-fill-"]),
            button:not([class*="ui-color"]):not([class*="ui-fill-"]) { ._color-var(black-muted) !important; }
        }
    }

    each(@font-colors, {
        &-@{value} {
            &,
            .ui-icon:not([class*="ui-color"]):not([class*="ui-fill-"]),
            a:not([class*="ui-color"]):not([class*="ui-fill-"]),
            button:not([class*="ui-color"]):not([class*="ui-fill-"]) { color: @@value !important; }
        }
    });
}

.font- {
    &lead { font-size: @lead-size; line-height: 1.4; margin-bottom: @highlight-space; }
    &bold { font-weight: @font-bold !important; }
    &semibold { font-weight: @font-semibold !important; }
    &regular { font-weight: @font-normal !important; }
    &light { font-weight: @font-light !important; }
    &thin { font-weight: @font-thin !important; }
    &italic { font-style: italic !important; }
    &overline { text-decoration: line-through; }
    &ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
}

.xx-smallest { font-size: @xx-smallest !important; }
.x-smallest { font-size: @x-smallest !important; }
.smallest { font-size: @smallest !important; }
.xx-small { font-size: @xx-small !important; }
.x-small { font-size: @x-small !important; }
.small { font-size: @small !important; }
.default { font-size: @font-size !important; }
.large { font-size: @large !important; }
.x-large { font-size: @x-large !important; }
.xx-large { font-size: @xx-large !important; }
.largest { ._font-scale(@largest) !important; }
.x-largest { ._font-scale(@x-largest) !important; }
.xx-largest { ._font-scale(@xx-largest) !important; }

h1,h2,h3,h4,h5,h6 {
    font-family: @headings-font-family; font-weight: @font-normal; letter-spacing: @headings-letter-spacing; margin-bottom: 0;

    &:not(:last-child) { margin-bottom: @highlight-space; }
    & > small { font-size: @font-size !important; }
    .ui-icon:not(.right) { margin-right: @heading-icon-right; }
    .ui-icon-lg:not(.right) { margin-right: (@heading-icon-right * 2); }
}

h1,h2,h3 { line-height: 1; }
h1 { ._font-scale(@h1-size); }
h2 { ._font-scale(@h2-size); }
h3 { ._font-scale(@h3-size); }
h4 { font-size: @x-large; }
h5 { font-size: @font-size; }
h6 { font-size: @small; }

.underline {
    &,&-1st > *,&-2nd > * > * {
        text-decoration: underline;

        a,button {
          &:hover { text-decoration: none; }
        }
    }
}
.hoverline {
    &:hover { text-decoration: underline; }

    &,&-1st > *,&-2nd > * > * {
        &:hover { text-decoration: underline; }
    }
}

.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.initialism { font-size: 90%; text-transform: uppercase; }

.no-line-height { line-height: normal !important; }
.word-break-all { word-break: break-all; }

abbr[title] { cursor: help; }
address {
    font-style: normal;

    &:not(:last-child) { margin-bottom: @highlight-space; }
}
blockquote {
    font-size: @large; padding: 10px 20px !important; border-left: 5px solid @blockquote-border;

    &:not(:last-child) { margin-bottom: @highlight-space; }
    &.align-r,&.right { text-align: right; border-right: 5px solid @blockquote-border; border-left: 0; }

    footer,small { color: @blockquote-footer-color; font-size: 80%; display: block; }
}

code,kbd,pre,samp,xmp { font-family: @code-font-family; }
code { ._color-var(code-color); font-size: 90%; padding: 2px 4px !important; ._bg-var(code-bg); display: inline-block; border-radius: 2px; }
kbd { color: @white; font-size: 90%; background-color: @pre-bg; padding: 2px 4px !important; border-radius: 3px; }

pre,xmp {
    color: @white; min-height: @pre-min-height; background-color: @pre-bg; padding: 10px !important; overflow-x: auto !important; overflow-y: auto !important; display: block;

    &:not(:last-child) { margin-bottom: @highlight-space; }
    &.scroll-v { max-height: @pre-max-height; }
}

hr.hr { box-sizing: content-box; width: 100%; height: 1px; ._bg-var(border-color); margin-top: @highlight-space !important; margin-bottom: @highlight-space !important; border: 0; }

@media (@xs-finish) {
    h1,h2,h3,h4,h5,h6 {
        & when (@heading-auto-center = true) { text-align: center; }
        & > small { margin-top: 5px; display: block; }
    }
}