{
    "comments": false, // remove comments
    "sourceType": "unambiguous", // use scripts with modules together
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "ie": "10" // Supported IE Version
                }
            }
        ]
    ]
}