{ // https://babeljs.io/docs/en/options

    "sourceType": "unambiguous", // use scripts with modules together
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "edge": "79" // Supported Edge (First Chromium) Version
                }
            }
        ]
    ]

}