/* dashboard */
[data-theme="light"] {
  --header-bg: hsl(0, 0%, 100%);
}
[data-theme="dark"] {
  --header-bg: hsl(220, 15%, 16%);
}
.theme-panel.ui-bg-light-100,
.theme-panel .ui-bg-light-100:not([class*="theme-"]) {
  background-color: hsla(231, 55%, 57%, 0.15);
}
.theme-panel.ui-bg-light-200,
.theme-panel .ui-bg-light-200:not([class*="theme-"]) {
  background-color: hsla(231, 55%, 62%, 0.25);
}
.theme-panel.ui-bg-light-300,
.theme-panel .ui-bg-light-300:not([class*="theme-"]) {
  background-color: hsla(231, 55%, 67%, 0.35);
}
.theme-panel.ui-bg-dark-100,
.theme-panel .ui-bg-dark-100:not([class*="theme-"]) {
  background-color: hsl(231, 55%, 47%);
}
.theme-panel.ui-bg-dark-200,
.theme-panel .ui-bg-dark-200:not([class*="theme-"]) {
  background-color: hsl(231, 55%, 32%);
}
.theme-panel.ui-bg-dark-300,
.theme-panel .ui-bg-dark-300:not([class*="theme-"]) {
  background-color: hsl(231, 55%, 22%);
}
.desktop .theme-panel.ui-bg-light-100.hover:hover,
.desktop .theme-panel .ui-bg-light-100:not([class*="theme-"]).hover:hover,
.desktop .theme-panel.ui-bg-light-100.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
.desktop .theme-panel .ui-bg-light-100:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(231, 55%, 57%, 0.3);
}
.desktop .theme-panel.ui-bg-light-200.hover:hover,
.desktop .theme-panel .ui-bg-light-200:not([class*="theme-"]).hover:hover,
.desktop .theme-panel.ui-bg-light-200.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
.desktop .theme-panel .ui-bg-light-200:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(231, 55%, 62%, 0.5);
}
.desktop .theme-panel.ui-bg-light-300.hover:hover,
.desktop .theme-panel .ui-bg-light-300:not([class*="theme-"]).hover:hover,
.desktop .theme-panel.ui-bg-light-300.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
.desktop .theme-panel .ui-bg-light-300:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(231, 55%, 67%, 0.7);
}
.desktop .theme-panel.ui-bg-dark-100.hover:hover,
.desktop .theme-panel .ui-bg-dark-100:not([class*="theme-"]).hover:hover,
.desktop .theme-panel.ui-bg-dark-100.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
.desktop .theme-panel .ui-bg-dark-100:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(231, 55%, 62%);
}
.desktop .theme-panel.ui-bg-dark-200.hover:hover,
.desktop .theme-panel .ui-bg-dark-200:not([class*="theme-"]).hover:hover,
.desktop .theme-panel.ui-bg-dark-200.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
.desktop .theme-panel .ui-bg-dark-200:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(231, 55%, 67%);
}
.desktop .theme-panel.ui-bg-dark-300.hover:hover,
.desktop .theme-panel .ui-bg-dark-300:not([class*="theme-"]).hover:hover,
.desktop .theme-panel.ui-bg-dark-300.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
.desktop .theme-panel .ui-bg-dark-300:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(231, 55%, 72%);
}
.theme-panel.ui-color,
.theme-panel .ui-color:not([class*="theme-"]) {
  color: hsl(231, 55%, 47%);
}
.theme-panel.ui-border,
.theme-panel .ui-border:not([class*="theme-"]) {
  border-color: hsl(231, 55%, 47%);
}
.theme-panel2.ui-bg-light-100,
.theme-panel2 .ui-bg-light-100:not([class*="theme-"]) {
  background-color: hsla(189, 95%, 50%, 0.15);
}
.theme-panel2.ui-bg-light-200,
.theme-panel2 .ui-bg-light-200:not([class*="theme-"]) {
  background-color: hsla(189, 95%, 55%, 0.25);
}
.theme-panel2.ui-bg-light-300,
.theme-panel2 .ui-bg-light-300:not([class*="theme-"]) {
  background-color: hsla(189, 95%, 60%, 0.35);
}
.theme-panel2.ui-bg-dark-100,
.theme-panel2 .ui-bg-dark-100:not([class*="theme-"]) {
  background-color: hsl(189, 95%, 40%);
}
.theme-panel2.ui-bg-dark-200,
.theme-panel2 .ui-bg-dark-200:not([class*="theme-"]) {
  background-color: hsl(189, 95%, 25%);
}
.theme-panel2.ui-bg-dark-300,
.theme-panel2 .ui-bg-dark-300:not([class*="theme-"]) {
  background-color: hsl(189, 95%, 15%);
}
.desktop .theme-panel2.ui-bg-light-100.hover:hover,
.desktop .theme-panel2 .ui-bg-light-100:not([class*="theme-"]).hover:hover,
.desktop .theme-panel2.ui-bg-light-100.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
.desktop .theme-panel2 .ui-bg-light-100:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(189, 95%, 50%, 0.3);
}
.desktop .theme-panel2.ui-bg-light-200.hover:hover,
.desktop .theme-panel2 .ui-bg-light-200:not([class*="theme-"]).hover:hover,
.desktop .theme-panel2.ui-bg-light-200.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
.desktop .theme-panel2 .ui-bg-light-200:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(189, 95%, 55%, 0.5);
}
.desktop .theme-panel2.ui-bg-light-300.hover:hover,
.desktop .theme-panel2 .ui-bg-light-300:not([class*="theme-"]).hover:hover,
.desktop .theme-panel2.ui-bg-light-300.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
.desktop .theme-panel2 .ui-bg-light-300:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(189, 95%, 60%, 0.7);
}
.desktop .theme-panel2.ui-bg-dark-100.hover:hover,
.desktop .theme-panel2 .ui-bg-dark-100:not([class*="theme-"]).hover:hover,
.desktop .theme-panel2.ui-bg-dark-100.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
.desktop .theme-panel2 .ui-bg-dark-100:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(189, 95%, 55%);
}
.desktop .theme-panel2.ui-bg-dark-200.hover:hover,
.desktop .theme-panel2 .ui-bg-dark-200:not([class*="theme-"]).hover:hover,
.desktop .theme-panel2.ui-bg-dark-200.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
.desktop .theme-panel2 .ui-bg-dark-200:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(189, 95%, 60%);
}
.desktop .theme-panel2.ui-bg-dark-300.hover:hover,
.desktop .theme-panel2 .ui-bg-dark-300:not([class*="theme-"]).hover:hover,
.desktop .theme-panel2.ui-bg-dark-300.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
.desktop .theme-panel2 .ui-bg-dark-300:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(189, 95%, 65%);
}
.theme-panel2.ui-color,
.theme-panel2 .ui-color:not([class*="theme-"]) {
  color: hsl(189, 95%, 40%);
}
.theme-panel2.ui-border,
.theme-panel2 .ui-border:not([class*="theme-"]) {
  border-color: hsl(189, 95%, 40%);
}
body {
  overflow-x: hidden;
}
header {
  background-color: hsl(0, 0%, 100%);
  background-color: var(--header-bg);
}
.sticky-header .sidebar {
  top: -62px;
}
.sidebar .tabs {
  height: calc(100% - 62px);
}
.dashboard-carousel {
  margin-bottom: -5px;
}
@media (min-width: 1480px) {
  .fixed-inner {
    max-width: 1480px;
  }
}
@media (min-width: 1200px) {
  header.sticky.sidebar-opened {
    width: calc(100% - 250px);
    left: 250px;
  }
}
