/* dashboard app */ @import (reference) '../ui.less';

@lg-breakpoint:                         1600px;
@body-bg:                               hsl(227, 31%, 94%);
@app-round:                             16px;

@theme-app:                             hsl(214, 100%, 50%);
@theme-app2:                            hsl(349, 100%, 53%);

@dashboard-app-bg:                      hsl(225, 33%, 98%);
@dashboard-app-bg-dark:                 hsl(222, 13%, 15%);

._dashboard-app-vars () {
    --body-bg: @body-bg;
    --dashboard-app-bg: @dashboard-app-bg;
}
._dashboard-app-vars-dark () {
    --dashboard-app-bg: @dashboard-app-bg-dark;
}
& when (@dark-mode = true) {
    & when (@dark-mode-auto-switcher = true) {
        @media (prefers-color-scheme: light) {
            :root { ._dashboard-app-vars(); }
        }
        @media (prefers-color-scheme: dark) {
            :root { ._dashboard-app-vars-dark(); }
        }
    }
    & when (@dark-mode-auto-switcher = false) {
        [data-ui-mode="light"] { ._dashboard-app-vars(); }
        [data-ui-mode="dark"] { ._dashboard-app-vars-dark(); }
    }
}

._theme(app, @theme-app);
._theme(app2, @theme-app2);

.col-35 { width: 35px; }

.app { ._bg-var(dashboard-app-bg); border-radius: (@app-round * 3); }
.card { height: 700px; border-radius: (@app-round * 2); }
.grid-container { height: 532px; }

.round {
    &:not(.tooltip):not(.btn-square) { border-radius: @app-round; }

    &.list-group {
        ul {
            li {
                &:first-child {
                    &,& > a { border-top-left-radius: @app-round; border-top-right-radius: @app-round; }
                }
                &:LAST-child {
                    &,& > a { border-bottom-left-radius: @app-round; border-bottom-right-radius: @app-round; }
                }
            }
        }
    }
}

.tab-content { border-radius: (@app-round * 2 - @app-round / 2); }

.contacts {
    white-space: nowrap;

    li,.status {
        &:after { content: attr(data-ui-msg); color: @white; font-size: @x-small; font-weight: @font-bold; text-align: center; width: 18px; height: 18px; background-color: @theme-app2; display: block; ._border-var(@width: 2px; @var: card-bg); border-radius: 50%; position: absolute; }
        &.online {
            &:after { background-color: @green; }
        }
    }
    li {
        border: solid 3px transparent; position: relative;

        &:after { bottom: -2px; right: -2px; }
    }

}

.status {
    display: inline-block; position: relative;

    &:after { bottom: 2px; right: 2px; }
}

.messages {
    height: 432px;

    li {
        max-width: 80%; padding-left: 35px; clear: both;

        &:not(:last-child) { margin-bottom: 3px; }
        &.left + .right,&.right + .left { margin-top: 25px; }

        [class*="img-photo"] { margin-left: -35px; float: left; }
        & > span {
            &:not([class*="img-photo"]) { padding: 6px 10px; display: inline-block; border-radius: @app-round; }
        }
    }
}

@media (@lg-start) {
    .fixed { max-width: 1600px; }
}