/* dashboard */ @import (reference) '../ui.less'; @import (reference) '../themes.less';

@header-height:                         62px;

@base:                                  hsl(231, 55%, 47%);
@sub:                                   hsl(189, 95%, 40%);

@header-bg:                             hsl(0, 0%, 100%);
@header-bg-dark:                        hsl(220, 15%, 16%);

._dashboard-vars () {
    --ui-header-bg: @header-bg;
}
._dashboard-vars-dark () {
    --ui-header-bg: @header-bg-dark;
}

& when (@dark-mode = true) {
    & when (@dark-mode-auto-switcher = true) {
        @media (prefers-color-scheme: light) {
            :root { ._dashboard-vars(); }
        }
        @media (prefers-color-scheme: dark) {
            :root { ._dashboard-vars-dark(); }
        }
    }
    & when (@dark-mode-auto-switcher = false) {
        [data-ui-mode="light"] { ._dashboard-vars(); }
        [data-ui-mode="dark"] { ._dashboard-vars-dark(); }
    }
}

._theme(base, @base);
._theme(sub, @sub);

body { overflow-x: hidden; }
header { ._bg-var(header-bg); }

.dashboard-menu {
    &-hide { background-color: @no-color; border: 0; cursor: pointer; }
    .ui-sticky-header & { top: -@header-height; }

    .ui-tabs { height: calc(100% - @header-height); }
}

.dashboard-carousel { margin-bottom: -5px; }

@media (@lg-start) {
    header {
        &.ui-sticky {
            &.dashboard-menu-opened { width: calc(100% - 250px); left: 250px; }
        }
    }
}