/* dashboard app */
[data-theme="light"] {
  --body-bg: hsl(227, 31%, 94%);
  --dashboard-app-bg: hsl(225, 33%, 98%);
}
[data-theme="dark"] {
  --dashboard-app-bg: hsl(222, 13%, 15%);
}
.theme-app.ui-x-light,
.theme-app .ui-x-light:not([class*="theme-"]) {
  background-color: hsla(214, 100%, 50%, 0.15);
}
html:not(.mobile) .theme-app.ui-x-light.hover:hover,
html:not(.mobile) .theme-app .ui-x-light:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-app.ui-x-light.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-app .ui-x-light:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(214, 100%, 50%, 0.5);
}
.theme-app.ui-light,
.theme-app .ui-light:not([class*="theme-"]) {
  background-color: hsla(214, 100%, 50%, 0.25);
}
html:not(.mobile) .theme-app.ui-light.hover:hover,
html:not(.mobile) .theme-app .ui-light:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-app.ui-light.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-app .ui-light:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(214, 100%, 50%, 0.5);
}
.theme-app.ui-dark,
.theme-app .ui-dark:not([class*="theme-"]) {
  background-color: hsl(214, 100%, 50%);
}
html:not(.mobile) .theme-app.ui-dark.hover:hover,
html:not(.mobile) .theme-app .ui-dark:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-app.ui-dark.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-app .ui-dark:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(214, 100%, 70%);
}
.theme-app.ui-x-dark,
.theme-app .ui-x-dark:not([class*="theme-"]) {
  background-color: hsl(214, 100%, 40%);
}
html:not(.mobile) .theme-app.ui-x-dark.hover:hover,
html:not(.mobile) .theme-app .ui-x-dark:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-app.ui-x-dark.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-app .ui-x-dark:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(0, 0%, 35%);
}
.theme-app.ui-text,
.theme-app .ui-text:not([class*="theme-"]) {
  color: hsl(214, 100%, 50%);
}
.theme-app.ui-border,
.theme-app .ui-border:not([class*="theme-"]) {
  border-color: hsl(214, 100%, 50%);
}
.theme-app2.ui-x-light,
.theme-app2 .ui-x-light:not([class*="theme-"]) {
  background-color: hsla(349, 100%, 53%, 0.15);
}
html:not(.mobile) .theme-app2.ui-x-light.hover:hover,
html:not(.mobile) .theme-app2 .ui-x-light:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-app2.ui-x-light.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-app2 .ui-x-light:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(349, 100%, 53%, 0.5);
}
.theme-app2.ui-light,
.theme-app2 .ui-light:not([class*="theme-"]) {
  background-color: hsla(349, 100%, 53%, 0.25);
}
html:not(.mobile) .theme-app2.ui-light.hover:hover,
html:not(.mobile) .theme-app2 .ui-light:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-app2.ui-light.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-app2 .ui-light:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(349, 100%, 53%, 0.5);
}
.theme-app2.ui-dark,
.theme-app2 .ui-dark:not([class*="theme-"]) {
  background-color: hsl(349, 100%, 53%);
}
html:not(.mobile) .theme-app2.ui-dark.hover:hover,
html:not(.mobile) .theme-app2 .ui-dark:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-app2.ui-dark.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-app2 .ui-dark:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(349, 100%, 73%);
}
.theme-app2.ui-x-dark,
.theme-app2 .ui-x-dark:not([class*="theme-"]) {
  background-color: hsl(349, 100%, 43%);
}
html:not(.mobile) .theme-app2.ui-x-dark.hover:hover,
html:not(.mobile) .theme-app2 .ui-x-dark:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-app2.ui-x-dark.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-app2 .ui-x-dark:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(0, 0%, 35%);
}
.theme-app2.ui-text,
.theme-app2 .ui-text:not([class*="theme-"]) {
  color: hsl(349, 100%, 53%);
}
.theme-app2.ui-border,
.theme-app2 .ui-border:not([class*="theme-"]) {
  border-color: hsl(349, 100%, 53%);
}
.col-35 {
  width: 35px;
}
.app {
  background-color: hsl(225, 33%, 98%);
  background-color: var(--dashboard-app-bg);
  border-radius: 48px;
}
.card {
  height: 700px;
  border-radius: 32px;
}
.data-container {
  height: 532px;
}
.round:not(.tooltip):not(.btn-square) {
  border-radius: 16px;
}
.round.list-group ul li:first-child,
.round.list-group ul li:first-child > a {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.round.list-group ul li:LAST-child,
.round.list-group ul li:LAST-child > a {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.tab-content {
  border-radius: 24px;
}
.contacts {
  white-space: nowrap;
}
.contacts li:after,
.contacts .status:after {
  content: attr(data-msg);
  color: hsl(0, 0%, 100%);
  font-size: 11px;
  font-weight: font-bold;
  text-align: center;
  width: 18px;
  height: 18px;
  background-color: hsl(349, 100%, 53%);
  display: block;
  border: solid 2px hsl(0, 0%, 100%);
  border: solid 2px var(--card-bg);
  border-radius: 50%;
  position: absolute;
}
.contacts li.online:after,
.contacts .status.online:after {
  background-color: hsl(142, 82%, 42%);
}
.contacts li {
  border: solid 3px transparent;
  position: relative;
}
.contacts li:after {
  bottom: -2px;
  right: -2px;
}
.status {
  display: inline-block;
  position: relative;
}
.status:after {
  bottom: 2px;
  right: 2px;
}
.messages {
  height: 432px;
}
.messages li {
  max-width: 80%;
  padding-left: 35px;
  clear: both;
}
.messages li:not(:last-child) {
  margin-bottom: 3px;
}
.messages li.left + .right,
.messages li.right + .left {
  margin-top: 25px;
}
.messages li [class*="img-photo"] {
  margin-left: -35px;
  float: left;
}
.messages li > span:not([class*="img-photo"]) {
  padding: 6px 10px;
  display: inline-block;
  border-radius: 16px;
}
@media (min-width: 1600px) {
  .fixed {
    max-width: 1600px;
  }
}
