/* icons */
[data-theme="light"] {
  --icons-list-color: #4a515a;
  --icons-list-bg: rgba(0, 0, 0, 0.07);
  --icons-list-hover-bg: rgba(0, 0, 0, 0.12);
  --icons-svg-border: rgba(0, 0, 0, 0.01);
  --icons-name-color: #666;
}
[data-theme="dark"] {
  --icons-list-color: #fff;
  --icons-list-bg: #2f343e;
  --icons-list-hover-bg: #3c424d;
  --icons-svg-border: rgba(255, 255, 255, 0.01);
  --icons-name-color: #d0d0d0;
}
.icons-list {
  margin: -1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icons-list:not(:last-child) {
  margin-bottom: 30px;
}
.icons-list li {
  color: #4a515a;
  color: var(--icons-list-color);
  max-width: 160px;
  background-color: rgba(0, 0, 0, 0.07);
  background-color: var(--icons-list-bg);
  padding: 15px 10px;
  margin: 1px;
  border-radius: 6px;
  cursor: pointer;
  flex-grow: 1;
}
html:not(.mobile) .icons-list li:hover {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: var(--icons-list-hover-bg);
}
.icons-list li > span {
  content: attr(data-name);
  color: #666;
  color: var(--icons-name-color);
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: normal;
  min-width: 129px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  display: block;
}
.icons-list li .icon:not([class*="animate-"]) {
  box-sizing: content-box;
  border: solid 1px rgba(0, 0, 0, 0.01);
  border: solid 1px var(--icons-svg-border);
}
