/* icons */ @import (reference) '../ui.less';

@icons-list-color:                      hsl(214, 10%, 32%);
@icons-list-color-dark:                 @white;

@icons-list-bg:                         fade(@black, 7%);
@icons-list-bg-dark:                    @card-bg-dark;

@icons-list-hover-bg:                   fade(@black, 12%);
@icons-list-hover-bg-dark:              hsl(219, 12%, 27%);

@icons-name-color:                      @black-50;
@icons-name-color-dark:                 hsl(0, 0%, 82%);

._icons-vars () {
    --ui-icons-list-color: @icons-list-color;
    --ui-icons-list-bg: @icons-list-bg;
    --ui-icons-list-hover-bg: @icons-list-hover-bg;

    --ui-icons-name-color: @icons-name-color;
}
._icons-vars-dark () {
    --ui-icons-list-color: @icons-list-color-dark;
    --ui-icons-list-bg: @icons-list-bg-dark;
    --ui-icons-list-hover-bg: @icons-list-hover-bg-dark;

    --ui-icons-name-color: @icons-name-color-dark;
}

& when (@dark-mode = true) {
    & when (@dark-mode-auto-switcher = true) {
        @media (prefers-color-scheme: light) {
            :root { ._icons-vars(); }
        }
        @media (prefers-color-scheme: dark) {
            :root { ._icons-vars-dark(); }
        }
    }
    & when (@dark-mode-auto-switcher = false) {
        [data-ui-mode="light"] { ._icons-vars(); }
        [data-ui-mode="dark"] { ._icons-vars-dark(); }
    }
}

.ui-icons-list {
    margin: -1px; display: flex; flex-wrap: wrap; justify-content: center;

    &:not(:last-child) { margin-bottom: 30px; }

    li {
        ._color-var(icons-list-color); max-width: 160px; ._bg-var(icons-list-bg); padding: 15px 10px; margin: 1px; border-radius: @round; cursor: pointer; flex-grow: 1;

        .ui-desktop &:hover { ._bg-var(icons-list-hover-bg); }
        & > span { ._color-var(icons-name-color); font-size: (@font-size - 1); white-space: nowrap; text-overflow: ellipsis; line-height: normal; min-width: 129px; width: 100%; margin-top: 10px; overflow: hidden; display: block; }

        .ui-icon:not([class*="animate-"]) { box-sizing: content-box; }
    }
}