/* icons */ @import (reference) '../ui.less';

@iconlist-color:                      hsl(214, 10%, 32%);
@iconlist-color-dark:                   @white;

@iconlist-bg:                           fade(@black, 7%);
@iconlist-bg-dark:                      @card-bg-dark;

@iconlist-hover-bg:                     fade(@black, 12%);
@iconlist-hover-bg-dark:                fade(@white, 20%);

@icons-name-color:                      @black-50;
@icons-name-color-dark:                 fade(@white, 50%);

._icons-vars () {
    --ui-iconlist-color: @iconlist-color;
    --ui-iconlist-bg: @iconlist-bg;
    --ui-iconlist-hover-bg: @iconlist-hover-bg;

    --ui-icons-name-color: @icons-name-color;
}
._icons-vars-dark () {
    --ui-iconlist-color: @iconlist-color-dark;
    --ui-iconlist-bg: @iconlist-bg-dark;
    --ui-iconlist-hover-bg: @iconlist-hover-bg-dark;

    --ui-icons-name-color: @icons-name-color-dark;
}

& when (@dark-mode = true) {
    & when (@dark-mode-auto-switcher = true) {
        @media (prefers-color-scheme: light) {
            :root { ._icons-vars(); }
        }
        @media (prefers-color-scheme: dark) {
            :root { ._icons-vars-dark(); }
        }
    }
    & when (@dark-mode-auto-switcher = false) {
        [data-ui-mode="light"] { ._icons-vars(); }
        [data-ui-mode="dark"] { ._icons-vars-dark(); }
    }
}

.iconlist {
    margin: -1px; display: flex; flex-wrap: wrap; justify-content: center;

    &:not(:last-child) { margin-bottom: 30px; }

    li {
        ._color-var(iconlist-color); width: 160px; ._bg-var(iconlist-bg); padding: 10px 6px; margin: 1px; border-radius: @round; cursor: pointer;

        .ui-desktop &:hover { ._bg-var(iconlist-hover-bg); }
        & > span { ._color-var(icons-name-color); font-size: @font-13; white-space: nowrap; text-overflow: ellipsis; line-height: normal; min-width: 129px; width: 100%; margin-top: 10px; overflow: hidden; display: block; }

        .ui-icon:not([class*="ui-animate-"]) { box-sizing: content-box; }
    }
}