/* icons */
[data-ui-mode="light"] {
  --ui-icons-list-color: hsl(214, 10%, 32%);
  --ui-icons-list-bg: hsla(0, 0%, 0%, 0.07);
  --ui-icons-list-hover-bg: hsla(0, 0%, 0%, 0.12);
  --ui-icons-name-color: hsla(0, 0%, 0%, 0.5);
}
[data-ui-mode="dark"] {
  --ui-icons-list-color: hsl(0, 0%, 100%);
  --ui-icons-list-bg: hsl(220, 8%, 21%);
  --ui-icons-list-hover-bg: hsl(219, 12%, 27%);
  --ui-icons-name-color: hsl(0, 0%, 82%);
}
.icons-list {
  margin: -1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icons-list:not(:last-child) {
  margin-bottom: 30px;
}
.icons-list li {
  color: hsl(214, 10%, 32%);
  color: var(--ui-icons-list-color);
  max-width: 160px;
  background-color: hsla(0, 0%, 0%, 0.07);
  background-color: var(--ui-icons-list-bg);
  padding: 15px 10px;
  margin: 1px;
  border-radius: 10px;
  cursor: pointer;
  flex-grow: 1;
}
.ui-desktop .icons-list li:hover {
  background-color: hsla(0, 0%, 0%, 0.12);
  background-color: var(--ui-icons-list-hover-bg);
}
.icons-list li > span {
  color: hsla(0, 0%, 0%, 0.5);
  color: var(--ui-icons-name-color);
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: normal;
  min-width: 129px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  display: block;
}
.icons-list li .ui-icon:not([class*="ui-animate-"]) {
  box-sizing: content-box;
}
