/* landing page */
.theme-farmer.ui-x-light,
.theme-farmer .ui-x-light:not([class*="theme-"]) {
  background-color: hsla(43, 100%, 52%, 0.15);
}
html:not(.mobile) .theme-farmer.ui-x-light.hover:hover,
html:not(.mobile) .theme-farmer .ui-x-light:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer.ui-x-light.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer .ui-x-light:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(43, 100%, 52%, 0.5);
}
.theme-farmer.ui-light,
.theme-farmer .ui-light:not([class*="theme-"]) {
  background-color: hsla(43, 100%, 52%, 0.25);
}
html:not(.mobile) .theme-farmer.ui-light.hover:hover,
html:not(.mobile) .theme-farmer .ui-light:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer.ui-light.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer .ui-light:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(43, 100%, 52%, 0.5);
}
.theme-farmer.ui-dark,
.theme-farmer .ui-dark:not([class*="theme-"]) {
  background-color: hsl(43, 100%, 52%);
}
html:not(.mobile) .theme-farmer.ui-dark.hover:hover,
html:not(.mobile) .theme-farmer .ui-dark:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer.ui-dark.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer .ui-dark:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(43, 100%, 72%);
}
.theme-farmer.ui-x-dark,
.theme-farmer .ui-x-dark:not([class*="theme-"]) {
  background-color: hsl(43, 100%, 42%);
}
html:not(.mobile) .theme-farmer.ui-x-dark.hover:hover,
html:not(.mobile) .theme-farmer .ui-x-dark:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer.ui-x-dark.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer .ui-x-dark:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(43, 100%, 47%);
}
.theme-farmer.ui-text,
.theme-farmer .ui-text:not([class*="theme-"]) {
  color: hsl(43, 100%, 52%);
}
.theme-farmer.ui-border,
.theme-farmer .ui-border:not([class*="theme-"]) {
  border-color: hsl(43, 100%, 52%);
}
.theme-farmer2.ui-x-light,
.theme-farmer2 .ui-x-light:not([class*="theme-"]) {
  background-color: hsla(140, 86%, 46%, 0.15);
}
html:not(.mobile) .theme-farmer2.ui-x-light.hover:hover,
html:not(.mobile) .theme-farmer2 .ui-x-light:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer2.ui-x-light.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer2 .ui-x-light:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(140, 86%, 46%, 0.5);
}
.theme-farmer2.ui-light,
.theme-farmer2 .ui-light:not([class*="theme-"]) {
  background-color: hsla(140, 86%, 46%, 0.25);
}
html:not(.mobile) .theme-farmer2.ui-light.hover:hover,
html:not(.mobile) .theme-farmer2 .ui-light:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer2.ui-light.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer2 .ui-light:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(140, 86%, 46%, 0.5);
}
.theme-farmer2.ui-dark,
.theme-farmer2 .ui-dark:not([class*="theme-"]) {
  background-color: hsl(140, 86%, 46%);
}
html:not(.mobile) .theme-farmer2.ui-dark.hover:hover,
html:not(.mobile) .theme-farmer2 .ui-dark:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer2.ui-dark.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer2 .ui-dark:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(140, 86%, 66%);
}
.theme-farmer2.ui-x-dark,
.theme-farmer2 .ui-x-dark:not([class*="theme-"]) {
  background-color: hsl(140, 86%, 36%);
}
html:not(.mobile) .theme-farmer2.ui-x-dark.hover:hover,
html:not(.mobile) .theme-farmer2 .ui-x-dark:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer2.ui-x-dark.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer2 .ui-x-dark:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(140, 86%, 41%);
}
.theme-farmer2.ui-text,
.theme-farmer2 .ui-text:not([class*="theme-"]) {
  color: hsl(140, 86%, 46%);
}
.theme-farmer2.ui-border,
.theme-farmer2 .ui-border:not([class*="theme-"]) {
  border-color: hsl(140, 86%, 46%);
}
.col-220 {
  width: 220px;
}
.banner-content {
  background: no-repeat center center;
  background-size: cover;
}
.banner-content:after {
  content: "";
  background-color: hsla(140, 86%, 31%, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.banner-content > .fixed {
  z-index: 1;
}
.banner-slogan,
.banner .footer-social {
  background-color: hsla(0, 0%, 100%, 0.45);
}
.banner-slogan > div {
  background-color: hsla(43, 100%, 52%, 0.8);
}
.highlight-links {
  margin-top: -80px;
  z-index: 1;
}
.highlight-links .carousel {
  margin: 0 -15px;
}
@media (max-width: 959px) {
  .highlight-links {
    padding: 0 15px;
  }
}
@media (max-width: 620px) {
  .photo-gallery > li .img {
    height: 150px;
  }
}
