/* landing page */ @import (reference) '../ui.less'; @import (reference) '../themes.less';

@theme-farmer:                          hsl(40, 93%, 54%);
@theme-farmer2:                         hsl(140, 87%, 39%);

@landing-page-banner-bg:                fade(darken(@theme-farmer2, 15%), 40%);
@landing-page-banner-border-bg:         fade(@white, 45%);
@landing-page-banner-slogan-bg:         fade(@theme-farmer, 80%);

._theme(farmer, @theme-farmer);
._theme(farmer2, @theme-farmer2);

.ui-col-220 { width: 220px; }

.landing-page-banner {
    &-content {
        background: no-repeat center center; background-size: cover;

        &:after { content: ""; background-color: @landing-page-banner-bg; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
        & > .ui-fixed { z-index: 1; }
    }

    &-slogan,.landing-page-social { background-color: @landing-page-banner-border-bg; }
    &-slogan {
        & > div { background-color: @landing-page-banner-slogan-bg; }
    }
}

.landing-page-links {
    margin-top: -80px; z-index: 1;

    .ui-carousel { margin: 0 -15px; }
}

@media (@md-finish) {
    .landing-page-links { padding: 0 15px; }
}
@media (max-width: 620px) {
    .ui-photo-gallery {
        & > li {
            .ui-photo { height: 150px; }
        }
    }
}