/* landing page */
.theme-farmer.ui-bg-light-100,
.theme-farmer .ui-bg-light-100:not([class*="theme-"]) {
  background-color: hsla(43, 100%, 52%, 0.15);
}
.theme-farmer.ui-bg-light-200,
.theme-farmer .ui-bg-light-200:not([class*="theme-"]) {
  background-color: hsla(43, 100%, 52%, 0.2);
}
.theme-farmer.ui-bg-light-300,
.theme-farmer .ui-bg-light-300:not([class*="theme-"]) {
  background-color: hsla(43, 100%, 52%, 0.25);
}
.theme-farmer.ui-bg-dark-100,
.theme-farmer .ui-bg-dark-100:not([class*="theme-"]) {
  background-color: hsl(43, 100%, 52%);
}
.theme-farmer.ui-bg-dark-200,
.theme-farmer .ui-bg-dark-200:not([class*="theme-"]) {
  background-color: hsl(43, 100%, 37%);
}
.theme-farmer.ui-bg-dark-300,
.theme-farmer .ui-bg-dark-300:not([class*="theme-"]) {
  background-color: hsl(43, 100%, 27%);
}
html:not(.mobile) .theme-farmer.ui-bg-light-100.hover:hover,
html:not(.mobile) .theme-farmer .ui-bg-light-100:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer.ui-bg-light-100.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer .ui-bg-light-100:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(43, 100%, 52%, 0.3);
}
html:not(.mobile) .theme-farmer.ui-bg-light-200.hover:hover,
html:not(.mobile) .theme-farmer .ui-bg-light-200:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer.ui-bg-light-200.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer .ui-bg-light-200:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(43, 100%, 52%, 0.4);
}
html:not(.mobile) .theme-farmer.ui-bg-light-300.hover:hover,
html:not(.mobile) .theme-farmer .ui-bg-light-300:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer.ui-bg-light-300.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer .ui-bg-light-300:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(43, 100%, 52%, 0.5);
}
html:not(.mobile) .theme-farmer.ui-bg-dark-100.hover:hover,
html:not(.mobile) .theme-farmer .ui-bg-dark-100:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer.ui-bg-dark-100.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer .ui-bg-dark-100:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(43, 100%, 67%);
}
html:not(.mobile) .theme-farmer.ui-bg-dark-200.hover:hover,
html:not(.mobile) .theme-farmer .ui-bg-dark-200:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer.ui-bg-dark-200.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer .ui-bg-dark-200:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(43, 100%, 72%);
}
html:not(.mobile) .theme-farmer.ui-bg-dark-300.hover:hover,
html:not(.mobile) .theme-farmer .ui-bg-dark-300:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer.ui-bg-dark-300.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer .ui-bg-dark-300:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(43, 100%, 77%);
}
.theme-farmer.ui-color,
.theme-farmer .ui-color:not([class*="theme-"]) {
  color: hsl(43, 100%, 52%);
}
.theme-farmer.ui-border,
.theme-farmer .ui-border:not([class*="theme-"]) {
  border-color: hsl(43, 100%, 52%);
}
.theme-farmer2.ui-bg-light-100,
.theme-farmer2 .ui-bg-light-100:not([class*="theme-"]) {
  background-color: hsla(140, 86%, 46%, 0.15);
}
.theme-farmer2.ui-bg-light-200,
.theme-farmer2 .ui-bg-light-200:not([class*="theme-"]) {
  background-color: hsla(140, 86%, 46%, 0.2);
}
.theme-farmer2.ui-bg-light-300,
.theme-farmer2 .ui-bg-light-300:not([class*="theme-"]) {
  background-color: hsla(140, 86%, 46%, 0.25);
}
.theme-farmer2.ui-bg-dark-100,
.theme-farmer2 .ui-bg-dark-100:not([class*="theme-"]) {
  background-color: hsl(140, 86%, 46%);
}
.theme-farmer2.ui-bg-dark-200,
.theme-farmer2 .ui-bg-dark-200:not([class*="theme-"]) {
  background-color: hsl(140, 86%, 31%);
}
.theme-farmer2.ui-bg-dark-300,
.theme-farmer2 .ui-bg-dark-300:not([class*="theme-"]) {
  background-color: hsl(140, 86%, 21%);
}
html:not(.mobile) .theme-farmer2.ui-bg-light-100.hover:hover,
html:not(.mobile) .theme-farmer2 .ui-bg-light-100:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer2.ui-bg-light-100.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer2 .ui-bg-light-100:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(140, 86%, 46%, 0.3);
}
html:not(.mobile) .theme-farmer2.ui-bg-light-200.hover:hover,
html:not(.mobile) .theme-farmer2 .ui-bg-light-200:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer2.ui-bg-light-200.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer2 .ui-bg-light-200:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(140, 86%, 46%, 0.4);
}
html:not(.mobile) .theme-farmer2.ui-bg-light-300.hover:hover,
html:not(.mobile) .theme-farmer2 .ui-bg-light-300:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer2.ui-bg-light-300.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer2 .ui-bg-light-300:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(140, 86%, 46%, 0.5);
}
html:not(.mobile) .theme-farmer2.ui-bg-dark-100.hover:hover,
html:not(.mobile) .theme-farmer2 .ui-bg-dark-100:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer2.ui-bg-dark-100.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer2 .ui-bg-dark-100:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(140, 86%, 61%);
}
html:not(.mobile) .theme-farmer2.ui-bg-dark-200.hover:hover,
html:not(.mobile) .theme-farmer2 .ui-bg-dark-200:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer2.ui-bg-dark-200.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer2 .ui-bg-dark-200:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(140, 86%, 66%);
}
html:not(.mobile) .theme-farmer2.ui-bg-dark-300.hover:hover,
html:not(.mobile) .theme-farmer2 .ui-bg-dark-300:not([class*="theme-"]).hover:hover,
html:not(.mobile) .theme-farmer2.ui-bg-dark-300.btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover,
html:not(.mobile) .theme-farmer2 .ui-bg-dark-300:not([class*="theme-"]).btn:not(.btn-passive):not(.btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(140, 86%, 71%);
}
.theme-farmer2.ui-color,
.theme-farmer2 .ui-color:not([class*="theme-"]) {
  color: hsl(140, 86%, 46%);
}
.theme-farmer2.ui-border,
.theme-farmer2 .ui-border:not([class*="theme-"]) {
  border-color: hsl(140, 86%, 46%);
}
.col-220 {
  width: 220px;
}
.banner-content {
  background: no-repeat center center;
  background-size: cover;
}
.banner-content:after {
  content: "";
  background-color: hsla(140, 86%, 31%, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.banner-content > .fixed {
  z-index: 1;
}
.banner-slogan,
.banner .footer-social {
  background-color: hsla(0, 0%, 100%, 0.45);
}
.banner-slogan > div {
  background-color: hsla(43, 100%, 52%, 0.8);
}
.highlight-links {
  margin-top: -80px;
  z-index: 1;
}
.highlight-links .carousel {
  margin: 0 -15px;
}
@media (max-width: 959px) {
  .highlight-links {
    padding: 0 15px;
  }
}
@media (max-width: 620px) {
  .photo-gallery > li .img {
    height: 150px;
  }
}
