/* landing page */
.ui-theme-farmer.ui-fill-light-100,
.ui-theme-farmer .ui-fill-light-100:not([class*="ui-theme-"]) {
  background-color: hsla(40, 93%, 64%, 0.15);
}
.ui-theme-farmer.ui-fill-light-200,
.ui-theme-farmer .ui-fill-light-200:not([class*="ui-theme-"]) {
  background-color: hsla(40, 93%, 69%, 0.25);
}
.ui-theme-farmer.ui-fill-light-300,
.ui-theme-farmer .ui-fill-light-300:not([class*="ui-theme-"]) {
  background-color: hsla(40, 93%, 74%, 0.35);
}
.ui-theme-farmer.ui-fill-dark-100,
.ui-theme-farmer .ui-fill-dark-100:not([class*="ui-theme-"]) {
  background-color: hsl(40, 93%, 54%);
}
.ui-theme-farmer.ui-fill-dark-200,
.ui-theme-farmer .ui-fill-dark-200:not([class*="ui-theme-"]) {
  background-color: hsl(40, 93%, 39%);
}
.ui-theme-farmer.ui-fill-dark-300,
.ui-theme-farmer .ui-fill-dark-300:not([class*="ui-theme-"]) {
  background-color: hsl(40, 93%, 29%);
}
.ui-desktop .ui-theme-farmer.ui-fill-light-100.hover:hover,
.ui-desktop .ui-theme-farmer .ui-fill-light-100:not([class*="ui-theme-"]).hover:hover,
.ui-desktop .ui-theme-farmer.ui-fill-light-100.ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover,
.ui-desktop .ui-theme-farmer .ui-fill-light-100:not([class*="ui-theme-"]).ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(40, 93%, 64%, 0.3);
}
.ui-desktop .ui-theme-farmer.ui-fill-light-200.hover:hover,
.ui-desktop .ui-theme-farmer .ui-fill-light-200:not([class*="ui-theme-"]).hover:hover,
.ui-desktop .ui-theme-farmer.ui-fill-light-200.ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover,
.ui-desktop .ui-theme-farmer .ui-fill-light-200:not([class*="ui-theme-"]).ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(40, 93%, 69%, 0.5);
}
.ui-desktop .ui-theme-farmer.ui-fill-light-300.hover:hover,
.ui-desktop .ui-theme-farmer .ui-fill-light-300:not([class*="ui-theme-"]).hover:hover,
.ui-desktop .ui-theme-farmer.ui-fill-light-300.ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover,
.ui-desktop .ui-theme-farmer .ui-fill-light-300:not([class*="ui-theme-"]).ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(40, 93%, 74%, 0.7);
}
.ui-desktop .ui-theme-farmer.ui-fill-dark-100.hover:hover,
.ui-desktop .ui-theme-farmer .ui-fill-dark-100:not([class*="ui-theme-"]).hover:hover,
.ui-desktop .ui-theme-farmer.ui-fill-dark-100.ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover,
.ui-desktop .ui-theme-farmer .ui-fill-dark-100:not([class*="ui-theme-"]).ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(40, 93%, 69%);
}
.ui-desktop .ui-theme-farmer.ui-fill-dark-200.hover:hover,
.ui-desktop .ui-theme-farmer .ui-fill-dark-200:not([class*="ui-theme-"]).hover:hover,
.ui-desktop .ui-theme-farmer.ui-fill-dark-200.ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover,
.ui-desktop .ui-theme-farmer .ui-fill-dark-200:not([class*="ui-theme-"]).ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(40, 93%, 74%);
}
.ui-desktop .ui-theme-farmer.ui-fill-dark-300.hover:hover,
.ui-desktop .ui-theme-farmer .ui-fill-dark-300:not([class*="ui-theme-"]).hover:hover,
.ui-desktop .ui-theme-farmer.ui-fill-dark-300.ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover,
.ui-desktop .ui-theme-farmer .ui-fill-dark-300:not([class*="ui-theme-"]).ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(40, 93%, 79%);
}
.ui-theme-farmer.ui-color,
.ui-theme-farmer .ui-color:not([class*="ui-theme-"]) {
  color: hsl(40, 93%, 54%) !important;
}
.ui-theme-farmer.ui-color .ui-icon:not([class*="ui-fill-"]):not([class*="font-color-"]),
.ui-theme-farmer .ui-color:not([class*="ui-theme-"]) .ui-icon:not([class*="ui-fill-"]):not([class*="font-color-"]),
.ui-theme-farmer.ui-color a:not([class*="ui-fill-"]):not([class*="font-color-"]),
.ui-theme-farmer .ui-color:not([class*="ui-theme-"]) a:not([class*="ui-fill-"]):not([class*="font-color-"]),
.ui-theme-farmer.ui-color button:not([class*="ui-fill-"]):not([class*="font-color-"]),
.ui-theme-farmer .ui-color:not([class*="ui-theme-"]) button:not([class*="ui-fill-"]):not([class*="font-color-"]) {
  color: hsl(40, 93%, 54%) !important;
}
.ui-theme-farmer.ui-stroke,
.ui-theme-farmer .ui-stroke:not([class*="ui-theme-"]) {
  border-color: hsl(40, 93%, 54%);
}
.ui-theme-farmer2.ui-fill-light-100,
.ui-theme-farmer2 .ui-fill-light-100:not([class*="ui-theme-"]) {
  background-color: hsla(140, 87%, 49%, 0.15);
}
.ui-theme-farmer2.ui-fill-light-200,
.ui-theme-farmer2 .ui-fill-light-200:not([class*="ui-theme-"]) {
  background-color: hsla(140, 87%, 54%, 0.25);
}
.ui-theme-farmer2.ui-fill-light-300,
.ui-theme-farmer2 .ui-fill-light-300:not([class*="ui-theme-"]) {
  background-color: hsla(140, 87%, 59%, 0.35);
}
.ui-theme-farmer2.ui-fill-dark-100,
.ui-theme-farmer2 .ui-fill-dark-100:not([class*="ui-theme-"]) {
  background-color: hsl(140, 87%, 39%);
}
.ui-theme-farmer2.ui-fill-dark-200,
.ui-theme-farmer2 .ui-fill-dark-200:not([class*="ui-theme-"]) {
  background-color: hsl(140, 87%, 24%);
}
.ui-theme-farmer2.ui-fill-dark-300,
.ui-theme-farmer2 .ui-fill-dark-300:not([class*="ui-theme-"]) {
  background-color: hsl(140, 87%, 14%);
}
.ui-desktop .ui-theme-farmer2.ui-fill-light-100.hover:hover,
.ui-desktop .ui-theme-farmer2 .ui-fill-light-100:not([class*="ui-theme-"]).hover:hover,
.ui-desktop .ui-theme-farmer2.ui-fill-light-100.ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover,
.ui-desktop .ui-theme-farmer2 .ui-fill-light-100:not([class*="ui-theme-"]).ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(140, 87%, 49%, 0.3);
}
.ui-desktop .ui-theme-farmer2.ui-fill-light-200.hover:hover,
.ui-desktop .ui-theme-farmer2 .ui-fill-light-200:not([class*="ui-theme-"]).hover:hover,
.ui-desktop .ui-theme-farmer2.ui-fill-light-200.ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover,
.ui-desktop .ui-theme-farmer2 .ui-fill-light-200:not([class*="ui-theme-"]).ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(140, 87%, 54%, 0.5);
}
.ui-desktop .ui-theme-farmer2.ui-fill-light-300.hover:hover,
.ui-desktop .ui-theme-farmer2 .ui-fill-light-300:not([class*="ui-theme-"]).hover:hover,
.ui-desktop .ui-theme-farmer2.ui-fill-light-300.ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover,
.ui-desktop .ui-theme-farmer2 .ui-fill-light-300:not([class*="ui-theme-"]).ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsla(140, 87%, 59%, 0.7);
}
.ui-desktop .ui-theme-farmer2.ui-fill-dark-100.hover:hover,
.ui-desktop .ui-theme-farmer2 .ui-fill-dark-100:not([class*="ui-theme-"]).hover:hover,
.ui-desktop .ui-theme-farmer2.ui-fill-dark-100.ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover,
.ui-desktop .ui-theme-farmer2 .ui-fill-dark-100:not([class*="ui-theme-"]).ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(140, 87%, 54%);
}
.ui-desktop .ui-theme-farmer2.ui-fill-dark-200.hover:hover,
.ui-desktop .ui-theme-farmer2 .ui-fill-dark-200:not([class*="ui-theme-"]).hover:hover,
.ui-desktop .ui-theme-farmer2.ui-fill-dark-200.ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover,
.ui-desktop .ui-theme-farmer2 .ui-fill-dark-200:not([class*="ui-theme-"]).ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(140, 87%, 59%);
}
.ui-desktop .ui-theme-farmer2.ui-fill-dark-300.hover:hover,
.ui-desktop .ui-theme-farmer2 .ui-fill-dark-300:not([class*="ui-theme-"]).hover:hover,
.ui-desktop .ui-theme-farmer2.ui-fill-dark-300.ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover,
.ui-desktop .ui-theme-farmer2 .ui-fill-dark-300:not([class*="ui-theme-"]).ui-btn:not(.ui-btn-passive):not(.ui-btn-ghost):not(.opacity):not(.opacity-more):hover {
  background-color: hsl(140, 87%, 64%);
}
.ui-theme-farmer2.ui-color,
.ui-theme-farmer2 .ui-color:not([class*="ui-theme-"]) {
  color: hsl(140, 87%, 39%) !important;
}
.ui-theme-farmer2.ui-color .ui-icon:not([class*="ui-fill-"]):not([class*="font-color-"]),
.ui-theme-farmer2 .ui-color:not([class*="ui-theme-"]) .ui-icon:not([class*="ui-fill-"]):not([class*="font-color-"]),
.ui-theme-farmer2.ui-color a:not([class*="ui-fill-"]):not([class*="font-color-"]),
.ui-theme-farmer2 .ui-color:not([class*="ui-theme-"]) a:not([class*="ui-fill-"]):not([class*="font-color-"]),
.ui-theme-farmer2.ui-color button:not([class*="ui-fill-"]):not([class*="font-color-"]),
.ui-theme-farmer2 .ui-color:not([class*="ui-theme-"]) button:not([class*="ui-fill-"]):not([class*="font-color-"]) {
  color: hsl(140, 87%, 39%) !important;
}
.ui-theme-farmer2.ui-stroke,
.ui-theme-farmer2 .ui-stroke:not([class*="ui-theme-"]) {
  border-color: hsl(140, 87%, 39%);
}
.col-220 {
  width: 220px;
}
.banner-content {
  background: no-repeat center center;
  background-size: cover;
}
.banner-content:after {
  content: "";
  background-color: hsla(140, 87%, 24%, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.banner-content > .fixed {
  z-index: 1;
}
.banner-slogan,
.banner .footer-social {
  background-color: hsla(0, 0%, 100%, 0.45);
}
.banner-slogan > div {
  background-color: hsla(40, 93%, 54%, 0.8);
}
.home-links {
  margin-top: -80px;
  z-index: 1;
}
.home-links .ui-carousel {
  margin: 0 -15px;
}
@media (max-width: 959px) {
  .home-links {
    padding: 0 15px;
  }
}
@media (max-width: 620px) {
  .ui-photo-gallery > li .img {
    height: 150px;
  }
}
