/* landing page */ @import (reference) '../ui.less';

@theme-farmer:                          hsl(43, 100%, 52%);
@theme-farmer2:                         hsl(140, 86%, 46%);

@landing-page-banner-bg:                fade(darken(@theme-farmer2, 15%), 40%);
@landing-page-banner-border-bg:         fade(@white, 45%);
@landing-page-banner-slogan-bg:         fade(@theme-farmer, 80%);

._theme(farmer, @theme-farmer);
._theme(farmer2, @theme-farmer2);

.col-220 { width: 220px; }

.banner {
    &-content {
        background: no-repeat center center; background-size: cover;

        &:after { content: ""; background-color: @landing-page-banner-bg; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
        & > .fixed { z-index: 1; }
    }

    &-slogan,.footer-social { background-color: @landing-page-banner-border-bg; }
    &-slogan {
        & > div { background-color: @landing-page-banner-slogan-bg; }
    }
}

.home-links {
    margin-top: -80px; z-index: 1;

    .carousel { margin: 0 -15px; }
}

@media (@md-finish) {
    .home-links { padding: 0 15px; }
}
@media (max-width: 620px) {
    .photo-gallery {
        & > li {
            .img { height: 150px; }
        }
    }
}