/* login page */ @import (reference) '../_settings.less';

@login-page-forms-container-bg:         #f6f4fc;
@login-page-forms-container-bg-dark:    transparent;

@login-page-container-bg:               #e2d2ff;
@login-page-container-bg-dark:          #2d1f46;

@login-page-holder-bg:                  linear-gradient(110deg, #624494, #080550, #6f113e);
@login-page-holder-bg-dark:             linear-gradient(110deg, #a671ff, #2d2a73, #9e2861);

@login-page-login-btn-bg:               linear-gradient(130deg, #4ee273,#2dbd51);
@login-page-login-btn-bg-dark:          linear-gradient(130deg, #2dbd51,#128a30);

@login-page-signup-btn-bg:              linear-gradient(130deg, #8366b9,#6f113e);
@login-page-signup-btn-bg-dark:         linear-gradient(130deg, #a671ff,#9e2861);

._login-page-vars () {
    --login-page-forms-container-bg: @login-page-forms-container-bg;
    --login-page-container-bg: @login-page-container-bg;
    --login-page-holder-bg: @login-page-holder-bg;

    --login-page-login-btn-bg: @login-page-login-btn-bg;
    --login-page-signup-btn-bg: @login-page-signup-btn-bg;
}
._login-page-vars-dark () {
    --login-page-forms-container-bg: @login-page-forms-container-bg-dark;
    --login-page-container-bg: @login-page-container-bg-dark;
    --login-page-holder-bg: @login-page-holder-bg-dark;

    --login-page-login-btn-bg: @login-page-login-btn-bg-dark;
    --login-page-signup-btn-bg: @login-page-signup-btn-bg-dark;
}

& when (@dark-mode = true) {
    & when (@dark-mode-auto-switcher = true) {
        @media (prefers-color-scheme: light) {
            :root { ._login-page-vars(); }
        }
        @media (prefers-color-scheme: dark) {
            :root { ._login-page-vars-dark(); }
        }
    }
    & when (@dark-mode-auto-switcher = false) {
        [data-theme="light"] { ._login-page-vars(); }
        [data-theme="dark"] { ._login-page-vars-dark(); }
    }
}

html,.login-page { height: 100%; }

.login {
    &-holder {
        ._gradient-var(login-page-holder-bg);

        & > .set-absolute { z-index: 1; }
        .highlight-icon { width: 96px; height: 96px; }
    }

    &-btn { min-width: 26%; ._gradient-var(login-page-login-btn-bg); z-index: 1; }

    &-forms-container { ._bg-var(login-page-forms-container-bg); }
    &-container {
        ._bg-var(login-page-container-bg);

        & > .icon { width: 160px; height: 160px; position: absolute; top: 14%; right: 22%; transform: rotate(-12deg); }
    }

    &-icons {
        .icon {
            position: absolute;

            &:nth-child(1) { width: 52px; height: 52px; bottom: 112px; left: 82px; opacity: .65; transform: rotate(12deg); }
            &:nth-child(2) { width: 28px; height: 28px; bottom: 32px; left: 24px; opacity: .15; transform: rotate(-12deg); }
            &:nth-child(3) { width: 84px; height: 84px; top: 20%; left: 10%; opacity: .15; transform: rotate(-12deg); }
            &:nth-child(4) { width: 106px; height: 106px; bottom: 18px; right: 92px; opacity: .3; transform: rotate(-12deg); }
            &:nth-child(5) { width: 38px; height: 38px; top: 72px; right: 20%; opacity: .15; transform: rotate(12deg); }
        }
    }
}

.go-signup-btn { ._gradient-var(login-page-signup-btn-bg); }

@media (@lg-start) {
    .login-forms-container { padding: 8% 0 8% 14% !important; }
    .login-container { padding: 8% 14% 8% 0 !important; }
}
@media (@md-start) and (@default-finish){
    .login-forms-container { padding: 50px 0 10px 10px !important; }
    .login-container { padding: 50px 10px 10px 0 !important; }
}
@media (@md-start) {
    .forms-holder,.login-holder { min-height: 560px; height: 100%; }
    .forms-holder,.login-holder > .set-absolute { padding: 10%; }
}
@media (@sm-finish) {
    .login-holder { min-height: @layout-min; }
    .forms-holder,.login-holder > .set-absolute { padding: 30px; }

    .login-forms-container { padding: 10px 10px 0 10px !important; }
    .login-container { padding: 0 10px 10px 10px !important; }
}