/* login page */
[data-ui-mode="light"] {
  --login-page-forms-container-bg: hsl(255, 57%, 97%);
  --login-page-container-bg: hsl(261, 100%, 91%);
  --login-page-holder-bg: linear-gradient(110deg, hsl(263, 37%, 42%), hsl(242, 88%, 17%), hsl(331, 73%, 25%));
  --login-page-login-btn-bg: linear-gradient(130deg, hsl(135, 72%, 60%), hsl(135, 62%, 46%));
  --login-page-signup-btn-bg: linear-gradient(130deg, hsl(261, 37%, 56%), hsl(331, 73%, 25%));
}
[data-ui-mode="dark"] {
  --login-page-forms-container-bg: transparent;
  --login-page-container-bg: hsl(262, 39%, 20%);
  --login-page-holder-bg: linear-gradient(110deg, hsl(262, 100%, 72%), hsl(242, 46%, 31%), hsl(331, 60%, 39%));
  --login-page-login-btn-bg: linear-gradient(130deg, hsl(135, 62%, 46%), hsl(135, 77%, 31%));
  --login-page-signup-btn-bg: linear-gradient(130deg, hsl(262, 100%, 72%), hsl(331, 60%, 39%));
}
html,
.login-page {
  height: 100%;
}
.login-holder {
  background-image: linear-gradient(110deg, hsl(263, 37%, 42%), hsl(242, 88%, 17%), hsl(331, 73%, 25%));
  background-image: var(--login-page-holder-bg);
}
.login-holder > .set-absolute {
  z-index: 1;
}
.login-holder .highlight-icon {
  width: 96px;
  height: 96px;
}
.login-btn {
  min-width: 26%;
  background-image: linear-gradient(130deg, hsl(135, 72%, 60%), hsl(135, 62%, 46%));
  background-image: var(--login-page-login-btn-bg);
  z-index: 1;
}
.login-forms-container {
  background-color: hsl(255, 57%, 97%);
  background-color: var(--login-page-forms-container-bg);
}
.login-container {
  background-color: hsl(261, 100%, 91%);
  background-color: var(--login-page-container-bg);
}
.login-container > .icon {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 14%;
  right: 22%;
  transform: rotate(-12deg);
}
.login-icons .icon {
  position: absolute;
}
.login-icons .icon:nth-child(1) {
  width: 52px;
  height: 52px;
  bottom: 112px;
  left: 82px;
  opacity: 0.65;
  transform: rotate(12deg);
}
.login-icons .icon:nth-child(2) {
  width: 28px;
  height: 28px;
  bottom: 32px;
  left: 24px;
  opacity: 0.15;
  transform: rotate(-12deg);
}
.login-icons .icon:nth-child(3) {
  width: 84px;
  height: 84px;
  top: 20%;
  left: 10%;
  opacity: 0.15;
  transform: rotate(-12deg);
}
.login-icons .icon:nth-child(4) {
  width: 106px;
  height: 106px;
  bottom: 18px;
  right: 92px;
  opacity: 0.3;
  transform: rotate(-12deg);
}
.login-icons .icon:nth-child(5) {
  width: 38px;
  height: 38px;
  top: 72px;
  right: 20%;
  opacity: 0.15;
  transform: rotate(12deg);
}
.go-signup-btn {
  background-image: linear-gradient(130deg, hsl(261, 37%, 56%), hsl(331, 73%, 25%));
  background-image: var(--login-page-signup-btn-bg);
}
@media (min-width: 1200px) {
  .login-forms-container {
    padding: 8% 0 8% 14% !important;
  }
  .login-container {
    padding: 8% 14% 8% 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .login-forms-container {
    padding: 50px 0 10px 10px !important;
  }
  .login-container {
    padding: 50px 10px 10px 0 !important;
  }
}
@media (min-width: 768px) {
  .forms-holder,
  .login-holder {
    min-height: 560px;
    height: 100%;
  }
  .forms-holder,
  .login-holder > .set-absolute {
    padding: 10%;
  }
}
@media (max-width: 767px) {
  .login-holder {
    min-height: 320px;
  }
  .forms-holder,
  .login-holder > .set-absolute {
    padding: 30px;
  }
  .login-forms-container {
    padding: 10px 10px 0 10px !important;
  }
  .login-container {
    padding: 0 10px 10px 10px !important;
  }
}
