/* movie app */ @import (reference) '../ui.less';

@movie-app-header-bg:                   hsl(0, 0%, 100%);
@movie-app-header-bg-dark:              @body-bg-dark;

@movie-app-sidebar-bg:                  linear-gradient(135deg, hsl(227, 72%, 76%), hsl(261, 72%, 73%));
@movie-app-sidebar-bg-dark:             linear-gradient(135deg, hsl(227, 32%, 45%), hsl(261, 56%, 15%));

@movie-app-sidebar-selected-bg:         linear-gradient(135deg, hsl(0, 100%, 72%), hsl(296, 70%, 65%));

._movie-app-vars () {
    --movie-app-header-bg: @movie-app-header-bg;
    --movie-app-sidebar-bg: @movie-app-sidebar-bg;
}
._movie-app-vars-dark () {
    --movie-app-header-bg: @movie-app-header-bg-dark;
    --movie-app-sidebar-bg: @movie-app-sidebar-bg-dark;
}

& when (@dark-mode = true) {
    & when (@dark-mode-auto-switcher = true) {
        @media (prefers-color-scheme: light) {
            :root { ._movie-app-vars(); }
        }
        @media (prefers-color-scheme: dark) {
            :root { ._movie-app-vars-dark(); }
        }
    }
    & when (@dark-mode-auto-switcher = false) {
        [data-ui-theme="light"] { ._movie-app-vars(); }
        [data-ui-theme="dark"] { ._movie-app-vars-dark(); }
    }
}

.round:not(.btn) { border-radius: (@round * 2); }

.sidebar,.mobile-menu {
    ._gradient-var(movie-app-sidebar-bg);

    .selected { background-image: @movie-app-sidebar-selected-bg; }
}

@media (@md-finish) {
    header.sticky { ._bg-var(movie-app-header-bg); }
}