/* product listing */
.product-red {
  border-color: hsl(358, 86%, 54%);
}
.product-pink {
  border-color: hsl(296, 73%, 53%);
}
.product-blue {
  border-color: hsl(206, 73%, 50%);
}
.product-orange {
  background: hsl(17, 80%, 57%);
}
.product-yellow {
  background: hsl(48, 85%, 60%);
}
.product-white {
  border-color: hsl(0, 0%, 77%);
}
.product-black {
  border-color: hsl(0, 0%, 23%);
}
.product-select-red {
  background-color: hsl(358, 86%, 54%);
}
.product-select-pink {
  background-color: hsl(296, 73%, 53%);
}
.product-select-blue {
  background-color: hsl(206, 73%, 50%);
}
.product-select-orange {
  background-color: hsl(17, 80%, 57%);
}
.product-select-yellow {
  background-color: hsl(48, 85%, 60%);
}
.product-select-white {
  background-color: hsl(0, 0%, 77%);
}
.product-select-black {
  background-color: hsl(0, 0%, 23%);
}
