/* sign up page */ @import (reference) '../ui.less';

@sign-up-holder-bg:                     linear-gradient(110deg, hsl(263, 37%, 42%), hsl(242, 88%, 17%), hsl(331, 73%, 25%));
@sign-up-holder-bg-dark:                linear-gradient(110deg, hsl(262, 100%, 72%), hsl(242, 46%, 31%), hsl(331, 60%, 39%));

@sign-up-btn-bg:                        linear-gradient(130deg, hsl(135, 72%, 60%),hsl(135, 62%, 46%));
@sign-up-btn-bg-dark:                   linear-gradient(130deg, hsl(135, 62%, 46%),hsl(135, 77%, 31%));

@sign-up-why-bg:                        linear-gradient(130deg, @white, hsl(255, 100%, 94%), @white);
@sign-up-why-bg-dark:                   linear-gradient(130deg, @card-bg-dark, hsl(256, 19%, 20%), @card-bg-dark);

._sign-up-vars () {
    --sign-up-holder-bg: @sign-up-holder-bg;
    --sign-up-btn-bg: @sign-up-btn-bg;
    --sign-up-why-bg: @sign-up-why-bg;
}
._sign-up-vars-dark () {
    --sign-up-holder-bg: @sign-up-holder-bg-dark;
    --sign-up-btn-bg: @sign-up-btn-bg-dark;
    --sign-up-why-bg: @sign-up-why-bg-dark;
}

& when (@dark-mode = true) {
    & when (@dark-mode-auto-switcher = true) {
        @media (prefers-color-scheme: light) {
            :root { ._sign-up-vars(); }
        }
        @media (prefers-color-scheme: dark) {
            :root { ._sign-up-vars-dark(); }
        }
    }
    & when (@dark-mode-auto-switcher = false) {
        [data-ui-mode="light"] { ._sign-up-vars(); }
        [data-ui-mode="dark"] { ._sign-up-vars-dark(); }
    }
}

.signup- {
    &container { margin-top: -50px; }
    &holder { ._gradient-var(sign-up-holder-bg); }

    &icons {
        .icon {
            position: absolute;

            &:nth-child(1) { width: 52px; height: 52px; bottom: 70px; left: 202px; opacity: .15; transform: rotate(12deg); }
            &:nth-child(2) { width: 28px; height: 28px; bottom: 2px; left: 4px; opacity: .1; transform: rotate(-12deg); }
            &:nth-child(3) { width: 64px; height: 64px; top: 22px; left: 22px; opacity: .5; transform: rotate(-12deg); }
            &:nth-child(4) { width: 64px; height: 64px; bottom: 42px; right: -8px; opacity: .3; transform: rotate(-12deg); }
            &:nth-child(5) { width: 206px; height: 206px; top: -42px; right: 29%; opacity: .15; transform: rotate(12deg); }
        }
    }

    &btn { min-width: 42%; ._gradient-var(sign-up-btn-bg); }
}

.why-join { ._gradient-var(sign-up-why-bg); }