/* weather app */ @import '../_settings.less';

.weather.round .graphs { border-radius: 36px; }
.round.card { border-radius: 32px; }
.all-day { background-image: linear-gradient(135deg, #97aaee, #ac89ec); }