/* product listing */

@import (reference) '../core/globals.less';
@import (reference) '../core/mixins.less';

@product-listing-red:                   hsl(358, 86%, 54%);
@product-listing-pink:                  hsl(296, 73%, 53%);
@product-listing-blue:                  hsl(206, 73%, 50%);
@product-listing-orange:                hsl(17, 80%, 57%);
@product-listing-yellow:                hsl(48, 85%, 60%);

@product-listing-white:                 hsl(0, 0%, 77%);
@product-listing-black:                 hsl(0, 0%, 23%);

.product {
    &-red { border-color: @product-listing-red; }
    &-pink { border-color: @product-listing-pink; }
    &-blue { border-color: @product-listing-blue; }
    &-orange { background: @product-listing-orange; }
    &-yellow { background: @product-listing-yellow; }

    &-white { border-color: @product-listing-white; }
    &-black { border-color: @product-listing-black; }

    &-select-red { background-color: @product-listing-red; }
    &-select-pink { background-color: @product-listing-pink; }
    &-select-blue { background-color: @product-listing-blue; }
    &-select-orange { background-color: @product-listing-orange; }
    &-select-yellow { background-color: @product-listing-yellow; }

    &-select-white { background-color: @product-listing-white; }
    &-select-black { background-color: @product-listing-black; }
}

