/* loading mask */

@import (reference) '../core/globals.less';
@import (reference) '../core/mixins.less';

@loading-mask-loader-bg:                      fade(@black, 12%);
@loading-mask-loader-z-index:                 90;

@loading-mask-svg-min-size:                    24px;
@loading-mask-svg-max-size:                    56px;

@loading-mask-svg-opacity:                    0.86;
@loading-mask-svg-opacity-dark:               0.42;


& when (@referenceCompiling = false) { // not compiled when reference importing

    .ui-loading {
        &-mask {
            overflow: hidden !important; position: relative !important; cursor: default !important;

            &-loader {
                height: 100%; background-color: @loading-mask-loader-bg; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: @loading-mask-loader-z-index;

                &:not(.ui-open) { display: none; }
                &:not(.ui-open-ease) { opacity: 0; }

                span {
                    display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);

                    svg { min-height: @loading-mask-svg-min-size !important; max-height: @loading-mask-svg-max-size !important; display: block; fill: currentColor; }
                }
            }

            &-sticky {
                & > .ui-loading-mask-loader { position: fixed; }
            }

            &[class*="ui-fill-dark"] {
                svg { opacity: @loading-mask-svg-opacity; }
            }
            &:not([class*="ui-fill-dark"]) {
                svg { opacity: @loading-mask-svg-opacity; }
            }
        }
    }

}