/* themes ext */

@import (reference) '../core/globals.less';

@import (reference) '../modules/themes.less';

@base:                                  hsl(226, 52%, 50%);
@sub:                                   hsl(206, 87%, 50%);

@theme-ext-colors:                      base sub;

& when (@referenceCompiling = false) { // not compiled when reference importing

    each(@theme-ext-colors, {
        @color: @@value;
        ._theme(@value,  @color);
    });

}